{
  "openapi": "3.0.3",
  "info": {
    "title": "RD Station Marketing & CRM REST API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack rdstation.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rd.services"
    }
  ],
  "paths": {
    "/crm/v2/contacts": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /crm/v2/contacts",
        "description": "Endpoint extraído da documentação (developers_rdstation_com_crm_c6972fa2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-um-webhook": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-um-webhook",
        "description": "Endpoint extraído do índice de navegação (Criar um webhook).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-todos-os-webhooks": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-todos-os-webhooks",
        "description": "Endpoint extraído do índice de navegação (Listar todos os webhooks).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-um-webhook": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-um-webhook",
        "description": "Endpoint extraído do índice de navegação (Listar um Webhook).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-um-webhook": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-um-webhook",
        "description": "Endpoint extraído do índice de navegação (Atualizar um Webhook).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/deletar-um-webhook": {
      "delete": {
        "tags": [
          "Rdstation"
        ],
        "summary": "DELETE /deletar-um-webhook",
        "description": "Endpoint extraído do índice de navegação (Deletar um Webhook).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/passo-3-como-obter-os-tokens-access_token-e-refresh_token": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /passo-3-como-obter-os-tokens-access_token-e-refresh_token",
        "description": "Endpoint extraído do índice de navegação (Passo 3: Como obter os tokens (access_token e refresh_token)).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/passo-4-como-utilizar-o-refresh_token-para-atualizar-o-access_token": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /passo-4-como-utilizar-o-refresh_token-para-atualizar-o-access_token",
        "description": "Endpoint extraído do índice de navegação (Passo 4: Como utilizar o refresh_token para atualizar o access_token).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/como-revogar-o-acesso-de-um-token": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /como-revogar-o-acesso-de-um-token",
        "description": "Endpoint extraído do índice de navegação (Como revogar o acesso de um token).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-contato-pelo-uuid-email-phone": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-contato-pelo-uuid-email-phone",
        "description": "Endpoint extraído do índice de navegação (Consultar contato pelo uuid/email/phone).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-contato": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-contato",
        "description": "Endpoint extraído do índice de navegação (Criar contato).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-contato-pelo-uuid-email-phone": {
      "patch": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PATCH /atualizar-contato-pelo-uuid-email-phone",
        "description": "Endpoint extraído do índice de navegação (Atualizar contato pelo uuid/email/phone).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/excluir-contato-pelo-uuid-email-phone": {
      "delete": {
        "tags": [
          "Rdstation"
        ],
        "summary": "DELETE /excluir-contato-pelo-uuid-email-phone",
        "description": "Endpoint extraído do índice de navegação (Excluir contato pelo uuid/email/phone).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-uma-tag-para-o-lead-pelo-uuid-email-phone": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-uma-tag-para-o-lead-pelo-uuid-email-phone",
        "description": "Endpoint extraído do índice de navegação (Criar uma tag para o lead pelo uuid/email/phone).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-eventos-associado-ao-contato": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-eventos-associado-ao-contato",
        "description": "Endpoint extraído do índice de navegação (Consultar eventos associado ao contato).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-campo-personalizado": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-campo-personalizado",
        "description": "Endpoint extraído do índice de navegação (Consultar campo personalizado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-campo-personalizado": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-campo-personalizado",
        "description": "Endpoint extraído do índice de navegação (Criar campo personalizado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-campo-personalizado": {
      "patch": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PATCH /atualizar-campo-personalizado",
        "description": "Endpoint extraído do índice de navegação (Atualizar campo personalizado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      },
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-campo-personalizado",
        "description": "Endpoint extraído do índice de navegação (Atualizar campo personalizado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/excluir-campo-personalizado": {
      "delete": {
        "tags": [
          "Rdstation"
        ],
        "summary": "DELETE /excluir-campo-personalizado",
        "description": "Endpoint extraído do índice de navegação (Excluir campo personalizado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-pelo-uuid-email-phone-do-contato": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-pelo-uuid-email-phone-do-contato",
        "description": "Endpoint extraído do índice de navegação (Consultar pelo UUID/email/phone do contato).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-pelo-uuid-email-phone-do-contato": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-pelo-uuid-email-phone-do-contato",
        "description": "Endpoint extraído do índice de navegação (Atualizar pelo UUID/email/phone do contato).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-segmenta-es": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-segmenta-es",
        "description": "Endpoint extraído do índice de navegação (Consultar segmentações).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-contatos-de-uma-segmenta-o": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-contatos-de-uma-segmenta-o",
        "description": "Endpoint extraído do índice de navegação (Consultar contatos de uma segmentação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-fluxos-de-automa-o": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-fluxos-de-automa-o",
        "description": "Endpoint extraído do índice de navegação (Consultar fluxos de automação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-dados-de-um-fluxo-a-partir-de-um-id": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-dados-de-um-fluxo-a-partir-de-um-id",
        "description": "Endpoint extraído do índice de navegação (Consultar dados de um fluxo a partir de um id).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/inserir-leads-em-um-fluxo": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /inserir-leads-em-um-fluxo",
        "description": "Endpoint extraído do índice de navegação (Inserir leads em um fluxo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-todos-os-emails": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-todos-os-emails",
        "description": "Endpoint extraído do índice de navegação (Listar todos os emails).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/buscar-email-por-id": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /buscar-email-por-id",
        "description": "Endpoint extraído do índice de navegação (Buscar email por id).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-landing-pages": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-landing-pages",
        "description": "Endpoint extraído do índice de navegação (Consultar landing pages).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-pop-ups": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-pop-ups",
        "description": "Endpoint extraído do índice de navegação (Consultar pop-ups).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-formul-rios": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-formul-rios",
        "description": "Endpoint extraído do índice de navegação (Consultar formulários).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-estat-sticas-de-e-mail-marketing": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-estat-sticas-de-e-mail-marketing",
        "description": "Endpoint extraído do índice de navegação (Consultar Estatísticas de E-mail Marketing).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-estat-sticas-de-email-via-fluxo-de-automa-o": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-estat-sticas-de-email-via-fluxo-de-automa-o",
        "description": "Endpoint extraído do índice de navegação (Consultar Estatísticas de Email via Fluxo de Automação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-estat-sticas-do-funil-de-vendas": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-estat-sticas-do-funil-de-vendas",
        "description": "Endpoint extraído do índice de navegação (Consultar Estatísticas do Funil de Vendas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-estat-sticas-dos-ativos-de-convers-o": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-estat-sticas-dos-ativos-de-convers-o",
        "description": "Endpoint extraído do índice de navegação (Consultar Estatísticas dos Ativos de Conversão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-campanhas": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-campanhas",
        "description": "Endpoint extraído do índice de navegação (Consultar campanhas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-detalhes-de-uma-campanha": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-detalhes-de-uma-campanha",
        "description": "Endpoint extraído do índice de navegação (Consultar detalhes de uma campanha).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-itens-de-uma-campanha": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-itens-de-uma-campanha",
        "description": "Endpoint extraído do índice de navegação (Consultar itens de uma campanha).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-convers-o-padr-o": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-convers-o-padr-o",
        "description": "Endpoint extraído do índice de navegação (Evento de conversão padrão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-marca-o-de-oportunidade": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-marca-o-de-oportunidade",
        "description": "Endpoint extraído do índice de navegação (Evento de Marcação de Oportunidade).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-marca-o-de-oportunidade-ganha": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-marca-o-de-oportunidade-ganha",
        "description": "Endpoint extraído do índice de navegação (Evento de Marcação de Oportunidade Ganha).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-marca-o-de-oportunidade-perdida": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-marca-o-de-oportunidade-perdida",
        "description": "Endpoint extraído do índice de navegação (Evento de Marcação de Oportunidade Perdida).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-checkout-iniciado": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-checkout-iniciado",
        "description": "Endpoint extraído do índice de navegação (Evento de Checkout Iniciado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-carrinho-abandonado": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-carrinho-abandonado",
        "description": "Endpoint extraído do índice de navegação (Evento de Carrinho Abandonado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-pedido-realizado": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-pedido-realizado",
        "description": "Endpoint extraído do índice de navegação (Evento de Pedido Realizado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-pedido-pago": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-pedido-pago",
        "description": "Endpoint extraído do índice de navegação (Evento de Pedido Pago).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-pedido-cancelado": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-pedido-cancelado",
        "description": "Endpoint extraído do índice de navegação (Evento de Pedido Cancelado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/eventos-de-pedido-reembolsado": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /eventos-de-pedido-reembolsado",
        "description": "Endpoint extraído do índice de navegação (Eventos de Pedido Reembolsado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/eventos-de-pedido-enviado": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /eventos-de-pedido-enviado",
        "description": "Endpoint extraído do índice de navegação (Eventos de Pedido Enviado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-pedido-entregue": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-pedido-entregue",
        "description": "Endpoint extraído do índice de navegação (Evento de Pedido Entregue).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-fechamento-de-pedido": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-fechamento-de-pedido",
        "description": "Endpoint extraído do índice de navegação (Evento de Fechamento de Pedido).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-fechamento-de-pedido-com-um-item-espec-fico": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-fechamento-de-pedido-com-um-item-espec-fico",
        "description": "Endpoint extraído do índice de navegação (Evento de Fechamento de Pedido com um Item específico).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-abandono-de-carrinho": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-abandono-de-carrinho",
        "description": "Endpoint extraído do índice de navegação (Evento de Abandono de Carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-abandono-de-um-item-do-carrinho": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-abandono-de-um-item-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Evento de Abandono de um Item do Carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-in-cio-da-conversa": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-in-cio-da-conversa",
        "description": "Endpoint extraído do índice de navegação (Evento de Início da Conversa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-t-rmino-da-conversa": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-t-rmino-da-conversa",
        "description": "Endpoint extraído do índice de navegação (Evento de Término da Conversa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-chamada-conclu-da": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-chamada-conclu-da",
        "description": "Endpoint extraído do índice de navegação (Evento de Chamada Concluída).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-in-cio-do-playback-de-uma-m-dia": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-in-cio-do-playback-de-uma-m-dia",
        "description": "Endpoint extraído do índice de navegação (Evento de Início do Playback de uma Mídia).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/evento-de-t-rmino-do-playback-de-uma-m-dia": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /evento-de-t-rmino-do-playback-de-uma-m-dia",
        "description": "Endpoint extraído do índice de navegação (Evento de Término do Playback de uma Mídia).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/convers-o-via-api-key": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /convers-o-via-api-key",
        "description": "Endpoint extraído do índice de navegação (Conversão via API Key).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-cat-logos": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-cat-logos",
        "description": "Endpoint extraído do índice de navegação (Listar catálogos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/consultar-cat-logo-por-id": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /consultar-cat-logo-por-id",
        "description": "Endpoint extraído do índice de navegação (Consultar catálogo por id).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/cadastrar-cat-logo": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /cadastrar-cat-logo",
        "description": "Endpoint extraído do índice de navegação (Cadastrar catálogo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-cat-logo": {
      "patch": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PATCH /atualizar-cat-logo",
        "description": "Endpoint extraído do índice de navegação (Atualizar catálogo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/deletar-cat-logo": {
      "delete": {
        "tags": [
          "Rdstation"
        ],
        "summary": "DELETE /deletar-cat-logo",
        "description": "Endpoint extraído do índice de navegação (Deletar catálogo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-anota-es": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-anota-es",
        "description": "Endpoint extraído do índice de navegação (Listar anotações).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-anota-o": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-anota-o",
        "description": "Endpoint extraído do índice de navegação (Criar anotação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-campanhas": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-campanhas",
        "description": "Endpoint extraído do índice de navegação (Listar campanhas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-campanha": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-campanha",
        "description": "Endpoint extraído do índice de navegação (Criar campanha).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-campanha": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-campanha",
        "description": "Endpoint extraído do índice de navegação (Obter campanha).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-campanha": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-campanha",
        "description": "Endpoint extraído do índice de navegação (Atualizar campanha).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-contatos": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-contatos",
        "description": "Endpoint extraído do índice de navegação (Listar contatos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-contato": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-contato",
        "description": "Endpoint extraído do índice de navegação (Obter contato).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-contato": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-contato",
        "description": "Endpoint extraído do índice de navegação (Atualizar contato).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-campos-personalizados": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-campos-personalizados",
        "description": "Endpoint extraído do índice de navegação (Listar campos personalizados).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-campo-personalizado": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-campo-personalizado",
        "description": "Endpoint extraído do índice de navegação (Obter campo personalizado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/deletar-campo-personalizado": {
      "delete": {
        "tags": [
          "Rdstation"
        ],
        "summary": "DELETE /deletar-campo-personalizado",
        "description": "Endpoint extraído do índice de navegação (Deletar campo personalizado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-motivos-de-perda": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-motivos-de-perda",
        "description": "Endpoint extraído do índice de navegação (Listar motivos de perda).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-motivo-de-perda": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-motivo-de-perda",
        "description": "Endpoint extraído do índice de navegação (Criar motivo de perda).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-motivo-de-perda": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-motivo-de-perda",
        "description": "Endpoint extraído do índice de navegação (Obter motivo de perda).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-motivo-de-perda": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-motivo-de-perda",
        "description": "Endpoint extraído do índice de navegação (Atualizar motivo de perda).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-funis-de-vendas": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-funis-de-vendas",
        "description": "Endpoint extraído do índice de navegação (Listar funis de vendas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-funil-de-vendas": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-funil-de-vendas",
        "description": "Endpoint extraído do índice de navegação (Criar funil de vendas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-funil-de-vendas": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-funil-de-vendas",
        "description": "Endpoint extraído do índice de navegação (Obter funil de vendas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-funil-de-vendas": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-funil-de-vendas",
        "description": "Endpoint extraído do índice de navegação (Atualizar funil de vendas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-produtos-na-negocia-o": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-produtos-na-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Listar produtos na negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-produto-na-negocia-o": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-produto-na-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Criar produto na negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-produtos-na-negocia-o": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-produtos-na-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Criar produtos na negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-produto-na-negocia-o": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-produto-na-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Atualizar produto na negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/deletar-produto-na-negocia-o": {
      "delete": {
        "tags": [
          "Rdstation"
        ],
        "summary": "DELETE /deletar-produto-na-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Deletar produto na negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-produtos-na-negocia-o": {
      "patch": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PATCH /atualizar-produtos-na-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Atualizar produtos na negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/deletar-produtos-na-negocia-o": {
      "delete": {
        "tags": [
          "Rdstation"
        ],
        "summary": "DELETE /deletar-produtos-na-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Deletar produtos na negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-fontes": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-fontes",
        "description": "Endpoint extraído do índice de navegação (Listar fontes).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-fonte": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-fonte",
        "description": "Endpoint extraído do índice de navegação (Criar fonte).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-fonte": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-fonte",
        "description": "Endpoint extraído do índice de navegação (Obter fonte).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-fonte": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-fonte",
        "description": "Endpoint extraído do índice de navegação (Atualizar fonte).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-etapas-do-funil-de-vendas": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-etapas-do-funil-de-vendas",
        "description": "Endpoint extraído do índice de navegação (Listar etapas do funil de vendas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-etapa-do-funil-de-vendas": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-etapa-do-funil-de-vendas",
        "description": "Endpoint extraído do índice de navegação (Criar etapa do funil de vendas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-etapa-do-funil-de-vendas": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-etapa-do-funil-de-vendas",
        "description": "Endpoint extraído do índice de navegação (Obter etapa do funil de vendas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-etapa-do-funil-de-vendas": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-etapa-do-funil-de-vendas",
        "description": "Endpoint extraído do índice de navegação (Atualizar etapa do funil de vendas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-negocia-es": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-negocia-es",
        "description": "Endpoint extraído do índice de navegação (Listar negociações).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-negocia-o": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Criar negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-negocia-o": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Obter negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-negocia-o": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Atualizar negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-contatos-da-negocia-o": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-contatos-da-negocia-o",
        "description": "Endpoint extraído do índice de navegação (Listar contatos da negociação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-empresas": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-empresas",
        "description": "Endpoint extraído do índice de navegação (Listar empresas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-empresa": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-empresa",
        "description": "Endpoint extraído do índice de navegação (Criar empresa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-empresa": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-empresa",
        "description": "Endpoint extraído do índice de navegação (Obter empresa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-empresa": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-empresa",
        "description": "Endpoint extraído do índice de navegação (Atualizar empresa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-contatos-da-empresa": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-contatos-da-empresa",
        "description": "Endpoint extraído do índice de navegação (Listar contatos da empresa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-produtos": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-produtos",
        "description": "Endpoint extraído do índice de navegação (Listar produtos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-produto": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-produto",
        "description": "Endpoint extraído do índice de navegação (Criar produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-produto": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-produto",
        "description": "Endpoint extraído do índice de navegação (Obter produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-produto": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-produto",
        "description": "Endpoint extraído do índice de navegação (Atualizar produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-tarefas": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-tarefas",
        "description": "Endpoint extraído do índice de navegação (Listar tarefas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/criar-tarefa": {
      "post": {
        "tags": [
          "Rdstation"
        ],
        "summary": "POST /criar-tarefa",
        "description": "Endpoint extraído do índice de navegação (Criar tarefa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-tarefa": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-tarefa",
        "description": "Endpoint extraído do índice de navegação (Obter tarefa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/atualizar-tarefa": {
      "put": {
        "tags": [
          "Rdstation"
        ],
        "summary": "PUT /atualizar-tarefa",
        "description": "Endpoint extraído do índice de navegação (Atualizar tarefa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-equipes": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-equipes",
        "description": "Endpoint extraído do índice de navegação (Listar equipes).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-equipe": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-equipe",
        "description": "Endpoint extraído do índice de navegação (Obter equipe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/verificar-token": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /verificar-token",
        "description": "Endpoint extraído do índice de navegação (Verificar token).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-usu-rios": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /listar-usu-rios",
        "description": "Endpoint extraído do índice de navegação (Listar usuários).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-usu-rio": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Obter usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/obter-usu-rio-autenticado": {
      "get": {
        "tags": [
          "Rdstation"
        ],
        "summary": "GET /obter-usu-rio-autenticado",
        "description": "Endpoint extraído do índice de navegação (Obter usuário autenticado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_rdstation_com_crm_c6972fa2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_rdstation_com_crm_c6972fa2.md"
      }
    },
    "/listar-webhooks": {
      "get": {
        "tags": [
[...]
