{
  "openapi": "3.0.3",
  "info": {
    "title": "Bagy & Dooca E-Commerce REST API (Locaweb)",
    "description": "Especificação OpenAPI 3.0 sintetizada via tratamento local em texto para docs.dooca.com.br.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dooca.store"
    }
  ],
  "paths": {
    "/variation-request": {
      "post": {
        "summary": "POST /variation-request",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /variation-request",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/variation-request/:id": {
      "delete": {
        "summary": "DELETE /variation-request/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /variation-request/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/discounts": {
      "post": {
        "summary": "POST /discounts",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /discounts",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/discounts/:id": {
      "put": {
        "summary": "PUT /discounts/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "delete": {
        "summary": "DELETE /discounts/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /discounts/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/discounts/:type": {
      "get": {
        "summary": "GET /discounts/:type",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/discounts/:id/codes": {
      "post": {
        "summary": "POST /discounts/:id/codes",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/discounts/:id/codes/:code_id": {
      "put": {
        "summary": "PUT /discounts/:id/codes/:code_id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "delete": {
        "summary": "DELETE /discounts/:id/codes/:code_id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/contact-forms": {
      "post": {
        "summary": "POST /contact-forms",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /contact-forms",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/contact-forms/:id": {
      "delete": {
        "summary": "DELETE /contact-forms/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /contact-forms/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/customers/groups": {
      "post": {
        "summary": "POST /customers/groups",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /customers/groups",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/customers/groups/:id": {
      "put": {
        "summary": "PUT /customers/groups/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "delete": {
        "summary": "DELETE /customers/groups/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /customers/groups/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/maillings": {
      "post": {
        "summary": "POST /maillings",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /maillings",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/maillings/:email": {
      "delete": {
        "summary": "DELETE /maillings/:email",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      },
      "get": {
        "summary": "GET /maillings/:email",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/maillings/resume": {
      "get": {
        "summary": "GET /maillings/resume",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/maillings/all": {
      "get": {
        "summary": "GET /maillings/all",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/showcase": {
      "get": {
        "summary": "GET /showcase",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/showcase/:grid_id": {
      "get": {
        "summary": "GET /showcase/:grid_id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/showcase/:slug": {
      "get": {
        "summary": "GET /showcase/:slug",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/showcase/:grid_id/:variation_id": {
      "get": {
        "summary": "GET /showcase/:grid_id/:variation_id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/showcase/:grid_id/:variation_id/payments": {
      "get": {
        "summary": "GET /showcase/:grid_id/:variation_id/payments",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_dooca_com_br_01bf7b61.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_dooca_com_br_01bf7b61.json"
      }
    },
    "/docs.do": {
      "post": {
        "tags": [
          "Bagy_dooca"
        ],
        "summary": "POST //docs.do",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_dooca_com_br_ad9734f6.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`docs_dooca_com_br_ad9734f6.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "docs_dooca_com_br_ad9734f6.md"
      }
    },
    "/api.do": {
      "post": {
        "tags": [
          "Bagy_dooca"
        ],
        "summary": "POST //api.do",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_dooca_com_br_ad9734f6.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`docs_dooca_com_br_ad9734f6.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "docs_dooca_com_br_ad9734f6.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Autenticação via token Bearer no cabeçalho Authorization."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}