{
  "openapi": "3.0.3",
  "info": {
    "title": "Focus NFe Emissão Fiscal (NF-e, NFS-e, MDF-e, CTe) API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack focusnfe.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.focusnfe.com.br/v2"
    }
  ],
  "paths": {
    "/atualizar-empresa": {
      "put": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "PUT /atualizar-empresa",
        "description": "Endpoint derivado da referência oficial (atualizar_empresa).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md#atualizar_empresa`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md#atualizar_empresa"
      }
    },
    "/emitir-cte": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /emitir-cte",
        "description": "Endpoint extraído do índice de navegação (Emitir CTe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/emitir-ct-e-os": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /emitir-ct-e-os",
        "description": "Endpoint extraído do índice de navegação (Emitir CT-e OS).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/emitir-ct-e-simplificado": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /emitir-ct-e-simplificado",
        "description": "Endpoint extraído do índice de navegação (Emitir CT-e Simplificado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar",
        "description": "Endpoint extraído do índice de navegação (Consultar).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/cancelar": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar",
        "description": "Endpoint extraído do índice de navegação (Cancelar).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/carta-de-corre-o": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /carta-de-corre-o",
        "description": "Endpoint extraído do índice de navegação (Carta de correção).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/solicitar-reenvio-de-notifica-o": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /solicitar-reenvio-de-notifica-o",
        "description": "Endpoint extraído do índice de navegação (Solicitar reenvio de notificação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/emitir": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /emitir",
        "description": "Endpoint extraído do índice de navegação (Emitir).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/incluir-um-condutor": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /incluir-um-condutor",
        "description": "Endpoint extraído do índice de navegação (Incluir um condutor).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/incluir-um-dfe": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /incluir-um-dfe",
        "description": "Endpoint extraído do índice de navegação (Incluir um DFe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/encerrar": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /encerrar",
        "description": "Endpoint extraído do índice de navegação (Encerrar).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/enviar-nfc-e-por-email": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /enviar-nfc-e-por-email",
        "description": "Endpoint extraído do índice de navegação (Enviar NFC-e por email).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/inutilizar-numera-o": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /inutilizar-numera-o",
        "description": "Endpoint extraído do índice de navegação (Inutilizar numeração).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-inutiliza-es": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-inutiliza-es",
        "description": "Endpoint extraído do índice de navegação (Consultar inutilizações).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/registrar-concilia-o-financeira-econf": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /registrar-concilia-o-financeira-econf",
        "description": "Endpoint extraído do índice de navegação (Registrar Conciliação Financeira (ECONF)).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-econf": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-econf",
        "description": "Endpoint extraído do índice de navegação (Consultar ECONF).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/cancelar-econf": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-econf",
        "description": "Endpoint extraído do índice de navegação (Cancelar ECONF).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/emitir-carta-de-corre-o": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /emitir-carta-de-corre-o",
        "description": "Endpoint extraído do índice de navegação (Emitir Carta de Correção).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/registrar-ator-interessado": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /registrar-ator-interessado",
        "description": "Endpoint extraído do índice de navegação (Registrar Ator Interessado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/registrar-insucesso-na-entrega": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /registrar-insucesso-na-entrega",
        "description": "Endpoint extraído do índice de navegação (Registrar Insucesso na Entrega).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/cancelar-insucesso-na-entrega": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-insucesso-na-entrega",
        "description": "Endpoint extraído do índice de navegação (Cancelar Insucesso na Entrega).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/enviar-nfe-por-email": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /enviar-nfe-por-email",
        "description": "Endpoint extraído do índice de navegação (Enviar NFe por Email).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/importar-nfe": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /importar-nfe",
        "description": "Endpoint extraído do índice de navegação (Importar NFe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/pr--visualiza-o-de-danfe": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /pr--visualiza-o-de-danfe",
        "description": "Endpoint extraído do índice de navegação (Pré-visualização de DANFe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/cria-o-danfe-etiqueta": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /cria-o-danfe-etiqueta",
        "description": "Endpoint extraído do índice de navegação (Criação DANFe Etiqueta).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-concilia-o-financeira-econf": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-concilia-o-financeira-econf",
        "description": "Endpoint extraído do índice de navegação (Consultar Conciliação Financeira (ECONF)).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/cancelar-concilia-o-financeira-econf": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-concilia-o-financeira-econf",
        "description": "Endpoint extraído do índice de navegação (Cancelar Conciliação Financeira (ECONF)).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/emitir-evento": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /emitir-evento",
        "description": "Endpoint extraído do índice de navegação (Emitir Evento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/cancelar-evento": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-evento",
        "description": "Endpoint extraído do índice de navegação (Cancelar evento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/solicitar-reenvio-de-notifica-o-de-nfe": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /solicitar-reenvio-de-notifica-o-de-nfe",
        "description": "Endpoint extraído do índice de navegação (Solicitar reenvio de notificação de NFe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/reenviar-email": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /reenviar-email",
        "description": "Endpoint extraído do índice de navegação (Reenviar email).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-por-chave": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-por-chave",
        "description": "Endpoint extraído do índice de navegação (Consultar por chave).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consulta-em-formato-json": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consulta-em-formato-json",
        "description": "Endpoint extraído do índice de navegação (Consulta em formato JSON).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/baixar-o-xml": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /baixar-o-xml",
        "description": "Endpoint extraído do índice de navegação (Baixar o XML).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/baixar-o-dacte": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /baixar-o-dacte",
        "description": "Endpoint extraído do índice de navegação (Baixar o DACTe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/baixar-o-xml-de-cancelamento": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /baixar-o-xml-de-cancelamento",
        "description": "Endpoint extraído do índice de navegação (Baixar o XML de cancelamento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/baixar-o-xml-de-carta-de-corre-o": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /baixar-o-xml-de-carta-de-corre-o",
        "description": "Endpoint extraído do índice de navegação (Baixar o XML de carta de correção).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/informar-desacordo": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /informar-desacordo",
        "description": "Endpoint extraído do índice de navegação (Informar desacordo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-desacordo": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-desacordo",
        "description": "Endpoint extraído do índice de navegação (Consultar desacordo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/baixar-o-danfe": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /baixar-o-danfe",
        "description": "Endpoint extraído do índice de navegação (Baixar o DANFe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/manifestar": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /manifestar",
        "description": "Endpoint extraído do índice de navegação (Manifestar).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/evento": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /evento",
        "description": "Endpoint extraído do índice de navegação (Evento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-em-formato-xml": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-em-formato-xml",
        "description": "Endpoint extraído do índice de navegação (Consultar em formato XML).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/visualizar-baixar-o-pdf-da-danfse": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /visualizar-baixar-o-pdf-da-danfse",
        "description": "Endpoint extraído do índice de navegação (Visualizar/Baixar o PDF da DANFSe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/danfse-html": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /danfse-html",
        "description": "Endpoint extraído do índice de navegação (DANFSe HTML).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/criar": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /criar",
        "description": "Endpoint extraído do índice de navegação (Criar).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/listar": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /listar",
        "description": "Endpoint extraído do índice de navegação (Listar).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-por-id": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-por-id",
        "description": "Endpoint extraído do índice de navegação (Consultar por ID).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/atualizar": {
      "put": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "PUT /atualizar",
        "description": "Endpoint extraído do índice de navegação (Atualizar).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/excluir": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /excluir",
        "description": "Endpoint extraído do índice de navegação (Excluir).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-por-cnpj": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-por-cnpj",
        "description": "Endpoint extraído do índice de navegação (Consultar por CNPJ).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/solicitar-exclus-o": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /solicitar-exclus-o",
        "description": "Endpoint extraído do índice de navegação (Solicitar exclusão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/emitir-nfce": {
      "post": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "POST /emitir-nfce",
        "description": "Endpoint extraído do índice de navegação (Emitir NFCe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/cancelar-nfce": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-nfce",
        "description": "Endpoint extraído do índice de navegação (Cancelar NFCe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-nfce": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-nfce",
        "description": "Endpoint extraído do índice de navegação (Consultar NFCe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/gerar-espelho-pdf-da-nfce": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /gerar-espelho-pdf-da-nfce",
        "description": "Endpoint extraído do índice de navegação (Gerar espelho PDF da NFCe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/gerar-xml-autorizado-da-nfce": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /gerar-xml-autorizado-da-nfce",
        "description": "Endpoint extraído do índice de navegação (Gerar XML autorizado da NFCe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/gerar-xml-cancelado-da-nfce": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /gerar-xml-cancelado-da-nfce",
        "description": "Endpoint extraído do índice de navegação (Gerar XML cancelado da NFCe).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/listar-nfces-pendentes-de-efetiva-o": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /listar-nfces-pendentes-de-efetiva-o",
        "description": "Endpoint extraído do índice de navegação (Listar NFCes pendentes de efetivação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/efetivar-nfce-em-conting-ncia": {
      "put": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "PUT /efetivar-nfce-em-conting-ncia",
        "description": "Endpoint extraído do índice de navegação (Efetivar NFCe em contingência).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-por-n-mero": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-por-n-mero",
        "description": "Endpoint extraído do índice de navegação (Consultar por número).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-por-c-digo": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-por-c-digo",
        "description": "Endpoint extraído do índice de navegação (Consultar por código).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/listar-ou-filtrar-munic-pios": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /listar-ou-filtrar-munic-pios",
        "description": "Endpoint extraído do índice de navegação (Listar ou filtrar municípios).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-munic-pio-por-c-digo-ibge": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-munic-pio-por-c-digo-ibge",
        "description": "Endpoint extraído do índice de navegação (Consultar município por código IBGE).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/listar-itens-da-lista-de-servi-o-do-munic-pio": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /listar-itens-da-lista-de-servi-o-do-munic-pio",
        "description": "Endpoint extraído do índice de navegação (Listar itens da lista de serviço do município).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-item-da-lista-de-servi-o-por-c-digo": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-item-da-lista-de-servi-o-por-c-digo",
        "description": "Endpoint extraído do índice de navegação (Consultar item da lista de serviço por código).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/listar-c-digos-tribut-rios-municipais": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /listar-c-digos-tribut-rios-municipais",
        "description": "Endpoint extraído do índice de navegação (Listar códigos tributários municipais).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-c-digo-tribut-rio-municipal-por-c-digo": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-c-digo-tribut-rio-municipal-por-c-digo",
        "description": "Endpoint extraído do índice de navegação (Consultar código tributário municipal por código).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/consultar-o-json-de-exemplo-do-munic-pio-pelo-c-digo-ibge": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-o-json-de-exemplo-do-munic-pio-pelo-c-digo-ibge",
        "description": "Endpoint extraído do índice de navegação (Consultar o JSON de exemplo do município pelo código IBGE).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/v2/empresas/{id}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/empresas/{id}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_atualizar_empresa_ff49a165.md"
      }
    },
    "/v2/empresas": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/empresas",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_autenticacao_d1964393.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_autenticacao_d1964393.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_autenticacao_d1964393.md"
      }
    },
    "/cancelar-cte-cte-os": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-cte-cte-os",
        "description": "Endpoint derivado da referência oficial (cancelar_cte_cte_os).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_cte_cte_os_5ba92eb4.md#cancelar_cte_cte_os`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_cte_cte_os_5ba92eb4.md#cancelar_cte_cte_os"
      }
    },
    "/v2/cte/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/cte/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_cte_cte_os_5ba92eb4.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_cte_cte_os_5ba92eb4.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_cte_cte_os_5ba92eb4.md"
      }
    },
    "/cancelar-dce": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-dce",
        "description": "Endpoint derivado da referência oficial (cancelar_dce).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_dce_9861f5aa.md#cancelar_dce`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_dce_9861f5aa.md#cancelar_dce"
      }
    },
    "/v2/dce/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/dce/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_dce_9861f5aa.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_dce_9861f5aa.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_dce_9861f5aa.md"
      }
    },
    "/cancelar-econf-nfce": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-econf-nfce",
        "description": "Endpoint derivado da referência oficial (cancelar_econf_nfce).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_econf_nfce_814abfa3.md#cancelar_econf_nfce`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_econf_nfce_814abfa3.md#cancelar_econf_nfce"
      }
    },
    "/v2/nfce/{referencia}/econf/{numero_protocolo}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfce/{referencia}/econf/{numero_protocolo}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_econf_nfce_814abfa3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_econf_nfce_814abfa3.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numero_protocolo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_econf_nfce_814abfa3.md"
      }
    },
    "/cancelar-evento-econf": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-evento-econf",
        "description": "Endpoint derivado da referência oficial (cancelar_evento_econf).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_evento_econf_ea37b4ed.md#cancelar_evento_econf`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_evento_econf_ea37b4ed.md#cancelar_evento_econf"
      }
    },
    "/v2/nfe/{referencia}/econf/{numero_protocolo}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfe/{referencia}/econf/{numero_protocolo}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_evento_econf_ea37b4ed.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_evento_econf_ea37b4ed.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numero_protocolo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_evento_econf_ea37b4ed.md"
      }
    },
    "/cancelar-evento-insucesso-entrega": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-evento-insucesso-entrega",
        "description": "Endpoint derivado da referência oficial (cancelar_evento_insucesso_entrega).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_evento_insucesso_entrega_8a6e17dc.md#cancelar_evento_insucesso_entrega`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_evento_insucesso_entrega_8a6e17dc.md#cancelar_evento_insucesso_entrega"
      }
    },
    "/v2/nfe/{referencia}/insucesso_entrega": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfe/{referencia}/insucesso_entrega",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_evento_insucesso_entrega_8a6e17dc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_evento_insucesso_entrega_8a6e17dc.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_evento_insucesso_entrega_8a6e17dc.md"
      }
    },
    "/cancelar-evento-nfes-recebidas": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-evento-nfes-recebidas",
        "description": "Endpoint derivado da referência oficial (cancelar_evento_nfes_recebidas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_evento_nfes_recebidas_d20611af.md#cancelar_evento_nfes_recebidas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_evento_nfes_recebidas_d20611af.md#cancelar_evento_nfes_recebidas"
      }
    },
    "/v2/nfes_recebidas/{chave}/evento": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfes_recebidas/{chave}/evento",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_evento_nfes_recebidas_d20611af.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_evento_nfes_recebidas_d20611af.md`)",
        "parameters": [
          {
            "name": "chave",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_evento_nfes_recebidas_d20611af.md"
      }
    },
    "/cancelar-evento-nfe": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-evento-nfe",
        "description": "Endpoint derivado da referência oficial (cancelar_evento_nfe).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_evento_nfe_0529962c.md#cancelar_evento_nfe`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_evento_nfe_0529962c.md#cancelar_evento_nfe"
      }
    },
    "/v2/nfe/{referencia}/evento": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfe/{referencia}/evento",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_evento_nfe_0529962c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_evento_nfe_0529962c.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_evento_nfe_0529962c.md"
      }
    },
    "/cancelar-mdfe": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-mdfe",
        "description": "Endpoint derivado da referência oficial (cancelar_mdfe).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_mdfe_ec3b3abf.md#cancelar_mdfe`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_mdfe_ec3b3abf.md#cancelar_mdfe"
      }
    },
    "/v2/mdfe/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/mdfe/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_mdfe_ec3b3abf.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_mdfe_ec3b3abf.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_mdfe_ec3b3abf.md"
      }
    },
    "/v2/nfce/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfce/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_nfce_eee0284a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_nfce_eee0284a.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfce_eee0284a.md"
      }
    },
    "/cancelar-nfce-local": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-nfce-local",
        "description": "Endpoint derivado da referência oficial (cancelar_nfce_local).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_nfce_local_44390fdc.md#cancelar_nfce_local`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfce_local_44390fdc.md#cancelar_nfce_local"
      }
    },
    "/v2/fiscal/nfce/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/fiscal/nfce/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_nfce_local_44390fdc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_nfce_local_44390fdc.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfce_local_44390fdc.md"
      }
    },
    "/cancelar-nfcom": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-nfcom",
        "description": "Endpoint derivado da referência oficial (cancelar_nfcom).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_nfcom_4e20217d.md#cancelar_nfcom`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfcom_4e20217d.md#cancelar_nfcom"
      }
    },
    "/v2/nfcom/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfcom/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_nfcom_4e20217d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_nfcom_4e20217d.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfcom_4e20217d.md"
      }
    },
    "/cancelar-nfe": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-nfe",
        "description": "Endpoint derivado da referência oficial (cancelar_nfe).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_nfe_d6ac6286.md#cancelar_nfe`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfe_d6ac6286.md#cancelar_nfe"
      }
    },
    "/v2/nfe/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfe/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_nfe_d6ac6286.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_nfe_d6ac6286.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfe_d6ac6286.md"
      }
    },
    "/cancelar-nfgas": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-nfgas",
        "description": "Endpoint derivado da referência oficial (cancelar_nfgas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_nfgas_8fa2b116.md#cancelar_nfgas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfgas_8fa2b116.md#cancelar_nfgas"
      }
    },
    "/v2/nfgas/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfgas/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_nfgas_8fa2b116.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_nfgas_8fa2b116.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfgas_8fa2b116.md"
      }
    },
    "/cancelar-nfse": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-nfse",
        "description": "Endpoint derivado da referência oficial (cancelar_nfse).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_nfse_8c118402.md#cancelar_nfse`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfse_8c118402.md#cancelar_nfse"
      }
    },
    "/v2/nfse/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfse/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_nfse_8c118402.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_nfse_8c118402.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfse_8c118402.md"
      }
    },
    "/cancelar-nfse-nacional": {
      "delete": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "DELETE /cancelar-nfse-nacional",
        "description": "Endpoint derivado da referência oficial (cancelar_nfse_nacional).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_cancelar_nfse_nacional_8ceff459.md#cancelar_nfse_nacional`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfse_nacional_8ceff459.md#cancelar_nfse_nacional"
      }
    },
    "/v2/nfsen/{referencia}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/nfsen/{referencia}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_cancelar_nfse_nacional_8ceff459.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_cancelar_nfse_nacional_8ceff459.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_cancelar_nfse_nacional_8ceff459.md"
      }
    },
    "/carta-correcao-cte-cte-os": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /carta-correcao-cte-cte-os",
        "description": "Endpoint derivado da referência oficial (carta_correcao_cte_cte_os).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_carta_correcao_cte_cte_os_18ea7a32.md#carta_correcao_cte_cte_os`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_carta_correcao_cte_cte_os_18ea7a32.md#carta_correcao_cte_cte_os"
      }
    },
    "/v2/cte/{referencia}/carta_correcao": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/cte/{referencia}/carta_correcao",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_carta_correcao_cte_cte_os_18ea7a32.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_carta_correcao_cte_cte_os_18ea7a32.md`)",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_carta_correcao_cte_cte_os_18ea7a32.md"
      }
    },
    "/v2/fiscal/nfce/REFERENCIA/efetivarTenta": {
      "put": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "PUT /v2/fiscal/nfce/REFERENCIA/efetivarTenta",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_comunicador_264a9c8d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`doc_focusnfe_com_br_reference_comunicador_264a9c8d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_comunicador_264a9c8d.md"
      },
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/fiscal/nfce/REFERENCIA/efetivarTenta",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_comunicador_264a9c8d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_comunicador_264a9c8d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_comunicador_264a9c8d.md"
      }
    },
    "/v2/fiscal/nfce/pendentesLista": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/fiscal/nfce/pendentesLista",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_comunicador_264a9c8d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`doc_focusnfe_com_br_reference_comunicador_264a9c8d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_comunicador_264a9c8d.md"
      }
    },
    "/comunicador": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /comunicador",
        "description": "Endpoint derivado da referência oficial (comunicador).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_comunicador_264a9c8d.md#comunicador`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_comunicador_264a9c8d.md#comunicador"
      }
    },
    "/v2/fiscal/nfce": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/fiscal/nfce",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_comunicador_264a9c8d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_comunicador_264a9c8d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_comunicador_264a9c8d.md"
      }
    },
    "/consultar-backups-por-cnpj": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-backups-por-cnpj",
        "description": "Endpoint derivado da referência oficial (consultar_backups_por_cnpj).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_consultar_backups_por_cnpj_11986a49.md#consultar_backups_por_cnpj`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_consultar_backups_por_cnpj_11986a49.md#consultar_backups_por_cnpj"
      }
    },
    "/v2/backups/{cnpj}.json": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/backups/{cnpj}.json",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_consultar_backups_por_cnpj_11986a49.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_consultar_backups_por_cnpj_11986a49.md`)",
        "parameters": [
          {
            "name": "cnpj",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_consultar_backups_por_cnpj_11986a49.md"
      }
    },
    "/consultar-ceps": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-ceps",
        "description": "Endpoint derivado da referência oficial (consultar_ceps).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_consultar_ceps_4316c367.md#consultar_ceps`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_consultar_ceps_4316c367.md#consultar_ceps"
      }
    },
    "/v2/ceps": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/ceps",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_consultar_ceps_4316c367.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_consultar_ceps_4316c367.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_consultar_ceps_4316c367.md"
      }
    },
    "/consultar-cep-por-codigo": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /consultar-cep-por-codigo",
        "description": "Endpoint derivado da referência oficial (consultar_cep_por_codigo).\n\n---\n📍 **Origem:** Página de Referência Técnica (`doc_focusnfe_com_br_reference_consultar_cep_por_codigo_fc529629.md#consultar_cep_por_codigo`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "doc_focusnfe_com_br_reference_consultar_cep_por_codigo_fc529629.md#consultar_cep_por_codigo"
      }
    },
    "/v2/ceps/{cep}": {
      "get": {
        "tags": [
          "Focusnfe"
        ],
        "summary": "GET /v2/ceps/{cep}",
        "description": "Endpoint extraído da documentação (doc_focusnfe_com_br_reference_consultar_cep_por_codigo_fc529629.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`doc_focusnfe_com_br_reference_consultar_cep_por_codigo_fc529629.md`)",
        "parameters": [
          {
            "name": "cep",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
[...]
