{
  "openapi": "3.0.3",
  "info": {
    "title": "VTEX E-Commerce Platform REST API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack vtex.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://vtex.com.br/api"
    }
  ],
  "paths": {
    "/api-reference": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api-reference",
        "description": "Endpoint derivado da referência oficial (api-reference).\n\n---\n📍 **Origem:** Página de Referência Técnica (`developers_vtex_com_docs_api-reference_15342b52.md#api-reference`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_15342b52.md#api-reference"
      }
    },
    "/api/audience-manager/pvt/audience": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/audience-manager/pvt/audience",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_audience-api_78c4de09.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_audience-api_78c4de09.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_audience-api_78c4de09.md"
      }
    },
    "/api/price-table-mapper/pvt/mapping/{audienceId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/price-table-mapper/pvt/mapping/{audienceId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_audience-api_78c4de09.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_audience-api_78c4de09.md`)",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_audience-api_78c4de09.md"
      }
    },
    "/api/authenticator/v1/storefront/users": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/authenticator/v1/storefront/users",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_authenticator-api_c53275c5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_authenticator-api_c53275c5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_authenticator-api_c53275c5.md"
      }
    },
    "/api/authenticator/v1/tenants/features/{name}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/authenticator/v1/tenants/features/{name}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_authenticator-api_c53275c5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_authenticator-api_c53275c5.md`)",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_authenticator-api_c53275c5.md"
      }
    },
    "/api/card-token-vault/tokens": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/card-token-vault/tokens",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md"
      }
    },
    "/api/card-token-vault/tokens/{id}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/card-token-vault/tokens/{id}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md"
      }
    },
    "/api/payments/pvt/accounts/{id}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/payments/pvt/accounts/{id}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md"
      }
    },
    "/api/card-token-vault/tokens/import": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/card-token-vault/tokens/import",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md"
      }
    },
    "/api/card-token-vault/tokens/import/{importId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/card-token-vault/tokens/import/{importId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md`)",
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md"
      }
    },
    "/api/card-token-vault/tokens/import/{importId}/report": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/card-token-vault/tokens/import/{importId}/report",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md`)",
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_card-token-vault-api_82bfa9fb.md"
      }
    },
    "/api/catalog-seller-portal/products/{productId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/products/{productId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/products/{productId}/description": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/products/{productId}/description",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/products/{param}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/products/{param}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [
          {
            "name": "param",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/products": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/products",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/skus/_search": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/skus/_search",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/skus/ids": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/skus/ids",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/brands": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/brands",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/brands/{brandId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/brands/{brandId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/category-tree": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/category-tree",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/category-tree/categories/{categoryId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/category-tree/categories/{categoryId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog-seller-portal/category-tree/categories": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog-seller-portal/category-tree/categories",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api-seller-portal_14877fe0.md"
      }
    },
    "/api/catalog/pvt/skuservice/{skuServiceId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuservice/{skuServiceId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuServiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skuservice": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuservice",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skuservicetypeattachment": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuservicetypeattachment",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skuservicetypeattachment/{skuServiceTypeAttachmentId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuservicetypeattachment/{skuServiceTypeAttachmentId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuServiceTypeAttachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skuservicevalue": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuservicevalue",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skuservicevalue/{skuServiceValueId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuservicevalue/{skuServiceValueId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuServiceValueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skuservicetype": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuservicetype",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skuservicetype/{skuServiceTypeId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuservicetype/{skuServiceTypeId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuServiceTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pub/category/tree/{categoryLevels}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pub/category/tree/{categoryLevels}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "categoryLevels",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/category/{categoryId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/category/{categoryId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/category": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/category",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/brand/list": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/brand/list",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/brand/pagedlist": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/brand/pagedlist",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/brand/{brandId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/brand/{brandId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/brand": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/brand",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/brand/{brandId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/brand/{brandId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/attachment/{attachmentid}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/attachment/{attachmentid}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "attachmentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/attachment": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/attachment",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/attachments": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/attachments",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/products/GetProductAndSkuIds": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/products/GetProductAndSkuIds",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/product/{productId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/product/{productId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/products/productget/{productId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/products/productget/{productId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/products/productgetbyrefid/{refId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/products/productgetbyrefid/{refId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "refId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pub/products/variations/{productId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pub/products/variations/{productId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/addon/pvt/review/GetProductRate/{productId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/addon/pvt/review/GetProductRate/{productId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/product": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/product",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/products/{productId}/specification": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/products/{productId}/specification",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/product/{productId}/specification": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/product/{productId}/specification",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/product/{productId}/specification/{specificationId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/product/{productId}/specification/{specificationId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "specificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/product/{productId}/specificationvalue": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/product/{productId}/specificationvalue",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/product/{productId}/similarcategory": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/product/{productId}/similarcategory",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/product/{productId}/similarcategory/{categoryId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/product/{productId}/similarcategory/{categoryId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/sku/stockkeepingunitids": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/sku/stockkeepingunitids",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/sku/stockkeepingunitbyid/{skuId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/sku/stockkeepingunitbyid/{skuId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/sku/stockkeepingunitidbyrefid/{refId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/sku/stockkeepingunitidbyrefid/{refId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "refId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/sku/stockkeepingunitbyalternateId/{alternateId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/sku/stockkeepingunitbyalternateId/{alternateId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "alternateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/sku/stockkeepingunitByProductId/{productId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/sku/stockkeepingunitByProductId/{productId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pub/sku/stockkeepingunitidsbyrefids": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pub/sku/stockkeepingunitidsbyrefids",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/sku/stockkeepingunitbyean/{ean}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/sku/stockkeepingunitbyean/{ean}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "ean",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/ean": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/ean",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/ean/{ean}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/ean/{ean}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ean",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/file": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/file",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/file/{skuFileId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/file/{skuFileId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skuFileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/file/reorder": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/file/reorder",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/copy/{skuIdfrom}/{skuIdto}/file": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/copy/{skuIdfrom}/{skuIdto}/file",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuIdfrom",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skuIdto",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/disassociate/{skuId}/file/{skuFileId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/disassociate/{skuId}/file/{skuFileId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skuFileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunitkit": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunitkit",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunitkit/{kitId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunitkit/{kitId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "kitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/specification": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/specification",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/specification/{specificationId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/specification/{specificationId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "specificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/specificationvalue": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/specificationvalue",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skuattachment": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuattachment",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/attachment": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/attachment",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skuattachment/{skuAttachmentAssociationId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skuattachment/{skuAttachmentAssociationId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuAttachmentAssociationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/sku/associateattachments": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/sku/associateattachments",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/complement": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/complement",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/stockkeepingunit/{skuId}/complement/{complementTypeId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/stockkeepingunit/{skuId}/complement/{complementTypeId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "complementTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/sku/complements/{parentSkuId}/{type}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/sku/complements/{parentSkuId}/{type}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "parentSkuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skucomplement": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skucomplement",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/skucomplement/{skuComplementId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/skucomplement/{skuComplementId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "skuComplementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/specification/nonstructured/{Id}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/specification/nonstructured/{Id}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/specification/nonstructured": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/specification/nonstructured",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pub/specification/fieldGet/{fieldId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pub/specification/fieldGet/{fieldId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/specification/field": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/specification/field",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pvt/specification/groupbycategory/{categoryId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pvt/specification/groupbycategory/{categoryId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog_system/pub/specification/groupGet/{groupId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog_system/pub/specification/groupGet/{groupId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/specificationgroup": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/specificationgroup",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/specificationgroup/{groupId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/specificationgroup/{groupId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md"
      }
    },
    "/api/catalog/pvt/specificationvalue/{specificationValueId}": {
      "get": {
        "tags": [
          "Vtex"
        ],
        "summary": "GET /api/catalog/pvt/specificationvalue/{specificationValueId}",
        "description": "Endpoint extraído da documentação (developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_vtex_com_docs_api-reference_catalog-api_cda07eab.md`)",
        "parameters": [
          {
            "name": "specificationValueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
