{
  "openapi": "3.0.3",
  "info": {
    "title": "Anota AI Atendente Virtual & Delivery API",
    "version": "1.0.0"
  },
  "paths": {
    "/nm-category/rest/simple-item/export/v2": {
      "get": {
        "summary": "Exportar categoria e item simples",
        "description": "📍 **Origem:** Especificação Técnica Oficial (`anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json`)",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json"
      }
    },
    "/item/external-id/{item_id}": {
      "put": {
        "summary": "Inserir id externo no item",
        "description": "📍 **Origem:** Especificação Técnica Oficial (`anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json`)",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json"
      }
    },
    "/ping/get/{order_Id}": {
      "get": {
        "summary": "Consultar informações do pedido",
        "description": "📍 **Origem:** Especificação Técnica Oficial (`anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json`)",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json"
      }
    },
    "/order/cancel/{order_id}": {
      "post": {
        "summary": "Cancelar o pedido",
        "description": "📍 **Origem:** Especificação Técnica Oficial (`anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json`)",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json"
      }
    },
    "/ping/list": {
      "get": {
        "summary": "Consulta de pedidos",
        "description": "📍 **Origem:** Especificação Técnica Oficial (`anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json`)",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json"
      }
    },
    "/order/accept/{order_id}": {
      "post": {
        "summary": "Aceita o pedido",
        "description": "📍 **Origem:** Especificação Técnica Oficial (`anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json`)",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json"
      }
    },
    "/order/ready/{order_id}": {
      "post": {
        "summary": "Pedido pronto",
        "description": "📍 **Origem:** Especificação Técnica Oficial (`anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json`)",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json"
      }
    },
    "/order/finalize/{order_id}": {
      "post": {
        "summary": "Pedido finalizado",
        "description": "📍 **Origem:** Especificação Técnica Oficial (`anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json`)",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "anota-ai_stoplight_io_api_v1_workspaces_d2s6NzYzNjg_nodes_project_ids_0_cHJqOjEx_c34715dc.json"
      }
    }
  },
  "servers": [
    {
      "url": "https://api.anota.ai/v1"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}