{
  "openapi": "3.0.3",
  "info": {
    "title": "Simplo / Besimplo Billing & E-Commerce REST API",
    "description": "Especificação OpenAPI 3.0 sintetizada via tratamento local em texto para docs.besimplo.com.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://besimplo.com/api/v1"
    }
  ],
  "paths": {
    "/api/v1/checkout/sessions/{id}/expire": {
      "post": {
        "summary": "POST /api/v1/checkout/sessions/{id}/expire",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_besimplo_com_2b171081.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_besimplo_com_2b171081.json"
      }
    },
    "/api/v1/customers": {
      "post": {
        "summary": "POST /api/v1/customers",
        "description": "Extraído de exemplo cURL.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_besimplo_com_2b171081.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_besimplo_com_2b171081.json"
      },
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /api/v1/customers",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_guias_comece-agora_15713f03.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_guias_comece-agora_15713f03.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_guias_comece-agora_15713f03.md"
      }
    },
    "/api/v1/products": {
      "post": {
        "summary": "POST /api/v1/products",
        "description": "Extraído de exemplo cURL.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_besimplo_com_2b171081.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_besimplo_com_2b171081.json"
      },
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /api/v1/products",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_guias_comece-agora_15713f03.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_guias_comece-agora_15713f03.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_guias_comece-agora_15713f03.md"
      }
    },
    "/api/v1/prices": {
      "post": {
        "summary": "POST /api/v1/prices",
        "description": "Extraído de exemplo cURL.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_besimplo_com_2b171081.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_besimplo_com_2b171081.json"
      },
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /api/v1/prices",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_guias_comece-agora_15713f03.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_guias_comece-agora_15713f03.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_guias_comece-agora_15713f03.md"
      }
    },
    "/api/v1/checkout/sessions": {
      "post": {
        "summary": "POST /api/v1/checkout/sessions",
        "description": "Extraído de exemplo cURL.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_besimplo_com_2b171081.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_besimplo_com_2b171081.json"
      },
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /api/v1/checkout/sessions",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_api-reference_checkout_criar-nova-sess_o-de-checkout_c07f864e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_api-reference_checkout_criar-nova-sess_o-de-checkout_c07f864e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_api-reference_checkout_criar-nova-sess_o-de-checkout_c07f864e.md"
      }
    },
    "/api/v1/subscriptions/{id}": {
      "get": {
        "summary": "GET /api/v1/subscriptions/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_docs_besimplo_com_2b171081.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_docs_besimplo_com_2b171081.json"
      }
    },
    "/api/v1": {
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /api/v1",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_92b8177f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_92b8177f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_92b8177f.md"
      }
    },
    "/v1/checkout/sessions/{id}/expire": {
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /v1/checkout/sessions/{id}/expire",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_api-reference_checkout_criar-nova-sess_o-de-checkout_c07f864e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_api-reference_checkout_criar-nova-sess_o-de-checkout_c07f864e.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_api-reference_checkout_criar-nova-sess_o-de-checkout_c07f864e.md"
      }
    },
    "/v1/checkout/sessions": {
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /v1/checkout/sessions",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_api-reference_checkout_listar-todas-as-sess_es-de-checkout_ec44f169.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_api-reference_checkout_listar-todas-as-sess_es-de-checkout_ec44f169.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_api-reference_checkout_listar-todas-as-sess_es-de-checkout_ec44f169.md"
      }
    },
    "/api-reference/openapi.json": {
      "post": {
        "tags": [
          "Simplo7"
        ],
        "summary": "POST /api-reference/openapi.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_besimplo_com_llms_txt_7daabb55.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`docs_besimplo_com_llms_txt_7daabb55.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "docs_besimplo_com_llms_txt_7daabb55.md"
      }
    },
    "/webhooks/fatura-dada-como-incobr": {
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /webhooks/fatura-dada-como-incobr",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_llms_txt_7daabb55.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_llms_txt_7daabb55.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_llms_txt_7daabb55.md"
      }
    },
    "/webhooks/tentativa-de-cobran": {
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /webhooks/tentativa-de-cobran",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_llms_txt_7daabb55.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_llms_txt_7daabb55.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_llms_txt_7daabb55.md"
      }
    },
    "/webhooks/tentativas-de-cobran": {
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /webhooks/tentativas-de-cobran",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_llms_txt_7daabb55.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_llms_txt_7daabb55.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_llms_txt_7daabb55.md"
      }
    },
    "/webhooks/estorno-conclu": {
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /webhooks/estorno-conclu",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_llms_txt_7daabb55.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_llms_txt_7daabb55.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_llms_txt_7daabb55.md"
      }
    },
    "/webhooks/sess": {
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /webhooks/sess",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_llms_txt_7daabb55.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_llms_txt_7daabb55.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_llms_txt_7daabb55.md"
      }
    },
    "/v1/subscriptions/{id}": {
      "get": {
        "tags": [
          "Simplo7"
        ],
        "summary": "GET /v1/subscriptions/{id}",
        "description": "Endpoint extraído da documentação (docs_besimplo_com_llms_txt_7daabb55.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_besimplo_com_llms_txt_7daabb55.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_besimplo_com_llms_txt_7daabb55.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "ApiKey_API_KEY": {
        "type": "apiKey",
        "in": "header",
        "name": "API_KEY",
        "description": "Chave de API enviada no cabeçalho API_KEY."
      },
      "ApiKey_api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key",
        "description": "Chave de API enviada no cabeçalho api_key."
      }
    }
  },
  "security": [
    {
      "ApiKey_API_KEY": []
    }
  ],
  "webhooks": {
    "payment_intent_refunded": {
      "description": "Notificação de webhook disparada no evento 'payment_intent.refunded'.",
      "post": {
        "summary": "Evento de Webhook: payment_intent.refunded",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "payment_intent.refunded"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  },
  "x-webhooks": {
    "payment_intent_refunded": {
      "description": "Notificação de webhook disparada no evento 'payment_intent.refunded'.",
      "post": {
        "summary": "Evento de Webhook: payment_intent.refunded",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "payment_intent.refunded"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  },
  "x-ratelimit": {
    "quotas": [
      "5 requisições por minuto",
      "100 requisições por minuto"
    ],
    "headers": [],
    "status_code": 429,
    "description": "Taxa de requisições limitada. Quotas documentadas: 5 requisições por minuto, 100 requisições por minuto. Em caso de excesso, a API retorna HTTP 429."
  },
  "x-idempotency": {
    "supported": false,
    "headers": []
  },
  "x-retry-policy": {
    "exponential_backoff": true,
    "retryable_status_codes": [
      429,
      500,
      502,
      503,
      504
    ]
  }
}