{
  "openapi": "3.0.3",
  "info": {
    "title": "KaBuM! Marketplace HubScore API",
    "description": "Especificação OpenAPI 3.0 sintetizada via tratamento local em texto para www.kabum.com.br.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.kabum.com.br"
    }
  ],
  "paths": {
    "/api/products/attributes": {
      "get": {
        "summary": "GET /api/products/attributes",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/products/imports.": {
      "post": {
        "summary": "POST /api/products/imports.",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/products/imports/5501": {
      "get": {
        "summary": "GET /api/products/imports/5501",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/offers.": {
      "post": {
        "summary": "POST /api/offers.",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/offers/imports.": {
      "post": {
        "summary": "POST /api/offers/imports.",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/offers": {
      "get": {
        "summary": "GET /api/offers",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/orders": {
      "get": {
        "summary": "GET /api/orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/orders/{order_id}/custom_fields.": {
      "put": {
        "summary": "PUT /api/orders/{order_id}/custom_fields.",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/orders/{order_id}/documents": {
      "post": {
        "summary": "POST /api/orders/{order_id}/documents",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/orders/{order_id}/tracking.": {
      "put": {
        "summary": "PUT /api/orders/{order_id}/tracking.",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/api/orders/{order_id}/ship.": {
      "put": {
        "summary": "PUT /api/orders/{order_id}/ship.",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_www_kabum_com_br_66b634f3.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_www_kabum_com_br_66b634f3.json"
      }
    },
    "/app/index.php": {
      "post": {
        "tags": [
          "Kabum"
        ],
        "summary": "POST /app/index.php",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_kabum_com_br_hotsite_documentacao-hubscore_4cb43723.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_kabum_com_br_hotsite_documentacao-hubscore_4cb43723.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_kabum_com_br_hotsite_documentacao-hubscore_4cb43723.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "Autenticação padrão OAuth 2.0 (Authorization Code / Client Credentials).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dominio.com/oauth/authorize",
            "tokenUrl": "https://api.dominio.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "x-idempotency": {
    "supported": false,
    "headers": []
  },
  "x-retry-policy": {
    "exponential_backoff": true,
    "retryable_status_codes": [
      429,
      500,
      502,
      503,
      504
    ]
  }
}