{
  "openapi": "3.0.3",
  "info": {
    "title": "Hotmart Developers & Webhooks API v1",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack hotmart.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://developers.hotmart.com/payments/api/v1"
    }
  ],
  "paths": {
    "/app-f586d5ef4ffcb5298716": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /app-f586d5ef4ffcb5298716",
        "description": "Endpoint derivado da referência oficial (app-f586d5ef4ffcb5298716).\n\n---\n📍 **Origem:** Página de Referência Técnica (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md#app-f586d5ef4ffcb5298716`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md#app-f586d5ef4ffcb5298716"
      }
    },
    "/v1/product/product-offers": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/product/product-offers",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/v1/product/product-plans": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/product/product-plans",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/v1/coupon/coupon-post-coupon": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/coupon-post-coupon",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/v1/coupon/coupon-get-coupon": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/coupon-get-coupon",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/v1/coupon/coupon-delete-coupon": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/coupon-delete-coupon",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/v1/subscription/get-subscription-summary": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/get-subscription-summary",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/webhook/club-module-completed": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/club-module-completed",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/webhook/purchase-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/purchase-webhook",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/webhook/order-fulfillment-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/order-fulfillment-webhook",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/v1/sales/sales-history": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-history",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/v1/subscription/get-subscribers": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/get-subscribers",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/webhook/cart-abandonment-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/cart-abandonment-webhook",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/webhook/update-subscription-charge-date": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/update-subscription-charge-date",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_app-f586d5ef4ffcb5298716_js_8f8d999c.md"
      }
    },
    "/page-data": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /page-data",
        "description": "Endpoint derivado da referência oficial (page-data).\n\n---\n📍 **Origem:** Página de Referência Técnica (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md#page-data`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md#page-data"
      }
    },
    "/docs/page-data/sq/d/{id}.json": {
      "post": {
        "tags": [
          "Hotmart"
        ],
        "summary": "POST /docs/page-data/sq/d/3996864857.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/webhook/club-first-access": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/club-first-access",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/webhook/cancel-subscription-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/cancel-subscription-webhook",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/webhook/switch-plan-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/switch-plan-webhook",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/webhook/about-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/about-webhook",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/webhook/http-response-codes-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/http-response-codes-webhook",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/webhook/using-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/using-webhook",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/club/about-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/about-club",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/account/get-account-info": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/account/get-account-info",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/club/get-lessons-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-lessons-club",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/club/get-pages-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-pages-club",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/club/get-modules-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-modules-club",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/club/get-users-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-users-club",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/negotiate/about-negotiation": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/negotiate/about-negotiation",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/negotiate/generate-negotiation": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/negotiate/generate-negotiation",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/coupon/about-coupon": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/about-coupon",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-about": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-about",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-credential-create": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-create",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-credential-delete": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-delete",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-credential-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-update",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-product-create": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-product-create",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-product-sales-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-product-sales-update",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-product-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-product-update",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-product-variants-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-product-variants-update",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-webhook-delete": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-webhook-delete",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-webhook-create": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-webhook-create",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/sp-about": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/sp-about",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/sp-shipment-status": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/sp-shipment-status",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/pp-webhook-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-webhook-update",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/payment-link/about-pl": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/about-pl",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/physical-product/sp-shipment-tracking": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/sp-shipment-tracking",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/payment-link/charge-by-offer": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/charge-by-offer",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/payment-link/before-starting": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/before-starting",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/payment-link/create-additional-offer": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-additional-offer",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/payment-link/create-additional-plan": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-additional-plan",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/payment-link/charge-by-value": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/charge-by-value",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/product/product-list": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/product/product-list",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/payment-link/create-pl": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-pl",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/payment-link/get-pl": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/get-pl",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/product/product-configuration": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/product/product-configuration",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/sales/about-sales": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/about-sales",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/sales/sales-billet": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-billet",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/sales/sales-commissions": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-commissions",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/sales/sales-refund": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-refund",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/sales/sales-summary": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-summary",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/sales/sales-price-details": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-price-details",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/about-subscription": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/about-subscription",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/cancel-subscription": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/cancel-subscription",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/sales/sales-users": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-users",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/cancel-subscriptions": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/cancel-subscriptions",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/change-due-day": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/change-due-day",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/get-subscription-purchases": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/get-subscription-purchases",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/get-subscription-transactions": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/get-subscription-transactions",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/reactivate-subscriptions": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/reactivate-subscriptions",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/switch-plan-get-plans": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/switch-plan-get-plans",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/reactivate-subscription": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/reactivate-subscription",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/tickets/get-info-tickets": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/tickets/get-info-tickets",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/subscription/switch-plan": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/switch-plan",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/tickets/about-tickets": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/tickets/about-tickets",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/user/get-user-me": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/user/get-user-me",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v2/physical-product/pp-product-create": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v2/physical-product/pp-product-create",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v1/tickets/get-participants-tickets": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/tickets/get-participants-tickets",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    },
    "/v2/club/get-pages-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v2/club/get-pages-club",
        "description": "Endpoint extraído da documentação (developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hotmart_com_docs_page-data_sq_d_3996864857_json_bc3c2307.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}