{
  "openapi": "3.0.3",
  "info": {
    "title": "Loggi Express & Entrega Urbana API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack loggi.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.loggi.com/v1"
    }
  ],
  "paths": {
    "/authenticatev2": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /authenticatev2",
        "description": "Endpoint derivado da referência oficial (authenticatev2).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_authenticatev2_3006823c.md#authenticatev2`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md#authenticatev2"
      }
    },
    "/autentica-o-v1": {
      "post": {
        "tags": [
          "Loggi"
        ],
        "summary": "POST /autentica-o-v1",
        "description": "Endpoint extraído do índice de navegação (Autenticação V1).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/autentica-o-v2": {
      "post": {
        "tags": [
          "Loggi"
        ],
        "summary": "POST /autentica-o-v2",
        "description": "Endpoint extraído do índice de navegação (Autenticação V2).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/ativar-desativar-integrador": {
      "post": {
        "tags": [
          "Loggi"
        ],
        "summary": "POST /ativar-desativar-integrador",
        "description": "Endpoint extraído do índice de navegação (Ativar/Desativar Integrador).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/criar-cota-o": {
      "post": {
        "tags": [
          "Loggi"
        ],
        "summary": "POST /criar-cota-o",
        "description": "Endpoint extraído do índice de navegação (Criar Cotação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/criar-shipment-ass-ncrono": {
      "post": {
        "tags": [
          "Loggi"
        ],
        "summary": "POST /criar-shipment-ass-ncrono",
        "description": "Endpoint extraído do índice de navegação (Criar Shipment assíncrono.).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/criar-etiqueta": {
      "post": {
        "tags": [
          "Loggi"
        ],
        "summary": "POST /criar-etiqueta",
        "description": "Endpoint extraído do índice de navegação (Criar Etiqueta).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/atualizar-dados-de-um-pacote": {
      "patch": {
        "tags": [
          "Loggi"
        ],
        "summary": "PATCH /atualizar-dados-de-um-pacote",
        "description": "Endpoint extraído do índice de navegação (Atualizar dados de um pacote).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/cancelar-envio": {
      "post": {
        "tags": [
          "Loggi"
        ],
        "summary": "POST /cancelar-envio",
        "description": "Endpoint extraído do índice de navegação (Cancelar envio).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/detalhes-do-pacote": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /detalhes-do-pacote",
        "description": "Endpoint extraído do índice de navegação (Detalhes do pacote).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/rastrear-pacote": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /rastrear-pacote",
        "description": "Endpoint extraído do índice de navegação (Rastrear Pacote).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/listar-loggi-pontos": {
      "post": {
        "tags": [
          "Loggi"
        ],
        "summary": "POST /listar-loggi-pontos",
        "description": "Endpoint extraído do índice de navegação (Listar Loggi Pontos.).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/v2/oauth2/token": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v2/oauth2/token",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_authenticatev2_3006823c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_authenticatev2_3006823c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_authenticatev2_3006823c.md"
      }
    },
    "/createasyncshipment": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /createasyncshipment",
        "description": "Endpoint derivado da referência oficial (createasyncshipment).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_createasyncshipment_2523f366.md#createasyncshipment`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_createasyncshipment_2523f366.md#createasyncshipment"
      }
    },
    "/v1/companies/{company_id}/async-shipments": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v1/companies/{company_id}/async-shipments",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_createasyncshipment_2523f366.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_createasyncshipment_2523f366.md`)",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_createasyncshipment_2523f366.md"
      }
    },
    "/createintegratorcompany": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /createintegratorcompany",
        "description": "Endpoint derivado da referência oficial (createintegratorcompany).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_createintegratorcompany_fcdad915.md#createintegratorcompany`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_createintegratorcompany_fcdad915.md#createintegratorcompany"
      }
    },
    "/v1/integrator/activateRecent": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v1/integrator/activateRecent",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_createintegratorcompany_fcdad915.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_createintegratorcompany_fcdad915.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_createintegratorcompany_fcdad915.md"
      }
    },
    "/v1/integrator/activate": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v1/integrator/activate",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_createintegratorcompany_fcdad915.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_createintegratorcompany_fcdad915.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_createintegratorcompany_fcdad915.md"
      }
    },
    "/criaretiqueta-1": {
      "post": {
        "tags": [
          "Loggi"
        ],
        "summary": "POST /criaretiqueta-1",
        "description": "Endpoint derivado da referência oficial (criaretiqueta-1).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_criaretiqueta-1_780174fd.md#criaretiqueta-1`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_criaretiqueta-1_780174fd.md#criaretiqueta-1"
      }
    },
    "/v1/companies/{company_id}/labels": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v1/companies/{company_id}/labels",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_criaretiqueta-1_780174fd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_criaretiqueta-1_780174fd.md`)",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_criaretiqueta-1_780174fd.md"
      }
    },
    "/labelapi-1": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /labelapi-1",
        "description": "Endpoint derivado da referência oficial (labelapi-1).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_labelapi-1_e364430a.md#labelapi-1`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_labelapi-1_e364430a.md#labelapi-1"
      }
    },
    "/packagecancelapi": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /packagecancelapi",
        "description": "Endpoint derivado da referência oficial (packagecancelapi).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_packagecancelapi_217f4686.md#packagecancelapi`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_packagecancelapi_217f4686.md#packagecancelapi"
      }
    },
    "/v1/companies/{company_id}/packages/cancel": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v1/companies/{company_id}/packages/cancel",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_packagecancelapi_217f4686.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_packagecancelapi_217f4686.md`)",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_packagecancelapi_217f4686.md"
      }
    },
    "/packagecancel": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /packagecancel",
        "description": "Endpoint derivado da referência oficial (packagecancel).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_packagecancel_f22071db.md#packagecancel`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_packagecancel_f22071db.md#packagecancel"
      }
    },
    "/packagedetailstrackingcode": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /packagedetailstrackingcode",
        "description": "Endpoint derivado da referência oficial (packagedetailstrackingcode).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_packagedetailstrackingcode_449b118b.md#packagedetailstrackingcode`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_packagedetailstrackingcode_449b118b.md#packagedetailstrackingcode"
      }
    },
    "/v1/companies/{company_id}/packages/{tracking_code}": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v1/companies/{company_id}/packages/{tracking_code}",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_packagedetailstrackingcode_449b118b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_packagedetailstrackingcode_449b118b.md`)",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tracking_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_packagedetailstrackingcode_449b118b.md"
      }
    },
    "/packageupdateapi": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /packageupdateapi",
        "description": "Endpoint derivado da referência oficial (packageupdateapi).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_packageupdateapi_33b36461.md#packageupdateapi`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_packageupdateapi_33b36461.md#packageupdateapi"
      }
    },
    "/v1/companies/{company_id}/packages": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v1/companies/{company_id}/packages",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_packageupdateapi_33b36461.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_packageupdateapi_33b36461.md`)",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_packageupdateapi_33b36461.md"
      }
    },
    "/packageupdate": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /packageupdate",
        "description": "Endpoint derivado da referência oficial (packageupdate).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_packageupdate_e03cb40b.md#packageupdate`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_packageupdate_e03cb40b.md#packageupdate"
      }
    },
    "/quotationapi": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /quotationapi",
        "description": "Endpoint derivado da referência oficial (quotationapi).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_quotationapi_6c724df8.md#quotationapi`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_quotationapi_6c724df8.md#quotationapi"
      }
    },
    "/v1/companies/{company_id}/quotations": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v1/companies/{company_id}/quotations",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_quotationapi_6c724df8.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_quotationapi_6c724df8.md`)",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_quotationapi_6c724df8.md"
      }
    },
    "/quote": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /quote",
        "description": "Endpoint derivado da referência oficial (quote).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_quote_e1c1af63.md#quote`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_quote_e1c1af63.md#quote"
      }
    },
    "/shipmentapi-1": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /shipmentapi-1",
        "description": "Endpoint derivado da referência oficial (shipmentapi-1).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_shipmentapi-1_2d8ff220.md#shipmentapi-1`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_shipmentapi-1_2d8ff220.md#shipmentapi-1"
      }
    },
    "/trackpackagetrackingcode": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /trackpackagetrackingcode",
        "description": "Endpoint derivado da referência oficial (trackpackagetrackingcode).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_trackpackagetrackingcode_b1bf04df.md#trackpackagetrackingcode`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_trackpackagetrackingcode_b1bf04df.md#trackpackagetrackingcode"
      }
    },
    "/v1/companies/{company_id}/packages/{tracking_code}/tracking": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /v1/companies/{company_id}/packages/{tracking_code}/tracking",
        "description": "Endpoint extraído da documentação (docs_api_loggi_com_reference_trackpackagetrackingcode_b1bf04df.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_api_loggi_com_reference_trackpackagetrackingcode_b1bf04df.md`)",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tracking_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_api_loggi_com_reference_trackpackagetrackingcode_b1bf04df.md"
      }
    },
    "/webhook": {
      "get": {
        "tags": [
          "Loggi"
        ],
        "summary": "GET /webhook",
        "description": "Endpoint derivado da referência oficial (webhook).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_api_loggi_com_reference_webhook_5513fafa.md#webhook`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_api_loggi_com_reference_webhook_5513fafa.md#webhook"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Autenticação básica HTTP com usuário e senha ou token Base64."
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "Autenticação padrão OAuth 2.0 (Authorization Code / Client Credentials).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dominio.com/oauth/authorize",
            "tokenUrl": "https://api.dominio.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "webhooks": {
    "ee_created": {
      "description": "Notificação de webhook disparada no evento 'ee.createD'.",
      "post": {
        "summary": "Evento de Webhook: ee.createD",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "ee.createD"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "status_updated": {
      "description": "Notificação de webhook disparada no evento 'status.updated'.",
      "post": {
        "summary": "Evento de Webhook: status.updated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "status.updated"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "t_created": {
      "description": "Notificação de webhook disparada no evento 't.createD'.",
      "post": {
        "summary": "Evento de Webhook: t.createD",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "t.createD"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  },
  "x-webhooks": {
    "ee_created": {
      "description": "Notificação de webhook disparada no evento 'ee.createD'.",
      "post": {
        "summary": "Evento de Webhook: ee.createD",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "ee.createD"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "status_updated": {
      "description": "Notificação de webhook disparada no evento 'status.updated'.",
      "post": {
        "summary": "Evento de Webhook: status.updated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "status.updated"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "t_created": {
      "description": "Notificação de webhook disparada no evento 't.createD'.",
      "post": {
        "summary": "Evento de Webhook: t.createD",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "t.createD"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  }
}