{
  "openapi": "3.0.3",
  "info": {
    "title": "Sankhya Gestão Empresarial ERP API",
    "description": "API de Integrações Sankhya\n\nEsta documentação apresenta os serviços disponíveis para cada objetivo e entidade. Você encontrará explicações sobre as regras de negócio, demonstrações de uso dos serviços e detalhes dos campos e opções.\n\nA API é baseada em chamadas HTTP ou HTTPS, utilizando os métodos POST e GET, com corpo no formato JSON. Qualquer sistema capaz de realizar uma chamada HTTP pode utilizar os serviços.\n\nO método PUT não é utilizado, pois as operações de inclusão ou atualização são feitas pelo método POST. Se a chave primária (PK) já existir, será feito um UPDATE; se não, um INSERT.\n\nO que é uma Entidade?\n\"Entidade\" refere-se a tudo que pode ser cadastrado, editado, consultado ou excluído no Sankhya. Por exemplo, um \"Produto\" pode ser cadastrado, editado, consultado ou excluído.\n\n**Exemplo de URL de Requisição:**\nA URL de requisição segue um padrão fixo:\n\n**URL padrão:**\nhttps://api.sankhya.com.br/gateway/v1/[modulo]/service.sbr?serviceName=[nomedoserviço]&outputType=json\n\n**Módulos Utilizados:**\n\n**MGE:**\nEste módulo é para consulta e gravação de dados de cadastros.\n\nExemplos de Serviços no MGE:\n- CRUDServiceProvider.loadRecords\n- CRUDServiceProvider.saveRecord\n- DbExplorerSP.executeQuery\n\nURL padrão MGE:\nhttps://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=[nomedoserviço]&outputType=json\n\n**MGECOM:**\nO módulo Comercial é para consulta e gravação de movimentações, como pedidos e compras.\n\nExemplos de Serviços no MGECOM:\n- CACSP.IncluirNota\n- CACSP.incluirAlterarItemNota\n- CACSP.excluirItemNota\n- CACSP.cancelarNota\n- SelecaoDocumentoSP.faturar\n\nURL padrão MGECOM:\nhttps://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.IncluirNota&outputType=json\n\nImportante:\nOs serviços são específicos para cada módulo. Os serviços do módulo MGECOM são exclusivos e não funcionarão se a URL for para o módulo MGE, e vice-versa.\n\nPara utilizar todos os serviços, é necessário realizar o login conforme descrito na documentação.\n",
    "termsOfService": "https://www.sankhya.com.br/",
    "license": {
      "name": "Licença Sankhya",
      "url": "https://www.sankhya.com.br/"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.sankhya.com.br"
    }
  ],
  "externalDocs": {
    "description": "Saiba mais sobre a API Sankhya",
    "url": "https://developer.sankhya.com.br/reference/api-de-integra%C3%A7%C3%B5es-sankhya"
  },
  "tags": [
    {
      "name": "Como consultar dados?",
      "description": "Realizando consultas utilizando loadRecords"
    },
    {
      "name": "Como incluir/alterar dados?",
      "description": "Realizando a inclusão e alteração de dados"
    },
    {
      "name": "Log de Alterações",
      "description": "Consultas de Histórico de Entidades"
    },
    {
      "name": "Serviços Especialistas",
      "description": "Serviços especialistas disponiveis no SankhyaOm"
    }
  ],
  "paths": {
    "/IncluiMovimentos": {
      "post": {
        "tags": [
          "Serviços Especialistas"
        ],
        "summary": "Incluir Movimentos (pedidos, notas, etc)",
        "description": "<h1>Regras de negócio</h1>\nO cadastro de pedidos no sistema, permite que você registre e gerencie o que foi vendido e precisa ser faturado e entregue indicando, para qual cliente ou parceiro, quais as condições comerciais e financeiras negociadas e demais informações, proporcionando uma clara visão do que está em cada etapa do processo.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br /> https://ajuda.sankhya.com.br/hc/pt-br/articles/360044612654-Portal-de-Vendasbr\n<h3>Dependências</h3> Para realizar a inclusão do pedido, os seguintes itens são obrigatórios:<br />\n<b>1) </b>Logar no sistema utilizando o Serviço de Login descrito nesta documentação em Login;<br />  <b>2) </b>Produtos/Serviços  preeviamente cadastrados e ativos;<br />  <b>3) </b>Empresas previamente cadastradas e ativas;<br /> <b>4) </b>Top's configuradas devidamente tipo de movimentação <b>\\\"Pedido de venda\\\"</b>;<br />  <b>5) </b>Tipo de negociação cadastrados seja  a vista, a prazo, parcelada, cheque.<br />  <b>6) </b>O parceiro deve estar cadastrado e ativo antes da geração do pedido.<br />\n<h3>Detalhes Técnicos</h3> \nO serviço utilizado para inclusão de notas é o CACSP.IncluirNota que instancia as entidades principais para o envio de pedido, as entidades que este serviço utiliza são: <br />\n<b>• CabecalhoNota;</b><br /> <b>• ItemNota.</b><br />\nOs campos obrigatórios dependem estritamente da configuração de TOP,empresa, produto, etc. Portanto, neste exemplo colocamos os campos tipicamente obrigatórios em todos os casos de uso. Este exemplo não tenta exaurir as possibilidades,que são muitas, então em alguns casos a chamada a esse serviço pode resultar em mensagem de erro exigindo que outros campos sejam enviados. Apenas um pedido/nota pode ser enviado por vez. <br />\nPara realizar a inclusão do pedido através do Json, os campos abaixo são obrigatórios:<br /><br /> <b>CABEÇALHO DO PEDIDO</b>\n\n  - NUNOTA – Numero Único da nota;\n  - CODPARC – Código do Parceiro;\n  - DTNEG – Data de Negociação;\n  - CODTIPOPER – Código do Tipo de Operação;\n  - CODTIPVENDA – Tipo de Negociação;\n  - CODVEND – Código do vendedor;\n  - CODEMP – Código da Empresa;\n  - TIPMOV – Tipo de Movimento.\n\n\n<b>ITENS DO PEDIDO</b>\n\n  - CODPROD – Código do Produto;\n  - QTDNEG – Quantidade;\n  - CODLOCALORIG – Código local de Origem;\n  - CODVOL – Código do Volume;\n  - IGNOREDESCPROMOQTD - Quando \"True\" garante que os valores enviados na API não serão alterados devido a algum disconto promocional vigente.\n\nConforme explicado  anteriormente, os campos enviados acima são obrigatórios e são os campos padrões. Os campos abaixo só serão obrigatórios se na requisição o campo \\\"<b><font color=red>INFORMARPRECO</font>\\\"</b> for igual a <b>true</b>, caso contrário  os campos abaixo não serão obrigatórios.<br/><br />  <b>• VLRUNIT</b> – Valor  Unitário;<br /> <b>• PERCDESC</b> – Percentual de desconto;<br /><br />\n<b><font  color=red>IMPORTANTE</font>:</b> O atributo <b>INFORMARPRECO</b> serve para enviar o pedido com os valores já negociados e neste caso, o preço e o desconto terão que serem enviados para serem calculados. Caso o campo <b>informarPreço</b> = N então o ERP irá utilizar  valor da tabela de preços vigente no momento da inclusão do pedido.\n<h3>Descritivo de Campos das Entidades</h3>\nAcesse [aqui](http://swagger.sankhya.com.br/tabelas/TGFCAB.html) o dicionário de dados da tabela <b>TGFCAB</b><br />  Acesse [aqui](http://swagger.sankhya.com.br/tabelas/TGFITE.html) o dicionário de dados da tabela <b>TGFITE</b><br />\n<h3>Exemplo de uso:</h3> <ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul> <b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mgecom/service.sbr?serviceName=CACSP.incluirNota&outputType=json <br /><br />\n</b>Corpo de requisição</b>\n\n    {\n       \"serviceName\":\"CACSP.incluirNota\",\n       \"requestBody\":{\n          \"nota\":{\n             \"cabecalho\":{\n                \"NUNOTA\":{\n                },\n                \"CODPARC\":{\n                   \"$\":\"1\"\n                },\n                \"DTNEG\":{\n                   \"$\":\"09/12/2022\"\n                },\n                \"CODTIPOPER\":{\n                   \"$\":\"2000\"\n                },\n                \"CODTIPVENDA\":{\n                   \"$\":\"12\"\n                },\n                \"CODVEND\":{\n                   \"$\":\"0\"\n                },\n                \"CODEMP\":{\n                   \"$\":\"1\"\n                },\n                \"TIPMOV\":{\n                   \"$\":\"O\"\n                }\n             },\n             \"itens\":{\n                \"INFORMARPRECO\":\"True\",\n                \"item\":[\n                      {\n                       \"NUNOTA\":{\n                      },\n                      \"IGNOREDESCPROMOQTD\": {\n                          \"$\": \"True\"\n                      },\n                      \"CODPROD\":{\n                         \"$\":\"8\"\n                      },\n                      \"QTDNEG\":{\n                         \"$\":\"1\"\n                      },\n                      \"CODLOCALORIG\":{\n                         \"$\":\"0\"\n                      },\n                      \"CODVOL\":{\n                         \"$\":\"UN\"\n                      },\n                      \"PERCDESC\": {\n                        \"$\": \"0\"\n                      },\n                     \"VLRUNIT\": {\n                        \"$\": \"1.75\"\n                      }\n                   }               \n                ]\n             }\n          }\n       }\n    }\n\n\n<b>Retorno:</b><br />\n\n\n    {\n        \"serviceName\": \"CACSP.incluirNota\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"1484EE05236C4B33DE6355DAA8443EFF\",\n        \"responseBody\": {\n            \"pk\": {\n                \"NUNOTA\": {\n                    \"$\": \"740\"\n                }\n            }\n        }\n    }\n\n<b><font color=red>IMPORTANTE</font>:</b> Este é apenas um exemplo de requisição baseado em um ambiente de teste. Todos os atributos devem ser revistos e ajustados considernado o ambiente do seu caso de uso.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Inclusão de pedidos realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/IncAltItemMovimento": {
      "post": {
        "tags": [
          "Serviços Especialistas"
        ],
        "summary": "Incluir e Alterar Itens de Movimentos",
        "description": "\"<h1>Regras de negócio</h1> O objetivo é incluir no ERP um <b>pedido de venda</b> ou <b>pedido de compra</b> negociado, por exemplo em 01/01 para ser entregue em até 31/12, durante esse prazo de negociação, ocorrem algumas variações do preço na quantidade dos itens, assim como itens excluídos e incluídos na negociação, por isso existe a necessidade de manter um <b>pedido de venda</b> faturado parcialmente e que poderá sofrer manutenções/alterações.<br />\\nPara realizar configuração no sistema com o <b><u>tipo de operação - Top</u></b> e habilitar algumas marcações \\\"Permitir Alteração após confirmar\\\" e \\\"Permite alterar itens após faturar parcialmente\\\" e \\\"Gravar histórico de alterações do pedido\\\" que possibilita a alteração do <b>pedido de compra</b> ou <b>pedido de venda</b>, faturado parcialmente no sistema.<br />\\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br /> https://ajuda.sankhya.com.br/hc/pt-br/articles/360045109773-Altera%C3%A7%C3%A3o-de-Pedidos-Parcialmente-Faturados#prefer%C3%AAncias<br />\\n<h3>Dependências</h3> Para realizar a inclusão ou alteração de itens no pedido, os seguintes itens são obrigatórios:<br />\\n<b>1) </b>Logar no sistema utilizando o Serviço de Login descrito nesta documentação em Login; <br /> <b>2) </b>Produtos/Serviços  preeviamente cadastrados e ativos;<br /> <b>3) </b>Empresas previamente cadastradas e ativas;<br /> <b>4) </b>Top's configuradas devidamente tipo de movimentação <b>\\\"Pedido de venda\\\"</b>;<br /> <b>5) </b>Tipo de operação(TOP) utilizado no pedido deve estar configurada para permitir a alteração do <b>\\\"pedido\\\"</b> após a <b>\\\"confirmação\\\"</b> do mesmo. <br />\\n<h3>Detalhes Técnicos</h3> O serviço utilizado para inclusão e alteração de itens no pedido  é o <b>CACSP.incluirAlterarItemNota</b> que instancia as entidades principais para o envio de item no pedido, as entidades que este serviço utiliza são: <br />\\n  <b>• CabecalhoNota;</b>\\n  <b>• ItemNota.</b><br />\\n  Os campos obrigatórios dependem estritamente da configuração de TOP,empresa, produto, etc. Portanto, neste exemplo colocamos os campos tipicamente obrigatórios em todos os casos de uso. Este exemplo não tenta exaurir as possibilidades,que são muitas, então em alguns casos a chamada a esse serviço pode resultar em mensagem de erro exigindo que outros campos sejam enviados. <br />\\n  Apenas um item pedido/nota pode ser enviado por vez. <br />\\n  Para realizar a inclusão do item no pedido através do Json, os campos abaixo são obrigatórios:<br /><br />\n<b>CABEÇALHO DO PEDIDO</b><br />\n\n  - CODPROD – Código do Produto;\n  - QTDNEG – Quantidade;\n  - CODLOCALORIG – Código local de Origem;\n  - CODVOL – Código do Volume;\n  - SEQUENCIA - Sequência do item no pedido;\n  - VLRUNIT - Valor Unitário;\n  - VLRTOT - Valor total do item(QTDNEG x VLRUNIT);\n  - VLRDESC - Valor do Desconto;\n  - PERCDESC - Percentual de Desconto.\n\n\n<h3></h3> Para realizar a alteração de itens do pedido basta informar o número da SEQUÊNCIA do item a ser alterado pelo JSON, segue exemplo:\n\n    \"SEQUENCIA\":{\n      \"$\":\"10\"\n    }\n\n<h3>Descritivo de Campos das Entidades</h3>\nAcesse [aqui](http://swagger.sankhya.com.br/tabelas/TGFCAB.html) o dicionário de dados da tabela <b>TGFCAB</b><br />  Acesse [aqui](http://swagger.sankhya.com.br/tabelas/TGFITE.html) o dicionário de dados da tabela <b>TGFITE</b><br />\n\n<h3>Exemplo de uso:</h3> <ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul> <b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mgecom/service.sbr?serviceName=CACSP.incluirAlterarItemNota&outputType=json<br />\n<b>Corpo de Requisição Padrão para Inclusão:</b>\n\n    {\n       \"serviceName\":\"CACSP.incluirAlterarItemNota\",\n       \"requestBody\":{\n          \"nota\":{\n             \"NUNOTA\":\"7468\",\n             \"itens\":{\n                \"item\":{\n                   \"CODPROD\":{\n                      \"$\":\"129\"\n                   },\n                   \"NUNOTA\":{\n                      \"$\":\"7468\"\n                   },\n                   \"SEQUENCIA\":{\n                      \"$\":\"\"\n                   },\n                   \"QTDNEG\":{\n                      \"$\":\"10\"\n                   },\n                   \"VLRUNIT\":{\n                      \"$\":\"10\"\n                   },\n                   \"VLRTOT\":{\n                      \"$\":\"432.38\"\n                   },\n                   \"CODVOL\":{\n                      \"$\":\"UN\"\n                   },\n                   \"VLRDESC\":{\n                      \"$\":\"0\"\n                   },\n                   \"PERCDESC\":{\n                      \"$\":\"0\"\n                   }\n                }\n             }\n          }\n       }\n    }\n\n\n<b>Corpo de Requisição Padrão para Alteração:</b>\n\n    {\n       \"serviceName\":\"CACSP.incluirAlterarItemNota\",\n       \"requestBody\":{\n          \"nota\":{\n             \"NUNOTA\":\"7468\",\n             \"itens\":{\n                \"item\":{\n                   \"CODPROD\":{\n                      \"$\":\"129\"\n                   },\n                   \"NUNOTA\":{\n                      \"$\":\"7468\"\n                   },\n                   \"SEQUENCIA\":{\n                      \"$\":\"10\"\n                   },\n                   \"QTDNEG\":{\n                      \"$\":\"8\"\n                   },\n                   \"VLRUNIT\":{\n                      \"$\":\"10\"\n                   },\n                   \"VLRTOT\":{\n                      \"$\":\"432.38\"\n                   },\n                   \"CODVOL\":{\n                      \"$\":\"UN\"\n                   },\n                   \"VLRDESC\":{\n                      \"$\":\"0\"\n                   },\n                   \"PERCDESC\":{\n                      \"$\":\"0\"\n                   }\n                }\n             }\n          }\n       }\n    }\n\n\n\n<b>Retorno:</b><br />\n\n    {\n        \"serviceName\": \"CACSP.incluirAlterarItemNota\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"46457EBA87743376561485A6021C8D8A\",\n        \"responseBody\": {\n            \"pk\": {\n                \"NUNOTA\": {\n                    \"$\": \"7468\"\n                },\n                \"SEQUENCIA\": {\n                    \"$\": \"8\"\n                }\n            }\n        }\n    }\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Inclusão / Alteração de itens realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/ExcluiItemMovimento": {
      "post": {
        "tags": [
          "Serviços Especialistas"
        ],
        "summary": "Excluir Itens de Movimentos",
        "description": "<h1>Regras de negócio</h1> O objetivo é incluir um <b>pedido de  venda</b> ou <b>pedido de compra</b> negociado, por exemplo em 01/01 para ser entregue em até 31/12, durante esse prazo de negociação, ocorrem algumas variações do preço e quantidade dos itens, assim como itens excluídos e incluídos na negociação, por isso existe a necessidade de manter um <b>pedido de venda</b> faturado parcialmente e que poderá sofrer manutenções/alterações.<br />\nSerá necessário efetuar algumas, configurações como do tipo de operação - top e habilitar algumas marcações \\\"Permitir Alteração após confirmar\\\" e \\\"Permite alterar itens após faturar parcialmente\\\" e \\\"Gravar histórico de alterações do pedido\\\" que possibilita a alteração do <b>pedido de compra</b> ou <b>pedido de venda</b>, faturado parcialmente no sistema.<br />\n<b>OBS:</b> Caso tenha  alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br /> https://ajuda.sankhya.com.br/hc/pt-br/articles/360045109773-Altera%C3%A7%C3%A3o-de-Pedidos-Parcialmente-Faturados#prefer%C3%AAncias<br />\n<h3>Dependências</h3> \nPara realizar a exclusão de itens no pedido, os  seguintes itens são obrigatórios:<br />\n<b>1) </b>Logar no sistema utilizando  o Serviço de Login descrito nesta documentação em Login;<br /> <b>2) </b>Produtos/Serviços preeviamente cadastrados e ativos;<br />  <b>3) </b>Empresas previamente cadastradas e ativas;<br />  <b>4) </b>Top's configuradas devidamente tipo de movimentação <b>\\\"Pedido de venda\\\"</b>;<br />  <b>5) </b>Tipo de operação(TOP) utilizado no pedido deve estar configurada para permitir a alteração do <b>\\\"pedido\\\"</b> após a <b>\\\"confirmação\\\"</b> do mesmo. <br />\n<h3>Detalhes Técnicos</h3> O serviço utilizado para exclusão de itens no pedido  é o <b>CACSP.excluirItemNota</b> que instancia as entidades principais para exclusão de item no pedido, as entidades que este serviço utiliza são: <br />\n<b>• CabecalhoNota;</b> <b>• ItemNota.</b><br />\nOs campos obrigatórios dependem estritamente da configuração de TOP,empresa, produto, etc. Portanto, neste exemplo colocamos os campos tipicamente obrigatórios em todos os casos de uso. Este exemplo não tenta exaurir as possibilidades,que são muitas, então em alguns casos a chamada a esse serviço pode resultar em mensagem de erro exigindo que outros campos sejam enviados. <br />\nApenas um item pedido/nota pode ser enviado por vez. <br /> Para realizar a exclusão do item no pedido através do Json, os campos abaixo são obrigatórios:<br /><br />\n<b>CABEÇALHO DO PEDIDO</b><br />\n\n  - NUNOTA – Numero Único da nota;\n\n<b>ITENS DO PEDIDO</b><br />\n\n  - SEQUENCIA - Sequência do item no pedido;\n\n\n<h3>Descritivo de Campos das Entidades</h3>\nAcesse [aqui](http://swagger.sankhya.com.br/tabelas/TGFCAB.html) o dicionário de dados da tabela <b>TGFCAB</b><br />  Acesse [aqui](http://swagger.sankhya.com.br/tabelas/TGFITE.html) o dicionário de dados da tabela <b>TGFITE</b><br />\n<h3>Exemplo de uso:</h3>\n<b>URL de chamada</b>: <ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul> <b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mgecom/service.sbr?serviceName=CACSP.excluirItemNota&outputType=json <br />\n<b>Corpo de Requisição Padrão para Inclusão:</b>\n\n\n    {\n       \"serviceName\":\"CACSP.excluirItemNota\",\n       \"requestBody\":{\n          \"nota\":{\n             \"itens\":{\n                \"item\":{\n                   \"NUNOTA\":{\n                      \"$\":\"7468\"\n                   },\n                   \"SEQUENCIA\":{\n                      \"$\":\"4\"\n                   }\n                }\n             }\n          }\n       }\n    }\n\n<b>Retorno:</b><br />\n\n    {\n      \"serviceName\": \"CACSP.excluirItemNota\",\n      \"status\": \"1\",\n      \"pendingPrinting\": \"false\",\n      \"transactionId\": \"6E87F2164B6D912C169CA006E6FACC2F\",\n      \"responseBody\": {}\n    }\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Exclusão de item realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/CancelaMovimento": {
      "post": {
        "tags": [
          "Serviços Especialistas"
        ],
        "summary": "Cancelamento de Movimentos",
        "description": "<h1>Regras de negócio</h1>\nPara realizar o cancelamento de pedidos no ERP será necessário efetuar criação de um filtro para acessar os títulos que precisam ser cancelados e efetuar o preenchimento dos dados necessários para efetuar o cancelamento.No ERP a partir do momento que é cancelada uma nota fiscal, não é mais possível reverter este processo, sendo necessário lançar a nota fiscal novamente.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360045107913-Notas-Canceladas<br />\n<h3>Dependências</h3> Para realizar o cancelameno do pedido, os seguintes itens são obrigatórios:<br />\n<b>1) </b>Logar no sistema utilizando o Serviço de Login descrito nesta documentação em Login; <br />  <b>2) </b>O pedido deve estar confirmado no ERP Sankhya-Om;<br />  <b>3) </b>É obrigatório informar o número único da nota<br /> <b>4) </b>É obrigatorio informar a justificativa de cancelamento</b>.<br />\n<h3>Detalhes Técnicos</h3>\nO serviço utilizado para cancelamento de notas é o CACSP.cancelarNota que utiliza a entidade  CabecalhoNota que por sua vez instancia a tabela TGFCAB.<br />\nPara usar serviços de módulos auxiliares, como é o caso do mgecom devemos enviar um parâmetro adicional na URL, cujo nome é mgeSession e o valor será o ID adquirido no serviço de autenticação. Isso não se aplica para serviços do módulo mge, que é o principal.<br />\nPara realizar a exclusão do pedido através do Json, o campo abaixo é obrigatório:<br /><br />\n\n  - NUNOTA – Numero Único da nota;\n  \nA partir do momento em que a nota é cancelada, a nota é inserida na tabela <b>TGFCAN</b> que por sua vez é instanciada pela entidade <b>\\\"NotaCancelada\\\"</b>, esta tabela é responsável por armazenar todas as notas que foram confirmadas mas por algum motivo ou divergência, foi cancelada.\n\n<h3>Descritivo de Campos das Entidades</h3>\nAcesse [aqui](http://swagger.sankhya.com.br/tabelas/TGFCAB.html) o dicionário de dados da tabela <b>TGFCAB</b><br />  Acesse [aqui](http://swagger.sankhya.com.br/tabelas/TGFCAN.html) o dicionário de dados da tabela <b>TGFCAN</b><br />\n<h3>Exemplo de uso:</h3>  <ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul> <b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mgecom/service.sbr?serviceName=CACSP.cancelarNota&outputType=json <br />\n<b>Corpo de requisição</b>\n\n    {\n       \"serviceName\":\"CACSP.cancelarNota\",\n       \"requestBody\":{\n          \"notasCanceladas\":{\n             \"nunota\":[\n                {\n                   \"$\":\"3713703\"\n                }\n             ],\n             \"justificativa\":\"lançamento indevido\",\n             \"validarProcessosWmsEmAndamento\":\"true\"\n          }\n        }\n    }\n\n\n<b>Retorno:</b><br />\n\n    {\n        \"serviceName\": \"CACSP.cancelarNota\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"BA6F5CEB2F1ED4B27E3E66F98C4BE084\",\n        \"responseBody\": {\n            \"resultadoCancelamento\": {\n                \"totalNotasCanceladas\": \"1\"\n            }\n        }\n    }\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Cancelamento de pedidos realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/FaturaMovimento": {
      "post": {
        "tags": [
          "Serviços Especialistas"
        ],
        "summary": "Faturamento de Movimentos",
        "description": "<h1>Regras de negócio</h1> \nPara finalizar uma venda, o pedido de vendas precisa ser faturado, ou seja, transformado em nota fiscal ou Ordem de Entrega.<br />\nO conceito prático de faturamento, consiste em transformar um pedido de venda em uma nota fiscal de Venda; porém, na passagem de um orçamento para um pedido de venda, pode-se entender que também houve um faturamento, mas não com as mesmas validações mencionadas acima.<br />\n<b>Vale ressaltar que, os comportamentos citados, poderão variar de acordo com o processo de cada empresa.</b><br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br /> https://ajuda.sankhya.com.br/hc/pt-br/articles/360044612654-Portal-de-Vendas#faturamento-comofazer<br />\n<h3>Dependências</h3> Para realizar o faturamento do pedido, os seguintes itens são obrigatórios:<br />\n<b>1) </b>Logar no sistema utilizando o Serviço de Login descrito nesta documentação em Login; <br />  <b>2) </b>O pedido deve estar confirmado no ERP Sankhya-Om;<br />  <b>3) </b>É obrigatório informar o número único do pedido.<br />  <b>4) </b>É obrigatório configurar o tipo de operação(TOP) para atender a requisição de faturamento vindo do json<br />  <b>5) </b>É obrigatório informar o tipo de operação(TOP) de faturamento para a nota fiscal.<br />\n<b>OBS:</b> O faturamento pelo json passa pelas mesmas regras definidas e configuradas nas TOPs do ERP.<br /> \n<h3>Detalhes Técnicos</h3>\nO serviço utilizado para o faturamento de pedidos é o SelecaoDocumentoSP.faturar que utiliza a entidade CabecalhoNota que por sua vez instancia a tabela TGFCAB.<br />\nPara realizar o faturamento do pedido o campo abaixo é obrigatório:<br /><br /> <b>• NUNOTA</b> – Numero Único da nota;<br /><br />\nAo realizar o faturamento deve-se passar no campo <b>NUNOTA</b> o número do pedido que deseja faturar.<br />\nApós o serviço executar o faturamento no ERP ele retorna o NUNOTA da nota fiscal gerada. ( Lembrando que o <b>NUNOTA</b> não é o número da nota e sim apenas a chave (PK) interna que identifica o documento na tabela TGFCAB ).<br />\nPara obter os dados da nota fiscal gerada, deve-se fazer chamada ao serviço de consulta de <b>pedidos/notas</b> passando como parâmetro o NUNOTA da nota fiscal que foi retornado durante a chamada do serviço de faturamento.<br />\nAssim conseguirá obter todas as informações da nota fiscal que foi gerada no faturamento.<br />\\n  Importante: A nota faturada fica ligada com o pedido pela tabela <b>TGFVAR</b> ( ver serviço de consulta de \\\"Ligação Nota x Pedido\\\" )<br /><br /><br />\n<b>Opções de Faturamento (atributo: tipoFaturamento):</b>\n  - Faturamento normal (FaturamentoNormal): Faturamento da nota independente dos itens, ao utilizar esta opção o faturamento é realizado juntamente com a quantidade total de itens na nota.\n\n        ...\n        \"notas\": {\n          \"codTipOper\": 167,\n          \"dtFaturamento\": \"04/02/2021\",\n          \"tipoFaturamento\": \"FaturamentoNormal\",\n          \"dataValidada\": true,\n          \"notasComMoeda\": {\n          \n          },         \n          \"nota\": [\n            {\n              \"$\": 7434\n            }\n          ],\n          \"faturarTodosItens\": true\n        }\n        ...\n        \n  - Faturamento por Item e por quantidade: Faturamento por item, permite selecionar o item que será faturado e a sua quantidade, permitindo assim, faturar parcialmente um pedido ou um item.\n  \n        ...\n        \"nota\": [\n          {\n            \"NUNOTA\": \"7432\",\n            \"itens\": {\n              \"item\": [\n                {\n                  \"QTDFAT\": 2,\n                  \"$\": 1\n                }\n              ],\n              \"faturarTodosItens\": false,\n            }\n          }\n        ],\n        ...\n  \n  \n  - Faturamento por Estoque: Para realizar o faturamento por estoque o parâmetro <b>FATEST-RESERV</b> deverá estar desligado no ERP.\n  \n        ...\n        \"notas\": {\n          \"codTipOper\": 167,\n          \"dtFaturamento\": \"04/02/2021\",\n          \"serie\": \"\",\n          \"dtSaida\": \"04/02/2021\",\n          \"hrSaida\": \"\",\n          \"tipoFaturamento\": \"FaturamentoEstoque\",\n          \"dataValidada\": true,\n          \"notasComMoeda\": {\n          \n          },         \n          \"nota\": [\n            {\n              \"$\": 7434\n            }\n          ],\n          \"faturarTodosItens\": true\n        }\n        ...\n  \n  - Faturamento por Estoque deixando pendente: Faturar pelo estoque deixando pendente, serve para atender os itens que possuem estoque, sendo assim, os itens que não possuem estoque ficam como pendentes para serem atendidos posteriormente em um novo faturamento. Para realizar o faturamento por estoque o parâmetro <b>FATEST-RESERV</b> deverá estar desligado no ERP.\n  \n        ...\n        \"notas\": {\n          \"codTipOper\": 167,\n          \"dtFaturamento\": \"04/02/2021\",\n          \"serie\": \"\",\n          \"dtSaida\": \"04/02/2021\",\n          \"hrSaida\": \"\",\n          \"tipoFaturamento\": \"FaturamentoEstoqueDeixandoPendente\",\n          \"dataValidada\": true,\n          \"notasComMoeda\": {\n          \n          },         \n          \"nota\": [\n            {\n              \"$\": 7439\n            }\n          ],\n          \"faturarTodosItens\": true\n        }\n        ...\n  \n  - Faturamento Direto:\n\n        ...\n        \"notas\": {\n          \"codTipOper\": 28600,\n          \"dtFaturamento\": \"27/07/2021\",\n          \"tipoFaturamento\": \"FaturamentoDireto\",\n          \"dataValidada\": true,\n          \"serie\": \"1\",\n          \"tipoFaturamento\": \"FaturamentoDireto\",\n          \"notasComMoeda\": {\n          \n          },         \n          \"nota\": [\n            {\n              \"$\": 7439\n            }\n          ],\n          \"faturarTodosItens\": true\n        }\n        ...\n\n\nOBSERVAÇÃO: Nota-se que que nas opções de por estoque a tag <b>tipoFaturamento</b> é alterada para <b>\\\"FaturamentoEstoque\\\"</b> ou <b>\\\"FaturamentoEstoqueDeixandoPendente\\\"</b> nos demais tag fica com a opção <b>FaturamentoNormal</b>. <br />\n<h3>Descritivo de Campos das Entidades</h3>\nAcesse [aqui](http://swagger.sankhya.com.br/tabelas/TGFCAB.html) o dicionário de dados da tabela <b>TGFCAB</b><br /> \n\n\n\n<h3>Exemplo de uso:</h3>\n<b>URL de chamada</b>: <ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul> <b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mgecom/service.sbr?serviceName=SelecaoDocumentoSP.faturar&outputType=json<br />\n<b>Corpo de requisição</b>\n\n    {\n       \"serviceName\":\"SelecaoDocumentoSP.faturar\",\n       \"requestBody\":{\n          \"notas\":{\n             \"codTipOper\":167,\n             \"dtFaturamento\":\"04/02/2021\",\n             \"tipoFaturamento\":\"FaturamentoNormal\",\n             \"dataValidada\":true,\n             \"notasComMoeda\":{\n                \n             },\n             \"nota\":[\n                {\n                   \"$\":7434\n                }\n             ],\n             \"codLocalDestino\":\"\",\n             \"faturarTodosItens\":true,\n             \"umaNotaParaCada\":\"false\",\n             \"ehWizardFaturamento\":true,\n             \"dtFixaVenc\":\"\",\n             \"ehPedidoWeb\":false,\n             \"nfeDevolucaoViaRecusa\":false\n          }\n       }\n    }\n\n\n<b>Retorno:</b><br />\n\n    {\n        \"serviceName\": \"SelecaoDocumentoSP.faturar\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"C688DB3E5193312092DC853D04B7BBE2\",\n        \"responseBody\": {\n            \"codUsuLogado\": {\n                \"$\": \"0\"\n            },\n            \"notas\": {\n                \"tipMov\": \"V\",\n                \"nota\": {\n                    \"$\": \"7435\"\n                }\n            }\n        }\n    }\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Cancelamento de pedidos realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/Salve": {
      "post": {
        "tags": [
          "Como incluir/alterar dados?"
        ],
        "summary": "Incluir e Alterar Dados",
        "description": "<h1>Regras de negócio</h1> \nUtilizando a API é possível realizar a inclusão, ou atualização, de dados no SankhyaOm. Para isso, utilizamos o serviço \\\"DatasetSP.save\\\". O mesmo serviço é utilizado para ambos os casos, o que vai indicar se é inclusão ou atualização é o envio da chave primária do registro ou não, ou seja, ao enviar a chave primária indica a necessidade de atualização, e caso a chave primária não seja enviada, a API entende que é necessário fazer a inclusão do registro.<br /><br />\n<h3>Exemplo de uso</h3> <ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul> <b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mge/service.sbr?serviceName=DatasetSP.save&outputType=json<br /><br />\n<b>Vejamos agora a estrutura base da requisição para incluir e atualizar dados via API:</b>\n\n\n    {\n       \"serviceName\":\"DatasetSP.save\",\n       \"requestBody\":{\n          \"entityName\":\"NomeDaEntidade\",\n          \"standAlone\":false,\n          \"fields\":[ \"CAMPO_1\",\n            \"CAMPO_2\",\n            \"CAMPO_N\"\n          ],\n          \"records\":[\n             {\n                \"pk\":{  // deve ser enviado apenas para situação de atualização\n                   \"NOME_PK\":\"VALOR_PK\"\n                },\n                \"values\":{\n                   \"0\": \"VALOR_1\",\n                   \"1\": \"VALOR_2\",\n                   \"2\": \"VALOR_N\"\n                }\n             }\n          ]\n       }\n    }\n\n\n<br /> Esta estrutura é padrão, e permite fazer inclusão, e atualização, em qualquer entidade existente no SankhyaOm. Para isso, basta indicar a Entidade (entityName), os campos (fields) e os respectivos valores (records).<br /> Veremos a seguir 2 exemplos práticos de inclusão e atualização de registros. <br /><br /><br />\n<h2>Como fazer a inclusão de dados?</h2>  Agora que temos a estrutura base da requisição para incluir e atualizar dados via API, vamos apresentar um exemplo de inclusão utilizando registros com PK simples e com PK composta. Veja a seguir a inclusão de um Parceiro e seu contato.<br /><br /> <b>Exemplo para incluir parceiro:</b>\n\n\n    {\n       \"serviceName\":\"DatasetSP.save\",\n       \"requestBody\":{\n          \"entityName\":\"Parceiro\",\n          \"standAlone\":false,\n          \"fields\":[\n             \"CODPARC\",\n             \"NOMEPARC\",\n             \"ATIVO\",\n             \"TIPPESSOA\",\n             \"CODCID\",\n             \"CODREG\",\n             \"CLASSIFICMS\",\n             \"ComplementoParc.SUGTIPNEGENTR\",\n             \"ComplementoParc.SUGTIPNEGSAID\"\n          ],\n          \"records\":[\n             {\n                \"values\":{\n                   \"1\":\"NOME DO PARCEIRO BEM AQUI\",\n                   \"2\":\"S\",\n                   \"3\":\"F\",\n                   \"4\":\"1\",\n                   \"5\":\"0\",\n                   \"6\":\"C\",\n                   \"7\":\"13\",\n                   \"8\":\"13\"\n                }\n             }\n          ]\n       }\n    }\n\n<b>Retorno:</b>\n\n    {\n        \"serviceName\": \"DatasetSP.save\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"EAE26797DAF8A192B2FFF990097337A7\",\n        \"responseBody\": {\n            \"total\": \"1\",\n            \"result\": [\n                [\n                    \"4454\",\n                    \"NOME DO PARCEIRO BEM AQUI\",\n                    \"S\",\n                    \"F\",\n                    \"1\",\n                    \"0\",\n                    \"C\",\n                    \"13\",\n                    \"13\"\n                ]\n            ]\n        }\n    }\n\n<br />No retorno, a primeira linha da requisição indica o Código atribuído a este parceiro (neste exemplo 4454).<br /> Agora, vamos fazer a inclusão de múltiplos registros utilizando PK do parceiro como chave de ligação para registros de detalhe. O json a seguir inclui dois contatos para o parceiro na entidade Contato que possui PK composta (CODPARC, CODCONTATO). Segue json para incluir os contatos para o parceiro recém incluído:<br /><br />\n<b>Exemplo para incluir os contatos do parceiro:</b>\n\n    {\n       \"serviceName\":\"DatasetSP.save\",\n       \"requestBody\":{\n          \"entityName\":\"Contato\",\n          \"standAlone\":false,\n          \"fields\":[\n             \"CODCONTATO\",\n             \"ATIVO\",\n             \"NOMECONTATO\",\n             \"EMAIL\",\n             \"CELULAR\"\n          ],\n          \"records\":[\n             {\n                \"foreignKey\":{\n                   \"CODPARC\":\"4454\"\n                },\n                \"values\":{\n                   \"1\":\"S\",\n                   \"2\":\"Nome do Contato 1\",\n                   \"4\":\"33  999998888\"\n                }\n             },\n             {\n                \"foreignKey\":{\n                   \"CODPARC\":\"4454\"\n                },\n                \"values\":{\n                   \"1\":\"S\",\n                   \"2\":\"Nome do Contato 2\",\n                   \"4\":\"33  999998888\"\n                }\n             }\n          ]\n       }\n    }\n\n<b>Retorno:</b><br/>\n\n    {\n        \"serviceName\": \"DatasetSP.save\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"A0B2291C8ED35C5DD22E42B36B98BE97\",\n        \"responseBody\": {\n            \"total\": \"2\",\n            \"result\": [\n                [\n                    \"1\",\n                    \"S\",\n                    \"NOME DO CONTATO 1\",\n                    \"\",\n                    \"33  999998888\"\n                ],\n                [\n                    \"2\",\n                    \"S\",\n                    \"NOME DO CONTATO 2\",\n                    \"\",\n                    \"33  999998888\"\n                ]\n            ]\n        }\n    }\n\n\n<br />Dessa forma, com uma requisição conseguimos realizar múltiplas inclusões. Note que incluirmos o contato código 1 e 2 para o parceiro 4454.\\n<br />Vale ressaltar que não é necessário enviar todos os dados (records) indicados na seção de campos (fields). O exemplo acima indica 5 campos, mas envia apenas 3 informações para realizar a inclusão do parceiro.<br /><br />\n<h2>Como fazer alterações em dados?</h2>  Agora que vimos como incluir registros, vamos fazer algumas atualizações nos cadastros incluídos recentemente. Vamos atualizar o nome do parceiro e adicionar e-mails aos contatos que foram vinculados ao parceiro.<br />\nPara realizar uma atualização de cadastro, basta indicar a PK forte do registro desejado. Vejamos a seguir o json para atualizar o cadastro do parceiro 4454:<br />\n\n    {\n       \"serviceName\":\"DatasetSP.save\",\n       \"requestBody\": {\n          \"entityName\":\"Parceiro\",\n          \"standAlone\":false,\n          \"fields\": [\n             \"CODPARC\",\n             \"NOMEPARC\",\n             \"ATIVO\",\n             \"TIPPESSOA\"\n          ],\n          \"records\":[\n             {\n                \"pk\": {\n                   \"CODPARC\":\"4454\"\n                },\n                \"values\": {\n                   \"1\":\"JOSE DA SILVA XAVIER\"\n                }\n             }\n          ]\n       }\n    }\n\n\n\n\n<b>Retorno:</b><br />\n\n    {\n        \"serviceName\": \"DatasetSP.save\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"E5526480FF334FF05DC6118028A60AE0\",\n        \"responseBody\": {\n            \"total\": \"1\",\n            \"result\": [\n                [\n                    \"4454\",\n                    \"JOSE DA SILVA XAVIER\",\n                    \"S\",\n                    \"F\"\n                ]\n            ]\n        }\n    }\n\n\n<br />Agora vamos atualizar o cadastro dos dois contatos, adicionando e-mails aos mesmos. Segue json para realizar a requisição:<br />\n\n    {\n       \"serviceName\":\"DatasetSP.save\",\n       \"requestBody\":{\n          \"entityName\":\"Contato\",\n          \"standAlone\":false,\n          \"fields\":[\n             \"CODCONTATO\",\n             \"ATIVO\",\n             \"NOMECONTATO\",\n             \"EMAIL\",\n             \"CELULAR\"\n          ],\n          \"records\":[\n             {\n                \"pk\":{\n                   \"CODPARC\":\"4454\",\n                   \"CODCONTATO\":\"1\"\n                },\n                \"values\":{\n                   \"3\":\"financeiro@empresa.com.br\"\n                }\n             },\n             {\n                \"pk\":{\n                   \"CODPARC\":\"4454\",\n                   \"CODCONTATO\":\"2\"\n                },\n                \"values\":{\n                   \"3\":\"comercial@empresa.com.br\"\n                }\n             }\n          ]\n       }\n    }\n\n\n\n<b>Retorno:</b><br />\n\n    {\n        \"serviceName\": \"DatasetSP.save\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"42C865B17822AC52F3F58DFEA7394BE5\",\n        \"responseBody\": {\n            \"total\": \"2\",\n            \"result\": [\n                [\n                    \"1\",\n                    \"S\",\n                    \"NOME DO CONTATO 1\",\n                    \"financeiro@empresa.com.br\",\n                    \"33  999998888\"\n                ],\n                [\n                    \"2\",\n                    \"S\",\n                    \"NOME DO CONTATO 2\",\n                    \"comercial@empresa.com.br\",\n                    \"33  999998888\"\n                ]\n            ]\n        }\n    }\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Cadastro efetuado com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/loadRecords": {
      "get": {
        "tags": [
          "Como consultar dados?"
        ],
        "summary": "Consultas com loadRecords (para vários registros)",
        "description": "<h1>Regras de negócio</h1> A API possui um serviço genérico para aplicar consultas em todas as Entidades disponíveis no ERP: <b>CRUDServiceProvider.loadRecords</b>. Por definição, uma entidade mapeia uma tabela que está no banco de dados, vejamos a seguir alguns exemplos de Entidade:<br /> <b>•</b> Entidade Produtos mapena a tabela TGFPRO<br /> <b>•</b> Entidade Parceiros mapeia a tabela TGFPAR<br />\n\n<br /> <h3>Exemplo de uso:</h3>\n<ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul>\n<b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecords&outputType=json\n<br />Vejamos a seguir a estrutura completa de uma requisição do serviço loadRecords:\n\n    {\n        \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n        \"requestBody\": {\n            \"dataSet\": {\n                \"rootEntity\": \"Produto\",\n                \"ignoreCalculatedFields\": \"true\",\n                \"useFileBasedPagination\": \"true\",\n                \"includePresentationFields\": \"N\",\n                \"tryJoinedFields\": \"true\",\n                \"modifiedSince\": \"2024-04-16T12:59:59\",\n                \"offsetPage\": \"0\",\n                \"criteria\": {\n                    \"expression\": {\n                      \"$\": \"CODPROD IN ( ?, ? ) AND DESCRPROD LIKE '%?%'\"\n                    },\n                    \"parameter\": [\n                        {\n                            \"$\": \"1\",\n                            \"type\": \"I\"\n                        },\n                        {\n                            \"$\": \"2\",\n                            \"type\": \"I\"\n                        },\n                        {\n                            \"$\": \"QUEIJO\",\n                            \"type\": \"S\"\n                        }\n                    ]\n                },\n                \"entity\": [\n                    {\n                        \"path\": \"\",\n                        \"fieldset\": {\n                            \"list\": \"CODPROD, DESCRPROD\"\n                        }\n                    },\n                    {\n                        \"path\": \"GrupoProduto\",\n                        \"fieldset\": {\n                            \"list\": \"CODGRUPOPROD, DESCRGRUPOPROD\"\n                        }\n                    }\n                ]\n            }\n        }\n    }\n\nAgora, vamos detalhar as propriedades utilizadas:<br /> <ul>\n  <li>serviceName: nome do serviço e por padrão, sempre será: CRUDServiceProvider.loadRecords\nrootEntity: nome da entidade a ser consultada.</li>\n  <li>modifiedSince: faz referência a funcionalidade de logAlteracoesTabelas (<a href=\"https://developer.sankhya.com.br/reference/get_logalteracoestabelas\">clique aqui</a> para mais detalhes sobre o recurso de LogAlteracoesTabelas). Quando esta funcionalidade está habilitada, é possível trazer apenas registros que tiveram alteração a partir de uma determinada data/hora. Vale ressaltar que este parâmetro é opcional, e ao enviar valores o serviço irá considerar “apenas” registros contidos no logAlteracoesTabelas. Caso não tenha informações logadas no sistema, o retorno do serviço será vazio (ZERO registros).</li>\n  <li>ignoreCalculatedFields: quando configurado como `true`, os campos calculados são ignorados e apenas os campos persistidos em banco são retornados, reduzindo o volume de processamento e aumentando a performance da consulta. O valor padrão é false, ou seja, por padrão os campos calculados são incluídos no resultado.</li>\n  <li>useFileBasedPagination: este atributo habilita a paginação baseada em disco. O padrão é utilizar memória do servidor para fazer paginações. É indicado para consultas com grande volume de dados (superior a 1000 páginas). Quando configurado como `true`, o processamento passa a ser realizado em disco, garantindo maior estabilidade e performance em cenários massivos. O valor padrão é false, mantendo a paginação tradicional para consultas comuns.</li>\n  <li>offsetPage: indica a página a ser retornada. A página tem início em 0 (zero) e novas requisições devem ser realizadas, incrementando este valor, sempre que o retorno indicar mais registros através do parametro \"hasMoreResult\" com valor \"true\".</li>\n  <li>criteria -> expression: condição da consulta. Sempre que houver \"parâmetros\" variáveis, deve ser utilizado os parâmetros (parameter) para indicar os valores para critério da consulta.</li>\n  <li>criteria -> parameter: deve ser informado os valores para os parâmetros utilizados na consulta (clique aqui para mais detalhes sobre o recurso de critérios nos filtros).</li>\n  <li>entity: são indicados os campos a serem retornados na consulta. Os campos estão disponíveis no <a href=\"https://ajuda.sankhya.com.br/hc/pt-br/articles/360044597294-Dicion%C3%A1rio-de-Dados\">Dicionário de Dados</a> para identificar quais campos serão necessários em cada entidade consultada. Esta propriedade também permite obter informações de entidades com ligação direta ao registro consultado. Ex.: para buscar um parceiro, através do CODBAI é possível trazer na consulta o nome do bairro. Isso se aplica a qualquer informação com ligação similar a esta (cidade, endereço, perfil, etc.). Clique aqui e para mais detalhes sobre \"join\" de dados nas consultas.</li>\n</ul>\n<br />Vejamos agora um exemplo de consulta de parceiros do tipo \"Cliente\" realizado na entidade \"Parceiro\":\n\n    {\n        \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n        \"requestBody\": {\n            \"dataSet\": {\n                \"rootEntity\": \"Parceiro\",\n                \"ignoreCalculatedFields\": \"true\",\n                \"useFileBasedPagination\": \"true\",\n                \"includePresentationFields\": \"N\",\n                \"tryJoinedFields\": \"true\",\n                \"offsetPage\": \"0\",\n                \"criteria\": {\n                    \"expression\": {\n                      \"$\": \"CLIENTE = ?\"\n                    },\n                    \"parameter\": [\n                        {\n                            \"$\": \"S\",\n                            \"type\": \"S\"\n                        }\n                    ]\n                },\n                \"entity\": [\n                    {\n                        \"path\": \"\",\n                        \"fieldset\": {\n                            \"list\": \"CODPARC, NOMEPARC, NUMEND, COMPLEMENTO, CEP\"\n                        }\n                    },\n                    {\n                        \"path\": \"Endereco\",\n                        \"fieldset\": {\n                            \"list\":\"CODEND, TIPO, NOMEEND\"\n                        }\n                    },\n                    {\n                        \"path\": \"Bairro\",\n                        \"fieldset\": {\n                            \"list\": \"CODBAI, NOMEBAI\"\n                        }\n                    },\n                    {\n                        \"path\": \"Cidade\",\n                        \"fieldset\": {\n                            \"list\": \"CODCID, NOMECID, UF\"\n                        }\n                    }\n                ]\n            }\n        }\n    }\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/loadRecord": {
      "get": {
        "tags": [
          "Como consultar dados?"
        ],
        "summary": "Consultas com loadRecord (para registro único)",
        "description": "<h1>Regras de negócio</h1> A API possui um serviço genérico para aplicar consultas em todas as Entidades disponíveis no ERP: <b>CRUDServiceProvider.loadRecord</b> com o objetivo de obter 1 registro. O escopo da requisição é mais simples que <b>CRUDServiceProvider.loadRecord</b> e exige apenas o envio dos critérios por meio da tag \"rows\".\n\n<br /> <h3>Exemplo de uso:</h3>\n<ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul>\n<b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecord&outputType=json\n<br />Vejamos a seguir a estrutura completa de uma requisição do serviço loadRecords:\n\n    {\n       \"serviceName\": \"CRUDServiceProvider.loadRecord\",\n       \"requestBody\": {\n          \"dataSet\": {\n             \"rootEntity\": \"Produto\",\n             \"entity\": [\n                {\n                   \"path\": \"\",\n                   \"fieldset\": {\n                      \"list\": \"CODPROD, DESCRPROD\"\n                   }\n                },\n                {\n                   \"path\": \"GrupoProduto\",\n                   \"fieldset\": {\n                      \"list\": \"CODGRUPOPROD, DESCRGRUPOPROD\"\n                   }\n                },\n                {\n                   \"path\": \"AliquotaIPI\",\n                   \"fieldset\": {\n                      \"list\": \"CODIPI, PERCENTUAL\"\n                   }\n                }\n             ],\n             \"rows\": {\n                \"row\": {\n                   \"CODPROD\": {\n                      \"$\": \"4\"\n                   }\n                }\n             }\n          }\n       }\n    }\n\nO retorno para esta requisição é:<br />\n\n    {\n        \"serviceName\": \"CRUDServiceProvider.loadRecord\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"2B265FCF92393625B097EDE09B031295\",\n        \"responseBody\": {\n            \"entities\": {\n                \"total\": \"1\",\n                \"entity\": {\n                    \"GrupoProduto_CODGRUPOPROD\": {\n                        \"$\": \"10401\"\n                    },\n                    \"AliquotaIPI_PERCENTUAL\": {\n                        \"$\": \"3\"\n                    },\n                    \"GrupoProduto_DESCRGRUPOPROD\": {\n                        \"$\": \"REVENDA DE PRODUTO IMPORTADO\"\n                    },\n                    \"_rmd\": {\n                        \"CODPROD\": {\n                            \"$\": \"{\\\"decVlr\\\":2,\\\"decQtd\\\":0,\\\"controle\\\":{\\\"tipoContEst\\\":\\\"N\\\",\\\"listaContEst\\\":[\\\"\\\"],\\\"usaMascara\\\":false}}\",\n                            \"provider\": \"PRODUTORMP\"\n                        }\n                    },\n                    \"DESCRPROD\": {\n                        \"$\": \"AGUA TONICA \"\n                    },\n                    \"CODPROD\": {\n                        \"$\": \"4\"\n                    },\n                    \"AliquotaIPI_CODIPI\": {\n                        \"$\": \"2\"\n                    }\n                }\n            }\n        }\n    }\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/logAlteracoesTabelas": {
      "get": {
        "tags": [
          "Log de Alterações"
        ],
        "summary": "Histórico de Alterações (LOG de Tabelas)",
        "description": "<h1>Regras de negócio</h1> \nEsse serviço permite consultar a data de alteração de um período específico que seja passado no campo dhAlter e entidades específicas passadas no campo Entidade. <br /><br />\nPara utilizar a API, deve-se fazer uma requisição <b>POST</b> para o endpoint correspondente ao serviço desejado. <br />\n<h3>Dependências</h3>\n<br>Da versão `4.35 (ou superior) do SankhyaOm`, basta seguir [este guia](https://ajuda.sankhya.com.br/hc/pt-br/articles/34538747408407-Log-de-Altera%C3%A7%C3%B5es-para-API-como-ativar-desativar-e-acompanhar-os-registros-de-altera%C3%A7%C3%A3o) para para ativar a rotina.\n\n\n\n<br> <br>Da versão 4.34, ou anterior, o processo é conforme segue: <br>1) Para que o serviço retorne informações, é necessário habilitar o parametro <b>LOGTABOPER</b> disponível nas Preferencias do SankhyaOm. Este liga ou desliga a funcionalidade de Log.<br /> ![Parâmetro para ativação da rotina](https://images2.imgbox.com/44/7b/MmiPYv6O_o.png)\n\n<b>IMPORTANTE:</b> Ao ativar este parâmetro, serão criados gatilhos (triggers) no Banco de Dados. Durante o processo de ativação, pode haver um bloqueio temporário das tabelas, o que pode impactar a performance do SankhyaOM. Para minimizar qualquer impacto negativo no desempenho do sistema, recomendamos que a ativação do parâmetro seja realizada fora do horário de operação. <br>\n<br /> 2) Temos também o parâmetro <b>LOGTABMAXAGE</b> que permite alterar a quantidade de dias que o Log ficará disponível. Por padrão, o tempo é de 3 dias corridos e este parâmetro permite alterar para até 7 dias corridos. Vale ressaltar que não é possível guardar os logs por mais de 7 dias. <br />\n![Parâmetro para definição de tempo para armazenar os logs](https://images2.imgbox.com/62/0b/eaPMSbWT_o.png)\n\n\n\n<h3>Entidades e tabelas logadas</h3>\nAo habilitar o parâmetro LOGTABOPER as seguintes entidades terão suas inserções, edições ou deleções logadas para consulta pela API Gateway: [link](https://developer.sankhya.com.br/reference/entidades-para-log-de-altera%C3%A7%C3%A3o)</br></br> \n<h3>Detalhes Técnicos</h3> O campo <u>entidades</u> é <b>obrigatório</b>. Ao menos uma entidade deve ser requisitada. <br />O campo <u>dhAlter</u> não é <b>obrigatório</b>. Quando não especificado, todos os logs referentes às entidades são consultados. Ao especificar a data e hora de alteração, são retornados os logs cuja a data de alteração é maior ou igual à dhAlter. <br/><br/>\n<b>Importante:</b> O parâmetro modifiedSince recebe o padrão da data da RFC3339: “YYYY-MM-DDTHH24:MI:SS”<br />\n<h3>Requisitos Mínimos</h3>\nVersões do SankhyaOM:\n  - 4.25b188;\n  - 4.26b109;\n  - 4.27 até 4.34;\n  - A partir da 4.35 esta rotina é ativada através da tela <b>[Configurações » Rotinas » Log de Alterações para API](https://developer.sankhya.com.br/reference/entidades-para-log-de-altera%C3%A7%C3%A3o)</b> no SankhyaOm;\n  - Banco de dados Oracle 11G ou superior;\n  - Banco de Dados SQL Server 2017 ou superior.\n\n<br /> Para realizarmos a busca através do Json, utilizamos o serviço <i><b>\\\"GatewayServiceProviderSP.logAlteracoesTabelas\\\".</b></i><br />\n<h3>Exemplo de uso:</h3> <ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul> <b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mge/service.sbr?serviceName=GatewayServiceProviderSP.logAlteracoesTabelas&outputType=json\n<br /><br /><b>Corpo de requisição</b>\n\n    {\n      \"serviceName\": \"GatewayServiceProviderSP.logAlteracoesTabelas\",\n      \"status\": \"1\",\n      \"requestBody\": {\n      \"dhAlter\": \"2023-01-27T11:00:28\",\n      \"size\":17,\n      \"page\":0,\n      \"entidades\": [\n          {\n            \"nome\": \"Produto\"\n           },\n           {\n            \"nome\": \"CabecalhoNota\"\n           },\n           {\n            \"nome\": \"ItemNota\"\n           },\n           {\n            \"nome\": \"Estoque\"\n           }\n          ]\n       }\n    }\n\n\n<b>Retorno:</b>\n\n    {\n        \"serviceName\": \"GatewayServiceProviderSP.logAlteracoesTabelas\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"2F153D4BD713800F9B770DCC4FA1FE12\",\n         \"responseBody\": {\n            \"registros\": [\n                {\n                  \"entidade\": \"Produto\",\n                  \"dtAlter\": \"2023-02-27T08:14:46\",\n                  \"evento\": \"CHANGE\",\n                  \"pk\": [\n                     {\n                      \"nomeColumnPk\": \"CODPROD\",\n                      \"valorPk\": 1254\n                     }\n                   ]\n                },\n                {\n                  \"entidade\": \"CabecalhoNota\",\n                  \"dtAlter\": \"2023-02-27T08:14:46\",\n                  \"evento\": \"CHANGE\",\n                  \"pk\": [\n                     {\n                      \"nomeColumnPk\": \"NUNOTA\",\n                      \"valorPk\": 2144\n                     }\n                  ]\n                },\n                {\n                    \"entidade\": \"ItemNota\",\n                    \"dtAlter\": \"2023-02-27T09:00:12\",\n                    \"evento\": \"CHANGE\",\n                    \"pk\": [\n                        {\n                            \"nomeColumnPk\": \"NUNOTA\",\n                            \"valorPk\": 27283\n                        },\n                        {\n                            \"nomeColumnPk\": \"SEQUENCIA\",\n                            \"valorPk\": 1\n                        }\n                    ]\n                },\n                {\n                    \"entidade\": \"Estoque\",\n                    \"dtAlter\": \"2023-02-27T09:01:14\",\n                    \"evento\": \"CHANGE\",\n                    \"pk\": [\n                        {\n                            \"nomeColumnPk\": \"CONTROLE\",\n                            \"valorPk\": \"018-23-76800\"\n                        },\n                        {\n                            \"nomeColumnPk\": \"TIPO\",\n                            \"valorPk\": \"P\"\n                        },\n                        {\n                            \"nomeColumnPk\": \"CODPARC\",\n                            \"valorPk\": 0\n                        },\n                        {\n                            \"nomeColumnPk\": \"CODLOCAL\",\n                            \"valorPk\": 70180000\n                        },\n                        {\n                            \"nomeColumnPk\": \"CODPROD\",\n                            \"valorPk\": 504\n                        },\n                        {\n                            \"nomeColumnPk\": \"CODEMP\",\n                            \"valorPk\": 1\n                        }\n                    ]\n                }\n            ]\n         }\n    }\n\nAlém disso, existe uma forma de otimizar o processo e utilizar um parametro na requisição direta no loadRecords para puxar apenas registros que foram alterados a partir de um determinado momento. Basta inclui a propriedade <i><b>\\\"modifiedSince\\\".</b></i> na requisição. <br />\n<h3>Exemplo de uso direto no end-point loadRecords</h3>\n\n    {\n      \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n      \"requestBody\": {\n        \"dataSet\": {\n          \"rootEntity\": \"Parceiro\",\n          \"includePresentationFields\": \"N\",\n          \"offsetPage\": \"0\",\n          \"modifiedSince\":\"2024-04-16T12:59:59\",\n          \"criteria\": {\n            \"expression\": {\n              \"$\": \"\"\n            }\n          },\n          \"entity\": {\n            \"fieldset\": {\n              \"list\": \"CODPARC,NOMEPARC,FORNECEDOR,CLIENTE,CODCID,CLIENTE,CLASSIFICMS\"\n            }\n          }\n        }\n      }\n    }\n\n<br />O exemplo acima retorna todos os Parceiroso  que foram editados a partir de 16/04/2024 12:59:59, conforme indicado no parametro <i><b>\\\"modifiedSince\\\".</b></i> presente na requisição.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/CriteriosLoadRecords": {
      "get": {
        "tags": [
          "Como consultar dados?"
        ],
        "summary": "Critérios em Consultas loadRecords",
        "description": "Quando temos parâmetros variáveis, como é o caso da expressão aqui usada, devemos colocar um '?' onde o valor do parâmetro será injetado. Para cada '?' na expressão devemos ter um elemento 'parameter'. Os possíveis valores para o atributo 'type' são: <ul>\n  <li>D = Data sem horário</li>\n  <li>H = Data com horário (no seguinte formato: DD/MM/AAAA HH:MM:SS)</li>\n  <li>F = Número decimal (decimal separado por '.')</li>\n  <li>I = Número inteiro</li>\n  <li>S = Texto</li>\n</ul> <br />IMPORTANTE: Sempre usar parâmetro para critérios do tipo data, pois colocar a data direto no SQL pode não funcionar corretamente devido ao charset, formato e tipo do banco de dados.\n\n<h3>Segue exemplo utilizando filtro com parâmetros</h3>\n<ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul>\n<b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecords&outputType=json <br /><br />\n\n<b>Corpo de requisição</b>\n\n\n    {\n        \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n        \"requestBody\": {\n            \"dataSet\": {\n                \"rootEntity\": \"Produto\",\n                \"includePresentationFields\": \"N\",\n                \"tryJoinedFields\":\"true\",\n                \"offsetPage\": \"0\",\n                \"criteria\": {\n                    \"expression\": {\n                      \"$\": \"CODPROD IN ( ?, ? )\"\n                    },\n                    \"parameter\":\n                        [\n                            {\n                                \"$\": \"1\",\n                                \"type\": \"I\"\n                            },\n                            {\n                                \"$\": \"2\",\n                                \"type\": \"I\"\n                            }\n                        ]\n                },\n                \"entity\": {\n                    \"fieldset\": {\n                        \"list\": \"CODPROD, DESCRPROD\"\n                    }\n                }\n            }\n        }\n    }\n\n<br />Este exemplo retorna os produtos com código 1 e 2. A seguir um exemplo de utilização com cada tipo de parâmetro, focando na tag “criteria” onde a mudança é necessária:\n<br />Aplicando filtro com número inteiro:\n\n    ...\n                \"criteria\": {\n                    \"expression\": {\n                      \"$\": \"NUNOTA = ?\"\n                    },\n                    \"parameter\": [\n                        {\n                            \"$\": \"9120\",\n                            \"type\": \"I\"\n                        }\n                    ]\n                },\n    ...\n\n<br />Aplicando filtro com número inteiro utilizando IN:\n\n    ...\n                \"criteria\": {\n                    \"expression\": {\n                      \"$\": \"NUNOTA IN (?, ?, ?)\"\n                    },\n                    \"parameter\": [\n                        {\n                            \"$\": \"9120\",\n                            \"type\": \"I\"\n                        },\n                        {\n                            \"$\": \"9141\",\n                            \"type\": \"I\"\n                        },\n                        {\n                            \"$\": \"9159\",\n                            \"type\": \"I\"\n                        }\n                    ]\n                },\n    ...\n\n<br />Aplicando filtro com data e hora:\n\n    ...\n                \"criteria\": {\n                    \"expression\": {\n                      \"$\": \"DTFATUR >= ?\"\n                    },\n                    \"parameter\": [\n                        {\n                            \"$\": \"20/05/2022 09:31:43\",\n                            \"type\": \"H\"\n                        }\n                    ]\n                },\n    ...\n\n<br />Aplicando filtro entre datas:\n\n    ...\n                \"criteria\": {\n                    \"expression\": {\n                      \"$\": \"DHBAIXA IS NULL AND DTVENC BETWEEN ? AND ?\"\n                    },\n                    \"parameter\": [\n                        {\n                            \"$\": \"01/05/2022\",\n                            \"type\": \"D\"\n                        },\n                        {\n                            \"$\": \"31/05/2022\",\n                            \"type\": \"D\"\n                        }\n                    ]\n                },\n    ...\n\n<br />Aplicando filtro com texto:\n\n    ...\n                \"criteria\": {\n                    \"expression\": {\n                      \"$\": \"USOPROD = ? AND DESCRPROD LIKE '%?%'\"\n                    },\n                    \"parameter\": [\n                        {\n                            \"$\": \"V\",\n                            \"type\": \"S\"\n                        },\n                        {\n                            \"$\": \"CHEVE\",\n                            \"type\": \"S\"\n                        }\n                    ]\n                },\n    ...\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Cadastro efetuado com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/PrecoProduto": {
      "get": {
        "tags": [
          "Serviços Especialistas"
        ],
        "summary": "Consulta de Preços",
        "description": "<h1>Regras de negócio</h1> \nPara realizar consulta “Tabela de Preço” no carregamento das regras/exceções da tabela de preço, o sistema irá trazer os registros de forma paginada, ou seja, os dados não irão ser carregados todos de uma vez só. O sistema irá trazer aos poucos os registros, para que você possa ir utilizando a tela enquanto as informações não são totalmente carregadas.<br />\nAlém disso, é possível que seja editado um registro (somente no modo formulário) enquanto os demais registros são carregados na tela. Quando estiver sendo feita a edição de um registro e o carregamento de todos os registros for concluído, o sistema irá emitir uma mensagem para  confirmação da edição.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br /> https://ajuda.sankhya.com.br/hc/pt-br/articles/360044603854-Tabelas-de-Pre%C3%A7os<br />\n<h3>Dependências</h3> <b><font color=red>Não possui dependências</font></b><br /><br />\n<h3>Detalhes Técnicos</h3> No endpoint ConsultaProdutosSP.consultaProdutos, não é possível informar os parâmetros codtab ou nutab, pois o serviço retorna exclusivamente os preços previamente configurados na própria consulta de produtos, desconsiderando quaisquer códigos de tabela informados na requisição.\n        \n<h3>Exemplo de uso:</h3> <ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul> <b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mgecom/service.sbr?serviceName=ConsultaProdutosSP.consultaProdutos&outputType=json <br />\n<b>Corpo de requisição</b>\n\n    {\n        \"serviceName\": \"ConsultaProdutosSP.consultaProdutos\",\n          \"requestBody\": {\n              \"filtros\": {\n                  \"criterio\": {\n                      \"resourceID\": \"br.com.sankhya.com.cons.consultaProdutos\",\n                      \"PERCDESC\": \"0\",\n                      \"CODPROD\": {\n                          \"$\": \"6\"\n                      }\n                  },\n                  \"isPromocao\": {\n                      \"$\": \"false\"\n                  },\n                  \"isLiquidacao\": {\n                      \"$\": \"false\"\n            }\n          }\n        }\n      }\n    }\n\n<b>Retorno:</b><br />\n\n    {\n        \"serviceName\": \"ConsultaProdutosSP.consultaProdutos\",\n          \"status\": \"1\",\n          \"pendingPrinting\": \"false\",\n          \"transactionId\": \"DA7090050593CA45FA74E760480BAA0B\",\n          \"responseBody\": {\n              \"produtos\": {\n                  \"maxregconsprod\": {\n                      \"$\": \"0\"\n                  },\n                  \"produto\": {\n                      \"ISPROMOCAO\": \"false\",\n                      \"ISLIQUIDACAO\": \"false\",\n                      \"Cadastro_COMPLDESC\": {},\n                      \"Cadastro_CODPROD\": {\n                          \"$\": \"6\"\n                      },\n                      \"Cadastro_DESCRPROD\": {\n                          \"$\": \"AR CONDICIONADO YORK 18.000 BTU'S\"\n                      },\n                      \"TIPCONTEST\": {\n                          \"$\": \"N\"\n                      },\n                      \"TIPLANCNOTA\": {\n                          \"$\": \"A\"\n                      },\n                      \"Preço_1\": {\n                          \"$\": \"0.00\",\n                          \"PRECOBASE_Preço_1\": \"0\"\n                      },\n                      \"DECQTD\": {\n                          \"$\": \"0\"\n                      },\n                      \"ORDEMMEDIDA\": {\n                          \"$\": \"0\"\n                      },\n                      \"Estoque_1\": {},\n                      \"DECVLR\": {\n                          \"$\": \"2\"\n                      },\n                      \"CODVOL\": {\n                          \"$\": \"UN\"\n                      },\n                      \"DESCRPROD\": {\n                          \"$\": \"AR CONDICIONADO YORK 18.000 BTU'S\"\n                      },\n                      \"CODPROD\": {\n                          \"$\": \"6\"\n                      },\n                      \"TEMIMAGEM\": {\n                          \"$\": \"N\"\n                      },\n                      \"PRECOBASE\": {\n                          \"$\": \"0.00\"\n                    }\n                }\n            }\n        }\n    }\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Cadastro efetuado com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/loadView": {
      "get": {
        "tags": [
          "Como consultar dados?"
        ],
        "summary": "Consultas com loadView (não tem paginação)",
        "description": "A API disponibiliza o serviço loadView (CRUDServiceProvider.loadView) para realizar consulta em VIEWs.<br /> Existem algumas considerações importantes que devem ser levadas em consideração antes de sua utilização. Seguem:  <ul>\n  <li>O serviço não possui paginação nativa, portanto, a paginação deve ser feita pelo integrador que realiza a requisição.</li>\n  <li>Caso a view não seja performática, é indicado a utilização de mecanismos de indexação para que a performance seja adequada, como Materialized Views (fique atento com as regras de atualização dos dados desse tipo de objeto).</li>\n  <li>Para um volume muito grande de dados, pode ser utilizado um indicador de linha para criar a paginação de maneira mais simples. Segue um exemplo para ORACLE e SQL Server:</li>\n</ul>\n<b>Oracle</b>\n\n    CREATE VIEW VW_ITENS_PEDIDO \n    AS\n    SELECT T.* \n    FROM (\n        SELECT ROWNUM AS LINHA\n        , PRO.CODPROD\n        , PRO.DESCRPROD\n        , ITE.NUNOTA\n        , ITE.SEQUENCIA\n        , ITE.QTDNEG\n        , ITE.VLRUNIT\n        , ITE.VLRTOT\n        FROM TGFITE ITE\n        INNER JOIN TGFPRO PRO ON PRO.CODPROD = ITE.CODPROD\n    ) T\n\n<b>SQL Server</b>\n\n    CREATE VIEW VW_ITENS_PEDIDO \n    AS\n    SELECT T.* \n    FROM (\n        SELECT ROW_NUMBER() OVER(ORDER BY NUNOTA, SEQUENCIA) AS LINHA\n        , PRO.CODPROD\n        , PRO.DESCRPROD\n        , ITE.NUNOTA\n        , ITE.SEQUENCIA\n        , ITE.QTDNEG\n        , ITE.VLRUNIT\n        , ITE.VLRTOT\n        FROM TGFITE ITE\n        INNER JOIN TGFPRO PRO ON PRO.CODPROD = ITE.CODPROD\n    ) T\n\n\nNos exemplos acima foi utilizado a TGFITE que detém um grande volume de dados, na maioria das vezes.<br /> Segue exemplo de utilização do serviço com a VIEW criada no exemplo acima:\n<h3>Exemplo de uso</h3> <ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul> <b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadView&outputType=json\n<br /><br /><b>Corpo de requisição</b>\n\n    {\n        \"serviceName\": \"CRUDServiceProvider.loadView\",\n        \"requestBody\": {\n            \"query\": {\n                \"viewName\": \"VW_ITENS_PEDIDO\",\n                \"where\": {\n                    \"$\": \"LINHA BETWEEN 15000 AND 15499\"\n                },\n                \"fields\": {\n                    \"field\": {\n                        \"$\": \"CODPROD, DESCRPROD, NUNOTA, SEQUENCIA, QTDNEG, VLRUNIT, VLRTOT\"\n                    }\n                }\n            }\n        }\n    }\n\n<br />A requisição acima retorna 500 registros, considerando linhas de 15.000 a 15.499.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    },
    "/AnexaArquivos": {
      "get": {
        "tags": [
          "Serviços Especialistas"
        ],
        "summary": "Anexar Arquivos",
        "description": "<h1>Anexando documentos em registros específicos</h1>\nA maioria das entidades do sistema permite anexar documentos em suas respectivas telas (ex.: cadastro de parceiros, cadastro de produtos, item da nota, contratos, etc.). O objetivo deste tutorial é apresentar como isso pode ser feito via API.\nO processo é realizado em duas etapas: <ul>\n  <li>o primeiro passo é enviar o arquivo para o servidor.</li>\n  <li>o segundo passo salva o anexo e endereça ao respectivo registro.</li>\n</ul>\nPara ilustrar, apresentamos a seguir as duas requisições, detalhando o objetivo e impacto de cada ação, bem como o papel de cada atributo utilizado nas requisições.  \n<br /><br /> \n<h2>Observação Importante</h2>\nEste serviço de anexos é destinado para envio de anexos para entidades que utilizam o componente padrão de anexos (componente do \"clipe\") na interface do SankhyaOm.\nEntidades que não exibem o ícone de clipe na tela - como, por exemplo, o Cabeçalho de Nota, Ordem de Serviço - não são compatíveis com este mecanismo de anexos destacado aqui.\n<br /><br /> \n<h2>Parte 1: Envio do arquivo</h2>\nA requisição basicamente faz um POST de um formulário do tipo multipart, enviando o documento utilizando uma sessionKey que será utilizada posteriormente, no serviço de endereçamento do anexo ao registro desejado. Seguem os principais atributos dessa requisição:<br /> \n<ul>\n  <li>URL Gateway Produção: https://api.sankhya.com.br/</li>\n  <li>URL Gateway Sandbox: https://api.sandbox.sankhya.com.br/</li>\n</ul>\n<b>URL de chamada</b>: https://[URL_GATEWAY]/gateway/v1/mge/sessionUpload.mge<br /> Com os seguintes parâmetros na URL: <ul>\n  <li>sessionkey=ANEXO_SISTEMA_ItemNota_2097_1</li>\n  <li>fitem=S</li>\n  <li>salvar=S</li>\n  <li>useCache=N</li>\n</ul>\nDentre esses atributos, o parâmetro mais importante é o sessionkey, que sempre varia. Este parâmetro deve ser enviado no seguinte formato:<br /><br /> ANEXO_SISTEMA: sempre fixo<br /> nomeEntidade<br /> pkRegistro<br /> <br /> No exemplo acima, a entidade é ItemNota e a PK do item nota (que é composto) é NUNOTA 2097 e SEQUENCIA 1. Com isso temos: ANEXO_SISTEMA_ItemNota_2097_1<br /><br />\nEm seguida, é necessário preparar o \"formulário\", onde o tipo (Content-Type) deve ser \"multipart/form-data\" com uma variável chamada \"arquivo\" contendo o endereço do anexo a ser enviado.<br /><br />\nVeja a seguir um exemplo prático desta requisição em formato curl:<br /><br />\n\n    curl --location 'https://[URL_GATEWAY]/gateway/v1/mge/sessionUpload.mge?sessionkey=ANEXO_SISTEMA_ItemNota_2097_1&fitem=S&salvar=S&useCache=N' \\\n    --header 'appkey: APPKEY_DA_SUA_APLICACAO_BEM_AQUI' \\\n    --header 'Content-Type: application/json' \\\n    --header 'Authorization: Bearer BEAR_TOKEN_VALIDO_BEM_AQUI' \\\n    --header 'Accept: text/html' \\\n    --header 'Content-Type: multipart/form-data' \\\n    --form 'arquivo=@\"MtBz0s5kk/foto_atualizada.jpg\"'\n\n\n<br /> Nesta requsição, estamos enviando a imagem \"foto_atualizada.jpg\". <br /><br /> <h2>Parte 2: Salvar  e Vincular anexo ao registro</h2> Agora que o anexo foi enviado para o servidor, é hora de realizar o “vínculo” do mesmo com o respectivo registro desejado.<br />\nVeja os principais parâmetros variáveis desta requisição:<br />\n<ul>\n  <li>Nome do serviço: AnexoSistemaSP.salvar</li>\n  <li>pkEntity: chave primária da entidade. No caso de chave composta, separa com _</li>\n  <li>keySession: utilizar exatamente a mesma utilizada no serviço anterior.</li>\n  <li>nameEntity: nome da entidade</li>\n  <li>description: descrição desejada para anexo (texto com até 20 caracteres).</li>\n  <li>nameAttach: nome para o anexo. Sugestão de enviar o mesmo nome que o documento tem, ao utilizar o serviço de enviar o anexo.</li>\n</ul> Os demais parâmetros contidos na requisição, devem permanecer sempre fixos, conforme exemplo a seguir. <br /><br /> A seguir um exemplo da requisição:<br /> URL POST: https://[URL_GATEWAY]/gateway/v1/mge/service.sbr?serviceName=AnexoSistemaSP.salvar&outputType=json\n\n    {\n       \"serviceName\":\"AnexoSistemaSP.salvar\",\n       \"requestBody\":{\n          \"params\":{\n             \"pkEntity\":\"2097_1\",\n             \"keySession\":\"ANEXO_SISTEMA_ItemNota_2097_1\",\n             \"nameEntity\":\"ItemNota\",\n             \"description\":\"Foto Atualizada 1\",\n             \"keyAttach\":\"\",\n             \"typeAcess\":\"ALL\",\n             \"typeApres\":\"GLO\",\n             \"nuAttach\":\"\",\n             \"nameAttach\":\"foto_atualizada.jpg\",\n             \"fileSelect\":1,\n             \"oldFile\":\"\"\n          }\n       }\n    }\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json`)",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "api_sankhya_com_br_docs_legado_openapi_api-legada_yaml_36cbcc49.json"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}