{
  "openapi": "3.0.3",
  "info": {
    "title": "Stripe Global Payment Gateway API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack stripe.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stripe.com/v1"
    }
  ],
  "paths": {
    "/v1/delegated_checkout/requested_sessions": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/delegated_checkout/requested_sessions",
        "description": "Endpoint extraído da documentação (docs_stripe_com_agentic-commerce_for-agents_927f47f2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_agentic-commerce_for-agents_927f47f2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_agentic-commerce_for-agents_927f47f2.md"
      }
    },
    "/v1/delegated_checkout/requested_sessions/{{SESSION_ID}}": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/delegated_checkout/requested_sessions/{{SESSION_ID}}",
        "description": "Endpoint extraído da documentação (docs_stripe_com_agentic-commerce_for-agents_927f47f2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_agentic-commerce_for-agents_927f47f2.md`)",
        "parameters": [
          {
            "name": "SESSION_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_agentic-commerce_for-agents_927f47f2.md"
      }
    },
    "/v1/delegated_checkout/requested_sessions/{{SESSION_ID}}/confirm": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/delegated_checkout/requested_sessions/{{SESSION_ID}}/confirm",
        "description": "Endpoint extraído da documentação (docs_stripe_com_agentic-commerce_for-agents_927f47f2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_agentic-commerce_for-agents_927f47f2.md`)",
        "parameters": [
          {
            "name": "SESSION_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_agentic-commerce_for-agents_927f47f2.md"
      }
    },
    "/v2/commerce/product_catalog/imports": {
      "post": {
        "tags": [
          "Stripe"
        ],
        "summary": "POST /v2/commerce/product_catalog/imports",
        "description": "Endpoint extraído da documentação (docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md"
      },
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v2/commerce/product_catalog/imports",
        "description": "Endpoint extraído da documentação (docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md"
      }
    },
    "/v2/commerce/product_catalog/imports/{{PRODUCT_CATALOG_IMPORT_ID}}": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v2/commerce/product_catalog/imports/{{PRODUCT_CATALOG_IMPORT_ID}}",
        "description": "Endpoint extraído da documentação (docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md`)",
        "parameters": [
          {
            "name": "PRODUCT_CATALOG_IMPORT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md"
      }
    },
    "/v1/checkout/sessions/{{SESSION_ID}}": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/checkout/sessions/{{SESSION_ID}}",
        "description": "Endpoint extraído da documentação (docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md`)",
        "parameters": [
          {
            "name": "SESSION_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_agentic-commerce_for-sellers_6e36df20.md"
      }
    },
    "/v1/charges": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/charges",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_6bb519ce.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_6bb519ce.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_6bb519ce.md"
      }
    },
    "/billing": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /billing",
        "description": "Endpoint derivado da referência oficial (billing).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_billing_credit-balance-summary_c045850c.md#billing`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_billing_credit-balance-summary_c045850c.md#billing"
      }
    },
    "/api/billing/credit-balance-summary": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/billing/credit-balance-summary",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_credit-balance-summary_c045850c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_credit-balance-summary_c045850c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_credit-balance-summary_c045850c.md"
      }
    },
    "/v1/billing/credit_balance_summary": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/billing/credit_balance_summary",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_credit-balance-summary_c045850c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_credit-balance-summary_c045850c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_credit-balance-summary_c045850c.md"
      }
    },
    "/api/billing/credit-grant": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/billing/credit-grant",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_credit-grant_eef06e93.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_credit-grant_eef06e93.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_credit-grant_eef06e93.md"
      }
    },
    "/v1/billing/credit_grants": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/billing/credit_grants",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_credit-grant_eef06e93.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_credit-grant_eef06e93.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_credit-grant_eef06e93.md"
      }
    },
    "/v1/billing/credit_grants/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/billing/credit_grants/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_credit-grant_eef06e93.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_credit-grant_eef06e93.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_credit-grant_eef06e93.md"
      }
    },
    "/v1/billing/credit_grants/:id/expire": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/billing/credit_grants/:id/expire",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_credit-grant_eef06e93.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_credit-grant_eef06e93.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_credit-grant_eef06e93.md"
      }
    },
    "/v1/billing/credit_grants/:id/void": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/billing/credit_grants/:id/void",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_credit-grant_eef06e93.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_credit-grant_eef06e93.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_credit-grant_eef06e93.md"
      }
    },
    "/api/billing/meter": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/billing/meter",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_meter_b906f538.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_meter_b906f538.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_meter_b906f538.md"
      }
    },
    "/v1/billing/meters": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/billing/meters",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_meter_b906f538.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_meter_b906f538.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_meter_b906f538.md"
      }
    },
    "/v1/billing/meters/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/billing/meters/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_meter_b906f538.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_meter_b906f538.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_meter_b906f538.md"
      }
    },
    "/v1/billing/meters/:id/deactivate": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/billing/meters/:id/deactivate",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_meter_b906f538.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_meter_b906f538.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_meter_b906f538.md"
      }
    },
    "/v1/billing/meters/:id/reactivate": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/billing/meters/:id/reactivate",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_billing_meter_b906f538.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_billing_meter_b906f538.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_billing_meter_b906f538.md"
      }
    },
    "/charges": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /charges",
        "description": "Endpoint derivado da referência oficial (charges).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_charges_7b53189f.md#charges`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_charges_7b53189f.md#charges"
      }
    },
    "/api/charges": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/charges",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_charges_7b53189f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_charges_7b53189f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_charges_7b53189f.md"
      }
    },
    "/v1/charges/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/charges/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_charges_7b53189f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_charges_7b53189f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_charges_7b53189f.md"
      }
    },
    "/v1/charges/:id/capture": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/charges/:id/capture",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_charges_7b53189f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_charges_7b53189f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_charges_7b53189f.md"
      }
    },
    "/v1/charges/search": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/charges/search",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_charges_7b53189f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_charges_7b53189f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_charges_7b53189f.md"
      }
    },
    "/api/charges/object": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/charges/object",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_charges_object_12b63a2e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_charges_object_12b63a2e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_charges_object_12b63a2e.md"
      }
    },
    "/checkout": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /checkout",
        "description": "Endpoint derivado da referência oficial (checkout).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_checkout_sessions_2421ee97.md#checkout`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_checkout_sessions_2421ee97.md#checkout"
      }
    },
    "/api/checkout/sessions": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/checkout/sessions",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_checkout_sessions_2421ee97.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_checkout_sessions_2421ee97.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_checkout_sessions_2421ee97.md"
      }
    },
    "/v1/checkout/sessions": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/checkout/sessions",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_checkout_sessions_2421ee97.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_checkout_sessions_2421ee97.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_checkout_sessions_2421ee97.md"
      }
    },
    "/v1/checkout/sessions/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/checkout/sessions/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_checkout_sessions_2421ee97.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_checkout_sessions_2421ee97.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_checkout_sessions_2421ee97.md"
      }
    },
    "/v1/checkout/sessions/:id/line_items": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/checkout/sessions/:id/line_items",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_checkout_sessions_2421ee97.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_checkout_sessions_2421ee97.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_checkout_sessions_2421ee97.md"
      }
    },
    "/v1/checkout/sessions/:id/expire": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/checkout/sessions/:id/expire",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_checkout_sessions_2421ee97.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_checkout_sessions_2421ee97.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_checkout_sessions_2421ee97.md"
      }
    },
    "/api/checkout/sessions/create": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/checkout/sessions/create",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_checkout_sessions_create_43c30b60.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_checkout_sessions_create_43c30b60.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_checkout_sessions_create_43c30b60.md"
      }
    },
    "/v1/checkout/sessions/cs_test_a11YYufWQzNY63zpQ6QSNRQhkUpVph4WRmzW0zWJO2znZKdVujZ0N0S22u": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/checkout/sessions/cs_test_a11YYufWQzNY63zpQ6QSNRQhkUpVph4WRmzW0zWJO2znZKdVujZ0N0S22u",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_checkout_sessions_create_43c30b60.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_checkout_sessions_create_43c30b60.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_checkout_sessions_create_43c30b60.md"
      }
    },
    "/api/checkout/sessions/object": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/checkout/sessions/object",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_checkout_sessions_object_c447b434.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_checkout_sessions_object_c447b434.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_checkout_sessions_object_c447b434.md"
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /customers",
        "description": "Endpoint derivado da referência oficial (customers).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_customers_99ec69f3.md#customers`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_customers_99ec69f3.md#customers"
      }
    },
    "/api/customers": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/customers",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_customers_99ec69f3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_customers_99ec69f3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_customers_99ec69f3.md"
      }
    },
    "/v1/customers": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/customers",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_customers_99ec69f3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_customers_99ec69f3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_customers_99ec69f3.md"
      }
    },
    "/v1/customers/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/customers/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_customers_99ec69f3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_customers_99ec69f3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_customers_99ec69f3.md"
      }
    },
    "/v1/customers/search": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/customers/search",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_customers_99ec69f3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_customers_99ec69f3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_customers_99ec69f3.md"
      }
    },
    "/api/customers/object": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/customers/object",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_customers_object_d7b541ea.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_customers_object_d7b541ea.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_customers_object_d7b541ea.md"
      }
    },
    "/disputes": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /disputes",
        "description": "Endpoint derivado da referência oficial (disputes).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_disputes_update_598f47f0.md#disputes`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_disputes_update_598f47f0.md#disputes"
      }
    },
    "/api/disputes/update": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/disputes/update",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_disputes_update_598f47f0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_disputes_update_598f47f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_disputes_update_598f47f0.md"
      }
    },
    "/v1/disputes/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/disputes/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_disputes_update_598f47f0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_disputes_update_598f47f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_disputes_update_598f47f0.md"
      }
    },
    "/v1/disputes": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/disputes",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_disputes_update_598f47f0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_disputes_update_598f47f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_disputes_update_598f47f0.md"
      }
    },
    "/v2/core/accounts": {
      "post": {
        "tags": [
          "Stripe"
        ],
        "summary": "POST /v2/core/accounts",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_idempotent_requests_2671b3f9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_stripe_com_api_idempotent_requests_2671b3f9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_stripe_com_api_idempotent_requests_2671b3f9.md"
      },
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v2/core/accounts",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_idempotent_requests_2671b3f9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_idempotent_requests_2671b3f9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_idempotent_requests_2671b3f9.md"
      }
    },
    "/idempotent-requests": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /idempotent-requests",
        "description": "Endpoint derivado da referência oficial (idempotent_requests).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_idempotent_requests_2671b3f9.md#idempotent_requests`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_idempotent_requests_2671b3f9.md#idempotent_requests"
      }
    },
    "/api/idempotent_requests": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/idempotent_requests",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_idempotent_requests_2671b3f9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_idempotent_requests_2671b3f9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_idempotent_requests_2671b3f9.md"
      }
    },
    "/invoiceitems": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /invoiceitems",
        "description": "Endpoint derivado da referência oficial (invoiceitems).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_invoiceitems_01d15010.md#invoiceitems`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_invoiceitems_01d15010.md#invoiceitems"
      }
    },
    "/api/invoiceitems": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/invoiceitems",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoiceitems_01d15010.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoiceitems_01d15010.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoiceitems_01d15010.md"
      }
    },
    "/v1/invoiceitems": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoiceitems",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoiceitems_01d15010.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoiceitems_01d15010.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoiceitems_01d15010.md"
      }
    },
    "/v1/invoiceitems/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoiceitems/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoiceitems_01d15010.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoiceitems_01d15010.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoiceitems_01d15010.md"
      }
    },
    "/invoices": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /invoices",
        "description": "Endpoint derivado da referência oficial (invoices).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_invoices_1a5bd354.md#invoices`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md#invoices"
      }
    },
    "/api/invoices": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/invoices",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/v1/invoices/create_preview": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices/create_preview",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/v1/invoices": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      },
      "post": {
        "tags": [
          "Stripe"
        ],
        "summary": "POST /v1/invoices",
        "description": "Endpoint extraído da documentação (docs_stripe_com_billing_how-metronome-works-with-stripe_b7dc95e1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_stripe_com_billing_how-metronome-works-with-stripe_b7dc95e1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_stripe_com_billing_how-metronome-works-with-stripe_b7dc95e1.md"
      }
    },
    "/v1/invoices/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/v1/invoices/:id/attach_payment": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices/:id/attach_payment",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/v1/invoices/:id/finalize": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices/:id/finalize",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/v1/invoices/:id/mark_uncollectible": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices/:id/mark_uncollectible",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/v1/invoices/:id/pay": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices/:id/pay",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/v1/invoices/search": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices/search",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/v1/invoices/:id/send": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices/:id/send",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/v1/invoices/:id/void": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/invoices/:id/void",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_1a5bd354.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_1a5bd354.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_1a5bd354.md"
      }
    },
    "/api/invoices/create": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/invoices/create",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_invoices_create_1531b8d8.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_invoices_create_1531b8d8.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_invoices_create_1531b8d8.md"
      }
    },
    "/payment-intents": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /payment-intents",
        "description": "Endpoint derivado da referência oficial (payment_intents).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md#payment_intents`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md#payment_intents"
      }
    },
    "/api/payment_intents": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/payment_intents",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      }
    },
    "/v1/payment_intents": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      },
      "post": {
        "tags": [
          "Stripe"
        ],
        "summary": "POST /v1/payment_intents",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_cancel_4a9d9331.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_stripe_com_api_payment_intents_cancel_4a9d9331.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_cancel_4a9d9331.md"
      }
    },
    "/v1/payment_intents/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      }
    },
    "/v1/payment_intents/:id/cancel": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents/:id/cancel",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      }
    },
    "/v1/payment_intents/:id/capture": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents/:id/capture",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      }
    },
    "/v1/payment_intents/:id/confirm": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents/:id/confirm",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      }
    },
    "/v1/payment_intents/:id/increment_authorization": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents/:id/increment_authorization",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      }
    },
    "/v1/payment_intents/:id/apply_customer_balance": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents/:id/apply_customer_balance",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      }
    },
    "/v1/payment_intents/search": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents/search",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      }
    },
    "/v1/payment_intents/:id/verify_microdeposits": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents/:id/verify_microdeposits",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_api-version_2025-09-30_preview_rds_1_491aa29e.md"
      }
    },
    "/api/payment_intents/cancel": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/payment_intents/cancel",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_cancel_4a9d9331.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_cancel_4a9d9331.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_cancel_4a9d9331.md"
      }
    },
    "/api/payment_intents/confirm": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/payment_intents/confirm",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_confirm_3631455c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_confirm_3631455c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_confirm_3631455c.md"
      }
    },
    "/api/payment_intents/create": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/payment_intents/create",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_create_549fdc0b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_create_549fdc0b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_create_549fdc0b.md"
      }
    },
    "/v1/payment_intents/:id/amount_details_line_items": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_intents/:id/amount_details_line_items",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_d1a06471.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_d1a06471.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_d1a06471.md"
      }
    },
    "/api/payment_intents/object": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/payment_intents/object",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_intents_object_d59a8208.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_intents_object_d59a8208.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_intents_object_d59a8208.md"
      }
    },
    "/payment-methods": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /payment-methods",
        "description": "Endpoint derivado da referência oficial (payment_methods).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_payment_methods_d91bd5ca.md#payment_methods`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_payment_methods_d91bd5ca.md#payment_methods"
      }
    },
    "/api/payment_methods": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/payment_methods",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_methods_d91bd5ca.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_methods_d91bd5ca.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_methods_d91bd5ca.md"
      }
    },
    "/v1/payment_methods": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_methods",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_methods_d91bd5ca.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_methods_d91bd5ca.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_methods_d91bd5ca.md"
      }
    },
    "/v1/payment_methods/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_methods/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_methods_d91bd5ca.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_methods_d91bd5ca.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_methods_d91bd5ca.md"
      }
    },
    "/v1/customers/:id/payment_methods/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/customers/:id/payment_methods/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_methods_d91bd5ca.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_methods_d91bd5ca.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_methods_d91bd5ca.md"
      }
    },
    "/v1/customers/:id/payment_methods": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/customers/:id/payment_methods",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_methods_d91bd5ca.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_methods_d91bd5ca.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_methods_d91bd5ca.md"
      }
    },
    "/v1/payment_methods/:id/attach": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_methods/:id/attach",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_methods_d91bd5ca.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_methods_d91bd5ca.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_methods_d91bd5ca.md"
      }
    },
    "/v1/payment_methods/:id/detach": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payment_methods/:id/detach",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payment_methods_d91bd5ca.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payment_methods_d91bd5ca.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payment_methods_d91bd5ca.md"
      }
    },
    "/payouts": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /payouts",
        "description": "Endpoint derivado da referência oficial (payouts).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_payouts_object_7d150ee2.md#payouts`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_payouts_object_7d150ee2.md#payouts"
      }
    },
    "/api/payouts/object": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/payouts/object",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payouts_object_7d150ee2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payouts_object_7d150ee2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payouts_object_7d150ee2.md"
      }
    },
    "/v1/payouts": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payouts",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payouts_object_7d150ee2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payouts_object_7d150ee2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payouts_object_7d150ee2.md"
      }
    },
    "/v1/payouts/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/payouts/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_payouts_object_7d150ee2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_payouts_object_7d150ee2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_payouts_object_7d150ee2.md"
      }
    },
    "/prices": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /prices",
        "description": "Endpoint derivado da referência oficial (prices).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_prices_create_820cfddf.md#prices`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_prices_create_820cfddf.md#prices"
      }
    },
    "/api/prices/create": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/prices/create",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_prices_create_820cfddf.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_prices_create_820cfddf.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_prices_create_820cfddf.md"
      }
    },
    "/v1/prices": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/prices",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_prices_create_820cfddf.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_prices_create_820cfddf.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_prices_create_820cfddf.md"
      }
    },
    "/v1/prices/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/prices/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_prices_create_820cfddf.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_prices_create_820cfddf.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_prices_create_820cfddf.md"
      }
    },
    "/api/prices": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/prices",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_prices_eeb60c1a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_prices_eeb60c1a.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_prices_eeb60c1a.md"
      }
    },
    "/v1/prices/search": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/prices/search",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_prices_eeb60c1a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_prices_eeb60c1a.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_prices_eeb60c1a.md"
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /products",
        "description": "Endpoint derivado da referência oficial (products).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_products_create_775438db.md#products`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_products_create_775438db.md#products"
      }
    },
    "/api/products/create": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/products/create",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_products_create_775438db.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_products_create_775438db.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_products_create_775438db.md"
      }
    },
    "/v1/products": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/products",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_products_create_775438db.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_products_create_775438db.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_products_create_775438db.md"
      }
    },
    "/v1/products/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/products/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_products_create_775438db.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_products_create_775438db.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_products_create_775438db.md"
      }
    },
    "/setup-intents": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /setup-intents",
        "description": "Endpoint derivado da referência oficial (setup_intents).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_setup_intents_3ebf749d.md#setup_intents`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_setup_intents_3ebf749d.md#setup_intents"
      }
    },
    "/api/setup_intents": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/setup_intents",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_setup_intents_3ebf749d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_setup_intents_3ebf749d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_setup_intents_3ebf749d.md"
      }
    },
    "/v1/setup_intents": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/setup_intents",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_setup_intents_3ebf749d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_setup_intents_3ebf749d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_setup_intents_3ebf749d.md"
      }
    },
    "/v1/setup_intents/:id": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/setup_intents/:id",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_setup_intents_3ebf749d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_setup_intents_3ebf749d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_setup_intents_3ebf749d.md"
      }
    },
    "/v1/setup_intents/:id/cancel": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/setup_intents/:id/cancel",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_setup_intents_3ebf749d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_setup_intents_3ebf749d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_setup_intents_3ebf749d.md"
      }
    },
    "/v1/setup_intents/:id/confirm": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/setup_intents/:id/confirm",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_setup_intents_3ebf749d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_setup_intents_3ebf749d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_setup_intents_3ebf749d.md"
      }
    },
    "/v1/setup_intents/:id/verify_microdeposits": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/setup_intents/:id/verify_microdeposits",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_setup_intents_3ebf749d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_setup_intents_3ebf749d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_setup_intents_3ebf749d.md"
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /subscriptions",
        "description": "Endpoint derivado da referência oficial (subscriptions).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_stripe_com_api_subscriptions_98f4add5.md#subscriptions`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_stripe_com_api_subscriptions_98f4add5.md#subscriptions"
      }
    },
    "/api/subscriptions": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /api/subscriptions",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_subscriptions_98f4add5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_subscriptions_98f4add5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_stripe_com_api_subscriptions_98f4add5.md"
      }
    },
    "/v1/subscriptions": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "summary": "GET /v1/subscriptions",
        "description": "Endpoint extraído da documentação (docs_stripe_com_api_subscriptions_98f4add5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_stripe_com_api_subscriptions_98f4add5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
[...]
