{
  "openapi": "3.0.3",
  "info": {
    "title": "HubSpot CRM & Marketing Automation API v3",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack hubspot.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hubapi.com"
    }
  ],
  "paths": {
    "/appinstalls/v3/external-install": {
      "delete": {
        "tags": [
          "Hubspot"
        ],
        "summary": "DELETE /appinstalls/v3/external-install",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_changelog_tag_announced_8f04ec47.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_hubspot_com_changelog_tag_announced_8f04ec47.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_hubspot_com_changelog_tag_announced_8f04ec47.md"
      }
    },
    "/v3/external-install": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/external-install",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_changelog_tag_announced_8f04ec47.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_changelog_tag_announced_8f04ec47.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_changelog_tag_announced_8f04ec47.md"
      }
    },
    "/api-reference": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /api-reference",
        "description": "Endpoint derivado da referência oficial (api-reference).\n\n---\n📍 **Origem:** Página de Referência Técnica (`developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md#api-reference`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md#api-reference"
      }
    },
    "/v3/activity/audit-logs.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/activity/audit-logs.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md"
      }
    },
    "/v3/activity/login.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/activity/login.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md"
      }
    },
    "/v3/activity/security.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/activity/security.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_account-audit-logs-v3_guide_0b399df9.md"
      }
    },
    "/defining-a-wid": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /defining-a-wid",
        "description": "Endpoint extraído do índice de navegação (Defining a wid).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_hubspot_com_docs_api-reference_automation-actions-v4-v4_guide_b014c6a7.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-actions-v4-v4_guide_b014c6a7.md"
      }
    },
    "/v1/widget-sizes": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v1/widget-sizes",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-actions-v4-v4_guide_b014c6a7.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-actions-v4-v4_guide_b014c6a7.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-actions-v4-v4_guide_b014c6a7.md"
      }
    },
    "/v4/flowsand": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/flowsand",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md"
      }
    },
    "/v4/flowsto": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/flowsto",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md"
      }
    },
    "/v4/flows/{flowId}": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/flows/{flowId}",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md`)",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md"
      }
    },
    "/v4/flows/12345678to": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/flows/12345678to",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md"
      }
    },
    "/v4/flows/batch/readendpoint.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/flows/batch/readendpoint.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md"
      }
    },
    "/v4/flows.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/flows.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md"
      }
    },
    "/v4/flows/{flowId}and": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/flows/{flowId}and",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md`)",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md"
      }
    },
    "/v4/{flowId}using": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/{flowId}using",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md`)",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md"
      }
    },
    "/v4/{flowId}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/{flowId}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md`)",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_automation-automation-v4-v4_guide_b4913cdd.md"
      }
    },
    "/v3/hubdb/tables/{tableIdOrName}": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/hubdb/tables/{tableIdOrName}",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/v3/hubdb/tables/{tableIdOrName}/draft": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/hubdb/tables/{tableIdOrName}/draft",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/v3/hubdb/tables.In": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/hubdb/tables.In",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/v3/hubdb/tables/{tableIdOrName}/rows.For": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/hubdb/tables/{tableIdOrName}/rows.For",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/v3/hubdb/tables/{tableIdOrName}/draft/import.The": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/hubdb/tables/{tableIdOrName}/draft/import.The",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/api/v2/tables/{id}/import": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /api/v2/tables/xxxxxx/import",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/v3/hubdb/tables.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/hubdb/tables.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/v3/hubdb/tables/{tableIdOrName}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/hubdb/tables/{tableIdOrName}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/v3/hubdb/tables/{tableIdOrName}/rows.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/hubdb/tables/{tableIdOrName}/rows.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}.When": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/hubdb/tables/{tableIdOrName}/rows/{rowId}.When",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md`)",
        "parameters": [
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-hubdb-v3_tables_post-cms-v3-hubdb-_04815733.md"
      }
    },
    "/v1/{appId}/settings/object-definitions.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v1/{appId}/settings/object-definitions.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md`)",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md"
      }
    },
    "/v1/{appId}/schemas/{objectType}and": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v1/{appId}/schemas/{objectType}and",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md`)",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md"
      }
    },
    "/v1/{appId}/properties/{objectType}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v1/{appId}/properties/{objectType}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md`)",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md"
      }
    },
    "/v1/{appId}/settings/object-definitions/{mediaType}to": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v1/{appId}/settings/object-definitions/{mediaType}to",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md`)",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md"
      }
    },
    "/v1/{appId}/settings/oembed-domains.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v1/{appId}/settings/oembed-domains.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md`)",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md"
      }
    },
    "/v2/events/media-played": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v2/events/media-played",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md"
      }
    },
    "/v2/events/media-played-percentand/media-bridge/v2/events/attention-span": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v2/events/media-played-percentand/media-bridge/v2/events/attention-span",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-media-bridge-v1_guide_37ed3179.md"
      }
    },
    "/v3/site-search/search.For": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/site-search/search.For",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md"
      }
    },
    "/v3/site-search/search": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/site-search/search",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md"
      }
    },
    "/v3/site-search/indexed-data/{contentId}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/site-search/indexed-data/{contentId}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md`)",
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md"
      }
    },
    "/v3/site-search/indexed-data/{id}": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/site-search/indexed-data/24314356",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-site-search-v3_guide_8d75d0b9.md"
      }
    },
    "/v3/source-code/{environment}/content/{path}.Theenvironmentparameter": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/{environment}/content/{path}.Theenvironmentparameter",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/source-code/{environment}/content/{path}and": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/{environment}/content/{path}and",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/source-code/{environment}/metadata/{path}and": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/{environment}/metadata/{path}and",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/source-code/{environment}/content/{path}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/{environment}/content/{path}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/source-code/published/content/my-new-file.htmlContent-Type:": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/published/content/my-new-file.htmlContent-Type:",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/source-code/draft/content/path/to/existing-file.htmlContent-Type:": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/draft/content/path/to/existing-file.htmlContent-Type:",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/source-code/{environment}/validate/{path}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/{environment}/validate/{path}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/source-code/published/validate/my-file.htmlContent-Type:": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/published/validate/my-file.htmlContent-Type:",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/source-code/{environment}/content/{path}.Deleting": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/{environment}/content/{path}.Deleting",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/source-code/extract/{path}.Thepathmust": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/source-code/extract/{path}.Thepathmust",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md`)",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_cms-source-code-v3_guide_f9c7306a.md"
      }
    },
    "/v3/objects/{objectTypeId}/{recordId}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/{recordId}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}/batch/readand": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/batch/readand",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/2-3465404/{carId}": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/2-3465404/{carId}",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "carId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/2-3465404": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/2-3465404",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/2-3465404/search": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/2-3465404/search",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}/batch/create.In": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/batch/create.In",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/properties/{objectTypeId}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/properties/{objectTypeId}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}/{recordId}": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/{recordId}",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}/batch/update.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/batch/update.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}/batch/upsert.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/batch/upsert.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}/{fromRecordId}/associations/{toObjectTypeId}/{toRecordId}/{associationTypeId}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/{fromRecordId}/associations/{toObjectTypeId}/{toRecordId}/{associationTypeId}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toObjectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "associationTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}/{fromRecordId}/associations/{toObjectTypeId}/{toRecordId}/{associationTypeId}.To": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/{fromRecordId}/associations/{toObjectTypeId}/{toRecordId}/{associationTypeId}.To",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toObjectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "associationTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v4/associations/{fromObjectTypeId}/{toObjectTypeId}/labels.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/associations/{fromObjectTypeId}/{toObjectTypeId}/labels.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "fromObjectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toObjectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}/{recordId}for": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/{recordId}for",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/objects/{objectTypeId}/batch/archiveand": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/{objectTypeId}/batch/archiveand",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/crm/v3/objects/{objectTypeId}/{fromRecordId}/associations/{toObjectTypeId}/{toRecordId}/{associationTypeId}.To": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /crm/v3/objects/{objectTypeId}/{fromRecordId}/associations/{toObjectTypeId}/{toRecordId}/{associationTypeId}.To",
        "description": "Endpoint extraído por declaração de rota (developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md`)",
        "parameters": [
          {
            "name": "objectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toObjectTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "associationTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-custom-objects-v3_guide_e438ce37.md"
      }
    },
    "/v3/exports/export/async.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/exports/export/async.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-exports-v3_guide_7f6bddfb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-exports-v3_guide_7f6bddfb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-exports-v3_guide_7f6bddfb.md"
      }
    },
    "/v3/schemas.associatedObjectTypeThe": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/schemas.associatedObjectTypeThe",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-exports-v3_guide_7f6bddfb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-exports-v3_guide_7f6bddfb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-exports-v3_guide_7f6bddfb.md"
      }
    },
    "/v3/exports/export/async/tasks/{exportId}/status.When": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/exports/export/async/tasks/{exportId}/status.When",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-exports-v3_guide_7f6bddfb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-exports-v3_guide_7f6bddfb.md`)",
        "parameters": [
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-exports-v3_guide_7f6bddfb.md"
      }
    },
    "/v3/importswith": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/importswith",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md"
      }
    },
    "/v3/imports": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/imports",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md"
      }
    },
    "/v3/importusingcURL.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/importusingcURL.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md"
      }
    },
    "/v3/imports/.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/imports/.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md"
      }
    },
    "/v3/imports/{importId}.When": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/imports/{importId}.When",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md`)",
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md"
      }
    },
    "/v3/imports/{importId}/cancel.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/imports/{importId}/cancel.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md`)",
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md"
      }
    },
    "/v3/imports/{importId}/errors.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/imports/{importId}/errors.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md`)",
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_crm-imports-v3_guide_d1fb8cb0.md"
      }
    },
    "/v3/events/event-types.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/events/event-types.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_events-events-v3_events_get-events-v3-_f65303dd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_events-events-v3_events_get-events-v3-_f65303dd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_events-events-v3_events_get-events-v3-_f65303dd.md"
      }
    },
    "/v3/events.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/events.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_events-events-v3_events_get-events-v3-_f65303dd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_events-events-v3_events_get-events-v3-_f65303dd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_events-events-v3_events_get-events-v3-_f65303dd.md"
      }
    },
    "/v3/events": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/events",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_events-events-v3_events_get-events-v3-_f65303dd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_events-events-v3_events_get-events-v3-_f65303dd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_events-events-v3_events_get-events-v3-_f65303dd.md"
      }
    },
    "/v3/sendwith": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/sendwith",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_events-send-event-completions-v3_guide_690819bf.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_events-send-event-completions-v3_guide_690819bf.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_events-send-event-completions-v3_guide_690819bf.md"
      }
    },
    "/v3/fileswith": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/fileswith",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v3/files": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/files",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v3/files/import-from-url/async": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/files/import-from-url/async",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v3/files/import-from-url/async/tasks/{taskId}/status.After": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/files/import-from-url/async/tasks/{taskId}/status.After",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v3/files/{fileId}.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/files/{fileId}.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v3/files/{fileId}/signed-url.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/files/{fileId}/signed-url.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v3/files/{fileId}/gdpr-delete.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/files/{fileId}/gdpr-delete.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v3/folders.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/folders.",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v3/folderswith": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/folderswith",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v4/associations/notes/{toObjectType}/labelsand": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v4/associations/notes/{toObjectType}/labelsand",
        "description": "Endpoint extraído da documentação (developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md`)",
        "parameters": [
          {
            "name": "toObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_hubspot_com_docs_api-reference_files-files-v3_guide_eceb59f1.md"
      }
    },
    "/v3/objects/notes.": {
      "get": {
        "tags": [
          "Hubspot"
        ],
        "summary": "GET /v3/objects/notes.",
[...]
