{
  "openapi": "3.0.3",
  "info": {
    "title": "Efí Bank (Gerencianet) PIX & Boleto Open Finance API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack efi.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pix.sejaefi.com.br"
    }
  ],
  "paths": {
    "/default/version-current-metadata-prop-751.json": {
      "post": {
        "tags": [
          "Efi"
        ],
        "summary": "POST /default/version-current-metadata-prop-751.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/android": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/android",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/delphi": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/delphi",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/dotnet": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/dotnet",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/dotnet-core": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/dotnet-core",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/flutter": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/flutter",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/go": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/go",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/introducao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/introducao",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/java": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/java",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/node": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/node",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/php": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/php",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/python": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/python",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/ruby": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/ruby",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/sdk/type-script": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /sdk/type-script",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/api/themes/configuration": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /api/themes/configuration",
        "description": "Endpoint extraído da documentação (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /search",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-abertura-de-contas/cadastro-simplificado": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-abertura-de-contas/cadastro-simplificado",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-abertura-de-contas/credenciais": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-abertura-de-contas/credenciais",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-abertura-de-contas/fluxogramas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-abertura-de-contas/fluxogramas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-abertura-de-contas/webhook": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-abertura-de-contas/webhook",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/assinatura": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/assinatura",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/boleto": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/boleto",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/carne": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/carne",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/cartao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/cartao",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/checkout-lightbox": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/checkout-lightbox",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/credenciais": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/credenciais",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/fluxogramas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/fluxogramas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/limites-de-consumo": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/limites-de-consumo",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/link-de-pagamento": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/link-de-pagamento",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/notificacoes": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/notificacoes",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/split-de-pagamento": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/split-de-pagamento",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-cobrancas/status": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-cobrancas/status",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-extratos/credenciais": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-extratos/credenciais",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-extratos/extratos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-extratos/extratos",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-extratos/fluxogramas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-extratos/fluxogramas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/configuracoes-de-aplicacao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/configuracoes-de-aplicacao",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/credenciais": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/credenciais",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/fluxogramas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/fluxogramas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/pagamentos-agendados": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/pagamentos-agendados",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/pagamentos-automaticos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/pagamentos-automaticos",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/pagamentos-imediatos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/pagamentos-imediatos",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/pagamentos-por-biometria": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/pagamentos-por-biometria",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/pagamentos-recorrentes": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/pagamentos-recorrentes",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/participantes": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/participantes",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/status": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/status",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-open-finance/webhooks": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-open-finance/webhooks",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pagamento-de-contas/credenciais": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pagamento-de-contas/credenciais",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pagamento-de-contas/fluxogramas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pagamento-de-contas/fluxogramas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pagamento-de-contas/pagamentos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pagamento-de-contas/pagamentos",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pagamento-de-contas/status": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pagamento-de-contas/status",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pagamento-de-contas/webhooks": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pagamento-de-contas/webhooks",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/cobrancas-com-vencimento": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/cobrancas-com-vencimento",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/cobrancas-imediatas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/cobrancas-imediatas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/cobrancas-lote": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/cobrancas-lote",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/credenciais": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/credenciais",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/endpoints-exclusivos-efi": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/endpoints-exclusivos-efi",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/envio-pagamento-pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/envio-pagamento-pix",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/fluxogramas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/fluxogramas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/gestao-de-pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/gestao-de-pix",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/glossario": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/glossario",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/limites-de-consumo": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/limites-de-consumo",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/payload-locations": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/payload-locations",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/pix-automatico": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/pix-automatico",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/split-de-pagamento-pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/split-de-pagamento-pix",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/status": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/status",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/api-pix/webhooks": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/api-pix/webhooks",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/curso/curso-online": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/curso/curso-online",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/erros/consulta": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/erros/consulta",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/erros/introducao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/erros/introducao",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/exemplos-de-integracoes/introducao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/exemplos-de-integracoes/introducao",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/box-billing": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/box-billing",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/Bubble": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/Bubble",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/introducao-modulos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/introducao-modulos",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/Joomla": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/Joomla",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/Magento2": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/Magento2",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/mcp": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/mcp",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/n8n": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/n8n",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/OpenCart": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/OpenCart",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/OpenMage": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/OpenMage",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/PrestaShop": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/PrestaShop",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/WHMCS": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/WHMCS",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/modulos/WordPress": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/modulos/WordPress",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/antifraude": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/antifraude",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/cobrancas-com-vencimento": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/cobrancas-com-vencimento",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/cobrancas-imediatas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/cobrancas-imediatas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/credenciais": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/credenciais",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/diretorio": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/diretorio",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/envio-de-pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/envio-de-pix",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/fluxogramas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/fluxogramas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/glossario": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/glossario",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/limites-de-consumo": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/limites-de-consumo",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/locations": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/locations",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/lote-de-cobrancas": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/lote-de-cobrancas",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/notificacao-de-infracao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/notificacao-de-infracao",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/pix-agendado": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/pix-agendado",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/pix-automatico": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/pix-automatico",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/politica-de-limitacao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/politica-de-limitacao",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/recebimento-de-pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/recebimento-de-pix",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/reivindicacao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/reivindicacao",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/solicitacao-de-devolucao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/solicitacao-de-devolucao",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/status": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/status",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/stream-de-pagamentos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/stream-de-pagamentos",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/pix-indireto/webhooks": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/pix-indireto/webhooks",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/android": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/android",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/delphi": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/delphi",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/dotnet": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/dotnet",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/dotnet-core": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/dotnet-core",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/flutter": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/flutter",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/go": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/go",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/introducao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/introducao",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/java": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/java",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/node": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/node",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/php": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/php",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/python": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/python",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md"
      }
    },
    "/docs/sdk/ruby": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /docs/sdk/ruby",
        "description": "Endpoint extraído por declaração de rota (dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dev_efipay_com_br_assets_js_main_04af2fa3_js_e4249be5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
[...]
