{
  "openapi": "3.0.3",
  "info": {
    "title": "PagBank (PagSeguro) Open Payment API v4",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack pagbank.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pagseguro.com"
    }
  ],
  "paths": {
    "/criar-chave-p-blica": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-chave-p-blica",
        "description": "Endpoint extraído do índice de navegação (Criar chave pública).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      },
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /criar-chave-p-blica",
        "description": "Endpoint extraído do índice de navegação (Criar chave pública).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-chave-p-blica": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-chave-p-blica",
        "description": "Endpoint extraído do índice de navegação (Consultar chave pública).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/alterar-chave-p-blica": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /alterar-chave-p-blica",
        "description": "Endpoint extraído do índice de navegação (Alterar chave pública).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-aplica-o": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-aplica-o",
        "description": "Endpoint extraído do índice de navegação (Criar aplicação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-aplica-o": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-aplica-o",
        "description": "Endpoint extraído do índice de navegação (Consultar aplicação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/solicitar-autoriza-o-via-connect-authorization": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /solicitar-autoriza-o-via-connect-authorization",
        "description": "Endpoint extraído do índice de navegação (Solicitar autorização via Connect Authorization).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/solicitar-autoriza-o-via-sms": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /solicitar-autoriza-o-via-sms",
        "description": "Endpoint extraído do índice de navegação (Solicitar autorização via SMS).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/obter-access-token": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /obter-access-token",
        "description": "Endpoint extraído do índice de navegação (Obter access token).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/renovar-access-token": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /renovar-access-token",
        "description": "Endpoint extraído do índice de navegação (Renovar access token).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/revogar-access-token": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /revogar-access-token",
        "description": "Endpoint extraído do índice de navegação (Revogar access token).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-certificado-digital": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-certificado-digital",
        "description": "Endpoint extraído do índice de navegação (Criar certificado digital).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-conta": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-conta",
        "description": "Endpoint extraído do índice de navegação (Criar conta).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-conta": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-conta",
        "description": "Endpoint extraído do índice de navegação (Consultar conta).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-pedido": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-pedido",
        "description": "Endpoint extraído do índice de navegação (Criar pedido).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-pedido": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-pedido",
        "description": "Endpoint extraído do índice de navegação (Consultar pedido).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-pedido-atrav-s-de-par-metros": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-pedido-atrav-s-de-par-metros",
        "description": "Endpoint extraído do índice de navegação (Consultar pedido através de parâmetros).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-divis-o-do-pagamento": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-divis-o-do-pagamento",
        "description": "Endpoint extraído do índice de navegação (Consultar divisão do pagamento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/liberar-divis-o-de-pagamento-com-cust-dia": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /liberar-divis-o-de-pagamento-com-cust-dia",
        "description": "Endpoint extraído do índice de navegação (Liberar divisão de pagamento com custódia).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/pagar-pedido": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /pagar-pedido",
        "description": "Endpoint extraído do índice de navegação (Pagar pedido).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-pagamento": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-pagamento",
        "description": "Endpoint extraído do índice de navegação (Consultar pagamento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/capturar-pagamento": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /capturar-pagamento",
        "description": "Endpoint extraído do índice de navegação (Capturar pagamento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/cancelar-pagamento": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /cancelar-pagamento",
        "description": "Endpoint extraído do índice de navegação (Cancelar pagamento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-sess-o-de-autentica-o-3ds": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-sess-o-de-autentica-o-3ds",
        "description": "Endpoint extraído do índice de navegação (Criar sessão de autenticação 3DS).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-taxas-de-uma-transa-o": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-taxas-de-uma-transa-o",
        "description": "Endpoint extraído do índice de navegação (Consultar taxas de uma transação).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/validar-e-armazenar-um-cart-o-no-pagbank": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /validar-e-armazenar-um-cart-o-no-pagbank",
        "description": "Endpoint extraído do índice de navegação (Validar e armazenar um cartão no PagBank).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-checkout": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-checkout",
        "description": "Endpoint extraído do índice de navegação (Criar Checkout).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-checkout": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-checkout",
        "description": "Endpoint extraído do índice de navegação (Consultar Checkout).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/ativar-checkout": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /ativar-checkout",
        "description": "Endpoint extraído do índice de navegação (Ativar Checkout).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/inativar-checkout": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /inativar-checkout",
        "description": "Endpoint extraído do índice de navegação (Inativar Checkout).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-prefer-ncias-de-notifica-es": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-prefer-ncias-de-notifica-es",
        "description": "Endpoint extraído do índice de navegação (Consultar preferências de notificações).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/alterar-prefer-ncias-de-notifica-es": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /alterar-prefer-ncias-de-notifica-es",
        "description": "Endpoint extraído do índice de navegação (Alterar preferências de notificações).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-plano": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-plano",
        "description": "Endpoint extraído do índice de navegação (Criar plano).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-por-id": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-por-id",
        "description": "Endpoint extraído do índice de navegação (Consultar por id).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-planos": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-planos",
        "description": "Endpoint extraído do índice de navegação (Listar planos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/alterar-plano": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /alterar-plano",
        "description": "Endpoint extraído do índice de navegação (Alterar plano).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/ativar-plano": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /ativar-plano",
        "description": "Endpoint extraído do índice de navegação (Ativar plano).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/inativar-plano": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /inativar-plano",
        "description": "Endpoint extraído do índice de navegação (Inativar plano).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-assinante": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-assinante",
        "description": "Endpoint extraído do índice de navegação (Criar assinante).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-assinantes": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-assinantes",
        "description": "Endpoint extraído do índice de navegação (Listar assinantes).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/alterar-dados-cadastrais-do-assinante": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /alterar-dados-cadastrais-do-assinante",
        "description": "Endpoint extraído do índice de navegação (Alterar dados cadastrais do assinante).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/alterar-dados-de-pagamento-do-assinante": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /alterar-dados-de-pagamento-do-assinante",
        "description": "Endpoint extraído do índice de navegação (Alterar dados de pagamento do assinante).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-assinatura": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-assinatura",
        "description": "Endpoint extraído do índice de navegação (Criar assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-assinatura": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-assinatura",
        "description": "Endpoint extraído do índice de navegação (Consultar assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-assinaturas": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-assinaturas",
        "description": "Endpoint extraído do índice de navegação (Listar assinaturas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-faturas-de-uma-assinatura": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-faturas-de-uma-assinatura",
        "description": "Endpoint extraído do índice de navegação (Listar faturas de uma assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/alterar-assinatura": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /alterar-assinatura",
        "description": "Endpoint extraído do índice de navegação (Alterar assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/cancelar-assinatura": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /cancelar-assinatura",
        "description": "Endpoint extraído do índice de navegação (Cancelar assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/suspender-assinatura": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /suspender-assinatura",
        "description": "Endpoint extraído do índice de navegação (Suspender assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/ativar-assinatura": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /ativar-assinatura",
        "description": "Endpoint extraído do índice de navegação (Ativar assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/deletar-cupons-de-uma-assinatura": {
      "delete": {
        "tags": [
          "Pagbank"
        ],
        "summary": "DELETE /deletar-cupons-de-uma-assinatura",
        "description": "Endpoint extraído do índice de navegação (Deletar cupons de uma assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-cupom": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-cupom",
        "description": "Endpoint extraído do índice de navegação (Criar cupom).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-cupons": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-cupons",
        "description": "Endpoint extraído do índice de navegação (Listar cupons).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/inativar-cupom": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /inativar-cupom",
        "description": "Endpoint extraído do índice de navegação (Inativar cupom).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/ativar-cupom": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /ativar-cupom",
        "description": "Endpoint extraído do índice de navegação (Ativar cupom).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-fatura": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-fatura",
        "description": "Endpoint extraído do índice de navegação (Consultar fatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-pagamento-da-fatura": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-pagamento-da-fatura",
        "description": "Endpoint extraído do índice de navegação (Listar pagamento da fatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/criar-estorno-de-pagamento": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /criar-estorno-de-pagamento",
        "description": "Endpoint extraído do índice de navegação (Criar estorno de pagamento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-estorno": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-estorno",
        "description": "Endpoint extraído do índice de navegação (Consultar estorno).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-estornos-do-vendedor": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-estornos-do-vendedor",
        "description": "Endpoint extraído do índice de navegação (Listar estornos do vendedor).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-estornos-do-pagamento": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-estornos-do-pagamento",
        "description": "Endpoint extraído do índice de navegação (Listar estornos do pagamento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-pagamentos": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-pagamentos",
        "description": "Endpoint extraído do índice de navegação (Listar pagamentos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-retentativa": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-retentativa",
        "description": "Endpoint extraído do índice de navegação (Consultar retentativa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/alterar-retentativa": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /alterar-retentativa",
        "description": "Endpoint extraído do índice de navegação (Alterar retentativa).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/retentativa-de-cobran-a-manual": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /retentativa-de-cobran-a-manual",
        "description": "Endpoint extraído do índice de navegação (Retentativa de cobrança manual).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/consultar-configura-es": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /consultar-configura-es",
        "description": "Endpoint extraído do índice de navegação (Consultar Configurações).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/atualizar-configura-es": {
      "put": {
        "tags": [
          "Pagbank"
        ],
        "summary": "PUT /atualizar-configura-es",
        "description": "Endpoint extraído do índice de navegação (Atualizar Configurações).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/identifica-o-da-compra": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /identifica-o-da-compra",
        "description": "Endpoint extraído do índice de navegação (Identificação da compra).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/listar-benef-cios": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /listar-benef-cios",
        "description": "Endpoint extraído do índice de navegação (Listar Benefícios).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/resgatar-benef-cios": {
      "post": {
        "tags": [
          "Pagbank"
        ],
        "summary": "POST /resgatar-benef-cios",
        "description": "Endpoint extraído do índice de navegação (Resgatar Benefícios).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    },
    "/detalhes-de-cashback": {
      "get": {
        "tags": [
          "Pagbank"
        ],
        "summary": "GET /detalhes-de-cashback",
        "description": "Endpoint extraído do índice de navegação (Detalhes de Cashback).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`dev_pagbank_uol_com_br_reference_a40ac0d3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "dev_pagbank_uol_com_br_reference_a40ac0d3.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  },
  "x-idempotency": {
    "supported": false,
    "headers": []
  },
  "x-retry-policy": {
    "exponential_backoff": true,
    "retryable_status_codes": [
      429,
      500,
      502,
      503,
      504
    ]
  }
}