{
  "openapi": "3.0.3",
  "info": {
    "title": "Aiqfome Delivery (Magalu) Merchant API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack aiqfome.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aiqfome.com"
    }
  ],
  "paths": {
    "/api/opendelivery": {
      "get": {
        "tags": [
          "Aiqfome"
        ],
        "summary": "GET /api/opendelivery",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json"
      }
    },
    "/api/v0": {
      "get": {
        "tags": [
          "Aiqfome"
        ],
        "summary": "GET /api/v0",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json"
      }
    },
    "/api/v2": {
      "get": {
        "tags": [
          "Aiqfome"
        ],
        "summary": "GET /api/v2",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json"
      }
    },
    "/integrators-management/api/v1/applications": {
      "get": {
        "tags": [
          "Aiqfome"
        ],
        "summary": "GET /integrators-management/api/v1/applications",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json"
      }
    },
    "/api/v1/applications": {
      "get": {
        "tags": [
          "Aiqfome"
        ],
        "summary": "GET /api/v1/applications",
        "description": "Endpoint extraído da documentação (bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "bundle_routes_developer_aiqfome_com_assets_js_main_ae9086eb_js_3c4ccb6a.json"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}