{
  "openapi": "3.0.3",
  "info": {
    "title": "Pagar.me Stone Payment Gateway API",
    "version": "5"
  },
  "servers": [
    {
      "url": "https://api.pagar.me/core/v5"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "example": "email"
                },
                "message": {
                  "type": "string",
                  "example": "O campo email é obrigatório."
                }
              }
            }
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "responses": {
      "400": {
        "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "401": {
        "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "403": {
        "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "404": {
        "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "429": {
        "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "500": {
        "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/customers": {
      "post": {
        "summary": "Criar cliente",
        "description": "",
        "operationId": "criar-cliente-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do cliente. Max: 64 caracteres."
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail do cliente. Max: 64 caracteres"
                  },
                  "code": {
                    "type": "string",
                    "description": "Código de referência do cliente no sistema da loja. Max: 52 caracteres"
                  },
                  "document": {
                    "type": "string",
                    "description": "CPF, CNPJ ou PASSPORT do cliente. Max: 16 caracteres para CPF e CNPJ e Max: 50 caracteres para PASSPORT"
                  },
                  "document_type": {
                    "type": "string",
                    "description": "Tipo de documento. Valores possíveis: CPF, CNPJ ou PASSPORT."
                  },
                  "type": {
                    "type": "string",
                    "description": "Tipo de cliente. Valores possíveis: **individual** (pessoa física) ou **company** (pessoa jurídica).<br>**Obrigatório**, caso o `document` seja enviado."
                  },
                  "gender": {
                    "type": "string",
                    "description": "Sexo do cliente . Valores possíveis: **male** ou **female**"
                  },
                  "address": {
                    "type": "object",
                    "description": "Endereço do cliente.",
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "País (Código do país no formato ISO 3166-1 alpha-2)(2 digitos)"
                      },
                      "state": {
                        "type": "string",
                        "description": "Estado (Código do estado no formato ISO 3166-2)."
                      },
                      "city": {
                        "type": "string",
                        "description": "Cidade."
                      },
                      "zip_code": {
                        "type": "string",
                        "description": "Código Postal (CEP) (Apenas numérico)."
                      },
                      "line_1": {
                        "type": "string",
                        "description": "Dados principais do endereço. Neste campo deve ser informado Número, Rua, Bairro, nesta ordem e separados por vírgula."
                      },
                      "line_2": {
                        "type": "string",
                        "description": "Dados complementares do endereço. Neste campo pode ser informado complemento, referências."
                      }
                    }
                  },
                  "phones": {
                    "type": "object",
                    "description": "Telefones do cliente. [Saiba mais sobre o telefones](https://docs.pagar.me/reference#telefones-1)",
                    "properties": {
                      "home_phone": {
                        "type": "object",
                        "description": "Telefone residencial do cliente.",
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "description": "Código do País (Apenas numérico)."
                          },
                          "area_code": {
                            "type": "string",
                            "description": "Código da área (Apenas numérico)."
                          },
                          "number": {
                            "type": "string",
                            "description": "Número do telefone (Apenas numérico)."
                          }
                        }
                      },
                      "mobile_phone": {
                        "type": "object",
                        "description": "Telefone celular do cliente.",
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "description": "Código do País (Apenas numérico)."
                          },
                          "area_code": {
                            "type": "string",
                            "description": "Código da área (Apenas numérico)."
                          },
                          "number": {
                            "type": "string",
                            "description": "Número do telefone (Apenas numérico)."
                          }
                        }
                      }
                    }
                  },
                  "birthdate": {
                    "type": "string",
                    "description": "Data de nascimento do cliente.",
                    "default": "mm/dd/aaa",
                    "format": "date"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Objeto chave/valor utilizado para armazenar informações adicionais sobre o cliente. [Saiba mais sobre metadata](https://docs.pagar.me/reference/metadata-1)"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "name": "Tony Stark",
                    "email": "tonystarkk@avengers.com",
                    "code": "MY_CUSTOMER_001",
                    "document": "93095135270",
                    "type": "individual",
                    "document_type": "CPF",
                    "gender": "male",
                    "address": {
                      "line_1": "375, Av. General Justo, Centro",
                      "line_2": "8º andar",
                      "zip_code": "20021130",
                      "city": "Rio de Janeiro",
                      "state": "RJ",
                      "country": "BR"
                    },
                    "birthdate": "05/03/1984",
                    "phones": {
                      "home_phone": {
                        "country_code": "55",
                        "area_code": "21",
                        "number": "000000000"
                      },
                      "mobile_phone": {
                        "country_code": "55",
                        "area_code": "21",
                        "number": "000000000"
                      }
                    },
                    "metadata": {
                      "company": "Avengers"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"cus_QA5V47r9c0Im3dzN\",\n    \"name\": \"Tony Stark\",\n    \"email\": \"tonystarkk@avengers.com\",\n    \"code\": \"MY_CUSTOMER_001\",\n    \"document\": \"93095135270\",\n    \"document_type\": \"CPF\",  \n    \"type\": \"individual\",\n    \"gender\": \"male\",\n    \"delinquent\": false,\n    \"address\": {\n        \"id\": \"addr_KewjagEfrCbY1doZ\",\n        \"line_1\": \"375, Av. General Justo, Centro\",\n        \"line_2\": \"8º andar\",\n        \"zip_code\": \"20021130\",\n        \"city\": \"Rio de Janeiro\",\n        \"state\": \"RJ\",\n        \"country\": \"BR\",\n        \"status\": \"active\",\n        \"created_at\": \"2017-09-22T15:36:46Z\",\n        \"updated_at\": \"2018-04-03T17:46:20Z\"\n    },\n    \"created_at\": \"2017-09-22T15:36:46Z\",\n    \"updated_at\": \"2018-04-03T17:46:20Z\",\n    \"birthdate\": \"1984-05-03T00:00:00Z\",\n    \"phones\": {\n        \"home_phone\": {\n            \"country_code\": \"55\",\n            \"number\": \"000000000\",\n            \"area_code\": \"21\"\n        },\n        \"mobile_phone\": {\n            \"country_code\": \"55\",\n            \"number\": \"000000000\",\n            \"area_code\": \"21\"\n        }\n    },\n    \"metadata\": {\n        \"id\": \"my_customer_id\",\n        \"company\": \"Avengers\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "cus_QA5V47r9c0Im3dzN"
                    },
                    "name": {
                      "type": "string",
                      "example": "Tony Stark"
                    },
                    "email": {
                      "type": "string",
                      "example": "tonystarkk@avengers.com"
                    },
                    "code": {
                      "type": "string",
                      "example": "MY_CUSTOMER_001"
                    },
                    "document": {
                      "type": "string",
                      "example": "93095135270"
                    },
                    "document_type": {
                      "type": "string",
                      "example": "CPF"
                    },
                    "type": {
                      "type": "string",
                      "example": "individual"
                    },
                    "gender": {
                      "type": "string",
                      "example": "male"
                    },
                    "delinquent": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "addr_KewjagEfrCbY1doZ"
                        },
                        "line_1": {
                          "type": "string",
                          "example": "375, Av. General Justo, Centro"
                        },
                        "line_2": {
                          "type": "string",
                          "example": "8º andar"
                        },
                        "zip_code": {
                          "type": "string",
                          "example": "20021130"
                        },
                        "city": {
                          "type": "string",
                          "example": "Rio de Janeiro"
                        },
                        "state": {
                          "type": "string",
                          "example": "RJ"
                        },
                        "country": {
                          "type": "string",
                          "example": "BR"
                        },
                        "status": {
                          "type": "string",
                          "example": "active"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2017-09-22T15:36:46Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2018-04-03T17:46:20Z"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-09-22T15:36:46Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2018-04-03T17:46:20Z"
                    },
                    "birthdate": {
                      "type": "string",
                      "example": "1984-05-03T00:00:00Z"
                    },
                    "phones": {
                      "type": "object",
                      "properties": {
                        "home_phone": {
                          "type": "object",
                          "properties": {
                            "country_code": {
                              "type": "string",
                              "example": "55"
                            },
                            "number": {
                              "type": "string",
                              "example": "000000000"
                            },
                            "area_code": {
                              "type": "string",
                              "example": "21"
                            }
                          }
                        },
                        "mobile_phone": {
                          "type": "object",
                          "properties": {
                            "country_code": {
                              "type": "string",
                              "example": "55"
                            },
                            "number": {
                              "type": "string",
                              "example": "000000000"
                            },
                            "area_code": {
                              "type": "string",
                              "example": "21"
                            }
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "my_customer_id"
                        },
                        "company": {
                          "type": "string",
                          "example": "Avengers"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"The request is invalid.\",\n    \"errors\": {\n        \"customer.name\": [\n            \"The name field is required.\"\n        ]\n    },\n    \"request\": {\n        \"email\": \"tonystarkk@avengers.com\",\n        \"code\": \"MY_CUSTOMER_001\",\n        \"document\": \"123456789\",\n        \"type\": \"individual\",\n        \"address\": {\n            \"line_1\": \"375, Av. General Justo, Centro\",\n            \"line_2\": \"8º andar\",\n            \"zip_code\": \"20021130\",\n            \"city\": \"Rio de Janeiro\",\n            \"state\": \"RJ\",\n            \"country\": \"BR\",\n        },\n        \"birthdate\": \"1984-05-03T00:00:00Z\",\n        \"phones\": {\n            \"home_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            },\n            \"mobile_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            }\n        },\n        \"gender\": \"male\",\n        \"metadata\": {\n            \"company\": \"Avengers\"\n        }\n    }\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Listar clientes",
        "description": "Este recurso permite a obtenção da **carteira de clientes** do lojista. Pode ser utilizados alguns parâmetros como filtro da listagem",
        "operationId": "listar-clientes-1",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Nome do cliente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document",
            "in": "query",
            "description": "CPF ou CNPJ do cliente. Max: 16 caracteres",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "E-mail do cliente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "description": "Sexo do cliente . Valores possíveis: **male** ou **female**",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página atual.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Código do cliente no sistema do lojista",
            "schema": {
              "type": "string",
              "default": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"cus_n2Y17zAt67s2Oplg\",\n      \"name\": \"Monitor\",\n      \"gender\": \"male\",\n      \"email\": \"9bfdfb6b-405f-489e-a4e0-b66101c86743@pagar.me\",\n      \"delinquent\": false,\n      \"created_at\": \"2017-04-19T17:43:10Z\",\n      \"updated_at\": \"2017-04-19T17:43:10Z\"\n    },\n    {\n      \"id\": \"cus_Z7DvZNpUZhYlvndR\",\n      \"name\": \"Monitor\",\n      \"gender\": \"female\",\n      \"email\": \"c17b44be-85a8-4a1c-a9d1-5e0109cb4ece@pagar.me\",\n      \"delinquent\": false,\n      \"created_at\": \"2017-04-19T17:42:51Z\",\n      \"updated_at\": \"2017-04-19T17:42:51Z\"\n    },\n  \"paging\": {\n    \"total\": 545797,\n    \"next\": \"https://api.pagar.me:4443/core/v1/customers?page=2&size=10\"\n  }\n}"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Authorization has been denied for this request.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Authorization has been denied for this request."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "summary": "Obter cliente",
        "description": "",
        "operationId": "obter-cliente-1",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Código do cliente. Formato `cus_XXXXXXXXXXXXXXXX`.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"cus_6l5dMWZ0hkHZ4XnE\",\n    \"name\": \"Wonderful Woman\",\n    \"email\": \"wonderfulwoman@avengers.com\",\n  \t\"gender\": \"female\",\n    \"delinquent\": false,\n    \"address\": {\n        \"id\": \"addr_ONzp3ZbTvfDJ35k9\",\n        \"line_1\": \"375, Av. General Justo, Centro\",\n        \"line_2\": \"8º andar\",\n        \"zip_code\": \"20021130\",\n        \"city\": \"Rio de Janeiro\",\n        \"state\": \"RJ\",\n        \"country\": \"BR\",\n        \"status\": \"active\",\n        \"created_at\": \"2017-08-22T19:50:44Z\",\n        \"updated_at\": \"2017-08-22T19:50:44Z\"\n    },\n    \"created_at\": \"2017-08-22T19:50:44Z\",\n    \"updated_at\": \"2017-08-22T19:50:51Z\",\n    \"phones\": {},\n    \"metadata\": {\n        \"company\": \"Avengers\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "cus_6l5dMWZ0hkHZ4XnE"
                    },
                    "name": {
                      "type": "string",
                      "example": "Wonderful Woman"
                    },
                    "email": {
                      "type": "string",
                      "example": "wonderfulwoman@avengers.com"
                    },
                    "gender": {
                      "type": "string",
                      "example": "female"
                    },
                    "delinquent": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "addr_ONzp3ZbTvfDJ35k9"
                        },
                        "line_1": {
                          "type": "string",
                          "example": "375, Av. General Justo, Centro"
                        },
                        "line_2": {
                          "type": "string",
                          "example": "8º andar"
                        },
                        "zip_code": {
                          "type": "string",
                          "example": "20021130"
                        },
                        "city": {
                          "type": "string",
                          "example": "Rio de Janeiro"
                        },
                        "state": {
                          "type": "string",
                          "example": "RJ"
                        },
                        "country": {
                          "type": "string",
                          "example": "BR"
                        },
                        "status": {
                          "type": "string",
                          "example": "active"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2017-08-22T19:50:44Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2017-08-22T19:50:44Z"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-08-22T19:50:44Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-08-22T19:50:51Z"
                    },
                    "phones": {
                      "type": "object",
                      "properties": {}
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "company": {
                          "type": "string",
                          "example": "Avengers"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Customer not found.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Customer not found."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Editar cliente",
        "description": "",
        "operationId": "editar-cliente-1",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Código do cliente. Formato `cus_XXXXXXXXXXXXXXXX`.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do cliente. Max: 64 caracteres."
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail do cliente. Max: 64 caracteres"
                  },
                  "code": {
                    "type": "string",
                    "description": "Código de referência do cliente no sistema da loja. Max: 52 caracteres"
                  },
                  "document": {
                    "type": "string",
                    "description": "CPF, CNPJ ou PASSAPORTE do cliente. Max: 16 caracteres para CPF e CNPJ e Max: 50 caracteres para PASSAPORTE"
                  },
                  "document_type": {
                    "type": "string",
                    "description": "Tipo de documento. Valores possíveis: CPF, CNPJ ou PASSPORT."
                  },
                  "type": {
                    "type": "string",
                    "description": "Tipo de cliente. Valores possíveis: **individual** (pessoa física) ou **company** (pessoa jurídica).<br>**Obrigatório**, caso o `document` seja enviado."
                  },
                  "gender": {
                    "type": "string",
                    "description": "Sexo do cliente . Valores possíveis: **male** ou **female**"
                  },
                  "address": {
                    "type": "object",
                    "description": "Endereço do cliente. [Saiba mais sobre endereços](https://docs.pagar.me/reference/endere%C3%A7os)",
                    "properties": {}
                  },
                  "phone": {
                    "type": "object",
                    "description": "Telefones do cliente. [Saiba mais sobre o telefones](https://docs.pagar.me/reference#telefones-1)",
                    "properties": {}
                  },
                  "birthdate": {
                    "type": "string",
                    "description": "Data de nascimento do cliente.",
                    "format": "date"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Objeto chave/valor utilizado para armazenar informações adicionais sobre o cliente. [Saiba mais sobre metadata](https://docs.pagar.me/reference/metadata-1)"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "name": "Peter Parker",
                    "email": "parker@avengers.com",
                    "gender": "male"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"cus_6l5dMWZ0hkHZ4XnE\",\n  \"name\": \"Peter Parker\",\n  \"email\": \"parker@avengers.com\",\n  \"document\": \"26224451990\",\n  \"gender\": \"male\",\n  \"type\": \"individual\",\n  \"delinquent\": false,\n  \"created_at\": \"2017-05-02T23:26:49Z\",\n  \"updated_at\": \"2017-05-02T23:28:16Z\",\n  \"phones\": {\n    \"home_phone\": {\n      \"country_code\": \"55\",\n      \"number\": \"0000002000\",\n      \"area_code\": \"021\"\n    }\n  },\n  \"metadata\": {\n    \"id\": \"my_customer_id\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "cus_6l5dMWZ0hkHZ4XnE"
                    },
                    "name": {
                      "type": "string",
                      "example": "Peter Parker"
                    },
                    "email": {
                      "type": "string",
                      "example": "parker@avengers.com"
                    },
                    "document": {
                      "type": "string",
                      "example": "26224451990"
                    },
                    "gender": {
                      "type": "string",
                      "example": "male"
                    },
                    "type": {
                      "type": "string",
                      "example": "individual"
                    },
                    "delinquent": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-05-02T23:26:49Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-05-02T23:28:16Z"
                    },
                    "phones": {
                      "type": "object",
                      "properties": {
                        "home_phone": {
                          "type": "object",
                          "properties": {
                            "country_code": {
                              "type": "string",
                              "example": "55"
                            },
                            "number": {
                              "type": "string",
                              "example": "0000002000"
                            },
                            "area_code": {
                              "type": "string",
                              "example": "021"
                            }
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "my_customer_id"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"The request is invalid.\",\n    \"errors\": {\n        \"customer.name\": [\n            \"The name field is required.\"\n        ]\n    },\n    \"request\": {\n        \"email\": \"tonystarkk@avengers.com\",\n        \"code\": \"MY_CUSTOMER_001\",\n        \"document\": \"123456789\",\n        \"type\": \"individual\",\n        \"address\": {\n            \"line_1\": \"375, Av. General Justo, Centro\",\n            \"line_2\": \"8º andar\",\n            \"zip_code\": \"20021130\",\n            \"city\": \"Rio de Janeiro\",\n            \"state\": \"RJ\",\n            \"country\": \"BR\",\n        },\n        \"birthdate\": \"1984-05-03T00:00:00Z\",\n        \"phones\": {\n            \"home_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            },\n            \"mobile_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            }\n        },\n        \"gender\": \"male\",\n        \"metadata\": {\n            \"company\": \"Avengers\"\n        }\n    }\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/customers/{customer_id}/cards": {
      "post": {
        "summary": "Criar cartão",
        "description": "Este recurso cria um `card` associado ao `customer` através do `customer_id` informado.",
        "operationId": "criar-cartão",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Código do cliente. Formato: `cus_XXXXXXXXXXXXXXXX`",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "holder_name",
                  "exp_month",
                  "exp_year",
                  "cvv"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do cartão. Entre 13 e 19 caracteres"
                  },
                  "holder_name": {
                    "type": "string",
                    "description": "Nome do portador como está impresso no cartão. Máximo de 64 caracteres (Caracteres especiais e números não são aceitos)"
                  },
                  "holder_document": {
                    "type": "string",
                    "description": "CPF ou CNPJ do portador do cartão. Obrigatório caso o tipo do cartão seja voucher (bandeiras **VR** ou **Pluxee**)."
                  },
                  "exp_month": {
                    "type": "integer",
                    "description": "Mês de validade do cartão. Valor entre 1 e 12 (inclusive)",
                    "format": "int32"
                  },
                  "exp_year": {
                    "type": "integer",
                    "description": "Ano de validade do cartão. Formatos **yy** ou **yyyy**. Ex: 23 ou 2023.",
                    "format": "int32"
                  },
                  "cvv": {
                    "type": "string",
                    "description": "Código de segurança do cartão. O campo aceita 4 ou 3 caracteres, variando por bandeira."
                  },
                  "brand": {
                    "type": "string",
                    "description": "Bandeira do cartão. Para cartões de crédito, temos como valores possíveis: **elo**, **mastercard**, **visa**, **amex**, **jcb**, **aura**, **hipercard**, **diners**, **unionpay** ou **discover**."
                  },
                  "label": {
                    "type": "string",
                    "description": "Indica a label do cartão"
                  },
                  "billing_address_id": {
                    "type": "string",
                    "description": "Código do endereço de cobrança. Max: 36 caracteres.<>**Opcional**, pode ser utilizado no lugar do `billing_address`."
                  },
                  "billing_address": {
                    "type": "object",
                    "description": "Endereço de cobrança.",
                    "properties": {
                      "line_1": {
                        "type": "string",
                        "description": "Linha 1 do endereço. (Número, Rua, e Bairro - Nesta ordem e separados por vírgula) Max: 256 caracteres."
                      },
                      "line_2": {
                        "type": "string",
                        "description": "Linha 2 do endereço. (Complemento - Andar, Sala, Apto). Max: 128 caracteres."
                      },
                      "zip_code": {
                        "type": "string",
                        "description": "CEP. Max: 16 caracteres."
                      },
                      "city": {
                        "type": "string",
                        "description": "Cidade. Max: 64 caracteres."
                      },
                      "state": {
                        "type": "string",
                        "description": "Código do estado no formato ISO 3166-2."
                      },
                      "country": {
                        "type": "string",
                        "description": "Código do país no formato ISO 3166-1 alpha-2."
                      }
                    }
                  },
                  "options": {
                    "type": "object",
                    "description": "Objeto com opções para a criação do cartão. Um exemplo de opção que pode ser adicionada ao cartão é o `verify_card` : `true`, que informa que haverá uma validação do cartão antes da utilização (Zero Dollar Auth).",
                    "properties": {}
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Objeto chave/valor utilizado para armazenar informações adicionais sobre o cartão.  [Saiba mais sobre metadata](https://docs.pagar.me/reference/metadata-1)"
                  },
                  "token": {
                    "type": "string",
                    "description": "Pode ser enviado no lugar dos dados do cartão, caso este já tenha sido tokenizado previamente. [Saiba mais sobre criação de token de cartão.](https://docs.pagar.me/reference/criar-token-cart%C3%A3o-1)"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "number": "4000000000000010",
                    "holder_name": "Tony Stark",
                    "holder_document": "93095135270",
                    "exp_month": 1,
                    "exp_year": 30,
                    "cvv": "351",
                    "brand": "Mastercard",
                    "label": "Sua bandeira",
                    "billing_address": {
                      "line_1": "375, Av. General Osorio, Centro",
                      "line_2": "7º Andar",
                      "zip_code": "220000111",
                      "city": "Rio de Janeiro",
                      "state": "RJ",
                      "country": "BR"
                    },
                    "options": {
                      "verify_card": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"card_8ELY0AwVF9HDa3jK\",\n    \"first_six_digits\": \"542501\",\n    \"last_four_digits\": \"7793\",\n    \"brand\": \"Mastercard\",\n    \"holder_name\": \"Tony Stark\",\n    \"holder_document\": \"93095135270\",\n    \"exp_month\": 1,\n    \"exp_year\": 2030,\n    \"status\": \"active\",\n    \"label\": \"Sua bandeira\",\n    \"created_at\": \"2017-07-07T19:50:33Z\",\n    \"updated_at\": \"2017-07-07T19:50:33Z\",\n    \"billing_address\": {\n        \"zip_code\": \"220000111\",\n        \"city\": \"Rio de Janeiro\",\n        \"state\": \"RJ\",\n        \"country\": \"BR\",\n        \"line_1\": \"375, Av. General Osorio, Centro\",\n        \"line_2\": \"7º Andar\"\n    },\n    \"customer\": {\n        \"id\": \"cus_yoqONwOJI1IBNbjl\",\n        \"name\": \"Tony Stark\",\n        \"email\": \"0fee2dc5-e440-4dd1-9cd6-9c2bc90533d0@avengers.com\",\n        \"document\": \"93095135270\",\n        \"type\": \"individual\",\n        \"delinquent\": false,\n        \"created_at\": \"2017-07-07T19:50:23Z\",\n        \"updated_at\": \"2017-07-07T19:50:23Z\",\n        \"phones\": {\n            \"home_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            },\n            \"mobile_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            }\n        },\n        \"metadata\": {\n            \"company\": \"Avengers\"\n        }\n    },\n    \"type\": \"credit\"\n}"
                  },
                  "OK - Network Token": {
                    "value": "{\n    \"id\": \"card_ej6MVD4sYLUBVy92\",\n    \"first_six_digits\": \"400000\",\n    \"last_four_digits\": \"0010\",\n    \"brand\": \"Visa\",\n    \"holder_name\": \"Tony Stark\",\n    \"holder_document\": \"93095135270\",\n    \"exp_month\": 1,\n    \"exp_year\": 2030,\n    \"status\": \"active\",\n    \"type\": \"credit\",\n    \"created_at\": \"2023-03-17T14:01:48Z\",\n    \"updated_at\": \"2023-03-17T14:01:48Z\",\n    \"billing_address\": {\n        \"zip_code\": \"220000111\",\n        \"city\": \"Rio de Janeiro\",\n        \"state\": \"RJ\",\n        \"country\": \"BR\",\n        \"line_1\": \"375, Av. General Osorio, Centro\",\n        \"line_2\": \"7º Andar\"\n    },\n    \"network_token\": {\n        \"token_unique_reference\": \"ea90e8e8-af1d-4f22-a2f0-a54d5f8b55b5\",\n        \"status\": \"active\"\n    },\n    \"customer\": {\n        \"id\": \"cus_9oYdjPACaAUXgJq0\",\n        \"name\": \"Tony Stark\",\n        \"email\": \"tonystarkk@avengers.com\",\n        \"code\": \"MY_CUSTOMER_001\",\n        \"document\": \"93095135270\",\n        \"document_type\": \"cpf\",\n        \"type\": \"individual\",\n        \"gender\": \"male\",\n        \"delinquent\": false,\n        \"created_at\": \"2023-03-17T14:01:45Z\",\n        \"updated_at\": \"2023-03-17T14:01:45Z\",\n        \"birthdate\": \"1984-05-03T00:00:00Z\",\n        \"phones\": {\n            \"home_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            },\n            \"mobile_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            }\n        },\n        \"metadata\": {\n            \"company\": \"Avengers\"\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "card_8ELY0AwVF9HDa3jK"
                        },
                        "first_six_digits": {
                          "type": "string",
                          "example": "542501"
                        },
                        "last_four_digits": {
                          "type": "string",
                          "example": "7793"
                        },
                        "brand": {
                          "type": "string",
                          "example": "Mastercard"
                        },
                        "holder_name": {
                          "type": "string",
                          "example": "Tony Stark"
                        },
                        "holder_document": {
                          "type": "string",
                          "example": "93095135270"
                        },
                        "exp_month": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "exp_year": {
                          "type": "integer",
                          "example": 2030,
                          "default": 0
                        },
                        "status": {
                          "type": "string",
                          "example": "active"
                        },
                        "label": {
                          "type": "string",
                          "example": "Sua bandeira"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2017-07-07T19:50:33Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2017-07-07T19:50:33Z"
                        },
                        "billing_address": {
                          "type": "object",
                          "properties": {
                            "zip_code": {
                              "type": "string",
                              "example": "220000111"
                            },
                            "city": {
                              "type": "string",
                              "example": "Rio de Janeiro"
                            },
                            "state": {
                              "type": "string",
                              "example": "RJ"
                            },
                            "country": {
                              "type": "string",
                              "example": "BR"
                            },
                            "line_1": {
                              "type": "string",
                              "example": "375, Av. General Osorio, Centro"
                            },
                            "line_2": {
                              "type": "string",
                              "example": "7º Andar"
                            }
                          }
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "cus_yoqONwOJI1IBNbjl"
                            },
                            "name": {
                              "type": "string",
                              "example": "Tony Stark"
                            },
                            "email": {
                              "type": "string",
                              "example": "0fee2dc5-e440-4dd1-9cd6-9c2bc90533d0@avengers.com"
                            },
                            "document": {
                              "type": "string",
                              "example": "93095135270"
                            },
                            "type": {
                              "type": "string",
                              "example": "individual"
                            },
                            "delinquent": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2017-07-07T19:50:23Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2017-07-07T19:50:23Z"
                            },
                            "phones": {
                              "type": "object",
                              "properties": {
                                "home_phone": {
                                  "type": "object",
                                  "properties": {
                                    "country_code": {
                                      "type": "string",
                                      "example": "55"
                                    },
                                    "number": {
                                      "type": "string",
                                      "example": "000000000"
                                    },
                                    "area_code": {
                                      "type": "string",
                                      "example": "21"
                                    }
                                  }
                                },
                                "mobile_phone": {
                                  "type": "object",
                                  "properties": {
                                    "country_code": {
                                      "type": "string",
                                      "example": "55"
                                    },
                                    "number": {
                                      "type": "string",
                                      "example": "000000000"
                                    },
                                    "area_code": {
                                      "type": "string",
                                      "example": "21"
                                    }
                                  }
                                }
                              }
                            },
                            "metadata": {
                              "type": "object",
                              "properties": {
                                "company": {
                                  "type": "string",
                                  "example": "Avengers"
                                }
                              }
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "credit"
                        }
                      }
                    },
                    {
                      "title": "OK - Network Token",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "card_ej6MVD4sYLUBVy92"
                        },
                        "first_six_digits": {
                          "type": "string",
                          "example": "400000"
                        },
                        "last_four_digits": {
                          "type": "string",
                          "example": "0010"
                        },
                        "brand": {
                          "type": "string",
                          "example": "Visa"
                        },
                        "holder_name": {
                          "type": "string",
                          "example": "Tony Stark"
                        },
                        "holder_document": {
                          "type": "string",
                          "example": "93095135270"
                        },
                        "exp_month": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "exp_year": {
                          "type": "integer",
                          "example": 2030,
                          "default": 0
                        },
                        "status": {
                          "type": "string",
                          "example": "active"
                        },
                        "type": {
                          "type": "string",
                          "example": "credit"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2023-03-17T14:01:48Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2023-03-17T14:01:48Z"
                        },
                        "billing_address": {
                          "type": "object",
                          "properties": {
                            "zip_code": {
                              "type": "string",
                              "example": "220000111"
                            },
                            "city": {
                              "type": "string",
                              "example": "Rio de Janeiro"
                            },
                            "state": {
                              "type": "string",
                              "example": "RJ"
                            },
                            "country": {
                              "type": "string",
                              "example": "BR"
                            },
                            "line_1": {
                              "type": "string",
                              "example": "375, Av. General Osorio, Centro"
                            },
                            "line_2": {
                              "type": "string",
                              "example": "7º Andar"
                            }
                          }
                        },
                        "network_token": {
                          "type": "object",
                          "properties": {
                            "token_unique_reference": {
                              "type": "string",
                              "example": "ea90e8e8-af1d-4f22-a2f0-a54d5f8b55b5"
                            },
                            "status": {
                              "type": "string",
                              "example": "active"
                            }
                          }
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "cus_9oYdjPACaAUXgJq0"
                            },
                            "name": {
                              "type": "string",
                              "example": "Tony Stark"
                            },
                            "email": {
                              "type": "string",
                              "example": "tonystarkk@avengers.com"
                            },
                            "code": {
                              "type": "string",
                              "example": "MY_CUSTOMER_001"
                            },
                            "document": {
                              "type": "string",
                              "example": "93095135270"
                            },
                            "document_type": {
                              "type": "string",
                              "example": "cpf"
                            },
                            "type": {
                              "type": "string",
                              "example": "individual"
                            },
                            "gender": {
                              "type": "string",
                              "example": "male"
                            },
                            "delinquent": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2023-03-17T14:01:45Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2023-03-17T14:01:45Z"
                            },
                            "birthdate": {
                              "type": "string",
                              "example": "1984-05-03T00:00:00Z"
                            },
                            "phones": {
                              "type": "object",
                              "properties": {
                                "home_phone": {
                                  "type": "object",
                                  "properties": {
                                    "country_code": {
                                      "type": "string",
                                      "example": "55"
                                    },
                                    "number": {
                                      "type": "string",
                                      "example": "000000000"
                                    },
                                    "area_code": {
                                      "type": "string",
                                      "example": "21"
                                    }
                                  }
                                },
                                "mobile_phone": {
                                  "type": "object",
                                  "properties": {
                                    "country_code": {
                                      "type": "string",
                                      "example": "55"
                                    },
                                    "number": {
                                      "type": "string",
                                      "example": "000000000"
                                    },
                                    "area_code": {
                                      "type": "string",
                                      "example": "21"
                                    }
                                  }
                                }
                              }
                            },
                            "metadata": {
                              "type": "object",
                              "properties": {
                                "company": {
                                  "type": "string",
                                  "example": "Avengers"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Customer not found.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Customer not found."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"The request is invalid.\",\n    \"errors\": {\n        \"card\": [\n            \"The card expiration date is invalid.\"\n        ]\n    },\n    \"request\": {\n        \"number\": \"5425019448107793\",\n        \"last_four_digits\": \"7793\",\n        \"brand\": \"Mastercard\",\n        \"holder_name\": \"Tony Stark\",\n        \"exp_month\": 1,\n        \"cvv\": \"123\",\n    \"billing_address\": {\n        \"zip_code\": \"220000111\",\n        \"city\": \"Rio de Janeiro\",\n        \"state\": \"RJ\",\n        \"country\": \"BR\",\n        \"line_1\": \"375, Av. General Osorio, Centro\",\n        \"line_2\": \"7º Andar\"\n    },\n        \"options\": {\n            \"verify_card\": true\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The request is invalid."
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "card": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "The card expiration date is invalid."
                          }
                        }
                      }
                    },
                    "request": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "string",
                          "example": "5425019448107793"
                        },
                        "last_four_digits": {
                          "type": "string",
                          "example": "7793"
                        },
                        "brand": {
                          "type": "string",
                          "example": "Mastercard"
                        },
                        "holder_name": {
                          "type": "string",
                          "example": "Tony Stark"
                        },
                        "exp_month": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "cvv": {
                          "type": "string",
                          "example": "123"
                        },
                        "billing_address": {
                          "type": "object",
                          "properties": {
                            "zip_code": {
                              "type": "string",
                              "example": "220000111"
                            },
                            "city": {
                              "type": "string",
                              "example": "Rio de Janeiro"
                            },
                            "state": {
                              "type": "string",
                              "example": "RJ"
                            },
                            "country": {
                              "type": "string",
                              "example": "BR"
                            },
                            "line_1": {
                              "type": "string",
                              "example": "375, Av. General Osorio, Centro"
                            },
                            "line_2": {
                              "type": "string",
                              "example": "7º Andar"
                            }
                          }
                        },
                        "options": {
                          "type": "object",
                          "properties": {
                            "verify_card": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Listar cartão",
        "description": "Este recurso permite a recuperação da **Wallet** contendo todos os cartões do cliente através do seu identificador (`customer_id`).",
        "operationId": "listar-cartão",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Código do cliente. Formato: `cus_XXXXXXXXXXXXXXXX`.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"card_onv508NKF3uy98lx\",\n      \"first_six_digits\": \"542501\",\n      \"last_four_digits\": \"8229\",\n      \"brand\": \"Amex\",\n      \"holder_name\": \"Tony Stark\",\n      \"exp_month\": 1,\n      \"exp_year\": 2030,\n      \"status\": \"active\",\n      \"created_at\": \"2017-03-28T22:09:43Z\",\n      \"updated_at\": \"2017-03-28T22:09:43Z\",\n      \"billing_address\": {\n        \"line_1\": \"10880, Malibu Point, Malibu Central\",\n        \"zip_code\": \"90265\",\n        \"city\": \"Malibu\",\n        \"state\": \"CA\",\n        \"country\": \"US\",\n      }\n    }, \n    {\n      \"id\": \"card_k8HDT5sof8CS53KS\",\n      \"first_six_digits\": \"411193\",\n      \"last_four_digits\": \"6203\",\n      \"brand\": \"Visa\",\n      \"holder_name\": \"Tony Stark\",\n      \"exp_month\": 1,\n      \"exp_year\": 2030,\n      \"status\": \"active\",\n      \"created_at\": \"2017-03-29T22:09:43Z\",\n      \"updated_at\": \"2017-03-29T22:09:43Z\",\n      \"billing_address\": {\n        \"line_1\": \"10880, Malibu Point, Malibu Central\",\n        \"zip_code\": \"90265\",\n        \"city\": \"Malibu\",\n        \"state\": \"CA\",\n        \"country\": \"US\",\n      }\n    }\n  ],\n  \"paging\": {\n    \"total\": 2\n  }\n}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Card not found.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Card not found."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/customers/{customer_id}/cards/{card_id}": {
      "get": {
        "summary": "Obter cartão",
        "description": "Possibilita a recuperação de um `card` através dos identificadores do cartão (`card_id`) e do cliente associado (`customer_id`), informados por parâmetro.",
        "operationId": "obter-cartão",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Código do cliente. Formato: `cus_XXXXXXXXXXXXXXXX`.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "card_id",
            "in": "path",
            "description": "Código do cartão. Formato: `card_XXXXXXXXXXXXXXXX`.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"card_8ELY0AwVF9HDa3jK\",\n    \"first_six_digits\": \"542501\",\n    \"last_four_digits\": \"7793\",\n    \"brand\": \"Mastercard\",\n    \"holder_name\": \"Tony Stark\",\n    \"exp_month\": 1,\n    \"exp_year\": 2030,\n    \"status\": \"active\",\n    \"created_at\": \"2017-07-07T19:50:33Z\",\n    \"updated_at\": \"2017-07-07T19:50:33Z\",\n    \"billing_address\": {\n        \"line_1\": \"10880, Malibu Point, Malibu Central\",\n        \"zip_code\": \"90265\",\n        \"city\": \"Malibu\",\n        \"state\": \"CA\",\n        \"country\": \"US\",\n    },\n    \"customer\": {\n        \"id\": \"cus_yoqONwOJI1IBNbjl\",\n        \"name\": \"Tony Stark\",\n        \"email\": \"0fee2dc5-e440-4dd1-9cd6-9c2bc90533d0@avengers.com\",\n        \"document\": \"93095135270\",\n        \"type\": \"individual\",\n        \"delinquent\": false,\n        \"created_at\": \"2017-07-07T19:50:23Z\",\n        \"updated_at\": \"2017-07-07T19:50:23Z\",\n        \"phones\": {\n            \"home_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            },\n            \"mobile_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            }\n        },\n        \"metadata\": {\n            \"company\": \"Avengers\"\n        }\n    },\n    \"type\": \"credit\"\n}"
                  },
                  "OK - Network Token": {
                    "value": "{\n    \"id\": \"card_ej6MVD4sYLUBVy92\",\n    \"first_six_digits\": \"400000\",\n    \"last_four_digits\": \"0010\",\n    \"brand\": \"Visa\",\n    \"holder_name\": \"Tony Stark\",\n    \"holder_document\": \"93095135270\",\n    \"exp_month\": 1,\n    \"exp_year\": 2030,\n    \"status\": \"active\",\n    \"type\": \"credit\",\n    \"created_at\": \"2023-03-17T14:01:48Z\",\n    \"updated_at\": \"2023-03-17T14:01:48Z\",\n    \"billing_address\": {\n        \"zip_code\": \"220000111\",\n        \"city\": \"Rio de Janeiro\",\n        \"state\": \"RJ\",\n        \"country\": \"BR\",\n        \"line_1\": \"375, Av. General Osorio, Centro\",\n        \"line_2\": \"7º Andar\"\n    },\n    \"network_token\": {\n        \"token_unique_reference\": \"ea90e8e8-af1d-4f22-a2f0-a54d5f8b55b5\",\n        \"status\": \"active\"\n    },\n    \"customer\": {\n        \"id\": \"cus_9oYdjPACaAUXgJq0\",\n        \"name\": \"Tony Stark\",\n        \"email\": \"tonystarkk@avengers.com\",\n        \"code\": \"MY_CUSTOMER_001\",\n        \"document\": \"93095135270\",\n        \"document_type\": \"cpf\",\n        \"type\": \"individual\",\n        \"gender\": \"male\",\n        \"delinquent\": false,\n        \"created_at\": \"2023-03-17T14:01:45Z\",\n        \"updated_at\": \"2023-03-17T14:01:45Z\",\n        \"birthdate\": \"1984-05-03T00:00:00Z\",\n        \"phones\": {\n            \"home_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            },\n            \"mobile_phone\": {\n                \"country_code\": \"55\",\n                \"number\": \"000000000\",\n                \"area_code\": \"21\"\n            }\n        },\n        \"metadata\": {\n            \"company\": \"Avengers\"\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "card_ej6MVD4sYLUBVy92"
                    },
                    "first_six_digits": {
                      "type": "string",
                      "example": "400000"
                    },
                    "last_four_digits": {
                      "type": "string",
                      "example": "0010"
                    },
                    "brand": {
                      "type": "string",
                      "example": "Visa"
                    },
                    "holder_name": {
                      "type": "string",
                      "example": "Tony Stark"
                    },
                    "holder_document": {
                      "type": "string",
                      "example": "93095135270"
                    },
                    "exp_month": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "exp_year": {
                      "type": "integer",
                      "example": 2030,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "active"
                    },
                    "type": {
                      "type": "string",
                      "example": "credit"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-03-17T14:01:48Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-03-17T14:01:48Z"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "zip_code": {
                          "type": "string",
                          "example": "220000111"
                        },
                        "city": {
                          "type": "string",
                          "example": "Rio de Janeiro"
                        },
                        "state": {
                          "type": "string",
                          "example": "RJ"
                        },
                        "country": {
                          "type": "string",
                          "example": "BR"
                        },
                        "line_1": {
                          "type": "string",
                          "example": "375, Av. General Osorio, Centro"
                        },
                        "line_2": {
                          "type": "string",
                          "example": "7º Andar"
                        }
                      }
                    },
                    "network_token": {
                      "type": "object",
                      "properties": {
                        "token_unique_reference": {
                          "type": "string",
                          "example": "ea90e8e8-af1d-4f22-a2f0-a54d5f8b55b5"
                        },
                        "status": {
                          "type": "string",
                          "example": "active"
                        }
                      }
                    },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "cus_9oYdjPACaAUXgJq0"
                        },
                        "name": {
                          "type": "string",
                          "example": "Tony Stark"
                        },
                        "email": {
                          "type": "string",
                          "example": "tonystarkk@avengers.com"
                        },
                        "code": {
                          "type": "string",
                          "example": "MY_CUSTOMER_001"
                        },
                        "document": {
                          "type": "string",
                          "example": "93095135270"
                        },
                        "document_type": {
                          "type": "string",
                          "example": "cpf"
                        },
                        "type": {
                          "type": "string",
                          "example": "individual"
                        },
                        "gender": {
                          "type": "string",
                          "example": "male"
                        },
                        "delinquent": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2023-03-17T14:01:45Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2023-03-17T14:01:45Z"
                        },
                        "birthdate": {
                          "type": "string",
                          "example": "1984-05-03T00:00:00Z"
                        },
                        "phones": {
                          "type": "object",
                          "properties": {
                            "home_phone": {
                              "type": "object",
                              "properties": {
                                "country_code": {
                                  "type": "string",
                                  "example": "55"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "000000000"
                                },
                                "area_code": {
                                  "type": "string",
                                  "example": "21"
                                }
                              }
                            },
                            "mobile_phone": {
                              "type": "object",
                              "properties": {
                                "country_code": {
                                  "type": "string",
                                  "example": "55"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "000000000"
                                },
                                "area_code": {
                                  "type": "string",
                                  "example": "21"
                                }
                              }
                            }
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "company": {
                              "type": "string",
                              "example": "Avengers"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Card not found.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Card not found."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Editar cartão",
        "description": "Com o verbo _HTTP PUT_, através do identificador do cartão (`card_id`) e do identificador do cliente ao qual o mesmo está associado (`customer_id`) é possível alterar dados do cartão informado.",
        "operationId": "editar-cartão",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Código do cliente. Formato: `cus_XXXXXXXXXXXXXXXX`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "card_id",
            "in": "path",
            "description": "Código do Cartão. Formato: `card_XXXXXXXXXXXXXXXX`.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "exp_month",
                  "exp_year"
                ],
                "properties": {
                  "holder_name": {
                    "type": "string",
                    "description": "Nome do portador como está impresso no cartão. Máximo de 64 caracteres (Caracteres especiais e números não são aceitos)"
                  },
                  "holder_document": {
                    "type": "string",
                    "description": "CPF ou CNPJ do portador do cartão. Obrigatório caso o tipo do cartão seja voucher (bandeiras **VR** ou **Pluxee**)."
                  },
                  "exp_month": {
                    "type": "integer",
                    "description": "Mês de validade do cartão. Valor entre 1 e 12 (inclusive)",
                    "format": "int32"
                  },
                  "exp_year": {
                    "type": "integer",
                    "description": "Ano de validade do cartão. Formatos **yy** ou **yyyy**. Ex: 23 ou 2023.",
                    "format": "int32"
                  },
                  "billing_address_id": {
                    "type": "string",
                    "description": "Código do endereço de cobrança. Max: 36 caracteres.<>**Opcional**, pode ser utilizado no lugar do `billing_address`."
                  },
                  "billing_address": {
                    "type": "object",
                    "description": "Endereço de cobrança.",
                    "properties": {}
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Objeto chave/valor utilizado para armazenar informações adicionais sobre o cartão.  [Saiba mais sobre metadata](https://docs.mundipagg.com/v1/reference#metadata)",
                    "properties": {}
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "holder_name": "Peter Parker",
                    "exp_month": 12,
[...]
