{
  "openapi": "3.0.3",
  "info": {
    "title": "Melhor Envio Shipping & Logistics API v2",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack melhorenvio.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://melhorenvio.com.br/api/v2"
    }
  ],
  "paths": {
    "/v2/me/orders/{id}": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /v2/me/orders/{id}",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_discuss_69b47495fd90dc60a674a8dd_dc63c05e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_discuss_69b47495fd90dc60a674a8dd_dc63c05e.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_discuss_69b47495fd90dc60a674a8dd_dc63c05e.md"
      }
    },
    "/api/v2/me/cart": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/cart",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_discuss_69de49c479d5f77187d9a3bf_5c43fed9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_discuss_69de49c479d5f77187d9a3bf_5c43fed9.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_discuss_69de49c479d5f77187d9a3bf_5c43fed9.md"
      },
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /api/v2/me/cart",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_discuss_6a7a1f72dc63540733e5a6f2_4339ce76.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_melhorenvio_com_br_discuss_6a7a1f72dc63540733e5a6f2_4339ce76.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_discuss_6a7a1f72dc63540733e5a6f2_4339ce76.md"
      }
    },
    "/v2/me/cart": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /v2/me/cart",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_discuss_69ea1e7cfe04864bb4b18a9b_9b93d822.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_discuss_69ea1e7cfe04864bb4b18a9b_9b93d822.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_discuss_69ea1e7cfe04864bb4b18a9b_9b93d822.md"
      }
    },
    "/ol-estou-desenvolvendo-uma-integra-o-com-a-api-do-melhor-envio-sandbox-e-todas-as-requisi-es-da-minha-aplica-o-retornam-http-403-com-server-awselb-2-0-e-content-type-html-mesmo-a-homepage": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /ol-estou-desenvolvendo-uma-integra-o-com-a-api-do-melhor-envio-sandbox-e-todas-as-requisi-es-da-minha-aplica-o-retornam-http-403-com-server-awselb-2-0-e-content-type-html-mesmo-a-homepage",
        "description": "Endpoint extraído do índice de navegação (Olá, estou desenvolvendo uma integração com a API do Melhor Envio (sandbox) e todas as requisições da minha aplicação retornam HTTP 403 com server: awselb/2.0 e content-type HTML, mesmo a homepage ().\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_discuss_7936fd2e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_discuss_7936fd2e.md"
      }
    },
    "/v2/me": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /v2/me",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_discuss_page_2_perPage_10_71f434e5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_discuss_page_2_perPage_10_71f434e5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_discuss_page_2_perPage_10_71f434e5.md"
      }
    },
    "/application-programming-interface": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /application-programming-interface",
        "description": "Endpoint derivado da referência oficial (application-programming-interface).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_docs_application-programming-interface_db3228f3.md#application-programming-interface`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_docs_application-programming-interface_db3228f3.md#application-programming-interface"
      }
    },
    "/v2/users": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /v2/users",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_docs_application-programming-interface_db3228f3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_docs_application-programming-interface_db3228f3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_docs_application-programming-interface_db3228f3.md"
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /webhooks",
        "description": "Endpoint derivado da referência oficial (webhooks).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_docs_webhooks_e373b66a.md#webhooks`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_docs_webhooks_e373b66a.md#webhooks"
      }
    },
    "/cadastrar-endereco-de-uma-loja": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /cadastrar-endereco-de-uma-loja",
        "description": "Endpoint derivado da referência oficial (cadastrar-endereco-de-uma-loja).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md#cadastrar-endereco-de-uma-loja`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md#cadastrar-endereco-de-uma-loja"
      }
    },
    "/solicita-o-do-token": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /solicita-o-do-token",
        "description": "Endpoint extraído do índice de navegação (Solicitação do token).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-informa-es-de-aplicativo": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informa-es-de-aplicativo",
        "description": "Endpoint extraído do índice de navegação (Listar informações de aplicativo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/c-lculo-de-fretes": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /c-lculo-de-fretes",
        "description": "Endpoint extraído do índice de navegação (Cálculo de Fretes).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/inserir-fretes-no-carrinho": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /inserir-fretes-no-carrinho",
        "description": "Endpoint extraído do índice de navegação (Inserir fretes no carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/inserir-log-stica-reversa-no-carrinho": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /inserir-log-stica-reversa-no-carrinho",
        "description": "Endpoint extraído do índice de navegação (Inserir Logística Reversa no carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/compra-de-fretes": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /compra-de-fretes",
        "description": "Endpoint extraído do índice de navegação (Compra de fretes).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-itens-do-carrinho": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-itens-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Listar itens do carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/exibir-informa-es-de-item-do-carrinho": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /exibir-informa-es-de-item-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Exibir informações de item do carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/remo-o-de-itens-do-carrinho": {
      "delete": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "DELETE /remo-o-de-itens-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Remoção de itens do carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/gera-o-de-etiquetas": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /gera-o-de-etiquetas",
        "description": "Endpoint extraído do índice de navegação (Geração de etiquetas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/impress-o-de-etiquetas": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /impress-o-de-etiquetas",
        "description": "Endpoint extraído do índice de navegação (Impressão de etiquetas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/impress-o-de-etiquetas-em-arquivo": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /impress-o-de-etiquetas-em-arquivo",
        "description": "Endpoint extraído do índice de navegação (Impressão de etiquetas em arquivo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/pr--visualiza-o-de-etiquetas": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /pr--visualiza-o-de-etiquetas",
        "description": "Endpoint extraído do índice de navegação (Pré-visualização de etiquetas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/impress-o-de-dace": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /impress-o-de-dace",
        "description": "Endpoint extraído do índice de navegação (Impressão de DACE).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/pesquisar-etiqueta": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /pesquisar-etiqueta",
        "description": "Endpoint extraído do índice de navegação (Pesquisar etiqueta).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-etiquetas": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-etiquetas",
        "description": "Endpoint extraído do índice de navegação (Listar etiquetas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-informa-es-de-uma-etiqueta": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informa-es-de-uma-etiqueta",
        "description": "Endpoint extraído do índice de navegação (Listar informações de uma etiqueta).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/verificar-se-etiqueta-pode-ser-cancelada": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /verificar-se-etiqueta-pode-ser-cancelada",
        "description": "Endpoint extraído do índice de navegação (Verificar se etiqueta pode ser cancelada).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      },
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /verificar-se-etiqueta-pode-ser-cancelada",
        "description": "Endpoint derivado da referência oficial (verificar-se-etiqueta-pode-ser-cancelada).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_verificar-se-etiqueta-pode-ser-cancelada_95f69e62.md#verificar-se-etiqueta-pode-ser-cancelada`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_verificar-se-etiqueta-pode-ser-cancelada_95f69e62.md#verificar-se-etiqueta-pode-ser-cancelada"
      }
    },
    "/cancelamento-de-etiquetas": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /cancelamento-de-etiquetas",
        "description": "Endpoint extraído do índice de navegação (Cancelamento de etiquetas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      },
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /cancelamento-de-etiquetas",
        "description": "Endpoint derivado da referência oficial (cancelamento-de-etiquetas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_cancelamento-de-etiquetas_fada591b.md#cancelamento-de-etiquetas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cancelamento-de-etiquetas_fada591b.md#cancelamento-de-etiquetas"
      }
    },
    "/status-da-etiqueta": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /status-da-etiqueta",
        "description": "Endpoint extraído do índice de navegação (Status da etiqueta).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-transportadoras": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-transportadoras",
        "description": "Endpoint extraído do índice de navegação (Listar transportadoras).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-informa-es-de-uma-transportadora": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informa-es-de-uma-transportadora",
        "description": "Endpoint extraído do índice de navegação (Listar informações de uma transportadora).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-servi-os": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-servi-os",
        "description": "Endpoint extraído do índice de navegação (Listar serviços).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-informa-es-de-um-servi-o": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informa-es-de-um-servi-o",
        "description": "Endpoint extraído do índice de navegação (Listar informações de um serviço).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-ag-ncias-e-op-es-de-filtro": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-ag-ncias-e-op-es-de-filtro",
        "description": "Endpoint extraído do índice de navegação (Listar agências (e opções de filtro)).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-informa-es-de-uma-ag-ncia": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informa-es-de-uma-ag-ncia",
        "description": "Endpoint extraído do índice de navegação (Listar informações de uma agência).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-informa-es-do-usu-rio": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informa-es-do-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Listar informações do usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-endere-os-do-usu-rio": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-endere-os-do-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Listar endereços do usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/saldo-do-usu-rio": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /saldo-do-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Saldo do usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/inserir-saldo-na-carteira-do-usu-rio": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /inserir-saldo-na-carteira-do-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Inserir saldo na carteira do usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-lojas-do-usu-rio": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-lojas-do-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Listar lojas do usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/cadastrar-loja": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /cadastrar-loja",
        "description": "Endpoint extraído do índice de navegação (Cadastrar loja).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/visualizar-loja": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /visualizar-loja",
        "description": "Endpoint extraído do índice de navegação (Visualizar loja).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/cadastrar-endere-o-de-uma-loja": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /cadastrar-endere-o-de-uma-loja",
        "description": "Endpoint extraído do índice de navegação (Cadastrar endereço de uma loja).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-endere-os-de-uma-loja": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-endere-os-de-uma-loja",
        "description": "Endpoint extraído do índice de navegação (Listar endereços de uma loja).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/cadastrar-telefones-de-uma-loja": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /cadastrar-telefones-de-uma-loja",
        "description": "Endpoint extraído do índice de navegação (Cadastrar telefones de uma loja).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/listar-telefones-de-uma-loja": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-telefones-de-uma-loja",
        "description": "Endpoint extraído do índice de navegação (Listar telefones de uma loja).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/api/v2/me/companies/{storeId}/addresses": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/companies/{storeId}/addresses",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md`)",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-endereco-de-uma-loja_a15dfbc5.md"
      }
    },
    "/api/v2/me/companies": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/companies",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_cadastrar-loja_66102d9a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_cadastrar-loja_66102d9a.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-loja_66102d9a.md"
      }
    },
    "/api/v2/me/companies/{storeId}/phones": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/companies/{storeId}/phones",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_cadastrar-telefones-de-uma-loja_5cb3b7b3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_cadastrar-telefones-de-uma-loja_5cb3b7b3.md`)",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastrar-telefones-de-uma-loja_5cb3b7b3.md"
      }
    },
    "/cadastro-e-informacoes-das-lojas": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /cadastro-e-informacoes-das-lojas",
        "description": "Endpoint derivado da referência oficial (cadastro-e-informacoes-das-lojas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_cadastro-e-informacoes-das-lojas_3df622b3.md#cadastro-e-informacoes-das-lojas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastro-e-informacoes-das-lojas_3df622b3.md#cadastro-e-informacoes-das-lojas"
      }
    },
    "/cadastro-e-visualizacao-de-enderecos-e-telefones-de-lojas": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /cadastro-e-visualizacao-de-enderecos-e-telefones-de-lojas",
        "description": "Endpoint derivado da referência oficial (cadastro-e-visualizacao-de-enderecos-e-telefones-de-lojas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_cadastro-e-visualizacao-de-enderecos-e-telefon_a3d7f346.md#cadastro-e-visualizacao-de-enderecos-e-telefones-de-lojas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cadastro-e-visualizacao-de-enderecos-e-telefon_a3d7f346.md#cadastro-e-visualizacao-de-enderecos-e-telefones-de-lojas"
      }
    },
    "/calculo-de-fretes-por-produtos": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /calculo-de-fretes-por-produtos",
        "description": "Endpoint derivado da referência oficial (calculo-de-fretes-por-produtos).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_calculo-de-fretes-por-produtos_eac2ec4c.md#calculo-de-fretes-por-produtos`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_calculo-de-fretes-por-produtos_eac2ec4c.md#calculo-de-fretes-por-produtos"
      }
    },
    "/api/v2/me/shipment/calculate": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/calculate",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_calculo-de-fretes-por-produtos_eac2ec4c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_calculo-de-fretes-por-produtos_eac2ec4c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_calculo-de-fretes-por-produtos_eac2ec4c.md"
      }
    },
    "/api/v2/me/shipment/cancelRecent": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/cancelRecent",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_cancelamento-de-etiquetas_fada591b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_cancelamento-de-etiquetas_fada591b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cancelamento-de-etiquetas_fada591b.md"
      }
    },
    "/api/v2/me/shipment/cancel": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/cancel",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_cancelamento-de-etiquetas_fada591b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_cancelamento-de-etiquetas_fada591b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cancelamento-de-etiquetas_fada591b.md"
      }
    },
    "/compra-de-fretes-1": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /compra-de-fretes-1",
        "description": "Endpoint derivado da referência oficial (compra-de-fretes-1).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_compra-de-fretes-1_28fe5928.md#compra-de-fretes-1`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_compra-de-fretes-1_28fe5928.md#compra-de-fretes-1"
      }
    },
    "/api/v2/me/shipment/checkout": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/checkout",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_compra-de-fretes-1_28fe5928.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_compra-de-fretes-1_28fe5928.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_compra-de-fretes-1_28fe5928.md"
      }
    },
    "/cotacao": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /cotacao",
        "description": "Endpoint derivado da referência oficial (cotacao).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_cotacao_d6cd92d1.md#cotacao`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_cotacao_d6cd92d1.md#cotacao"
      }
    },
    "/criando-envios": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /criando-envios",
        "description": "Endpoint derivado da referência oficial (criando-envios).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_criando-envios_0e7e7ca5.md#criando-envios`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_criando-envios_0e7e7ca5.md#criando-envios"
      }
    },
    "/etiquetas": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /etiquetas",
        "description": "Endpoint derivado da referência oficial (etiquetas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_etiquetas_c3e4ba10.md#etiquetas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_etiquetas_c3e4ba10.md#etiquetas"
      }
    },
    "/api/v2/me/shipment/generateRecent": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/generateRecent",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_etiquetas_c3e4ba10.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_etiquetas_c3e4ba10.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_etiquetas_c3e4ba10.md"
      }
    },
    "/api/v2/me/shipment/generate": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/generate",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_etiquetas_c3e4ba10.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_etiquetas_c3e4ba10.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_etiquetas_c3e4ba10.md"
      }
    },
    "/exibir-informacoes-de-item-do-carrinho": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /exibir-informacoes-de-item-do-carrinho",
        "description": "Endpoint derivado da referência oficial (exibir-informacoes-de-item-do-carrinho).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_exibir-informacoes-de-item-do-carrinho_262f4c05.md#exibir-informacoes-de-item-do-carrinho`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_exibir-informacoes-de-item-do-carrinho_262f4c05.md#exibir-informacoes-de-item-do-carrinho"
      }
    },
    "/api/v2/me/cart/{id}": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/cart/{id}",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_exibir-informacoes-de-item-do-carrinho_262f4c05.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_exibir-informacoes-de-item-do-carrinho_262f4c05.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_exibir-informacoes-de-item-do-carrinho_262f4c05.md"
      }
    },
    "/geracao-de-etiquetas": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /geracao-de-etiquetas",
        "description": "Endpoint derivado da referência oficial (geracao-de-etiquetas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_geracao-de-etiquetas_44f76e03.md#geracao-de-etiquetas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_geracao-de-etiquetas_44f76e03.md#geracao-de-etiquetas"
      }
    },
    "/impressao-dace": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /impressao-dace",
        "description": "Endpoint derivado da referência oficial (impressao-dace).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_impressao-dace_68ffc842.md#impressao-dace`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-dace_68ffc842.md#impressao-dace"
      }
    },
    "/api/v2/me/imprimir/dace/{arquivo}/{order_id}": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/imprimir/dace/{arquivo}/{order_id}",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_impressao-dace_68ffc842.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_impressao-dace_68ffc842.md`)",
        "parameters": [
          {
            "name": "arquivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-dace_68ffc842.md"
      }
    },
    "/api/v2/me/orders/{order_id}": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/orders/{order_id}",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_impressao-dace_68ffc842.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_impressao-dace_68ffc842.md`)",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-dace_68ffc842.md"
      }
    },
    "/impressao-de-etiquetas-em-arquivo": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /impressao-de-etiquetas-em-arquivo",
        "description": "Endpoint derivado da referência oficial (impressao-de-etiquetas-em-arquivo).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md#impressao-de-etiquetas-em-arquivo`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md#impressao-de-etiquetas-em-arquivo"
      }
    },
    "/api/v2/me/imprimir/{arquivo}/{id}Recent": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/imprimir/{arquivo}/{id}Recent",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md`)",
        "parameters": [
          {
            "name": "arquivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md"
      }
    },
    "/api/v2/me/orders/{id}": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/orders/{id}",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md"
      }
    },
    "/api/v2/me/imprimir/{arquivo}/{id}": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/imprimir/{arquivo}/{id}",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md`)",
        "parameters": [
          {
            "name": "arquivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-de-etiquetas-em-arquivo_bde72813.md"
      }
    },
    "/impressao-de-etiquetas": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /impressao-de-etiquetas",
        "description": "Endpoint derivado da referência oficial (impressao-de-etiquetas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_impressao-de-etiquetas_11a05e95.md#impressao-de-etiquetas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-de-etiquetas_11a05e95.md#impressao-de-etiquetas"
      }
    },
    "/api/v2/me/shipment/printRecent": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/printRecent",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_impressao-de-etiquetas_11a05e95.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_impressao-de-etiquetas_11a05e95.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-de-etiquetas_11a05e95.md"
      }
    },
    "/api/v2/me/shipment/print": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/print",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_impressao-de-etiquetas_11a05e95.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_impressao-de-etiquetas_11a05e95.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_impressao-de-etiquetas_11a05e95.md"
      }
    },
    "/informacoes-do-usuario": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /informacoes-do-usuario",
        "description": "Endpoint derivado da referência oficial (informacoes-do-usuario).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_informacoes-do-usuario_ded18460.md#informacoes-do-usuario`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_informacoes-do-usuario_ded18460.md#informacoes-do-usuario"
      }
    },
    "/api/v2/me": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_informacoes-do-usuario_ded18460.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_informacoes-do-usuario_ded18460.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_informacoes-do-usuario_ded18460.md"
      }
    },
    "/inserir-logistica-reversa-no-carrinho": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /inserir-logistica-reversa-no-carrinho",
        "description": "Endpoint derivado da referência oficial (inserir-logistica-reversa-no-carrinho).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_inserir-logistica-reversa-no-carrinho_bca516a4.md#inserir-logistica-reversa-no-carrinho`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_inserir-logistica-reversa-no-carrinho_bca516a4.md#inserir-logistica-reversa-no-carrinho"
      }
    },
    "/api/v2/me/cart/reverse": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/cart/reverse",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_inserir-logistica-reversa-no-carrinho_bca516a4.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_inserir-logistica-reversa-no-carrinho_bca516a4.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_inserir-logistica-reversa-no-carrinho_bca516a4.md"
      }
    },
    "/inserir-saldo-na-carteira-do-usuario": {
      "post": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "POST /inserir-saldo-na-carteira-do-usuario",
        "description": "Endpoint derivado da referência oficial (inserir-saldo-na-carteira-do-usuario).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_inserir-saldo-na-carteira-do-usuario_f7bd0a39.md#inserir-saldo-na-carteira-do-usuario`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_inserir-saldo-na-carteira-do-usuario_f7bd0a39.md#inserir-saldo-na-carteira-do-usuario"
      }
    },
    "/api/v2/me/balanceRecent": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/balanceRecent",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_inserir-saldo-na-carteira-do-usuario_f7bd0a39.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_inserir-saldo-na-carteira-do-usuario_f7bd0a39.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_inserir-saldo-na-carteira-do-usuario_f7bd0a39.md"
      }
    },
    "/api/v2/me/balance": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/balance",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_inserir-saldo-na-carteira-do-usuario_f7bd0a39.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_inserir-saldo-na-carteira-do-usuario_f7bd0a39.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_inserir-saldo-na-carteira-do-usuario_f7bd0a39.md"
      }
    },
    "/listagem-de-transportadoras-servi": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listagem-de-transportadoras-servi",
        "description": "Endpoint derivado da referência oficial (listagem-de-transportadoras-servi).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listagem-de-transportadoras-servi_os-e-ag_ncia_6f8ada8b.md#listagem-de-transportadoras-servi`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listagem-de-transportadoras-servi_os-e-ag_ncia_6f8ada8b.md#listagem-de-transportadoras-servi"
      }
    },
    "/api/v2/me/shipment/companies": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/companies",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listagem-de-transportadoras-servi_os-e-ag_ncia_6f8ada8b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listagem-de-transportadoras-servi_os-e-ag_ncia_6f8ada8b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listagem-de-transportadoras-servi_os-e-ag_ncia_6f8ada8b.md"
      }
    },
    "/listar-agencias-e-opcoes-de-filtro": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-agencias-e-opcoes-de-filtro",
        "description": "Endpoint derivado da referência oficial (listar-agencias-e-opcoes-de-filtro).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listar-agencias-e-opcoes-de-filtro_b5fdc4e6.md#listar-agencias-e-opcoes-de-filtro`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-agencias-e-opcoes-de-filtro_b5fdc4e6.md#listar-agencias-e-opcoes-de-filtro"
      }
    },
    "/api/v2/me/shipment/agencies": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/agencies",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-agencias-e-opcoes-de-filtro_b5fdc4e6.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-agencias-e-opcoes-de-filtro_b5fdc4e6.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-agencias-e-opcoes-de-filtro_b5fdc4e6.md"
      }
    },
    "/listar-enderecos-de-uma-loja": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-enderecos-de-uma-loja",
        "description": "Endpoint derivado da referência oficial (listar-enderecos-de-uma-loja).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listar-enderecos-de-uma-loja_a7df5e2a.md#listar-enderecos-de-uma-loja`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-enderecos-de-uma-loja_a7df5e2a.md#listar-enderecos-de-uma-loja"
      }
    },
    "/api/v2/me/companies/{storeId}/addressesRecent": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/companies/{storeId}/addressesRecent",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-enderecos-de-uma-loja_a7df5e2a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-enderecos-de-uma-loja_a7df5e2a.md`)",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-enderecos-de-uma-loja_a7df5e2a.md"
      }
    },
    "/listar-enderecos-do-usuario": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-enderecos-do-usuario",
        "description": "Endpoint derivado da referência oficial (listar-enderecos-do-usuario).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listar-enderecos-do-usuario_e9b3cdbb.md#listar-enderecos-do-usuario`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-enderecos-do-usuario_e9b3cdbb.md#listar-enderecos-do-usuario"
      }
    },
    "/api/v2/me/addresses": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/addresses",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-enderecos-do-usuario_e9b3cdbb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-enderecos-do-usuario_e9b3cdbb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-enderecos-do-usuario_e9b3cdbb.md"
      }
    },
    "/api/v2/me/ordersRecent": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/ordersRecent",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-etiquetas_2b4de19e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-etiquetas_2b4de19e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-etiquetas_2b4de19e.md"
      }
    },
    "/api/v2/me/orders": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/orders",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-etiquetas_2b4de19e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-etiquetas_2b4de19e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-etiquetas_2b4de19e.md"
      }
    },
    "/listar-informacoes-de-aplicativo": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informacoes-de-aplicativo",
        "description": "Endpoint derivado da referência oficial (listar-informacoes-de-aplicativo).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listar-informacoes-de-aplicativo_295626b0.md#listar-informacoes-de-aplicativo`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-aplicativo_295626b0.md#listar-informacoes-de-aplicativo"
      }
    },
    "/api/v2/me/shipment/app-settings": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/app-settings",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-informacoes-de-aplicativo_295626b0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-informacoes-de-aplicativo_295626b0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-aplicativo_295626b0.md"
      }
    },
    "/listar-informacoes-de-um-servico": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informacoes-de-um-servico",
        "description": "Endpoint derivado da referência oficial (listar-informacoes-de-um-servico).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listar-informacoes-de-um-servico_dc27d088.md#listar-informacoes-de-um-servico`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-um-servico_dc27d088.md#listar-informacoes-de-um-servico"
      }
    },
    "/api/v2/me/shipment/services/{serviceId}": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/services/{serviceId}",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-informacoes-de-um-servico_dc27d088.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-informacoes-de-um-servico_dc27d088.md`)",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-um-servico_dc27d088.md"
      }
    },
    "/listar-informacoes-de-uma-agencia": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informacoes-de-uma-agencia",
        "description": "Endpoint derivado da referência oficial (listar-informacoes-de-uma-agencia).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-agencia_f241dd59.md#listar-informacoes-de-uma-agencia`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-agencia_f241dd59.md#listar-informacoes-de-uma-agencia"
      }
    },
    "/api/v2/me/shipment/agencies/{agencyId}": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/agencies/{agencyId}",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-agencia_f241dd59.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-agencia_f241dd59.md`)",
        "parameters": [
          {
            "name": "agencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-agencia_f241dd59.md"
      }
    },
    "/listar-informacoes-de-uma-etiqueta": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informacoes-de-uma-etiqueta",
        "description": "Endpoint derivado da referência oficial (listar-informacoes-de-uma-etiqueta).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-etiqueta_aadf9e4c.md#listar-informacoes-de-uma-etiqueta`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-etiqueta_aadf9e4c.md#listar-informacoes-de-uma-etiqueta"
      }
    },
    "/api/v2/me/orders/{id}Recent": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/orders/{id}Recent",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-etiqueta_aadf9e4c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-etiqueta_aadf9e4c.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-etiqueta_aadf9e4c.md"
      }
    },
    "/listar-informacoes-de-uma-transportadora": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informacoes-de-uma-transportadora",
        "description": "Endpoint derivado da referência oficial (listar-informacoes-de-uma-transportadora).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-transportadora_6ea6afd3.md#listar-informacoes-de-uma-transportadora`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-transportadora_6ea6afd3.md#listar-informacoes-de-uma-transportadora"
      }
    },
    "/api/v2/me/shipment/companies/{companyId}": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /api/v2/me/shipment/companies/{companyId}",
        "description": "Endpoint extraído da documentação (docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-transportadora_6ea6afd3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-transportadora_6ea6afd3.md`)",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_melhorenvio_com_br_reference_listar-informacoes-de-uma-transportadora_6ea6afd3.md"
      }
    },
    "/listar-informacoes-do-usuario": {
      "get": {
        "tags": [
          "Melhorenvio"
        ],
        "summary": "GET /listar-informacoes-do-usuario",
        "description": "Endpoint derivado da referência oficial (listar-informacoes-do-usuario).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_melhorenvio_com_br_reference_listar-informacoes-do-usuario_f134290e.md#listar-informacoes-do-usuario`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
[...]
