{
  "openapi": "3.0.3",
  "info": {
    "title": "AliExpress Open Platform API (Brasil)",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack aliexpress.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sg.aliexpress.com"
    }
  ],
  "paths": {
    "/alilog/configs/sdk/common.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /alilog/configs/sdk/common.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (announcement_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/configs/sdk/common.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /configs/sdk/common.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (announcement_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/announcement/getCategories.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/announcement/getCategories.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (announcement_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/announcement/getAnnouncementList.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/announcement/getAnnouncementList.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (announcement_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/announcement/getAnnouncementDetail.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/announcement/getAnnouncementDetail.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (announcement_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/sdk/common.json": {
      "get": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "GET /sdk/common.json",
        "description": "Endpoint extraído da documentação (announcement_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/users/status": {
      "get": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "GET /api/v2/users/status",
        "description": "Endpoint extraído da documentação (announcement_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "//gm.mmstat.com": {
      "get": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "GET //gm.mmstat.com",
        "description": "Endpoint extraído por declaração de rota (announcement_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "//log.mmstat.com": {
      "get": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "GET //log.mmstat.com",
        "description": "Endpoint extraído por declaração de rota (announcement_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/mtop/metadata/get.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/mtop/metadata/get.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (dada_community_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/apidoc/getApiCategoryList.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/apidoc/getApiCategoryList.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/apidoc/getApiCategory.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/apidoc/getApiCategory.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/apidoc/getApi.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/apidoc/getApi.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/apidoc/getApiTools.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/apidoc/getApiTools.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/apidoc/getApiPermissionGroup.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/apidoc/getApiPermissionGroup.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/apidoc/getApiCategoryMixed.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/apidoc/getApiCategoryMixed.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/apidoc/feedback/feedback.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/apidoc/feedback/feedback.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/doc/getCategories.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/doc/getCategories.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/doc/getTermCategories.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/doc/getTermCategories.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/handler/share/doc/getDocDetail.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /handler/share/doc/getDocDetail.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/msgcenter/unreadcount.json": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /msgcenter/unreadcount.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_api_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/doc2/LazadaDoc.do": {
      "post": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "POST /doc2/LazadaDoc.do",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (doc_doc_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/test": {
      "get": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "GET /api/test",
        "description": "Endpoint extraído da documentação (network_json_10_handler_share_apidoc_getApi_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/rest": {
      "get": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "GET /v2/rest",
        "description": "Endpoint extraído da documentação (network_json_2_handler_share_announcement_getAnnouncementList_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "get": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "GET /login",
        "description": "Endpoint extraído por declaração de rota (dada_community_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/open/logout": {
      "get": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "GET /open/logout",
        "description": "Endpoint extraído por declaração de rota (dada_community_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/status": {
      "get": {
        "tags": [
          "Aliexpress"
        ],
        "summary": "GET /v2/users/status",
        "description": "Endpoint extraído da documentação (dada_community_index_htm.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Autenticação via Token Bearer / JWT para AliExpress Open Platform API (Brasil)"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Chave de API (API Key / Token) para AliExpress Open Platform API (Brasil)"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "Fluxo de autorização OAuth 2.0 para AliExpress Open Platform API (Brasil)",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api-sg.aliexpress.com/oauth/authorize",
            "tokenUrl": "https://api-sg.aliexpress.com/oauth/token",
            "scopes": {
              "read": "Leitura de recursos em AliExpress Open Platform API (Brasil)",
              "write": "Gravação e mutação em AliExpress Open Platform API (Brasil)"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "example": "email"
                },
                "message": {
                  "type": "string",
                  "example": "O campo email é obrigatório."
                }
              }
            }
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "responses": {
      "400": {
        "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "401": {
        "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "403": {
        "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "404": {
        "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "429": {
        "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "500": {
        "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "x-ratelimit": {
    "description": "Políticas de Limites de Requisições e Throttling para a stack aliexpress.",
    "default_limit": "Consulte o portal de desenvolvedores para cotas por plano.",
    "headers": [
      "X-RateLimit-Limit",
      "X-RateLimit-Remaining",
      "X-RateLimit-Reset"
    ]
  },
  "x-retry-policy": {
    "description": "Diretrizes e Políticas Recomendadas de Retries / Resiliência para a stack aliexpress.",
    "max_retries": 3,
    "retry_on_status": [
      429,
      500,
      502,
      503,
      504
    ],
    "backoff_strategy": "exponential",
    "initial_delay_ms": 1000,
    "max_delay_ms": 10000,
    "jitter": true,
    "idempotency_header": "X-Idempotency-Key"
  },
  "webhooks": {
    "aliexpress_event_notification": {
      "post": {
        "summary": "Notificação de Eventos em Tempo Real (AliExpress Open Platform API (Brasil))",
        "description": "Webhook disparado automaticamente quando ocorrem mutações de status, pedidos, rastreio ou pagamentos em AliExpress Open Platform API (Brasil).",
        "requestBody": {
          "description": "Payload JSON com dados do evento disparado.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "order.created"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "data": {
                    "type": "object",
                    "description": "Dados da entidade mutada."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processado e confirmado com sucesso."
          }
        }
      }
    }
  }
}