{
  "openapi": "3.0.3",
  "info": {
    "title": "PagBank (PagSeguro) Open Payment API v4",
    "version": "4.1"
  },
  "servers": [
    {
      "url": "https://api.pagseguro.com"
    }
  ],
  "components": {
    "securitySchemes": {},
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "example": "email"
                },
                "message": {
                  "type": "string",
                  "example": "O campo email é obrigatório."
                }
              }
            }
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "responses": {
      "400": {
        "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "401": {
        "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "403": {
        "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "404": {
        "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "429": {
        "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "500": {
        "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {}
  ],
  "paths": {
    "/public-keys": {
      "post": {
        "summary": "Criar chave pública",
        "description": "",
        "operationId": "criar-chave-publica",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Define o tipo de recurso desejado.",
                    "enum": [
                      "card",
                      "webhook"
                    ]
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "type": "card"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"public_key\": \"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnc4jeuW/23oz2/l9WPeO1RLE/yT1/x+WfsDmvibRI8X8rwkW/12swEoD5QqyViphdwwlI6fgldsa0NzjzFFVWGnahKFPIC5UJYTjxMj/h72quxgnJ4KveCBBy+U9WcUo9utaUjQAE4CegvcDLv5WbYDdq2mDNPPNo3kw5MmzhNrPTT0s/veVSTtItMS9fkV29vyFoVVuGCcaLXwE4Fuf1VaYYLjjPgvb+rEoHODUVRMmsBwTuyn5OUMj5bEKwyaw1b82dr2tpxY8lNNbPV5L1CN7mPMZkNcgcty5diq8f2ouRcFX78CW9gRfYRQ3COwhJPQiLzjptRHRsbdwIDAQAB\",\n    \"created_at\": 1580237849044\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_key": {
                      "type": "string",
                      "example": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnc4jeuW/23oz2/l9WPeO1RLE/yT1/x+WfsDmvibRI8X8rwkW/12swEoD5QqyViphdwwlI6fgldsa0NzjzFFVWGnahKFPIC5UJYTjxMj/h72quxgnJ4KveCBBy+U9WcUo9utaUjQAE4CegvcDLv5WbYDdq2mDNPPNo3kw5MmzhNrPTT0s/veVSTtItMS9fkV29vyFoVVuGCcaLXwE4Fuf1VaYYLjjPgvb+rEoHODUVRMmsBwTuyn5OUMj5bEKwyaw1b82dr2tpxY8lNNbPV5L1CN7mPMZkNcgcty5diq8f2ouRcFX78CW9gRfYRQ3COwhJPQiLzjptRHRsbdwIDAQAB"
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1580237849044,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/public-keys/card": {
      "get": {
        "summary": "Consultar chave pública",
        "description": "",
        "operationId": "consultar-chave-publica",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"public_key\": \"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnc4jeuW/23oz2/l9WPeO1RLE/yT1/x+WfsDmvibRI8X8rwkW/12swEoD5QqyViphdwwlI6fgldsa0NzjzFFVWGnahKFPIC5UJYTjxMj/h72quxgnJ4KveCBBy+U9WcUo9utaUjQAE4CegvcDLv5WbYDdq2mDNPPNo3kw5MmzhNrPTT0s/veVSTtItMS9fkV29vyFoVVuGCcaLXwE4Fuf1VaYYLjjPgvb+rEoHODUVRMmsBwTuyn5OUMj5bEKwyaw1b82dr2tpxY8lNNbPV5L1CN7mPMZkNcgcty5diq8f2ouRcFX78CW9gRfYRQ3COwhJPQiLzjptRHRsbdwIDAQAB\",\n    \"created_at\": 1580237849044\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_key": {
                      "type": "string",
                      "example": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnc4jeuW/23oz2/l9WPeO1RLE/yT1/x+WfsDmvibRI8X8rwkW/12swEoD5QqyViphdwwlI6fgldsa0NzjzFFVWGnahKFPIC5UJYTjxMj/h72quxgnJ4KveCBBy+U9WcUo9utaUjQAE4CegvcDLv5WbYDdq2mDNPPNo3kw5MmzhNrPTT0s/veVSTtItMS9fkV29vyFoVVuGCcaLXwE4Fuf1VaYYLjjPgvb+rEoHODUVRMmsBwTuyn5OUMj5bEKwyaw1b82dr2tpxY8lNNbPV5L1CN7mPMZkNcgcty5diq8f2ouRcFX78CW9gRfYRQ3COwhJPQiLzjptRHRsbdwIDAQAB"
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1580237849044,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Alterar chave pública",
        "description": "",
        "operationId": "alterar-chave-publica",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"public_key\": \"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnc4jeuW/23oz2/l9WPeO1RLE/yT1/x+WfsDmvibRI8X8rwkW/12swEoD5QqyViphdwwlI6fgldsa0NzjzFFVWGnahKFPIC5UJYTjxMj/h72quxgnJ4KveCBBy+U9WcUo9utaUjQAE4CegvcDLv5WbYDdq2mDNPPNo3kw5MmzhNrPTT0s/veVSTtItMS9fkV29vyFoVVuGCcaLXwE4Fuf1VaYYLjjPgvb+rEoHODUVRMmsBwTuyn5OUMj5bEKwyaw1b82dr2tpxY8lNNbPV5L1CN7mPMZkNcgcty5diq8f2ouRcFX78CW9gRfYRQ3COwhJPQiLzjptRHRsbdwIDAQAB\",\n    \"created_at\": 1580237849044\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_key": {
                      "type": "string",
                      "example": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnc4jeuW/23oz2/l9WPeO1RLE/yT1/x+WfsDmvibRI8X8rwkW/12swEoD5QqyViphdwwlI6fgldsa0NzjzFFVWGnahKFPIC5UJYTjxMj/h72quxgnJ4KveCBBy+U9WcUo9utaUjQAE4CegvcDLv5WbYDdq2mDNPPNo3kw5MmzhNrPTT0s/veVSTtItMS9fkV29vyFoVVuGCcaLXwE4Fuf1VaYYLjjPgvb+rEoHODUVRMmsBwTuyn5OUMj5bEKwyaw1b82dr2tpxY8lNNbPV5L1CN7mPMZkNcgcty5diq8f2ouRcFX78CW9gRfYRQ3COwhJPQiLzjptRHRsbdwIDAQAB"
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1580237849044,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/oauth2/application": {
      "post": {
        "summary": "Criar aplicação",
        "description": "",
        "operationId": "criar-aplicacao",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome que irá identificar você ou sua plataforma na tela de permissões. Exemplo: \"name\" gostaria de sua permissão para acessar ..."
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição da sua plataforma."
                  },
                  "site": {
                    "type": "string",
                    "description": "A URL de seu site."
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "O usuário será direcionado para essa URL após a aprovação das permissões. Esse parâmetro não é dinâmico. ⚠️ **Obrigatório caso a autorização pelo usuário seja feita com o [Connect Authorization](ref:introducao-connect#connect-authorization).** ⚠️."
                  },
                  "logo": {
                    "type": "string",
                    "description": "URL da imagem do seu logotipo. <br /> Você deve enviar a URL em que seu logo esteja hospedado caso você esteja utilizando o Connect Authorization.<br /> - Tamanho mínimo: 220x80 pixels. <br />- Tamanho ideal ou máximo: 440x160 pixels."
                  }
                }
              },
              "examples": {
                "Criar Aplicação": {
                  "value": {
                    "name": "App Name",
                    "description": "Descrição da platforma",
                    "site": "http://www.parceiro.com.br",
                    "redirect_uri": "http://www.parceiro.com.br/retorno",
                    "logo": "https://www.parceiro.com/static/media/logo.d2ebaf8f.svg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{  \n   \"client_id\":\"s6BhdRkqt3\",\n   \"site\":\"http://www.parceiro.com.br\",\n   \"description\":\"Descrição da platforma\",\n   \"name\":\"App Name\",\n   \"client_secret\":\"4eC39HqLyjWDarjtT1zdp7dc\",\n   \"redirect_uri\":\"http://www.parceiro.com.br/retorno\",\n   \"logo\":\"https://www.parceiro.com/static/media/logo.d2ebaf8f.svg\",\n   \"account_id\": \"ACCO_737348328392729\",\n \t \"client_type\": \"confidential\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "string",
                      "example": "s6BhdRkqt3"
                    },
                    "site": {
                      "type": "string",
                      "example": "http://www.parceiro.com.br"
                    },
                    "description": {
                      "type": "string",
                      "example": "Descrição da platforma"
                    },
                    "name": {
                      "type": "string",
                      "example": "App Name"
                    },
                    "client_secret": {
                      "type": "string",
                      "example": "4eC39HqLyjWDarjtT1zdp7dc"
                    },
                    "redirect_uri": {
                      "type": "string",
                      "example": "http://www.parceiro.com.br/retorno"
                    },
                    "logo": {
                      "type": "string",
                      "example": "https://www.parceiro.com/static/media/logo.d2ebaf8f.svg"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "ACCO_737348328392729"
                    },
                    "client_type": {
                      "type": "string",
                      "example": "confidential"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error_messages\": [\n    {\n      \"code\": 41001,\n      \"description\": \"invalid_request\",\n      \"parameter_name\": \"site\"\n    },\n    {\n      \"code\": 41002,\n      \"description\": \"invalid_redirect_uri\",\n      \"parameter_name\": \"redirectUri\"\n\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 41001,
                            "default": 0
                          },
                          "description": {
                            "type": "string",
                            "example": "invalid_request"
                          },
                          "parameter_name": {
                            "type": "string",
                            "example": "site"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/oauth2/application/{client_id}": {
      "get": {
        "summary": "Consultar aplicação",
        "description": "",
        "operationId": "consultar-aplicacao",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "Identificador único fornecido no momento da criação da aplicação.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"client_id\": \"s6BhdRkqt3\",\n    \"site\": \"http://www.parceiro.com.br\",\n    \"description\": \"Descrição da platforma\",\n    \"name\": \"App Name\",\n    \"redirect_uri\": \"http://www.parceiro.com.br/retorno\",\n    \"logo\":\"https://www.parceiro.com/static/media/logo.d2ebaf8f.svg\",\n    \"account_id\": \"ACCO_737348328392729\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "string",
                      "example": "s6BhdRkqt3"
                    },
                    "site": {
                      "type": "string",
                      "example": "http://www.parceiro.com.br"
                    },
                    "description": {
                      "type": "string",
                      "example": "Descrição da platforma"
                    },
                    "name": {
                      "type": "string",
                      "example": "App Name"
                    },
                    "redirect_uri": {
                      "type": "string",
                      "example": "http://www.parceiro.com.br/retorno"
                    },
                    "logo": {
                      "type": "string",
                      "example": "https://www.parceiro.com/static/media/logo.d2ebaf8f.svg"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "ACCO_737348328392729"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {},
              "examples": {
                "Request Example": {
                  "value": {
                    "client_id": "s6BhdRkqt3"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/authorize/sms": {
      "post": {
        "summary": "Solicitar autorização via SMS",
        "description": "",
        "operationId": "solicitar-autorizacao-via-sms",
        "parameters": [
          {
            "name": "X_CLIENT_ID",
            "in": "header",
            "description": "Identificador único fornecido no momento da criação da aplicação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X_CLIENT_SECRET",
            "in": "header",
            "description": "Chave privada a aplicação fornecida no momento da criação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bank_branch": {
                    "type": "string",
                    "description": "Agência bancária do cliente PagBank que deseja conceder permissão para o parceiro efetuar ações em nome dele na plataforma PagBank."
                  },
                  "account_number": {
                    "type": "string",
                    "description": "Número da conta bancária do cliente PagBank que deseja conceder permissão para o parceiro efetuar ações em nome dele na plataforma PagBank."
                  }
                }
              },
              "examples": {
                "VIA SMS": {
                  "value": {
                    "bank_branch": "1234",
                    "account_number": "12345678-9"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"ASMS_107E73B2-C63C-4C9E-B34F-9E2BD9A9F93E\",\n  \"phone_number\": \"(11) *****-2741\",\n  \"retry_after_seconds\": 251\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "ASMS_107E73B2-C63C-4C9E-B34F-9E2BD9A9F93E"
                    },
                    "phone_number": {
                      "type": "string",
                      "example": "(11) *****-2741"
                    },
                    "retry_after_seconds": {
                      "type": "integer",
                      "example": 251,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_messages\": [\n        {\n            \"code\": \"INVALID_CREDENTIAL\",\n            \"description\": \"Invalid credentials. Review AUTHORIZATION, X_CLIENT_ID and X_CLIENT_SECRET headers\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "INVALID_CREDENTIAL"
                          },
                          "description": {
                            "type": "string",
                            "example": "Invalid credentials. Review AUTHORIZATION, X_CLIENT_ID and X_CLIENT_SECRET headers"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_messages\": [\n        {\n            \"code\": \"USER_TEMPORARILY_BLOCKED\",\n            \"description\": \"User temporarily blocked for SMS interactions. Try again later\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error_messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "example": "UNREACHABLE_PHONE"
                              },
                              "description": {
                                "type": "string",
                                "example": "Unable to contact account phone number. Merchant have to contact PagSeguro"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error_messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "example": "MERCHANT_ACCOUNT_REQUIRED"
                              },
                              "description": {
                                "type": "string",
                                "example": "Merchant account required"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error_messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "example": "USER_TEMPORARILY_BLOCKED"
                              },
                              "description": {
                                "type": "string",
                                "example": "User temporarily blocked for SMS interactions. Try again later"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/oauth2/token": {
      "post": {
        "summary": "Obter access token",
        "description": "",
        "operationId": "obter-access-token",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          },
          {
            "name": "X_CLIENT_ID",
            "in": "header",
            "description": "Identificador único fornecido no momento da criação da aplicação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X_CLIENT_SECRET",
            "in": "header",
            "description": "Chave privada a aplicação fornecida no momento da criação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Indica o tipo de autenticação utilizada.",
                    "enum": [
                      "sms",
                      "authorization_code",
                      "challenge"
                    ]
                  },
                  "code": {
                    "type": "string",
                    "description": "Código que foi enviado para URL no momento da permissão usuário (Connect Authorization). Obrigatório quando `grant_type = authorization_code`."
                  },
                  "sms_code": {
                    "type": "string",
                    "description": "Código SMS enviado para o número cadastrado na base PagSeguro (Connect SMS). Obrigatório quando `grant_type = sms`."
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "URL de redirecionamento do cliente, deve ser a mesma do momento da permissão. Obrigatório quando `grant_type = authorization_code`."
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail do cliente PagBank que deseja conceder permissão para o parceiro efetuar ações em nome dele na plataforma PagSeguro. Obrigatório quando `grant_type = sms`."
                  },
                  "scope": {
                    "type": "string",
                    "description": "Nome do escopo. Quando `grant_tpe` for informado como `challenge`, obrigatoriamente use `certificate.create` para solicitar a criação de um certificado digital."
                  },
                  "authorization_id": {
                    "type": "string",
                    "description": "Identifica a autorização obtida ao solicitar a autorização via SMS."
                  }
                }
              },
              "examples": {
                "Connect SMS": {
                  "value": {
                    "grant_type": "sms",
                    "authorization_id": "ASMS_91CC93B3-295B-4C0E-B09C-FE6B40FF43CD",
                    "sms_code": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Connect SMS": {
                    "value": "{\n    \"token_type\": \"bearer\",\n    \"access_token\": \"2YotnFZFEjr1zCsicMWpAA\",\n    \"expires_in\": \"xxxxxx\",\n    \"refresh_token\": \"tGzv3JOkF0XG5Qx2TlKWIA\",\n    \"scope\": \"scope.name\",\n    \"account_id\": \"ACCO_737348328392943\"\n}"
                  },
                  "Connect Authorization": {
                    "value": "{\n  \"token_type\": \"bearer\",\n  \"access_token\": \"2YotnFZFEjr1zCsicMWpAA\",\n  \"expires_in\": \"xxxxxx\",\n  \"refresh_token\": \"tGzv3JOkF0XG5Qx2TlKWIA\",\n  \"scope\": \"scope.name\",\n  \"account_id\": \"ACCO_737348328392943\"\n}"
                  },
                  "Challenge": {
                    "value": "{\n    \"access_token\": \"898a9c83-4b41-4363-9e10-6177053ba648\",\n    \"token_type\": \"Bearer\",\n    \"expires_in\": 300,\n    \"scope\": \"certificate.create\",\n    \"challenge\": \"bqh3kvehVgb1wa9V1xaTWgVHEeaHzI+DIm2mCUPL1Lx4v70W69DlZ21m+rvWG69m8NKhedB4zQAfhm2WoZa3bYFw+yMu2azv7q4KZ0LnEMOtHTM/H88Zx5hFirU7Svp1Im37q40PLRVSq6pb3t5fL4JM8NDvbHS8su1xTKDsT5YDE5YDhwY/rxvylViWNLsrVf99tQel1D4bbcG4JToBM40Noq4OCoDntR31UM/UaMlj2df8yInw67aaRtE6PdTaC8g1dcE5i/sEPJ5lUEr4cGvVK9cDkqt+MAkS2zmH0pXMm5m7SG7JFxgckA8xdTMymEsz+GZPI3YQ3PUFXTn2TA==\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Connect SMS",
                      "type": "object",
                      "properties": {
                        "token_type": {
                          "type": "string",
                          "example": "bearer"
                        },
                        "access_token": {
                          "type": "string",
                          "example": "2YotnFZFEjr1zCsicMWpAA"
                        },
                        "expires_in": {
                          "type": "string",
                          "example": "xxxxxx"
                        },
                        "refresh_token": {
                          "type": "string",
                          "example": "tGzv3JOkF0XG5Qx2TlKWIA"
                        },
                        "scope": {
                          "type": "string",
                          "example": "scope.name"
                        },
                        "account_id": {
                          "type": "string",
                          "example": "ACCO_737348328392943"
                        }
                      }
                    },
                    {
                      "title": "Connect Authorization",
                      "type": "object",
                      "properties": {
                        "token_type": {
                          "type": "string",
                          "example": "bearer"
                        },
                        "access_token": {
                          "type": "string",
                          "example": "2YotnFZFEjr1zCsicMWpAA"
                        },
                        "expires_in": {
                          "type": "string",
                          "example": "xxxxxx"
                        },
                        "refresh_token": {
                          "type": "string",
                          "example": "tGzv3JOkF0XG5Qx2TlKWIA"
                        },
                        "scope": {
                          "type": "string",
                          "example": "scope.name"
                        },
                        "account_id": {
                          "type": "string",
                          "example": "ACCO_737348328392943"
                        }
                      }
                    },
                    {
                      "title": "Challenge",
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "example": "898a9c83-4b41-4363-9e10-6177053ba648"
                        },
                        "token_type": {
                          "type": "string",
                          "example": "Bearer"
                        },
                        "expires_in": {
                          "type": "integer",
                          "example": 300,
                          "default": 0
                        },
                        "scope": {
                          "type": "string",
                          "example": "certificate.create"
                        },
                        "challenge": {
                          "type": "string",
                          "example": "bqh3kvehVgb1wa9V1xaTWgVHEeaHzI+DIm2mCUPL1Lx4v70W69DlZ21m+rvWG69m8NKhedB4zQAfhm2WoZa3bYFw+yMu2azv7q4KZ0LnEMOtHTM/H88Zx5hFirU7Svp1Im37q40PLRVSq6pb3t5fL4JM8NDvbHS8su1xTKDsT5YDE5YDhwY/rxvylViWNLsrVf99tQel1D4bbcG4JToBM40Noq4OCoDntR31UM/UaMlj2df8yInw67aaRtE6PdTaC8g1dcE5i/sEPJ5lUEr4cGvVK9cDkqt+MAkS2zmH0pXMm5m7SG7JFxgckA8xdTMymEsz+GZPI3YQ3PUFXTn2TA=="
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/oauth2/refresh": {
      "post": {
        "summary": "Renovar access token",
        "description": "",
        "operationId": "renovar-access-token",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          },
          {
            "name": "X_CLIENT_ID",
            "in": "header",
            "description": "Identificador único fornecido no momento da criação da aplicação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X_CLIENT_SECRET",
            "in": "header",
            "description": "Chave privada a aplicação fornecida no momento da criação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Tipo de solicitação desejada.",
                    "default": "refresh_token"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Token de identificação para renovação do acesso concedido. A partir dele, um novo `access_token` e um novo `refresh_token` serão fornecidos."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "grant_type": "refresh_token",
                    "refresh_token": "tGzv3JOkF0XG5Qx2TlKWIA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"token_type\": \"bearer\",\n    \"access_token\": \"2YotnFZFEjr1zCsicMWpAA\",\n    \"expires_in\": \"xxxxxx\",\n    \"refresh_token\": \"tGzv3JOkF0XG5Qx2TlKWIA\",\n    \"scope\": \"scope.name\",\n    \"account_id\": \"ACCO_737348328392943\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_type": {
                      "type": "string",
                      "example": "bearer"
                    },
                    "access_token": {
                      "type": "string",
                      "example": "2YotnFZFEjr1zCsicMWpAA"
                    },
                    "expires_in": {
                      "type": "string",
                      "example": "xxxxxx"
                    },
                    "refresh_token": {
                      "type": "string",
                      "example": "tGzv3JOkF0XG5Qx2TlKWIA"
                    },
                    "scope": {
                      "type": "string",
                      "example": "scope.name"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "ACCO_737348328392943"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/oauth2/revoke": {
      "post": {
        "summary": "Revogar access token",
        "description": "",
        "operationId": "revogar-access-token",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          },
          {
            "name": "X_CLIENT_ID",
            "in": "header",
            "description": "Identificador único fornecido no momento da criação da aplicação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X_CLIENT_SECRET",
            "in": "header",
            "description": "Chave privada a aplicação fornecida no momento da criação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token_type_hint": {
                    "type": "string",
                    "description": "Tipo de token que está sendo enviado.",
                    "enum": [
                      "access_token",
                      "refresh_token"
                    ]
                  },
                  "token": {
                    "type": "string",
                    "description": "Token correspondente ao <code>token_type_hint</code>, que será utilizado para fazer a revogação."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "token_type_hint": "access_token",
                    "token": "tGzv3JOkF0XG5Qx2TlKWIA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error_messages\": [\n    {\n      \"code\": 41007,\n      \"description\": \"invalid_request\",\n      \"parameter_name\": \"token_type\"\n    },\n    {\n      \"code\": 41003,\n      \"description\": \"invalid_client\",\n      \"parameter_name\": \"client_id\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 41007,
                            "default": 0
                          },
                          "description": {
                            "type": "string",
                            "example": "invalid_request"
                          },
                          "parameter_name": {
                            "type": "string",
                            "example": "token_type"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/certificates": {
      "post": {
        "summary": "Criar certificado digital",
        "description": "",
        "operationId": "criar-certificado-digital",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Token com scope `create.certificate`. Deve ser enviado no formato `Bearer <token>`.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          },
          {
            "name": "X_CHALLENGE",
            "in": "header",
            "description": "Desafio descriptografado gerado no Connect Challenge.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"CERT:8D6DCEF5-DA7A-43E8-9B26-D628F7FFC3F3\",\n    \"created_at\": \"2022-06-27T15:22:14.837510767-03:00\",\n    \"key\": \"key\",\n    \"pem\": \"pem\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "CERT:8D6DCEF5-DA7A-43E8-9B26-D628F7FFC3F3"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-06-27T15:22:14.837510767-03:00"
                    },
                    "key": {
                      "type": "string",
                      "example": "key"
                    },
                    "pem": {
                      "type": "string",
                      "example": "pem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n            \"erros\": \"account_error\",\n            \"description\": [\n                \"Something unexpected happened. Please, contact the PagSeguro team\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "erros": {
                      "type": "string",
                      "example": "account_error"
                    },
                    "description": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Something unexpected happened. Please, contact the PagSeguro team"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts": {
      "post": {
        "summary": "Criar conta",
        "description": "",
        "operationId": "criar-conta",
        "parameters": [
          {
            "name": "x-client-id",
            "in": "header",
            "description": "Identificador único fornecido no momento da criação da aplicação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-secret",
            "in": "header",
            "description": "Chave privada fornecida no momento da criação da aplicação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token de autenticação. Deve ser enviado no formato `Bearer <token>`.",
            "schema": {
              "type": "string",
              "default": "Bearer <token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "email",
                  "person",
                  "tos_acceptance"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Tipo de conta a ser criada.",
                    "enum": [
                      "BUYER",
                      "SELLER",
                      "ENTERPRISE"
                    ]
                  },
                  "business_category": {
                    "type": "string",
                    "description": "Classificação do negócio. ⚠️ **Deve ser informada para todas as contas dos tipo `SELLER` ou `ENTERPRISE`.** ⚠️",
                    "enum": [
                      "ADULT_CONTENT",
                      "ARCHITECTURAL_AND_ENGINEERING",
                      "ART_AND_ANTIQUE",
                      "BAKERY",
                      "BEAUTY_AND_BARBER",
                      "BROKER",
                      "BUTCHERY",
                      "CLOTHING_AND_ACCESSORIES",
                      "DENTISTRY",
                      "DOOR_TO_DOOR_SALES",
                      "EDUCATION",
                      "ENTERTAINMENT",
                      "FLORIST",
                      "FREIGHT_FORWARDER",
                      "GENERAL_CONTRACTOR",
                      "GOVERNMENT",
                      "HEALTH_AND_BEAUTY_SERVICE",
                      "HOUSEHOLD_APPLIANCE",
                      "HOUSE_HOLD",
                      "JEWELRY_AND_WATCH",
                      "KEY_CHAIN",
                      "LEGAL_SERVICE",
                      "LODGING",
                      "MEDICAL_SERVICE",
                      "NONDURABLE_GOODS",
                      "OTHER_SERVICES",
                      "PACKAGE_STORE",
                      "PERSONAL_TRAINER",
                      "PET_SUPPLIES",
                      "PHOTOGRAPHY_AND_VIDEO",
                      "PODIATRIST_AND_CHIROPODIST",
                      "PROFESSIONAL_SERVICE",
                      "REAL_ESTATE_AGENT",
                      "RELIGION_AND_SPIRITUALITY",
                      "REPAIR_SHOPS",
                      "RESTAURANT",
                      "SHOE_STORE",
                      "SUPERMARKET",
                      "TAILOR_AND_SEAMSTRESS",
                      "TATTOOIST",
                      "TELECOMMUNICATION",
                      "TRANSPORTATION_SERVICE",
                      "VEHICLE_AND_PARTS",
                      "VEHICLE_SERVICES",
                      "VETERINARY_SERVICE"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail utilizado no login da conta."
                  },
                  "person": {
                    "type": "object",
                    "description": "Dados do dono da conta ou de um sócio em caso de contas para empresas. Apenas um sócio deverá ser informado para esse caso.",
                    "required": [
                      "name",
                      "birth_date",
                      "mother_name",
                      "tax_id"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome completo do usuário ou do sócio."
                      },
                      "birth_date": {
                        "type": "string",
                        "description": "Data de nascimento do usuário ou do sócio. Formato a ser informado: `yyyy-mm-dd`"
                      },
                      "mother_name": {
                        "type": "string",
                        "description": "Nome da mãe do dono da conta ou do sócio."
                      },
                      "tax_id": {
                        "type": "string",
                        "description": "CPF do dono da conta ou do único sócio."
                      },
                      "address": {
                        "type": "object",
                        "description": "Objeto contendo as informações do endereço.",
                        "required": [
                          "street",
                          "number",
                          "locality",
                          "city",
                          "region_code",
                          "country",
                          "postal_code"
                        ],
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Rua do endereço."
                          },
                          "number": {
                            "type": "string",
                            "description": "Número do endereço."
                          },
                          "complement": {
                            "type": "string",
                            "description": "Complemento do endereço."
                          },
                          "locality": {
                            "type": "string",
                            "description": "Bairro do endereço."
                          },
                          "city": {
                            "type": "string",
                            "description": "Cidade do endereço."
                          },
                          "region_code": {
                            "type": "string",
                            "description": "Código do Estado do endereço ([Padrão ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2))."
                          },
                          "country": {
                            "type": "string",
                            "description": "País do endereço ([Padrão ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3))."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "CEP do endereço."
                          }
                        }
                      },
                      "phones": {
                        "type": "array",
                        "description": "Contém uma lista de telefones de contato.",
                        "items": {
                          "properties": {
                            "country": {
                              "type": "string",
                              "description": "Código de operadora do País (DDI)."
                            },
                            "area": {
                              "type": "string",
                              "description": "Código de operadora local (DDD)."
                            },
                            "number": {
                              "type": "string",
                              "description": "Número de telefone."
                            }
                          },
                          "required": [
                            "country",
                            "area",
                            "number"
                          ],
                          "type": "object"
                        }
                      }
                    }
                  },
                  "company": {
                    "type": "object",
                    "description": "Dados de cadastro da empresa em caso de contas para pessoas jurídicas (SELLER). ⚠️ **Obrigatório caso você selecione `type = SELLER`. **⚠️",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Razão Social da empresa."
                      },
                      "tax_id": {
                        "type": "string",
                        "description": "CNPJ da empresa."
                      },
                      "address": {
                        "type": "object",
                        "description": "Objeto contendo as informações do endereço da empresa.",
                        "required": [
                          "street",
                          "number",
                          "locality",
                          "city",
                          "region_code",
                          "country",
                          "postal_code"
                        ],
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Rua do endereço."
                          },
                          "number": {
                            "type": "string",
                            "description": "Número do endereço."
                          },
                          "complement": {
                            "type": "string",
                            "description": "Complemento do endereço."
                          },
                          "locality": {
                            "type": "string",
                            "description": "Bairro do endereço."
                          },
                          "city": {
                            "type": "string",
                            "description": "Cidade do endereço."
                          },
                          "region_code": {
                            "type": "string",
                            "description": "Código do Estado do endereço ([Padrão ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2))."
                          },
                          "country": {
                            "type": "string",
                            "description": "País do endereço ([Padrão ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3))."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "CEP do endereço."
                          }
                        }
                      },
                      "phones": {
                        "type": "array",
                        "description": "Objeto contendo uma lista de telefones da empresa.",
                        "items": {
                          "properties": {
                            "country": {
                              "type": "string",
                              "description": "Código de operadora do País (DDI)."
                            },
                            "area": {
                              "type": "string",
                              "description": "Código de operadora local (DDD)."
                            },
                            "number": {
                              "type": "string",
                              "description": "Número de telefone."
                            }
                          },
                          "required": [
                            "country",
                            "area",
                            "number"
                          ],
                          "type": "object"
                        }
                      }
                    }
                  },
                  "tos_acceptance": {
                    "type": "object",
                    "description": "Aceite do \"termos de aceite\" do dono da conta na plataforma do parceiro.",
                    "properties": {
                      "user_ip": {
                        "type": "string",
                        "description": "IP que identifica o dispositivo em que o dono da conta concordou com os termos de aceite na plataforma do parceiro."
                      },
                      "date": {
                        "type": "string",
                        "description": "Momento em que o usuário concordou com os termos de aceite na plataforma do parceiro."
                      }
                    }
                  }
                }
              },
              "examples": {
                "Criar conta (BUYER)": {
                  "value": {
                    "type": "BUYER",
                    "email": "teste@sandboxpagseguro.com.br",
                    "person": {
                      "birth_date": "1994-07-03",
                      "name": "João da Silva",
                      "tax_id": "11111111111",
                      "mother_name": "Maria da Silva",
                      "address": {
                        "region_code": "SP",
                        "city": "São Paulo",
                        "postal_code": "00000000",
                        "street": "Rua São Paulo",
                        "number": "1",
                        "complement": "A",
                        "locality": "Centro",
                        "country": "BRA"
                      },
                      "phones": [
                        {
                          "area": "11",
                          "country": "55",
                          "number": "981111111"
                        }
                      ]
                    },
                    "tos_acceptance": {
                      "user_ip": "127.0.0.1",
                      "date": "2019-04-17T20:07:07.002-02"
                    }
                  }
                },
                "Criar conta (SELLER - PJ)": {
                  "value": {
                    "type": "SELLER",
                    "email": "teste@sandboxpagseguro.com.br",
                    "person": {
                      "birth_date": "1994-07-03",
                      "name": "João da Silva",
                      "tax_id": "11111111111",
                      "mother_name": "Maria da Silva",
                      "address": {
                        "region_code": "SP",
                        "city": "São Paulo",
                        "postal_code": "00000000",
                        "street": "Rua São Paulo",
                        "number": "1",
                        "complement": "A",
                        "locality": "Centro",
                        "country": "BRA"
                      },
                      "phones": [
                        {
                          "area": "11",
                          "country": "55",
                          "number": "981111111"
                        }
                      ]
                    },
                    "company": {
                      "name": "Teste LTDA",
                      "tax_id": "00000000000000",
                      "address": {
                        "region_code": "SP",
                        "city": "Sao Paulo",
                        "postal_code": "11111111",
                        "street": "Rua São Paulo",
                        "number": "1",
                        "complement": "A",
                        "locality": "Centro",
                        "country": "BRA"
                      },
                      "phones": [
                        {
                          "area": "11",
                          "country": "55",
                          "number": "911111111"
                        }
                      ]
                    },
                    "business_category": "ARCHITECTURAL_AND_ENGINEERING",
                    "tos_acceptance": {
                      "user_ip": "127.0.0.1",
                      "date": "2019-04-17T20:07:07.002-02"
                    }
                  }
                },
                "Criar conta (SELLER - PF)": {
                  "value": {
                    "type": "SELLER",
                    "email": "teste@sandboxpagseguro.com.br",
                    "business_category": "ARCHITECTURAL_AND_ENGINEERING",
                    "person": {
                      "birth_date": "1994-07-03",
                      "name": "TESTE LTDA",
                      "tax_id": "11111111111111",
                      "mother_name": "Maria da Silva",
                      "address": {
                        "region_code": "SP",
                        "city": "São Paulo",
                        "postal_code": "00000000",
                        "street": "Rua São Paulo",
                        "number": "1",
                        "complement": "A",
                        "locality": "Centro",
                        "country": "BRA"
                      },
                      "phones": [
                        {
                          "area": "11",
                          "country": "55",
                          "number": "981111111"
                        }
                      ]
                    },
                    "tos_acceptance": {
                      "user_ip": "127.0.0.1",
                      "date": "2019-04-17T20:07:07.002-02"
                    }
                  }
                },
                "Criar conta (ENTERPRISE)": {
                  "value": {
                    "type": "SELLER",
                    "email": "teste@sandboxpagseguro.com.br",
                    "person": {
                      "birth_date": "1994-07-03",
                      "name": "João da Silva",
                      "tax_id": "11111111111",
                      "mother_name": "Maria da Silva",
                      "address": {
                        "region_code": "SP",
                        "city": "São Paulo",
                        "postal_code": "00000000",
                        "street": "Rua São Paulo",
                        "number": "1",
                        "complement": "A",
                        "locality": "Centro",
                        "country": "BRA"
                      },
                      "phones": [
                        {
                          "area": "11",
                          "country": "55",
                          "number": "981111111"
                        }
                      ]
                    },
                    "company": {
                      "name": "Teste LTDA",
                      "tax_id": "00000000000000",
                      "trade_name": "Teste LTDA",
                      "address": {
                        "region_code": "SP",
                        "city": "Sao Paulo",
                        "postal_code": "11111111",
                        "street": "Rua São Paulo",
                        "number": "1",
                        "complement": "A",
                        "locality": "Centro",
                        "country": "BRA"
                      },
                      "phones": [
                        {
                          "area": "11",
                          "country": "55",
                          "number": "911111111"
                        }
                      ]
                    },
                    "business_category": "ARCHITECTURAL_AND_ENGINEERING",
                    "tos_acceptance": {
                      "user_ip": "127.0.0.1",
                      "date": "2019-04-17T20:07:07.002-02"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Criar conta (BUYER)": {
                    "value": "{\n    \"id\": \"ACCO_123\",\n    \"created_at\": \"2021-07-23T15:17:12.115601-03:00\",\n    \"token\": {\n        \"token_type\": \"Bearer\",\n        \"access_token\": \"123\",\n        \"expires_in\": 123456,\n        \"refresh_token\": \"123\",\n        \"scope\": \"accounts.read\"\n    },\n    \"type\": \"BUYER\",\n    \"email\": \"teste@sandboxpagseguro.com.br\",\n    \"person\": {\n        \"birth_date\": \"1994-07-03\",\n        \"name\": \"João da Silva\",\n        \"tax_id\": \"11111111111\",\n        \"mother_name\": \"Maria da Silva\",\n        \"address\": {\n            \"region_code\": \"SP\",\n            \"city\": \"São Paulo\",\n            \"postal_code\": \"00000000\",\n            \"street\": \"Rua São Paulo\",\n            \"number\": \"1\",\n            \"complement\": \"A\",\n            \"locality\": \"Centro\",\n            \"country\": \"BRA\"\n        },\n        \"phones\": [\n            {\n                \"area\": \"11\",\n                \"country\": \"55\",\n                \"number\": \"981111111\"\n            }\n        ]\n    },\n    \"tos_acceptance\": {\n        \"user_ip\": \"127.0.0.1\",\n        \"date\": \"2019-04-17T20:07:07.002-02\"\n    }\n}"
                  },
                  "Criar conta (SELLER - PJ)": {
                    "value": "{\n    \"id\": \"ACCO_123\",\n    \"created_at\": \"2021-07-23T15:17:12.115601-03:00\",\n    \"token\": {\n        \"token_type\": \"Bearer\",\n        \"access_token\": \"123\",\n        \"expires_in\": 123456,\n        \"refresh_token\": \"123\",\n        \"scope\": \"accounts.read\"\n    },\n    \"type\": \"SELLER\",\n    \"email\": \"teste@sandboxpagseguro.com.br\",\n    \"person\": {\n        \"birth_date\": \"1994-07-03\",\n        \"name\": \"João da Silva\",\n        \"tax_id\": \"11111111111\",\n        \"mother_name\": \"Maria da Silva\",\n        \"address\": {\n            \"region_code\": \"SP\",\n            \"city\": \"São Paulo\",\n            \"postal_code\": \"00000000\",\n            \"street\": \"Rua São Paulo\",\n            \"number\": \"1\",\n            \"complement\": \"A\",\n            \"locality\": \"Centro\",\n            \"country\": \"BRA\"\n        },\n        \"phones\": [\n            {\n                \"area\": \"11\",\n                \"country\": \"55\",\n                \"number\": \"981111111\"\n            }\n        ]\n    },\n    \"company\": {\n        \"name\": \"Teste LTDA\",\n        \"tax_id\": \"00000000000000\",\n        \"address\": {\n            \"region_code\": \"SP\",\n            \"city\": \"Sao Paulo\",\n            \"postal_code\": \"11111111\",\n            \"street\": \"Rua São Paulo\",\n            \"number\": \"1\",\n            \"complement\": \"A\",\n            \"locality\": \"Centro\",\n            \"country\": \"BRA\"\n        },\n        \"phones\": [\n            {\n                \"area\": \"11\",\n                \"country\": \"55\",\n                \"number\": \"911111111\"\n            }\n        ]\n    },\n    \"business_category\": \"ARCHITECTURAL_AND_ENGINEERING\",\n    \"tos_acceptance\": {\n        \"user_ip\": \"127.0.0.1\",\n        \"date\": \"2019-04-17T20:07:07.002-02\"\n  }\n}"
                  },
                  "Criar conta (SELLER - PF)": {
                    "value": "{\n    \"id\": \"ACCO_123\",\n    \"created_at\": \"2021-07-23T15:17:12.115601-03:00\",\n    \"token\": {\n        \"token_type\": \"Bearer\",\n        \"access_token\": \"123\",\n        \"expires_in\": 123456,\n        \"refresh_token\": \"123\",\n        \"scope\": \"accounts.read\"\n    },\n    \"type\": \"SELLER\",\n    \"email\": \"teste@sandboxpagseguro.com.br\",\n    \"person\": {\n        \"birth_date\": \"1994-07-03\",\n        \"name\": \"João da Silva\",\n        \"tax_id\": \"11111111111\",\n        \"mother_name\": \"Maria da Silva\",\n        \"address\": {\n            \"region_code\": \"SP\",\n            \"city\": \"São Paulo\",\n            \"postal_code\": \"00000000\",\n            \"street\": \"Rua São Paulo\",\n            \"number\": \"1\",\n            \"complement\": \"A\",\n            \"locality\": \"Centro\",\n            \"country\": \"BRA\"\n        },\n        \"phones\": [\n            {\n                \"area\": \"11\",\n                \"country\": \"55\",\n                \"number\": \"981111111\"\n            }\n        ]\n    },\n    \"business_category\": \"ARCHITECTURAL_AND_ENGINEERING\",\n    \"tos_acceptance\": {\n        \"user_ip\": \"127.0.0.1\",\n        \"date\": \"2019-04-17T20:07:07.002-02\"\n    }\n}"
                  },
                  "Criar conta (ENTERPRISE)": {
                    "value": "{\n    \"id\": \"ACCO_123\",\n    \"created_at\": \"2021-07-23T15:17:12.115601-03:00\",\n    \"token\": {\n        \"token_type\": \"Bearer\",\n        \"access_token\": \"123\",\n        \"expires_in\": 123456,\n        \"refresh_token\": \"123\",\n        \"scope\": \"accounts.read\"\n    },\n    \"type\": \"SELLER\",\n    \"email\": \"teste@sandboxpagseguro.com.br\",\n    \"person\": {\n        \"birth_date\": \"1994-07-03\",\n        \"name\": \"João da Silva\",\n        \"tax_id\": \"11111111111\",\n        \"mother_name\": \"Maria da Silva\",\n        \"address\": {\n            \"region_code\": \"SP\",\n            \"city\": \"São Paulo\",\n            \"postal_code\": \"00000000\",\n            \"street\": \"Rua São Paulo\",\n            \"number\": \"1\",\n            \"complement\": \"A\",\n            \"locality\": \"Centro\",\n            \"country\": \"BRA\"\n        },\n        \"phones\": [\n            {\n                \"area\": \"11\",\n                \"country\": \"55\",\n                \"number\": \"981111111\"\n            }\n        ]\n    },\n    \"company\": {\n        \"name\": \"Teste LTDA\",\n        \"tax_id\": \"00000000000000\",\n        \"trade_name\": \"Teste LTDA\",\n        \"address\": {\n            \"region_code\": \"SP\",\n            \"city\": \"Sao Paulo\",\n            \"postal_code\": \"11111111\",\n            \"street\": \"Rua São Paulo\",\n            \"number\": \"1\",\n            \"complement\": \"A\",\n            \"locality\": \"Centro\",\n            \"country\": \"BRA\"\n        },\n        \"phones\": [\n            {\n                \"area\": \"11\",\n                \"country\": \"55\",\n                \"number\": \"911111111\"\n            }\n        ]\n    },\n    \"business_category\": \"ARCHITECTURAL_AND_ENGINEERING\",\n    \"tos_acceptance\": {\n        \"user_ip\": \"127.0.0.1\",\n        \"date\": \"2019-04-17T20:07:07.002-02\"\n  }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Criar conta (BUYER)",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "ACCO_123"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2021-07-23T15:17:12.115601-03:00"
                        },
                        "token": {
                          "type": "object",
                          "properties": {
                            "token_type": {
                              "type": "string",
                              "example": "Bearer"
                            },
                            "access_token": {
                              "type": "string",
                              "example": "123"
                            },
                            "expires_in": {
                              "type": "integer",
                              "example": 123456,
                              "default": 0
                            },
                            "refresh_token": {
                              "type": "string",
                              "example": "123"
                            },
                            "scope": {
                              "type": "string",
                              "example": "accounts.read"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "BUYER"
                        },
                        "email": {
                          "type": "string",
                          "example": "teste@sandboxpagseguro.com.br"
                        },
                        "person": {
                          "type": "object",
                          "properties": {
                            "birth_date": {
                              "type": "string",
                              "example": "1994-07-03"
                            },
                            "name": {
                              "type": "string",
                              "example": "João da Silva"
                            },
                            "tax_id": {
                              "type": "string",
                              "example": "11111111111"
                            },
                            "mother_name": {
                              "type": "string",
                              "example": "Maria da Silva"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "region_code": {
                                  "type": "string",
                                  "example": "SP"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "São Paulo"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "00000000"
                                },
                                "street": {
                                  "type": "string",
                                  "example": "Rua São Paulo"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "1"
                                },
                                "complement": {
                                  "type": "string",
                                  "example": "A"
                                },
                                "locality": {
                                  "type": "string",
                                  "example": "Centro"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "BRA"
                                }
                              }
                            },
                            "phones": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "area": {
                                    "type": "string",
                                    "example": "11"
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "55"
                                  },
                                  "number": {
                                    "type": "string",
                                    "example": "981111111"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "tos_acceptance": {
                          "type": "object",
                          "properties": {
                            "user_ip": {
                              "type": "string",
                              "example": "127.0.0.1"
                            },
                            "date": {
                              "type": "string",
                              "example": "2019-04-17T20:07:07.002-02"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Criar conta (SELLER - PJ)",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "ACCO_123"
                        },
                        "created_at": {
                          "type": "string",
[...]
