{
  "openapi": "3.0.3",
  "info": {
    "title": "Amazon Selling Partner (SP-API) REST API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack amazon_sp.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sellingpartnerapi-na.amazon.com"
    }
  ],
  "paths": {
    "/mo": {
      "delete": {
        "tags": [
          "Amazon_sp"
        ],
        "summary": "DELETE /mo",
        "description": "Endpoint extraído do índice de navegação (Mo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developer-docs_amazon_com_sp-api_docs_sp-api-models_b6b3acad.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developer-docs_amazon_com_sp-api_docs_sp-api-models_b6b3acad.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}