{
  "openapi": "3.0.3",
  "info": {
    "title": "Rappi Partners & Delivery API",
    "description": "Especificação OpenAPI 3.0 sintetizada via tratamento local em texto para dev-portal.rappi.com.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rappi.com"
    }
  ],
  "paths": {
    "/api/v2/restaurants-integrations-public-api/stores-pa": {
      "get": {
        "summary": "GET /api/v2/restaurants-integrations-public-api/stores-pa",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/stores-pa/{id}/status": {
      "put": {
        "tags": [
          "Rappi"
        ],
        "summary": "PUT /api/v2/restaurants-integrations-public-api/stores-pa/12345/status",
        "description": "Endpoint extraído da documentação (dev-portal_rappi_com_pt_api-reference_stores_412c8299.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dev-portal_rappi_com_pt_api-reference_stores_412c8299.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dev-portal_rappi_com_pt_api-reference_stores_412c8299.md"
      },
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/stores-pa/12345/status",
        "description": "Endpoint extraído por declaração de rota (dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/store/{id}/menu/current": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/store/900111941/menu/current",
        "description": "Endpoint extraído da documentação (dev-portal_rappi_com_pt_api-reference_stores_412c8299.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dev-portal_rappi_com_pt_api-reference_stores_412c8299.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dev-portal_rappi_com_pt_api-reference_stores_412c8299.md"
      }
    },
    "/api/v2/restaurants-integrations-public-api/stores-pa/{id}/check-in-code": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/stores-pa/900105433/check-in-code",
        "description": "Endpoint extraído da documentação (dev-portal_rappi_com_pt_api-reference_stores_412c8299.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dev-portal_rappi_com_pt_api-reference_stores_412c8299.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dev-portal_rappi_com_pt_api-reference_stores_412c8299.md"
      }
    },
    "/api/v2/restaurants-integrations-public-api/stores/integration-status": {
      "get": {
        "summary": "GET /api/v2/restaurants-integrations-public-api/stores/integration-status",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/stores/provisioning": {
      "post": {
        "summary": "POST /api/v2/restaurants-integrations-public-api/stores/provisioning",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      },
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/stores/provisioning",
        "description": "Endpoint extraído da documentação (dev-portal_rappi_com_pt_api-reference_stores_412c8299.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev-portal_rappi_com_pt_api-reference_stores_412c8299.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev-portal_rappi_com_pt_api-reference_stores_412c8299.md"
      }
    },
    "/api/v2/restaurants-integrations-public-api/stores/deprovisioning": {
      "post": {
        "summary": "POST /api/v2/restaurants-integrations-public-api/stores/deprovisioning",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      },
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/stores/deprovisioning",
        "description": "Endpoint extraído da documentação (dev-portal_rappi_com_pt_api-reference_stores_412c8299.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev-portal_rappi_com_pt_api-reference_stores_412c8299.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev-portal_rappi_com_pt_api-reference_stores_412c8299.md"
      }
    },
    "/api/v2/restaurants-integrations-public-api/stores-pa/{storeId}/status": {
      "get": {
        "summary": "GET /api/v2/restaurants-integrations-public-api/stores-pa/{storeId}/status",
        "description": "Extraído de tabela/cabeçalho de documentação.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/store/{STORE_ID}/menu/current": {
      "get": {
        "summary": "GET /api/v2/restaurants-integrations-public-api/store/{STORE_ID}/menu/current",
        "description": "Extraído de tabela/cabeçalho de documentação.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/stores-pa/{storeId}/check-in-code": {
      "get": {
        "summary": "GET /api/v2/restaurants-integrations-public-api/stores-pa/{storeId}/check-in-code",
        "description": "Extraído de tabela/cabeçalho de documentação.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/stores/integration-status": {
      "get": {
        "summary": "GET /stores/integration-status",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/authorize": {
      "get": {
        "summary": "GET /authorize",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "POST /oauth/token",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      },
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /oauth/token",
        "description": "Endpoint extraído da documentação (dev-portal_rappi_com_pt_self-onboarding_96d92ca3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev-portal_rappi_com_pt_self-onboarding_96d92ca3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev-portal_rappi_com_pt_self-onboarding_96d92ca3.md"
      }
    },
    "/clients/{clientId}/webhooks:": {
      "post": {
        "summary": "POST /clients/{clientId}/webhooks:",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/clients/{clientId}/webhooks": {
      "post": {
        "summary": "POST /clients/{clientId}/webhooks",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      },
      "delete": {
        "tags": [
          "Rappi"
        ],
        "summary": "DELETE /clients/{clientId}/webhooks",
        "description": "Endpoint extraído da documentação (dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json`)",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json"
      },
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /clients/{clientId}/webhooks",
        "description": "Endpoint extraído da documentação (dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json`)",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json"
      }
    },
    "/stores/integration-status:": {
      "get": {
        "summary": "GET /stores/integration-status:",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/stores/provisioning:": {
      "post": {
        "summary": "POST /stores/provisioning:",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/stores/provisioning": {
      "post": {
        "summary": "POST /stores/provisioning",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/stores/deprovisioning.": {
      "post": {
        "summary": "POST /stores/deprovisioning.",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/stores/deprovisioning": {
      "post": {
        "summary": "POST /stores/deprovisioning",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_dev-portal_rappi_com_61286b18.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_dev-portal_rappi_com_61286b18.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/store/YOU_STORE/menu/current": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/store/YOU_STORE/menu/current",
        "description": "Endpoint extraído da documentação (dev-portal_rappi_com_pt_api-reference_stores_412c8299.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev-portal_rappi_com_pt_api-reference_stores_412c8299.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev-portal_rappi_com_pt_api-reference_stores_412c8299.md"
      }
    },
    "/api/v2/restaurants-integrations-public-api/menu": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/menu",
        "description": "Endpoint extraído da documentação (dev-portal_rappi_com_pt_managing-store-menus_e0457620.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev-portal_rappi_com_pt_managing-store-menus_e0457620.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev-portal_rappi_com_pt_managing-store-menus_e0457620.md"
      }
    },
    "/v2/restaurants-integrations-public-api.": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /v2/restaurants-integrations-public-api.",
        "description": "Endpoint extraído da documentação (dev-portal_rappi_com_pt_rests-api_3aadfcd4.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev-portal_rappi_com_pt_rests-api_3aadfcd4.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev-portal_rappi_com_pt_rests-api_3aadfcd4.md"
      }
    },
    "/clients/{clientId}/webhooks:Corpo": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /clients/{clientId}/webhooks:Corpo",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores/integration-status:Headers:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /stores/integration-status:Headers:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores/provisioning:Headers:": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /stores/provisioning:Headers:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores/deprovisioningPara": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /stores/deprovisioningPara",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores/deprovisioningHeaders:": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /stores/deprovisioningHeaders:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores/provisioningUtilize": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /stores/provisioningUtilize",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores/provisioningHeaders:": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /stores/provisioningHeaders:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores/integration-statusUtilize": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /stores/integration-statusUtilize",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores/integration-statusHeaders:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /stores/integration-statusHeaders:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/clients/{clientId}/webhooksUtilize": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /clients/{clientId}/webhooksUtilize",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/clients/{clientId}/webhooksCorpo": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /clients/{clientId}/webhooksCorpo",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores-pa/{storeId}/check-in-code": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /stores-pa/{storeId}/check-in-code",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/stores-pa/{storeId}/check-in-codeUtiliza": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /stores-pa/{storeId}/check-in-codeUtiliza",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/corridor/schedule/{corridorId}/store/{storeId}": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /corridor/schedule/{corridorId}/store/{storeId}",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      },
      "put": {
        "tags": [
          "Rappi"
        ],
        "summary": "PUT /corridor/schedule/{corridorId}/store/{storeId}",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      },
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /corridor/schedule/{corridorId}/store/{storeId}",
        "description": "Endpoint extraído da documentação (dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json"
      }
    },
    "/corridor/schedule/{corridorId}/store/{storeId}/{corridorScheduleId}": {
      "delete": {
        "tags": [
          "Rappi"
        ],
        "summary": "DELETE /corridor/schedule/{corridorId}/store/{storeId}/{corridorScheduleId}",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corridorScheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/corridor/schedule/{corridorId}/integration/{integrationId}": {
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /corridor/schedule/{corridorId}/integration/{integrationId}",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      },
      "put": {
        "tags": [
          "Rappi"
        ],
        "summary": "PUT /corridor/schedule/{corridorId}/integration/{integrationId}",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      },
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /corridor/schedule/{corridorId}/integration/{integrationId}",
        "description": "Endpoint extraído da documentação (dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dom_state_dev-portal_rappi_com_pt_api-reference_stores_412c8299.json"
      }
    },
    "/corridor/schedule/{corridorId}/integration/{integrationId}/{corridorScheduleId}": {
      "delete": {
        "tags": [
          "Rappi"
        ],
        "summary": "DELETE /corridor/schedule/{corridorId}/integration/{integrationId}/{corridorScheduleId}",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corridorScheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/corridor/schedule/{corridorId}/integration/{integrationId}/{corridorScheduleId}Use": {
      "delete": {
        "tags": [
          "Rappi"
        ],
        "summary": "DELETE /corridor/schedule/{corridorId}/integration/{integrationId}/{corridorScheduleId}Use",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corridorScheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/corridor/schedule/{corridorId}/integration/{integrationId}Use": {
      "put": {
        "tags": [
          "Rappi"
        ],
        "summary": "PUT /corridor/schedule/{corridorId}/integration/{integrationId}Use",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      },
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /corridor/schedule/{corridorId}/integration/{integrationId}Use",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/corridor/schedule/{corridorId}/store/{storeId}/{corridorScheduleId}Use": {
      "delete": {
        "tags": [
          "Rappi"
        ],
        "summary": "DELETE /corridor/schedule/{corridorId}/store/{storeId}/{corridorScheduleId}Use",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corridorScheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/corridor/schedule/{corridorId}/store/{storeId}Use": {
      "put": {
        "tags": [
          "Rappi"
        ],
        "summary": "PUT /corridor/schedule/{corridorId}/store/{storeId}Use",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      },
      "post": {
        "tags": [
          "Rappi"
        ],
        "summary": "POST /corridor/schedule/{corridorId}/store/{storeId}Use",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "corridorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/v1/token/login/integrationsPara": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /v1/token/login/integrationsPara",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/v1/token/login/utils{NEW": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /v1/token/login/utils{NEW",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/v1/token/login/integrations": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /v1/token/login/integrations",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/v1/token/login/utils": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /v1/token/login/utils",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/v2/restaurants-integrations-public-api.Para": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /v2/restaurants-integrations-public-api.Para",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/v2/restaurants-integrations-public-apiTodos": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /v2/restaurants-integrations-public-apiTodos",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/menu{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/menu{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/menu/approved/{storeId}{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/menu/approved/{storeId}{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/menu/rappi/{storeId}{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/menu/rappi/{storeId}{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/menu/rappi/{storeId}:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/menu/rappi/{storeId}:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/menu/approved/{storeId}:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/menu/approved/{storeId}:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/menu:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/menu:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/status/sent{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/status/sent{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/{orderId}/take/{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/{orderId}/take/{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/{orderId}/reject{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/{orderId}/reject{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/{orderId}/ready-for-pickup{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/{orderId}/ready-for-pickup{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/{orderId}/events{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/{orderId}/events{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/{orderId}/events:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/{orderId}/events:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/{orderId}/ready-for-pickup:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/{orderId}/ready-for-pickup:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/{orderId}/reject:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/{orderId}/reject:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/{orderId}/take/:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/{orderId}/take/:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders/status/sent:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders/status/sent:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/orders:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/orders:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/availability/items/status{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/availability/items/status{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/availability/items/rappi/status{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/availability/items/rappi/status{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/token{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/token{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/availability/stores/items/rappi{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/availability/stores/items/rappi{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/availability/stores{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/availability/stores{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/availability/stores/enable/massive{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/availability/stores/enable/massive{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/availability/stores/enable{COUNTRY": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/availability/stores/enable{COUNTRY",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/availability/stores:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/availability/stores:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/availability/stores/items/rappi:": {
      "get": {
        "tags": [
          "Rappi"
        ],
        "summary": "GET /api/v2/restaurants-integrations-public-api/availability/stores/items/rappi:",
        "description": "Endpoint extraído da documentação (network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "network_json_2_dev-portal_rappi_com_next_data_oVoZAnJgsyC3PV9-E8Dkh_pt_getting-started_json_lan_77cc444b.json"
      }
    },
    "/api/v2/restaurants-integrations-public-api/token:": {
      "get": {
        "tags": [
          "Rappi"
        ],
[...]
