{
  "openapi": "3.0.3",
  "info": {
    "title": "Idwall Validação de Documentos, KYC & Background Check API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack idwall.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-v2.idwall.co"
    }
  ],
  "paths": {
    "/por-onde-comecar": {
      "get": {
        "tags": [
          "Idwall"
        ],
        "summary": "GET /por-onde-comecar",
        "description": "Endpoint derivado da referência oficial (por-onde-comecar).\n\n---\n📍 **Origem:** Página de Referência Técnica (`idwall_readme_io_reference_por-onde-comecar_2f575675.md#por-onde-comecar`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "idwall_readme_io_reference_por-onde-comecar_2f575675.md#por-onde-comecar"
      }
    },
    "/validacao-manual-de-relatorio": {
      "get": {
        "tags": [
          "Idwall"
        ],
        "summary": "GET /validacao-manual-de-relatorio",
        "description": "Endpoint derivado da referência oficial (validacao-manual-de-relatorio).\n\n---\n📍 **Origem:** Página de Referência Técnica (`idwall_readme_io_reference_validacao-manual-de-relatorio_2c3aedfd.md#validacao-manual-de-relatorio`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "idwall_readme_io_reference_validacao-manual-de-relatorio_2c3aedfd.md#validacao-manual-de-relatorio"
      }
    },
    "/www.json": {
      "post": {
        "tags": [
          "Idwall"
        ],
        "summary": "POST //www.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (network_json_1_idwall_readme_io_idwall_api-next_v2_branches_2_4_reference_por-onde-comecar_redu_c5abc325.json).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`network_json_1_idwall_readme_io_idwall_api-next_v2_branches_2_4_reference_por-onde-comecar_redu_c5abc325.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "network_json_1_idwall_readme_io_idwall_api-next_v2_branches_2_4_reference_por-onde-comecar_redu_c5abc325.json"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}