{
  "openapi": "3.0.3",
  "info": {
    "title": "OLX Brasil Marketplace & Integradores API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack olx.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olx.com.br"
    }
  ],
  "paths": {
    "/v1/published": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/published",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_anuncio_api_published_ads_html_9acbecbc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_anuncio_api_published_ads_html_9acbecbc.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_anuncio_api_published_ads_html_9acbecbc.md"
      }
    },
    "/autoupload/v1/bump/ad/{list_id}": {
      "put": {
        "tags": [
          "Olx"
        ],
        "summary": "PUT /autoupload/v1/bump/ad/{list_id}",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/oauth": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/oauth",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/import": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/import",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/autos/sub_auto": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/autos/sub_auto",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/autos/{id}": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/autos/sub_motorcycle",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/autos/sub_bus": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/autos/sub_bus",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/autos/sub_truck": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/autos/sub_truck",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/autoparts/sub_autos": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/autoparts/sub_autos",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/autoparts/{id}": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/autoparts/sub_motorcycle",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/autoparts/sub_bus": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/autoparts/sub_bus",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/autoparts/sub_truck": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/autoparts/sub_truck",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/autos/car_models": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/autos/car_models",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/electronics/{id}": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/electronics/sub_cellphone",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/electronics/cellphone_models": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/electronics/cellphone_models",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/real_estate/{id}": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/real_estate/sub_season",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/real_estate/sub_house": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/real_estate/sub_house",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/real_estate/sub_land": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/real_estate/sub_land",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/agro/agro": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/agro/agro",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/agro/rural_production": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/agro/rural_production",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/agro/industrial_production": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/agro/industrial_production",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/published_ads": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/published_ads",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/published_ads_deprecated": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/published_ads_deprecated",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/publishing_status": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/publishing_status",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/api/published_ads_status": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /api/published_ads_status",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/v1/chat": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/chat",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/v1/chat/send": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/chat/send",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/v1/bump/ads": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/bump/ads",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/v1/bump/ad/{list_id}": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/bump/ad/{list_id}",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/autoservice/v1/chat": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /autoservice/v1/chat",
        "description": "Endpoint extraído por declaração de rota (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/autoservice/v1/chat/send": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /autoservice/v1/chat/send",
        "description": "Endpoint extraído por declaração de rota (developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.md"
      }
    },
    "/autoupload/bump/ad/{ad_id}": {
      "put": {
        "tags": [
          "Olx"
        ],
        "summary": "PUT /autoupload/bump/ad/{ad_id}",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_destaque_bumps_put_deprecated_html_87de740e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_olx_com_br_destaque_bumps_put_deprecated_html_87de740e.md`)",
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_olx_com_br_destaque_bumps_put_deprecated_html_87de740e.md"
      }
    },
    "/v1/lead": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/lead",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_lead_how_to_html_05f1f110.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_lead_how_to_html_05f1f110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_lead_how_to_html_05f1f110.md"
      }
    },
    "/v1/lead/:id": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/lead/:id",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_lead_how_to_html_05f1f110.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_lead_how_to_html_05f1f110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_lead_how_to_html_05f1f110.md"
      }
    },
    "/v1/lead/{uuid}": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/lead/154f10e7-2586-4699-be05-f3587ac7e4fe",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_lead_how_to_html_05f1f110.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_lead_how_to_html_05f1f110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_lead_how_to_html_05f1f110.md"
      }
    },
    "/v1/ads/renewals": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/ads/renewals",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_renewals_home_html_5d38cf7f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_renewals_home_html_5d38cf7f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_renewals_home_html_5d38cf7f.md"
      }
    },
    "/v1/notification": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/notification",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_webhooks_notifications_configuration_html_3385e154.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_webhooks_notifications_configuration_html_3385e154.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_webhooks_notifications_configuration_html_3385e154.md"
      }
    },
    "/v1/notification/{id}": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /v1/notification/{id}",
        "description": "Endpoint extraído da documentação (developers_olx_com_br_webhooks_notifications_configuration_html_3385e154.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_olx_com_br_webhooks_notifications_configuration_html_3385e154.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_olx_com_br_webhooks_notifications_configuration_html_3385e154.md"
      }
    },
    "/oauth": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /oauth",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.json"
      }
    },
    "/oauth/token": {
      "get": {
        "tags": [
          "Olx"
        ],
        "summary": "GET /oauth/token",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_olx_com_br_assets_app-76acc981_js_6b87bbf1.json"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Autenticação via token Bearer no cabeçalho Authorization."
      },
      "ApiKey_token": {
        "type": "apiKey",
        "in": "header",
        "name": "token",
        "description": "Chave de API enviada no cabeçalho token."
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "Autenticação padrão OAuth 2.0 (Authorization Code / Client Credentials).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dominio.com/oauth/authorize",
            "tokenUrl": "https://api.dominio.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "webhooks": {
    "a_pending": {
      "description": "Notificação de webhook disparada no evento 'a.pending'.",
      "post": {
        "summary": "Evento de Webhook: a.pending",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "a.pending"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "cliente_created": {
      "description": "Notificação de webhook disparada no evento 'cliente.created'.",
      "post": {
        "summary": "Evento de Webhook: cliente.created",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "cliente.created"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "consulta_pending": {
      "description": "Notificação de webhook disparada no evento 'consulta.pending'.",
      "post": {
        "summary": "Evento de Webhook: consulta.pending",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "consulta.pending"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "sucessometa_failed": {
      "description": "Notificação de webhook disparada no evento 'sucessometa.failed'.",
      "post": {
        "summary": "Evento de Webhook: sucessometa.failed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "sucessometa.failed"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "v_pending": {
      "description": "Notificação de webhook disparada no evento 'v.pending'.",
      "post": {
        "summary": "Evento de Webhook: v.pending",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "v.pending"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "x_pending": {
      "description": "Notificação de webhook disparada no evento 'x.pending'.",
      "post": {
        "summary": "Evento de Webhook: x.pending",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "x.pending"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  },
  "x-webhooks": {
    "a_pending": {
      "description": "Notificação de webhook disparada no evento 'a.pending'.",
      "post": {
        "summary": "Evento de Webhook: a.pending",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "a.pending"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "cliente_created": {
      "description": "Notificação de webhook disparada no evento 'cliente.created'.",
      "post": {
        "summary": "Evento de Webhook: cliente.created",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "cliente.created"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "consulta_pending": {
      "description": "Notificação de webhook disparada no evento 'consulta.pending'.",
      "post": {
        "summary": "Evento de Webhook: consulta.pending",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "consulta.pending"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "sucessometa_failed": {
      "description": "Notificação de webhook disparada no evento 'sucessometa.failed'.",
      "post": {
        "summary": "Evento de Webhook: sucessometa.failed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "sucessometa.failed"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "v_pending": {
      "description": "Notificação de webhook disparada no evento 'v.pending'.",
      "post": {
        "summary": "Evento de Webhook: v.pending",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "v.pending"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "x_pending": {
      "description": "Notificação de webhook disparada no evento 'x.pending'.",
      "post": {
        "summary": "Evento de Webhook: x.pending",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "x.pending"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  }
}