{
  "openapi": "3.0.3",
  "info": {
    "title": "Dafiti, Kanui & Tricae (GFG) Marketplace API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack dafiti.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sellercenter-api.dafiti.com.br"
    }
  ],
  "paths": {
    "/v2/swagger.json": {
      "post": {
        "tags": [
          "Dafiti"
        ],
        "summary": "POST /v2/swagger.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (network_json_2_docs_assets_swagger-ui-bundle_js.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Dafiti"
        ],
        "summary": "GET /v2/swagger.json",
        "description": "Endpoint extraído da documentação (network_json_2_docs_assets_swagger-ui-bundle_js.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Autenticação via Token Bearer / JWT para Dafiti, Kanui & Tricae (GFG) Marketplace API"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Chave de API (API Key / Token) para Dafiti, Kanui & Tricae (GFG) Marketplace API"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "Fluxo de autorização OAuth 2.0 para Dafiti, Kanui & Tricae (GFG) Marketplace API",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://sellercenter-api.dafiti.com.br/oauth/authorize",
            "tokenUrl": "https://sellercenter-api.dafiti.com.br/oauth/token",
            "scopes": {
              "read": "Leitura de recursos em Dafiti, Kanui & Tricae (GFG) Marketplace API",
              "write": "Gravação e mutação em Dafiti, Kanui & Tricae (GFG) Marketplace API"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "example": "email"
                },
                "message": {
                  "type": "string",
                  "example": "O campo email é obrigatório."
                }
              }
            }
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "responses": {
      "400": {
        "description": "Requisição inválida (Bad Request) - Parâmetros incorretos ou ausentes.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "401": {
        "description": "Não autorizado (Unauthorized) - Token ausente, inválido ou expirado.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "403": {
        "description": "Acesso proibido (Forbidden) - Permissões insuficientes para este recurso.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "404": {
        "description": "Recurso não encontrado (Not Found) - Entidade ou rota inexistente.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "429": {
        "description": "Limite de requisições excedido (Too Many Requests) - Rate limit atingido.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "500": {
        "description": "Erro interno do servidor (Internal Server Error) - Falha no processamento.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "x-ratelimit": {
    "description": "Políticas de Limites de Requisições e Throttling para a stack dafiti.",
    "default_limit": "Consulte o portal de desenvolvedores para cotas por plano.",
    "headers": [
      "X-RateLimit-Limit",
      "X-RateLimit-Remaining",
      "X-RateLimit-Reset"
    ]
  },
  "x-retry-policy": {
    "description": "Diretrizes e Políticas Recomendadas de Retries / Resiliência para a stack dafiti.",
    "max_retries": 3,
    "retry_on_status": [
      429,
      500,
      502,
      503,
      504
    ],
    "backoff_strategy": "exponential",
    "initial_delay_ms": 1000,
    "max_delay_ms": 10000,
    "jitter": true,
    "idempotency_header": "X-Idempotency-Key"
  },
  "webhooks": {
    "dafiti_event_notification": {
      "post": {
        "summary": "Notificação de Eventos em Tempo Real (Dafiti, Kanui & Tricae (GFG) Marketplace API)",
        "description": "Webhook disparado automaticamente quando ocorrem mutações de status, pedidos, rastreio ou pagamentos em Dafiti, Kanui & Tricae (GFG) Marketplace API.",
        "requestBody": {
          "description": "Payload JSON com dados do evento disparado.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "order.created"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "data": {
                    "type": "object",
                    "description": "Dados da entidade mutada."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processado e confirmado com sucesso."
          }
        }
      }
    }
  }
}