{
  "openapi": "3.0.3",
  "info": {
    "title": "Loja Integrada REST API v1",
    "version": "v2",
    "description": "Para que possa acessar a API da Loja Integrada, você precisará de uma chave de aplicação, que o identificará como integrador, e de uma chave de API, que identificará a loja que está sendo integrada.\n\n[**Como gerar a chave de aplicação?**](https://ajuda.lojaintegrada.com.br/pt-BR/articles/5360466-como-o-integrador-gera-a-chave-de-aplicacao)\n\n[**Como gerar a chave de API?**](https://ajuda.lojaintegrada.com.br/pt-BR/articles/931152-como-gerar-a-chave-api-da-minha-loja)\n\n## Novidades\n\n**Últimos lançamentos:**\n\n- [Busca de clientes através do e-mail](#api-loja-integrada/tag/cliente/GET/v1/cliente/search)\n- [API de Newsletter](#api-loja-integrada/tag/newsletter)\n- [Webhook de pedidos](#api-loja-integrada/tag/webhook-pedidos)\n- [Webhook de produtos](#api-loja-integrada/tag/webhook-produtos)\n- [API do Enviali](#api-loja-integrada/tag/enviali)\n- [Rastreamento de objetos - Enviali](#api-loja-integrada/tag/enviali/GET/enviali/v2/postage/tracking/{tracking_codigo})\n\n## Autenticação\n\nA autenticação pode ser feita enviando as chaves no header Authorization.\n\n**Exemplos:**\n\n**Via HTTP Authorization**\n\n```bash\ncurl -H \"Content-Type: application/json\" -H \"Authorization: chave_api 10d674b6e5834dbc aplicacao ed102c0b-ff23-4826-b296-cfd2c913b133\" -X GET https://api.awsli.com.br/v1/categoria/\n```\n\n**Nota:** As chaves devem ser enviadas em todas as requisições feitas na API.\n\n## Limites (Throttling)\n\nA API possui os seguintes limites de requisições:\n\n- **Por aplicação** (chave_aplicacao): 3000 requisições/minuto (Erro 533)\n- **Por loja** (chave_api): 100 requisições/minuto (Erro 633)\n- **Por IP**: 1200 requisições/minuto (Erro 133)\n\nAo exceder o limite, a API retornará status 429 com o erro específico."
  },
  "servers": [
    {
      "url": "https://api.awsli.com.br"
    }
  ],
  "security": [
    {
      "chave_api": [],
      "chave_aplicacao": []
    }
  ],
  "tags": [
    {
      "name": "Produtos",
      "description": "Cadastro, consulta e alteração de produtos."
    },
    {
      "name": "Imagens do produto",
      "description": "Consulta, cadastro e deleção de imagens associadas aos produtos."
    },
    {
      "name": "Grade",
      "description": "Consulta e cadastro de grades da loja."
    },
    {
      "name": "Preço",
      "description": "Consulta e alteração de preço dos produtos."
    },
    {
      "name": "Estoque",
      "description": "O estoque do produto é definido por quatro campos no banco de dados: **gerenciado**, **quantidade**, **situacao_em_estoque**, **situacao_sem_estoque**. Segue a definição de cada um deles:\n\n**gerenciado**:\n\n> Define se o estoque será gerenciado pela Loja Integrada. Caso não seja gerenciado, os quatro campos retornarão 0. \n  \n\n**quantidade**:\n\n> Define a quantidade de produto que está atualmente em estoque. \n  \n\n**situacao_em_estoque**:\n\n> Define o prazo para envio do produto. Use **0** (zero) para imediato e **1** (ou qualquero outro inteiro positivo) para prazo de envio em x dias. \n  \n\n**situacao_sem_estoque**:\n\n> Só é usado quando o campo **gerenciado** estiver definido como **true**. Define o prazo de envio do produto assim que o estoque chegar a zero. Use **\\-1** para deixar o tornar o produto indisponível, **0** (zero) para deixar o prazo de envio como imediato e **1** (ou qualquero outro inteiro positivo) para deixar o prazo de envio para x dias."
    },
    {
      "name": "Categorias",
      "description": "Consulta e cadastro de categorias na loja."
    },
    {
      "name": "Marca",
      "description": "Consulta e cadastro de marcas na loja."
    },
    {
      "name": "Imagem de marca",
      "description": "Altera e deleta imagens das marcas na loja."
    },
    {
      "name": "SEO",
      "description": "Adicione ou altere os parâmetro de SEO dos produtos e categorias. Tags disponíveis: **title**, **keyword** e **description.**"
    },
    {
      "name": "Cupom",
      "description": "Gerencie seus cupons através de consulta, cadastro e alteração de cupons dos desconto."
    },
    {
      "name": "Código HTML",
      "description": "Adicione ou altere códigos HTML no rodapé o cabeçalho da loja."
    },
    {
      "name": "Pagamento",
      "description": "Consulta formas de pagamento disponíveis na loja."
    },
    {
      "name": "Envio",
      "description": "Consulta formas de envio disponíveis na loja."
    },
    {
      "name": "Enviali",
      "description": "#### **Importante:**\n\nO header _x-correlation-id_ é utilizado para identificar os requests nos logs de erro, sempre envie uma UUID válida neste _Header_ para nos ajudar te dar suporte, especialmente durante a fase de implementação desta API. Em casos de erro ele é devolvido no campo \"id\" da resposta.\n\nOs valores numéricos são sempre números inteiros, ou seja, passe - e espere que - os valores de preço, tamanho e peso em centavos, centímetros e gramas."
    },
    {
      "name": "Cliente",
      "description": "Cadastro, consulta e alteração de clientes."
    },
    {
      "name": "Grupo",
      "description": "Consulta grupos de clientes da loja."
    },
    {
      "name": "Newsletter",
      "description": "Cadastra ou consulta e-mail de cliente na Newsletter."
    },
    {
      "name": "Pedido",
      "description": "Consulta pedidos da loja."
    },
    {
      "name": "Situações do pedido",
      "description": "Consulta situações de pedido disponíveis na plataforma.\n\n``` json\n\"aguardando_pagamento\"\n\"cancelamento_solicitado\"\n\"em_producao\"\n\"faturado\"\n\"pagamento_devolvido\"\n\"pagamento_devolvido_sem_retorno\"\n\"pagamento_em_analise\"\n\"pedido_chargeback\"\n\"pagamento_em_disputa\"\n\"pedido_cancelado\"\n\"pedido_efetuado\"\n\"pedido_em_separacao\"\n\"pedido_entregue\"\n\"pedido_enviado\"\n\"pedido_pago\"\n\"pronto_para_retirada\"\n\n ```"
    },
    {
      "name": "Integrações de pedido",
      "description": "Use este endpoint para enviar novos Pedidos de Venda, quando for necessário enviar um pedido quando os dados de preço, pagamento e frete que foram calculados anteriormente (exemplo: Marketplaces).\n\n## Novo pedido\n\n**buyer (dict)**\n\n> Informe os dados do comprador: \n  \n\n**shipping (dict)**\n\n> Informe os dados de entrega: \n  \n\n**amount (dict)**\n\n> Informe o total do Pedido de Venda: \n  \n\n**itens (array)**\n\n> Informe os items do Pedido de Venda: \n  \n\n**info (dict)**\n\n> Informe dados gerais do Pedido de Venda: \n  \n\n**integration_data (dict)**\n\n> Informe os dados referente a integração do pedido:"
    },
    {
      "name": "Nota Fiscal",
      "description": "Use este endpoint para consultar, cadastrar ou alterar os dados da Nota Fiscal do pedido."
    },
    {
      "name": "DCE",
      "description": "### _DCE – Documento Complementar de Entrega_\n\n[O que é DCE?](https://ajuda.lojaintegrada.com.br/pt-BR/articles/12384787-o-que-e-a-dce-declaracao-de-conteudo-eletronica)\n\nEndpoints para consultar, vincular e desvincular uma DCE gerada externamente a um pedido de venda na Loja Integrada.\n\n### GET `/v1/pedido_dce/{pedido_numero}` — Consultar DCE vinculada ao pedido\n\nConsulta a DCE vinculada ao pedido, através do número do pedido.\n\n### POST `/v1/integration/pedido/dce` — Vincular DCE ao pedido\n\nVincula uma DCE gerada externamente a um pedido de venda. O envio é feito via `multipart/form-data`.\n\n| Campo | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `order_number` | string | Sim | Número do pedido na Loja Integrada |\n| `access_key` | string | Sim | Chave de acesso da DCE (44 caracteres numéricos) |\n| `url_xml` | string | Opcional | URL pública do XML da DCE |\n\n### DELETE `/v1/integration/pedido/dce?order_number=` — Desvincular DCE do pedido\n\nRemove o vínculo entre a DCE e o pedido. A DCE não é cancelada — apenas a associação com o pedido é desfeita.\n\n| Parâmetro | Tipo | Obrigatório | Descrição |\n| --- | --- | --- | --- |\n| `order_number` | integer | Sim | Número do pedido a ter a DCE desvinculada |"
    },
    {
      "name": "Webhook Pedidos",
      "description": "Para receber informações de pedidos via webhook.\n\nImportante frisar que o integrador pode receber diversos webhooks repetidos, para eliminar esta situação considere apenas os webhooks que estão como:\n\n> **\"situacao\".\"situacao_alterada\": true** \n  \n\nAo cadastrar uma URL no webhook, o token informado será enviado no header de cada hook enviado, no seguinte formato:\n\n> **\"Authorization\": \"Bearer token_que_sera_enviado_no_header\"** \n  \n\nExemplo de retorno de pedido do webhook:\n\n``` json\n{\n    \"token\": \"7a8f85d6\",\n    \"tipo\": \"pedido_venda\",\n    \"id\": 102866325,\n    \"id_externo\": null,\n    \"numero\": 401,\n    \"valor_desconto\": 0,\n    \"valor_envio\": 28.57,\n    \"valor_subtotal\": 258.37,\n    \"valor_total\": 258.37,\n    \"utm_campaign\": null,\n    \"peso_real\": 0.3,\n    \"cliente_obs\": null,\n    \"id_anymarket\": 324007,\n    \"data_criacao\": \"2024-12-11T21:09:38.888Z\",\n    \"data_modificacao\": \"2025-02-28T20:45:47.154Z\",\n    \"data_expiracao\": \"2024-12-17T21:09:41.864Z\",\n    \"cliente\": {\n        \"id\": 76999147,\n        \"email\": \"franciele@lojaintegrada.com.br\",\n        \"nome\": \"Franciele Fernandes\",\n        \"telefone_celular\": null,\n        \"telefone_comercial\": null,\n        \"telefone_principal\": null,\n        \"situacao\": \"aprovado\",\n        \"data_nascimento\": null,\n        \"sexo\": null,\n        \"data_criacao\": \"2024-12-11T18:08:25.858611-03:00\",\n        \"data_modificacao\": \"2024-12-11T18:08:25.858624-03:00\",\n        \"cpf\": \"12345678901\",\n        \"cnpj\": null,\n        \"resource_uri\": \"/api/v1/cliente/76999147\"\n    },\n    \"cupom_desconto\": {\n        \"id\": null,\n        \"codigo\": null,\n        \"tipo\": null,\n        \"valor\": null\n    },\n    \"endereco_entrega\": {\n        \"id\": 116180767,\n        \"tipo\": \"PF\",\n        \"ie\": null,\n        \"cnpj\": null,\n        \"cpf\": \"123\",\n        \"rg\": null,\n        \"nome\": \"Residencial\",\n        \"razao_social\": null,\n        \"endereco\": \"Avenida avenida presidente kennedy\",\n        \"numero\": \"1000\",\n        \"complemento\": null,\n        \"referencia\": null,\n        \"bairro\": \"ESPLANADA\",\n        \"cidade\": \"janauba\",\n        \"estado\": \"MG\",\n        \"cep\": \"21041050\",\n        \"pais\": \"Brasil\"\n    },\n    \"endereco_pagamento\": {\n        \"id\": 116180767,\n        \"tipo\": null,\n        \"ie\": null,\n        \"cnpj\": null,\n        \"cpf\": \"123\",\n        \"rg\": null,\n        \"nome\": \"Residencial\",\n        \"razao_social\": null,\n        \"endereco\": \"Avenida avenida presidente kennedy\",\n        \"numero\": \"1000\",\n        \"complemento\": null,\n        \"referencia\": null,\n        \"bairro\": \"ESPLANADA\",\n        \"cidade\": \"janauba\",\n        \"estado\": \"MG\",\n        \"cep\": \"21041050\",\n        \"pais\": \"Brasil\"\n    },\n    \"envios\": [\n        {\n            \"id\": 102755596,\n            \"objeto\": \"QE432690081BR\",\n            \"prazo\": null,\n            \"valor\": 28.57,\n            \"data_criacao\": \"2024-12-11T18:09:39.352574-03:00\",\n            \"data_modificacao\": \"2025-02-28T17:44:59.725884-03:00\",\n            \"forma_envio\": {\n                \"id\": 32455,\n                \"codigo\": \"CORREIOS - PAC\",\n                \"nome\": \"Envio Externo\",\n                \"tipo\": null\n            }\n        }\n    ],\n    \"pagamentos\": [\n        {\n            \"id\": 102755716,\n            \"identificador_id\": null,\n            \"authorization_code\": null,\n            \"bandeira\": null,\n            \"mensagem_gateway\": null,\n            \"codigo_retorno_gateway\": null,\n            \"transacao_id\": null,\n            \"numero_parcelas\": null,\n            \"valor\": 258.37,\n            \"valor_pago\": null,\n            \"data_criacao\": \"2024-12-11T18:09:40.139944-03:00\",\n            \"data_modificacao\": \"2024-12-11T18:09:40.46061-03:00\",\n            \"forma_pagamento\": {\n                \"id\": 19,\n                \"codigo\": \"PAGAMENTOEXTERNO\",\n                \"nome\": \"Pagamento Externo\"\n            }\n        }\n    ],\n    \"situacao\": {\n        \"id\": 15,\n        \"codigo\": \"pedido_em_separacao\",\n        \"nome\": \"Pedido em separação\",\n        \"aprovado\": true,\n        \"cancelado\": false,\n        \"final\": false,\n        \"notificar_comprador\": true,\n        \"padrao\": false,\n        \"situacao_alterada\": true\n    },\n    \"marketplace_info\": {\n        \"integrador\": \"privalia\",\n        \"marketplace\": \"PRIVALIA\",\n        \"id_externo_unico\": null\n    },\n    \"itens\": [\n        {\n            \"linha\": 1,\n            \"id\": 231085327,\n            \"produto_id\": 262520750,\n            \"produto_id_pai\": null,\n            \"id_externo\": null,\n            \"sku\": \"2HE42RZWG\",\n            \"nome\": \"Bucha Suspensao Traseira Malibu 2010\",\n            \"tipo\": \"normal\",\n            \"quantidade\": 1,\n            \"preco_cheio\": 114.9,\n            \"preco_custo\": null,\n            \"preco_venda\": 114.9,\n            \"preco_subtotal\": 114.9,\n            \"preco_promocional\": null\n        }\n    ]\n}\n\n ```"
    },
    {
      "name": "Webhook Produtos",
      "description": "Para receber informações de alterações em produtos via webhook.\n\n##### **Exemplo de retorno de produto do webhook:**\n\n``` json\n[\n    {\n        \"pai\": null,\n        \"nome\": \"Mochila Cinza Juvenil Mormaii com Bolso Secreto\",\n        \"apelido\": \"mochila-cinza-juvenil-mormaii-com-bolso-secreto\",\n        \"destaque\": false,\n        \"usado\": false,\n        \"descricao_completa\": \"<p>Mochila Cinza Juvenil Mormaii com Bolso Secreto MOM34U09 </p>\\r\\n\\r\\n<p> </p>\\r\\n\\r\\n<p>Versáteis e exclusivas, seja para usar no passeio, dia a dia, para academia ou até mesmo para o trabalho, </p>\\r\\n\\r\\n<p>você pode contar com um modelo de mochila mormaii, são modelos que atendem todos os públicos, há diferenciais em cada estilo como estampas exclusivas, </p>\\r\\n\\r\\n<p>bolsos laterias, alças acolchoadas, puxadores reforçados, bolsos frontais e compartimento para laptop.</p>\\r\\n\\r\\n<p> </p>\\r\\n\\r\\n<p>CARACTERISTICA</p>\\r\\n\\r\\n<p> </p>\\r\\n\\r\\n<p>- Mochila marca Mormaii confeccionada em poliéster </p>\\r\\n\\r\\n<p>- Bolso frontal</p>\\r\\n\\r\\n<p>- Alças de costas acolchoado e ajustáveis</p>\\r\\n\\r\\n<p>- Bolso secreto na parte das costas</p>\\r\\n\\r\\n<p>- Bolsos laterias porta garrafa</p>\\r\\n\\r\\n<p> </p>\\r\\n\\r\\n<p>Tamanho aproximado ( AxLxP): 43cm x 30cm x 16cm</p>\\r\\n\\r\\n<p> </p>\\r\\n\\r\\n<p>Capacidade aproximado: 22L</p>\\r\\n\\r\\n<p> </p>\\r\\n\\r\\n<div id=\\\"njcdgcofcbnlbpkpdhmlmiblaglnkpnj\\\"> </div>\\r\\n\",\n        \"url_video_youtube\": \"\",\n        \"marca\": {\n            \"id\": 3012495,\n            \"nome\": \"Mormaii\",\n            \"apelido\": \"mormaii\",\n            \"ativo\": true\n        },\n        \"seo\": {\n            \"id\": 50471805,\n            \"title\": \"Mochila Cinza Juvenil Mormaii com Bolso Secreto MOM34U09\",\n            \"description\": \"\",\n            \"keyword\": \"\"\n        },\n        \"imagens\": [\n            {\n                \"id\": 74747386,\n                \"posicao\": null,\n                \"principal\": false,\n                \"caminho\": \"1736/1736356/produto/92491242/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09-3d22c2a4.jpg\",\n                \"url\": \"https://cdn.awsli.com.br/1736/1736356/produto/92491242/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09-3d22c2a4.jpg\"\n            },\n            {\n                \"id\": 74747390,\n                \"posicao\": null,\n                \"principal\": false,\n                \"caminho\": \"1736/1736356/produto/92491242/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09-366ce63b.jpg\",\n                \"url\": \"https://cdn.awsli.com.br/1736/1736356/produto/92491242/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09-366ce63b.jpg\"\n            }\n        ],\n        \"categorias\": [\n            {\n                \"principal\": true,\n                \"nivel_1\": {\n                    \"id\": 11214949,\n                    \"parent_id\": null,\n                    \"nome\": \"Malas e Mochilas\",\n                    \"url\": \"/categoria/11214949.html\",\n                    \"posicao\": 15\n                },\n                \"nivel_2\": {\n                    \"id\": 11214951,\n                    \"parent_id\": 11214949,\n                    \"nome\": \"Mochilas\",\n                    \"url\": \"/categoria/11214951.html\",\n                    \"posicao\": 0\n                },\n                \"nivel_3\": null,\n                \"nivel_4\": null,\n                \"nivel_5\": null\n            }\n        ],\n        \"canonical_path\": \"/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09\",\n        \"id\": 92491242,\n        \"ativo\": true,\n        \"removido\": false,\n        \"sku\": \"MCHMOM34U09\",\n        \"peso\": 0.08,\n        \"altura\": 30,\n        \"largura\": 20,\n        \"comprimento\": 5,\n        \"gtin\": \"7908226205229\",\n        \"mpn\": \"\",\n        \"ncm\": \"42029200\",\n        \"preco_cheio\": 150,\n        \"preco_promocional\": 75.95,\n        \"preco_sob_consulta\": false,\n        \"preco_venda\": 75.95,\n        \"estoque_gerenciado\": true,\n        \"estoque_situacao_em_estoque\": 0,\n        \"estoque_situacao_sem_estoque\": -1,\n        \"estoque_quantidade\": null,\n        \"estoque_quantidade_reservada\": null,\n        \"grades\": null,\n        \"grades_customizadas\": null,\n        \"disponivel\": true,\n        \"tipo\": \"normal\",\n        \"data_criacao\": \"2021-03-22T13:24:43.496Z\",\n        \"data_modificacao\": \"2023-06-19T18:31:53.289Z\"\n    }\n]\n\n```"
    },
    {
      "name": "Marketing",
      "description": "Gerenciamento de campanhas, automações, newsletters e regras de marketing. Inclui funcionalidades para:\n\n**Lista de Espera**\n\n> Gerencie lista de espera de produtos com endpoints para consulta por loja.\n\n**Regras**\n\n> Configure e gerencie regras de automação por canal. Use os endpoints para:\n> - GET /v3/marketing/rules/channels/{automationId} - Consultar regras por automação\n> - POST /v3/marketing/rules - Criar nova regra\n> - DELETE /v3/marketing/rules/{ruleId} - Remover regra\n> - POST /v3/marketing/rules/toggle - Ativar/desativar regra\n\n**Newsletter**\n\n> Gerencie newsletters e inscrições. Use os endpoints para:\n> - GET /v3/marketing/newsletter - Listar newsletters\n> - POST /v3/marketing/newsletter - Criar newsletter\n> - DELETE /v3/marketing/newsletter/{newsletterEmail} - Remover inscrição\n\n**Campanhas**\n\n> Consulte e gerencie campanhas de marketing com endpoints para:\n> - GET /v3/marketing/campaign/{automationId} - Dados da campanha\n> - GET /v3/marketing/campaign/details/{campaignId} - Detalhes da campanha\n> - DELETE /v3/marketing/campaign/{campaignId} - Remover campanha\n> - GET /v3/marketing/campaign/export/{automationId} - Exportar dados\n\n**Automações**\n\n> Gerencie automações de marketing, configurações e opt-outs com endpoints para:\n> - GET /v3/marketing/automations/active - Listar automações ativas\n> - GET /v3/marketing/automations/config/ - Consultar configurações\n> - POST /v3/marketing/automations/config/ - Criar configuração\n> - PUT /v3/marketing/automations/config/ - Atualizar configuração\n> - DELETE /v3/marketing/automations/config/ - Remover configuração\n> - POST /v3/marketing/automations/optout - Processar opt-out"
    }
  ],
  "paths": {
    "/api/v1/marca/{marca_id}": {
      "delete": {
        "tags": [
          "Marca"
        ],
        "summary": "Deleta marca",
        "operationId": "deleteApiV1MarcaMarca_id",
        "parameters": [
          {
            "name": "marca_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "21522690"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Lojaintegrada"
        ],
        "summary": "GET /api/v1/marca/{marca_id}",
        "description": "Endpoint extraído da documentação (index.md).",
        "parameters": [
          {
            "name": "marca_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/enviali/v2/postage": {
      "get": {
        "tags": [
          "Enviali"
        ],
        "summary": "Listar etiquetas",
        "operationId": "getEnvialiV2Postage",
        "description": "### **Filtros disponíveis (QueryString):**\n\n**id (array\\[integer\\]):** retorna a/s etiqueta/s pelo/s id passado/s.\n\n**status (array\\[string\\]):** created, billed, cancelling, cancelled, posted\n\n**trackingStatus (array\\[string\\]):** posted, transit, delayed, returned, lost, delivered, pickup, delivering, damaged, seized, disposed, returning.\n\n**slug (string):** identificador do serviço de envio.\n\n**search (string):** pesquisa entre nome do cliente, numero do pedido e código de rastreio.\n\n**before string($date-time):** cursor de paginação. Etiquetas são ordenadas da mais recente pra mais antiga, envie a data da mais antiga pra retornar a página anterior.\n\n**limit (integer($int32)):** tamanho da página.",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "{{randomUUID}}",
            "description": "Sempre envie uma UUID válida neste header para nos ajudar te dar suporte, especialmente durante a implementação desta API."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postage": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 12242
                          },
                          "status": {
                            "type": "string",
                            "example": "billed"
                          },
                          "date_time": {
                            "type": "string",
                            "example": "2023-10-06T16:46:24.073Z"
                          },
                          "expires_at": {
                            "type": "string",
                            "example": "2023-10-22T02:59:59.000Z"
                          },
                          "service_name": {
                            "type": "string",
                            "example": "SEDEX"
                          },
                          "service_slug": {
                            "type": "string",
                            "example": "sedex"
                          },
                          "tracking_code": {
                            "type": "string",
                            "example": "AA012390572BR"
                          },
                          "tracking_status": {
                            "type": "null"
                          },
                          "price": {
                            "type": "null"
                          }
                        }
                      },
                      "order": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "51097"
                          },
                          "date_time": {
                            "type": "string",
                            "example": "2023-04-11T15:28:34.214Z"
                          },
                          "merchandise_value": {
                            "type": "integer",
                            "example": 5000
                          }
                        }
                      },
                      "recipient": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Ana Caroline "
                          }
                        }
                      },
                      "estimate": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "integer",
                            "example": 6731
                          },
                          "eta": {
                            "type": "string",
                            "example": "2.00:00:00"
                          }
                        }
                      }
                    }
                  }
                },
                "example": [
                  {
                    "postage": {
                      "id": 12242,
                      "status": "billed",
                      "date_time": "2023-10-06T16:46:24.073Z",
                      "expires_at": "2023-10-22T02:59:59.000Z",
                      "service_name": "SEDEX",
                      "service_slug": "sedex",
                      "tracking_code": "AA012390572BR",
                      "tracking_status": null,
                      "price": null
                    },
                    "order": {
                      "code": "51097",
                      "date_time": "2023-04-11T15:28:34.214Z",
                      "merchandise_value": 5000
                    },
                    "recipient": {
                      "name": "Ana Caroline "
                    },
                    "estimate": {
                      "price": 6731,
                      "eta": "2.00:00:00"
                    }
                  },
                  {
                    "postage": {
                      "id": 3,
                      "status": "billed",
                      "date_time": "2023-08-17T18:15:06.230Z",
                      "expires_at": "2023-09-01T03:00:00.000Z",
                      "service_name": "PAC",
                      "service_slug": "pac",
                      "tracking_code": "AK003289771BR",
                      "tracking_status": null,
                      "price": null
                    },
                    "order": {
                      "code": "821357",
                      "date_time": "2023-07-21T13:30:26.267Z",
                      "merchandise_value": 5000
                    },
                    "recipient": {
                      "name": "Joao dos Testes"
                    },
                    "estimate": {
                      "price": 1829,
                      "eta": "5.00:00:00"
                    }
                  },
                  {
                    "postage": {
                      "id": 2,
                      "status": "billed",
                      "date_time": "2023-08-17T18:00:10.671Z",
                      "expires_at": "2023-09-01T03:00:00.000Z",
                      "service_name": "PAC",
                      "service_slug": "pac",
                      "tracking_code": "AK003289269BR",
                      "tracking_status": null,
                      "price": null
                    },
                    "order": {
                      "code": "821357",
                      "date_time": "2023-07-21T13:30:26.267Z",
                      "merchandise_value": 1000
                    },
                    "recipient": {
                      "name": "Joao dos Testes"
                    },
                    "estimate": {
                      "price": 1829,
                      "eta": "5.00:00:00"
                    }
                  },
                  {
                    "postage": {
                      "id": 1,
                      "status": "posted",
                      "date_time": "2023-08-16T19:12:57.122Z",
                      "expires_at": "2023-08-31T03:00:00.000Z",
                      "service_name": "SEDEX",
                      "service_slug": "sedex",
                      "tracking_code": "AA006992030BR",
                      "tracking_status": "delivered",
                      "price": null
                    },
                    "order": {
                      "code": "534849",
                      "date_time": "2023-07-21T13:30:26.267Z",
                      "merchandise_value": 20000
                    },
                    "recipient": {
                      "name": "Andre Soroca"
                    },
                    "estimate": {
                      "price": 3375,
                      "eta": "1.00:00:00"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Enviali"
        ],
        "summary": "Cancelar etiqueta",
        "operationId": "deleteEnvialiV2Postage",
        "description": "### **Cancela etiqueta do pedido.**\n\n**id ((array\\[integer\\]):** QueryString\n\nAs etiquetas não são canceladas imediatamente. Elas são programadas para cancelamento.\n\nO cancelamento real pode levar até 2 dias úteis.\n\nO reembolso e outras deduções de limite são tratados no momento do cancelamento real, quando a etiqueta é cancelada pelo provedor.\n\nO código de rastreamento do pedido (na plataforma de ecommerce) é atualizado para uma string vazia ao solicitar o cancelamento.\n\nApenas erros são retornados. Se a solicitação for bem-sucedida, nenhum corpo de resposta é retornado.\n\n#### Error codes:\n\n1. Postage not found\n2. Invalid postage status\n3. Partial failure",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "{{postageID}}",
            "description": "GET enviali/v2/postage -> $.postage.id"
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "{{randomUUID}}",
            "description": "Sempre envie uma UUID válida neste header para nos ajudar te dar suporte, especialmente durante a implementação desta API."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/enviali/v2/postage/bill": {
      "post": {
        "tags": [
          "Enviali"
        ],
        "summary": "Gerar etiqueta",
        "operationId": "postEnvialiV2PostageBill",
        "description": "### **Gera etiqueta para o pedido.**\n\nÉ possível faturar várias encomendas de uma só vez.\n\nEm caso de erros de validação, todas as encomendas falham simultaneamente.\n\nAs cotações são recalculadas e, se não corresponderem às indicadas na solicitação, a encomenda falhará.\n\nEm caso de erros durante a geração, as encomendas são faturadas individualmente e podem falhar individualmente.\n\n#### **Detalhes do corpo da request:**\n\nPermite especificar _Options_ adicionais para o cálculo. As _Options_ são específicas para o serviço. As _Options_ devem ser incluídas na solicitação de cálculo e não podem ser adicionadas posteriormente após o cálculo já ter sido feito.\n\n**Observação:** as propriedades de \"volume\" e \"estimate\" precisam ser as mesmas retornadas na request de _Cotação da etiqueta._\n\n**Error codes:**\n\n1. Invalid order id\n2. Invalid order date\n3. Invalid merchandise value\n4. Invalid federal document\n5. Invalid name\n6. Invalid email\n7. Invalid cellphone\n8. Invalid zipcode\n9. Invalid city\n10. Invalid district\n11. Invalid street\n12. Invalid number\n13. Account not found\n14. Invoice is required for business accounts\n15. Invalid product id\n16. Invalid product name\n17. Invalid product sku\n18. Invalid product quantity\n19. Invalid product price\n20. Account not setup\n21. Invalid product categories\n22. Invalid product parent id\n23. Invalid volume\n24. Invalid estimate\n25. Wallet not found\n26. Insufficient balance\n27. Unable to store postage\n28. Insufficient order limit\n29. Volume too small\n30. Invalid complement\n31. Invalid invoice key\n32. Order already billed\n33. No estimates found",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "{{randomUUID}}",
            "description": "Sempre envie uma UUID válida neste header para nos ajudar te dar suporte, especialmente durante a implementação desta API."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postage": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "order": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "3861768"
                            },
                            "code": {
                              "type": "string",
                              "example": "333"
                            },
                            "merchandise_value": {
                              "type": "integer",
                              "example": 5500
                            },
                            "date_time": {
                              "type": "string",
                              "example": "2023-10-22T16:42:58.135Z"
                            },
                            "products": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "3861768"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Caderno Florals"
                                  },
                                  "sku": {
                                    "type": "string",
                                    "example": "8CH2WUZ38"
                                  },
                                  "quantity": {
                                    "type": "integer",
                                    "example": 1
                                  },
                                  "volume": {
                                    "type": "object",
                                    "properties": {
                                      "height": {
                                        "type": "integer",
                                        "example": 10
                                      },
                                      "width": {
                                        "type": "integer",
                                        "example": 20
                                      },
                                      "length": {
                                        "type": "integer",
                                        "example": 30
                                      },
                                      "weight": {
                                        "type": "integer",
                                        "example": 500
                                      }
                                    }
                                  },
                                  "price": {
                                    "type": "integer",
                                    "example": 5500
                                  },
                                  "parent_id": {
                                    "type": "string",
                                    "example": "3861768"
                                  },
                                  "categories": {
                                    "type": "null"
                                  }
                                }
                              }
                            },
                            "invoice": {
                              "type": "object",
                              "properties": {
                                "access_key": {
                                  "type": "string",
                                  "example": "chave_de_acesso"
                                }
                              }
                            }
                          }
                        },
                        "recipient": {
                          "type": "object",
                          "properties": {
                            "federal_document": {
                              "type": "string",
                              "example": "29674535012"
                            },
                            "name": {
                              "type": "string",
                              "example": "Fulano Ciclano"
                            },
                            "email": {
                              "type": "string",
                              "example": "fulano@ciclano.com"
                            },
                            "cellphone": {
                              "type": "string",
                              "example": "5599999999"
                            },
                            "phone_number": {
                              "type": "null"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "zipcode": {
                                  "type": "string",
                                  "example": "88104600"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "SC"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "São José"
                                },
                                "district": {
                                  "type": "string",
                                  "example": "Fazenda Santo Antônio"
                                },
                                "street": {
                                  "type": "string",
                                  "example": "Rua Domingos Jalmeno da Costa"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "2342"
                                },
                                "complement": {
                                  "type": "string",
                                  "example": "apto 5"
                                },
                                "directions": {
                                  "type": "null"
                                }
                              }
                            }
                          }
                        },
                        "volume": {
                          "type": "object",
                          "properties": {
                            "height": {
                              "type": "integer",
                              "example": 10
                            },
                            "width": {
                              "type": "integer",
                              "example": 20
                            },
                            "length": {
                              "type": "integer",
                              "example": 30
                            },
                            "weight": {
                              "type": "integer",
                              "example": 500
                            }
                          }
                        },
                        "estimate": {
                          "type": "object",
                          "properties": {
                            "price": {
                              "type": "integer",
                              "example": 2135
                            },
                            "eta": {
                              "type": "string",
                              "example": "6.00:00:00"
                            },
                            "name": {
                              "type": "string",
                              "example": "PAC"
                            },
                            "slug": {
                              "type": "string",
                              "example": "pac"
                            },
                            "competitor_price": {
                              "type": "integer",
                              "example": 2780
                            },
                            "options": {
                              "type": "object",
                              "properties": {
                                "delivery_receipt": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "personal_delivery": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "insurance_coverage": {
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "postage": [
                  {
                    "order": {
                      "id": "3861768",
                      "code": "333",
                      "merchandise_value": 5500,
                      "date_time": "2023-10-22T16:42:58.135Z",
                      "products": [
                        {
                          "id": "3861768",
                          "name": "Caderno Florals",
                          "sku": "8CH2WUZ38",
                          "quantity": 1,
                          "volume": {
                            "height": 10,
                            "width": 20,
                            "length": 30,
                            "weight": 500
                          },
                          "price": 5500,
                          "parent_id": "3861768",
                          "categories": null
                        }
                      ],
                      "invoice": {
                        "access_key": "chave_de_acesso"
                      }
                    },
                    "recipient": {
                      "federal_document": "29674535012",
                      "name": "Fulano Ciclano",
                      "email": "fulano@ciclano.com",
                      "cellphone": "5599999999",
                      "phone_number": null,
                      "address": {
                        "zipcode": "88104600",
                        "state": "SC",
                        "city": "São José",
                        "district": "Fazenda Santo Antônio",
                        "street": "Rua Domingos Jalmeno da Costa",
                        "number": "2342",
                        "complement": "apto 5",
                        "directions": null
                      }
                    },
                    "volume": {
                      "height": 10,
                      "width": 20,
                      "length": 30,
                      "weight": 500
                    },
                    "estimate": {
                      "price": 2135,
                      "eta": "6.00:00:00",
                      "name": "PAC",
                      "slug": "pac",
                      "competitor_price": 2780,
                      "options": {
                        "delivery_receipt": false,
                        "personal_delivery": false,
                        "insurance_coverage": false
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": ""
                    },
                    "success": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 36657
                          },
                          "order_code": {
                            "type": "string",
                            "example": "333"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {}
                    }
                  }
                },
                "example": {
                  "id": "",
                  "success": [
                    {
                      "id": 36657,
                      "order_code": "333"
                    }
                  ],
                  "errors": []
                }
              }
            }
          }
        }
      }
    },
    "/enviali/v2/postage/doc": {
      "get": {
        "tags": [
          "Enviali"
        ],
        "summary": "Documentos de Envio",
        "operationId": "getEnvialiV2PostageDoc",
        "description": "### **Retorna o arquivo PDF buscando pelo id da etiqueta.**\n\n**id ((integer($int64))**\n\nArquivos PDF são armazenados em cache até a data de vencimento da postagem. Se o PDF não for encontrado no cache, ele é buscado no provedor e armazenado em cache. Se a postagem estiver vencida, cancelando ou já cancelada, o PDF não é buscado nem retornado.\n\n**Response Type**\n\n- 200: `application/pdf`\n- 400: `application/json`\n- 404: `application/json`\n- 500: `text/plain`\n    \n\n**Error codes:**\n\n1. Postage not found\n2. Pdf not found\n3. Invalid postage status\n4. Postage expired",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "{{postageID}}",
            "description": "GET enviali/v2/postage -> $.postage.id"
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "{{randomUUID}}",
            "description": "Sempre envie uma UUID válida neste header para nos ajudar te dar suporte, especialmente durante a implementação desta API."
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "PostageExpired"
                    },
                    "detail": {
                      "type": "null"
                    },
                    "id": {
                      "type": "string",
                      "example": ""
                    },
                    "code": {
                      "type": "integer",
                      "example": 4
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    }
                  }
                },
                "example": {
                  "title": "PostageExpired",
                  "detail": null,
                  "id": "",
                  "code": 4,
                  "status": 400
                }
              }
            }
          }
        }
      }
    },
    "/enviali/v2/postage/estimate": {
      "post": {
        "tags": [
          "Enviali"
        ],
        "summary": "Cotação da etiqueta",
        "operationId": "postEnvialiV2PostageEstimate",
        "description": "### Estimativa da etiqueta.\n\n#### **Importante:**\n\nSe a propriedade de volume do corpo for fornecida, essas dimensões são usadas como dimensões do pacote. Essa propriedade é opcional.\n\nSe nenhum volume for fornecido, o volume é calculado a partir da propriedade de produtos do corpo. A propriedade de produtos é necessária, mesmo se o volume for fornecido.\n\nIndependentemente de um volume ser fornecido ou não, o volume considerado para o cálculo é retornado na resposta. O volume retornado na resposta deve ser encaminhado para o endpoint v2/postage/bill.\n\nUma das estimativas retornadas deve ser selecionada e encaminhada para o endpoint v2/postage/bill como está.\n\nSe o volume fornecido ou o calculado for menor do que o volume mínimo de 1x10x15 e 300g, o volume mínimo é usado em seu lugar.\n\nSe durante o cálculo do volume a partir dos produtos, um produto estiver sem uma dimensão ou tiver uma dimensão abaixo do mínimo, o mínimo é usado em seu lugar. O mínimo é de 1x1x1 e 100g.\n\n#### **Detalhes do corpo da request:**\n\n**Options**: Permite especificar opções adicionais para o cálculo. As opções são específicas para o serviço.\n\n**Correios options**: DeliveryReceipt, PersonalDelivery, InsuranceCoverage.\n\n**DeliveryReceipt**: Se \"true\", os Correios apresentarão um recibo ao destinatário e coletarão uma assinatura.\n\n**PersonalDelivery**: Se \"true\", os Correios entregarão apenas ao destinatário, exigindo um documento.\n\n**InsuranceCoverage**: Se \"true\", os Correios fornecerão cobertura de seguro para o pacote em caso de perda ou danos.\n\n#### **Error codes:**\n\n1. Account not found\n2. Volume or products required\n3. Zipcode not found",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "{{randomUUID}}",
            "description": "Sempre envie uma UUID válida neste header para nos ajudar te dar suporte, especialmente durante a implementação desta API."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zipcode": {
                    "type": "string",
                    "example": "88104600"
                  },
                  "merchandise_value": {
                    "type": "integer",
                    "example": 5500
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "3861768"
                        },
                        "sku": {
                          "type": "string",
                          "example": "8CH2WUZ38"
                        },
                        "name": {
                          "type": "string",
                          "example": "Caderno Florals"
                        },
                        "quantity": {
                          "type": "integer",
                          "example": 1
                        },
                        "price": {
                          "type": "integer",
                          "example": 5500
                        },
                        "volume": {
                          "type": "object",
                          "properties": {
                            "height": {
                              "type": "integer",
                              "example": 10
                            },
                            "width": {
                              "type": "integer",
                              "example": 20
                            },
                            "length": {
                              "type": "integer",
                              "example": 30
                            },
                            "weight": {
                              "type": "integer",
                              "example": 500
                            }
                          }
                        },
                        "categories": {
                          "type": "null"
                        },
                        "parent_id": {
                          "type": "string",
                          "example": "3861768"
                        }
                      }
                    }
                  },
                  "order_date": {
                    "type": "string",
                    "example": "2023-10-24T15:52:13.318Z"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "delivery_receipt": {
                        "type": "boolean",
                        "example": false
                      },
                      "personal_delivery": {
                        "type": "boolean",
                        "example": false
                      },
                      "insurance_coverage": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  }
                }
              },
              "example": {
                "zipcode": "88104600",
                "merchandise_value": 5500,
                "products": [
                  {
                    "id": "3861768",
                    "sku": "8CH2WUZ38",
                    "name": "Caderno Florals",
                    "quantity": 1,
                    "price": 5500,
                    "volume": {
                      "height": 10,
                      "width": 20,
                      "length": 30,
                      "weight": 500
                    },
                    "categories": null,
                    "parent_id": "3861768"
                  }
                ],
                "order_date": "2023-10-24T15:52:13.318Z",
                "options": {
                  "delivery_receipt": false,
                  "personal_delivery": false,
                  "insurance_coverage": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "volume": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "integer",
                          "example": 10
                        },
                        "width": {
                          "type": "integer",
                          "example": 20
                        },
                        "length": {
                          "type": "integer",
                          "example": 30
                        },
                        "weight": {
                          "type": "integer",
                          "example": 500
                        }
                      }
                    },
                    "estimates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "integer",
                            "example": 2135
                          },
                          "eta": {
                            "type": "string",
                            "example": "6.00:00:00"
                          },
                          "name": {
                            "type": "string",
                            "example": "PAC"
                          },
                          "slug": {
                            "type": "string",
                            "example": "pac"
                          },
                          "competitor_price": {
                            "type": "integer",
                            "example": 2780
                          },
                          "options": {
                            "type": "object",
                            "properties": {
                              "delivery_receipt": {
                                "type": "boolean",
                                "example": false
                              },
                              "personal_delivery": {
                                "type": "boolean",
                                "example": false
                              },
                              "insurance_coverage": {
                                "type": "boolean",
                                "example": false
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {}
                    }
                  }
                },
                "example": {
                  "volume": {
                    "height": 10,
                    "width": 20,
                    "length": 30,
                    "weight": 500
                  },
                  "estimates": [
                    {
                      "price": 2135,
                      "eta": "6.00:00:00",
                      "name": "PAC",
                      "slug": "pac",
                      "competitor_price": 2780,
                      "options": {
                        "delivery_receipt": false,
                        "personal_delivery": false,
                        "insurance_coverage": false
                      }
                    },
                    {
                      "price": 3923,
                      "eta": "2.00:00:00",
                      "name": "SEDEX",
                      "slug": "sedex",
                      "competitor_price": 5310,
                      "options": {
                        "delivery_receipt": false,
                        "personal_delivery": false,
                        "insurance_coverage": false
                      }
                    }
                  ],
                  "errors": []
                }
              }
            }
          }
        }
      }
    },
    "/enviali/v2/postage/pdf": {
      "get": {
        "tags": [
          "Enviali"
        ],
        "summary": "PDF da etiqueta",
        "operationId": "getEnvialiV2PostagePdf",
        "description": "### **Retorna o arquivo PDF buscando pelo id da etiqueta.**\n\n**id ((integer($int64)):** GET enviali/v2/postage/label -> $\\[i\\].postage.id\n\n**paperType (enum($string)):** _PdfA4, PdfZpl ou Zpl_\n\nSe a postagem estiver vencida, cancelando ou já cancelada, o PDF não é buscado nem retornado.\n\n**Response Type**\n\n- 200: `application/pdf`\n- 400: `application/json`\n- 404: `application/json`\n- 500: `text/plain`\n    \n\n**Error codes:**\n\n1. Postage not found\n2. Pdf not found\n3. Invalid postage status\n4. Postage expired",
        "parameters": [
          {
            "name": "paperType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "A4",
            "description": "[A4] Tipo de papel a ser utilizado"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "{{postageID}}",
            "description": "GET enviali/v2/postage -> $.postage.id"
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "{{randomUUID}}",
            "description": "Sempre envie uma UUID válida neste header para nos ajudar te dar suporte, especialmente durante a implementação desta API."
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "PostageExpired"
                    },
                    "detail": {
                      "type": "null"
                    },
                    "id": {
                      "type": "string",
                      "example": ""
                    },
                    "code": {
                      "type": "integer",
                      "example": 4
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    }
                  }
                },
                "example": {
                  "title": "PostageExpired",
                  "detail": null,
                  "id": "",
                  "code": 4,
                  "status": 400
                }
              }
            }
          }
        }
      }
    },
    "/enviali/v2/postage/tracking/{tracking_codigo}": {
      "get": {
        "tags": [
          "Enviali"
        ],
        "summary": "Consultar Rastreamento",
        "operationId": "getEnvialiV2PostageTrackingTracking_codigo",
        "description": "## Consultar Rastreamento\n\nRetorna as informações de rastreamento de um objeto postal a partir do seu código de rastreamento. O endpoint fornece o status atual, histórico de movimentações, dados do pedido, destinatário e estimativas de entrega.\n\n---\n\n## Parâmetros de Caminho (Path Parameters)\n\n| Parâmetro | Tipo | Obrigatório | Descrição |\n|---|---|---|---|\n| `tracking_code` | `string` | Sim | Código de rastreamento do objeto postal (ex: `AD401199439BR`) |\n\n**Exemplo de URL:**\n```\nGET https://api.awsli.com.br/enviali/v2/postage/tracking/{tracking_code}\n```\n\n---\n\n## Campos da Resposta\n\n### `postage` — Dados da postagem\n\n| Campo | Tipo | Descrição |\n|---|---|---|\n| `id` | `integer` | Identificador único da postagem |\n| `status` | `string` | Status da postagem (ex: `posted`) |\n| `date_time` | `string (ISO 8601)` | Data e hora de criação da postagem |\n| `expires_at` | `string (ISO 8601)` | Data de expiração da postagem |\n| `service_name` | `string` | Nome do serviço de entrega (ex: `SEDEX`) |\n| `service_slug` | `string` | Identificador do serviço (ex: `sedex`) |\n| `tracking_code` | `string` | Código de rastreamento do objeto |\n| `price` | `integer` | Preço da postagem em centavos |\n| `volume` | `object` | Dimensões e peso do pacote (`height`, `width`, `length` em mm; `weight` em gramas) |\n| `tracking_status` | `string` | Status atual do rastreamento (ex: `transit`, `delivered`) |\n\n#### `postage.tracking_history[]` — Histórico de rastreamento\n\n| Campo | Tipo | Descrição |\n|---|---|---|\n| `timestamp` | `string (ISO 8601)` | Data e hora do evento |\n| `description` | `string` | Descrição do evento (ex: `Objeto postado`) |\n| `location` | `string` | Local onde o evento ocorreu (ex: `SAO PAULO - SP`) |\n| `status` | `string` | Status associado ao evento |\n| `received_at` | `string (ISO 8601)` | Data e hora em que o evento foi registrado |\n\n---\n\n### `order` — Dados do pedido\n\n| Campo | Tipo | Descrição |\n|---|---|---|\n| `code` | `string` | Código do pedido na loja |\n| `date_time` | `string (ISO 8601)` | Data e hora do pedido |\n| `merchandise_value` | `integer` | Valor da mercadoria em centavos |\n| `product_count` | `integer` | Quantidade de produtos no pedido |\n\n---\n\n### `recipient` — Dados do destinatário\n\n| Campo | Tipo | Descrição |\n|---|---|---|\n| `name` | `string` | Nome do destinatário |\n| `address.zipcode` | `string` | CEP do endereço de entrega |\n| `address.state` | `string` | Estado (UF) |\n| `address.city` | `string` | Cidade |\n| `address.district` | `string` | Bairro |\n| `address.street` | `string` | Logradouro |\n| `address.number` | `string` | Número |\n| `address.complement` | `string\\|null` | Complemento do endereço |\n\n---\n\n### `estimate` — Estimativa de entrega\n\n| Campo | Tipo | Descrição |\n|---|---|---|\n| `price` | `integer` | Preço estimado em centavos |\n| `competitor_price` | `integer` | Preço de referência de concorrentes em centavos |\n| `eta` | `string` | Prazo estimado de entrega (formato `D.HH:MM:SS`) |\n| `volume` | `object` | Dimensões e peso estimados do pacote |\n| `options` | `object` | Opções de entrega consideradas na estimativa |",
        "parameters": [
          {
            "name": "tracking_codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AD401199439BR"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postage": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1798038
                        },
                        "status": {
                          "type": "string",
                          "example": "posted"
                        },
                        "date_time": {
                          "type": "string",
                          "example": "2026-05-02T00:32:39.374Z"
                        },
                        "expires_at": {
                          "type": "string",
                          "example": "2026-05-15T00:00:00.000Z"
                        },
                        "service_name": {
                          "type": "string",
                          "example": "SEDEX"
                        },
                        "service_slug": {
                          "type": "string",
                          "example": "sedex"
                        },
                        "tracking_code": {
                          "type": "string",
                          "example": "AD401199439BR"
                        },
                        "price": {
                          "type": "integer",
                          "example": 1812
                        },
                        "volume": {
                          "type": "object",
                          "properties": {
                            "height": {
                              "type": "integer",
                              "example": 11
                            },
                            "width": {
                              "type": "integer",
                              "example": 33
                            },
                            "length": {
                              "type": "integer",
                              "example": 33
                            },
                            "weight": {
                              "type": "integer",
                              "example": 1640
                            }
                          }
                        },
                        "tracking_status": {
                          "type": "string",
                          "example": "transit"
                        },
                        "tracking_history": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "timestamp": {
                                "type": "string",
                                "example": "2026-05-05T18:22:58.000Z"
                              },
                              "description": {
                                "type": "string",
                                "example": "Objeto em transferência - por favor aguarde"
                              },
                              "location": {
                                "type": "string",
                                "example": "SAO PAULO - SP"
                              },
                              "status": {
                                "type": "string",
                                "example": "transit"
                              },
                              "received_at": {
                                "type": "string",
                                "example": "2026-05-05T18:22:58.000Z"
                              }
                            }
                          }
                        },
                        "options": {
                          "type": "object",
                          "properties": {
                            "delivery_receipt": {
                              "type": "boolean",
                              "example": false
                            },
                            "personal_delivery": {
                              "type": "boolean",
                              "example": false
                            },
                            "insurance_coverage": {
                              "type": "boolean",
                              "example": false
                            }
                          }
                        },
                        "transactions": {
                          "type": "array",
                          "items": {}
                        }
                      }
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "3777"
                        },
                        "date_time": {
                          "type": "string",
                          "example": "2026-04-12T15:52:00.000Z"
                        },
                        "merchandise_value": {
                          "type": "integer",
                          "example": 44990
                        },
                        "product_count": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    },
                    "recipient": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Cliente Exemplo"
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "zipcode": {
                              "type": "string",
                              "example": "05791190"
                            },
                            "state": {
                              "type": "string",
                              "example": "sp"
                            },
                            "city": {
                              "type": "string",
                              "example": "São Paulo"
                            },
                            "district": {
                              "type": "string",
                              "example": "Jardim Mitsutani"
                            },
                            "street": {
                              "type": "string",
                              "example": "Rua Marco de Canaveses"
                            },
                            "number": {
                              "type": "string",
                              "example": "100"
                            },
                            "complement": {
                              "type": "null"
                            }
                          }
                        }
                      }
                    },
                    "estimate": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "integer",
                          "example": 1812
                        },
                        "competitor_price": {
                          "type": "integer",
                          "example": 3060
                        },
                        "eta": {
                          "type": "string",
                          "example": "6.00:00:00"
                        },
                        "volume": {
                          "type": "object",
                          "properties": {
                            "height": {
                              "type": "integer",
                              "example": 10
                            },
                            "width": {
                              "type": "integer",
                              "example": 33
                            },
                            "length": {
                              "type": "integer",
                              "example": 34
                            },
                            "weight": {
                              "type": "integer",
                              "example": 1662
                            }
                          }
                        },
                        "options": {
                          "type": "object",
                          "properties": {
                            "delivery_receipt": {
                              "type": "boolean",
                              "example": false
                            },
                            "personal_delivery": {
                              "type": "boolean",
                              "example": false
                            },
                            "insurance_coverage": {
                              "type": "boolean",
                              "example": false
                            }
                          }
                        }
                      }
                    },
                    "incidents": {
                      "type": "array",
                      "items": {}
                    }
                  }
                },
                "example": {
                  "postage": {
                    "id": 1798038,
                    "status": "posted",
                    "date_time": "2026-05-02T00:32:39.374Z",
                    "expires_at": "2026-05-15T00:00:00.000Z",
                    "service_name": "SEDEX",
                    "service_slug": "sedex",
                    "tracking_code": "AD401199439BR",
                    "price": 1812,
                    "volume": {
                      "height": 11,
                      "width": 33,
                      "length": 33,
                      "weight": 1640
                    },
                    "tracking_status": "transit",
                    "tracking_history": [
                      {
                        "timestamp": "2026-05-05T18:22:58.000Z",
                        "description": "Objeto em transferência - por favor aguarde",
                        "location": "SAO PAULO - SP",
                        "status": "transit",
                        "received_at": "2026-05-05T18:22:58.000Z"
                      },
                      {
                        "timestamp": "2026-05-05T17:53:21.000Z",
                        "description": "Objeto postado",
                        "location": "SAO PAULO - SP",
                        "status": "transit",
                        "received_at": "2026-05-05T17:53:21.000Z"
                      },
                      {
                        "timestamp": "2026-05-06T06:03:23.000Z",
                        "description": "Objeto em transferência - por favor aguarde",
                        "location": "SAO PAULO - SP",
                        "status": "transit",
                        "received_at": "2026-05-06T06:03:23.000Z"
                      }
                    ],
                    "options": {
                      "delivery_receipt": false,
                      "personal_delivery": false,
                      "insurance_coverage": false
                    },
                    "transactions": []
                  },
                  "order": {
                    "code": "3777",
                    "date_time": "2026-04-12T15:52:00.000Z",
                    "merchandise_value": 44990,
                    "product_count": 1
                  },
                  "recipient": {
                    "name": "Cliente Exemplo",
                    "address": {
                      "zipcode": "05791190",
                      "state": "sp",
                      "city": "São Paulo",
                      "district": "Jardim Mitsutani",
                      "street": "Rua Marco de Canaveses",
                      "number": "100",
                      "complement": null
                    }
                  },
                  "estimate": {
                    "price": 1812,
                    "competitor_price": 3060,
                    "eta": "6.00:00:00",
                    "volume": {
                      "height": 10,
                      "width": 33,
                      "length": 34,
                      "weight": 1662
                    },
                    "options": {
                      "delivery_receipt": false,
                      "personal_delivery": false,
                      "insurance_coverage": false
                    }
                  },
                  "incidents": []
                }
              }
            }
          }
        }
      }
    },
    "/enviali/v2/postage/{postage_id}": {
      "get": {
        "tags": [
          "Enviali"
        ],
        "summary": "Etiqueta específica",
        "operationId": "getEnvialiV2PostagePostage_id",
        "description": "### **Retorna etiqueta específica buscada pelo id.**\n\n**id ((array\\[integer\\])**\n\n**Error codes:**\n\n1. Postage not found",
        "parameters": [
          {
            "name": "postage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12242"
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "{{randomUUID}}",
            "description": "Sempre envie uma UUID válida neste header para nos ajudar te dar suporte, especialmente durante a implementação desta API."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postage": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 12242
                        },
                        "status": {
                          "type": "string",
                          "example": "billed"
                        },
                        "date_time": {
                          "type": "string",
                          "example": "2023-10-06T16:46:24.073Z"
                        },
                        "expires_at": {
                          "type": "string",
                          "example": "2023-10-22T02:59:59.000Z"
                        },
                        "service_name": {
                          "type": "string",
                          "example": "SEDEX"
                        },
                        "service_slug": {
                          "type": "string",
                          "example": "sedex"
                        },
                        "tracking_code": {
                          "type": "string",
                          "example": "AA012390572BR"
                        },
                        "price": {
                          "type": "null"
                        },
                        "volume": {
                          "type": "null"
                        },
                        "tracking_status": {
                          "type": "null"
                        },
                        "tracking_history": {
                          "type": "null"
                        },
                        "options": {
                          "type": "object",
                          "properties": {
                            "delivery_receipt": {
                              "type": "boolean",
                              "example": false
                            },
                            "personal_delivery": {
                              "type": "boolean",
                              "example": false
                            },
                            "insurance_coverage": {
                              "type": "boolean",
                              "example": false
                            }
                          }
                        }
                      }
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "51097"
                        },
                        "date_time": {
                          "type": "string",
                          "example": "2023-04-11T15:28:34.214Z"
                        },
                        "merchandise_value": {
                          "type": "integer",
                          "example": 5000
                        },
                        "product_count": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    },
                    "recipient": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Ana Caroline "
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "zipcode": {
                              "type": "string",
                              "example": "89815450"
                            },
                            "state": {
                              "type": "string",
                              "example": "sc"
                            },
                            "city": {
                              "type": "string",
                              "example": "Chapecó"
                            },
                            "district": {
                              "type": "string",
                              "example": "Santo Antônio"
                            },
                            "street": {
                              "type": "string",
                              "example": "Rua Ventura Migliorini"
                            },
                            "number": {
                              "type": "string",
                              "example": "196"
                            },
                            "complement": {
                              "type": "null"
                            }
                          }
                        }
                      }
                    },
                    "estimate": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "integer",
                          "example": 6731
                        },
                        "competitor_price": {
                          "type": "integer",
                          "example": 11810
                        },
                        "eta": {
                          "type": "string",
                          "example": "2.00:00:00"
                        },
                        "volume": {
                          "type": "object",
                          "properties": {
                            "height": {
                              "type": "integer",
                              "example": 8
                            },
                            "width": {
                              "type": "integer",
                              "example": 28
                            },
                            "length": {
                              "type": "integer",
                              "example": 38
                            },
                            "weight": {
                              "type": "integer",
                              "example": 3160
                            }
                          }
                        },
                        "options": {
                          "type": "object",
                          "properties": {
                            "delivery_receipt": {
                              "type": "boolean",
                              "example": false
                            },
                            "personal_delivery": {
                              "type": "boolean",
                              "example": false
                            },
                            "insurance_coverage": {
                              "type": "boolean",
                              "example": false
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "postage": {
                    "id": 12242,
                    "status": "billed",
                    "date_time": "2023-10-06T16:46:24.073Z",
                    "expires_at": "2023-10-22T02:59:59.000Z",
                    "service_name": "SEDEX",
                    "service_slug": "sedex",
                    "tracking_code": "AA012390572BR",
                    "price": null,
                    "volume": null,
                    "tracking_status": null,
                    "tracking_history": null,
                    "options": {
                      "delivery_receipt": false,
                      "personal_delivery": false,
                      "insurance_coverage": false
                    }
                  },
                  "order": {
                    "code": "51097",
                    "date_time": "2023-04-11T15:28:34.214Z",
                    "merchandise_value": 5000,
                    "product_count": 1
                  },
                  "recipient": {
                    "name": "Ana Caroline ",
                    "address": {
                      "zipcode": "89815450",
                      "state": "sc",
                      "city": "Chapecó",
                      "district": "Santo Antônio",
                      "street": "Rua Ventura Migliorini",
                      "number": "196",
                      "complement": null
                    }
                  },
                  "estimate": {
                    "price": 6731,
                    "competitor_price": 11810,
                    "eta": "2.00:00:00",
                    "volume": {
                      "height": 8,
                      "width": 28,
                      "length": 38,
                      "weight": 3160
                    },
                    "options": {
                      "delivery_receipt": false,
                      "personal_delivery": false,
                      "insurance_coverage": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/enviali/v2/wallets": {
      "get": {
        "tags": [
          "Enviali"
        ],
        "summary": "Consultar carteira",
        "operationId": "getEnvialiV2Wallets",
        "description": "### **Retorna o saldo da carteira.**\n\n#### Error codes:\n\n1. WalletNotFound",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "{{randomUUID}}",
            "description": "Sempre envie uma UUID válida neste header para nos ajudar te dar suporte, especialmente durante a implementação desta API."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "integer",
                      "example": 15101
                    },
                    "open_orders": {
                      "type": "integer",
                      "example": 5
                    },
                    "pending_balance": {
                      "type": "integer",
                      "example": 0
                    },
                    "tier": {
                      "type": "object",
                      "properties": {
                        "max_balance": {
                          "type": "integer",
                          "example": 500000
                        },
                        "max_deposit": {
                          "type": "integer",
                          "example": 500000
                        },
                        "max_concurrent_orders": {
                          "type": "integer",
                          "example": 10
                        }
                      }
                    }
                  }
                },
                "example": {
                  "balance": 15101,
                  "open_orders": 5,
                  "pending_balance": 0,
                  "tier": {
                    "max_balance": 500000,
                    "max_deposit": 500000,
                    "max_concurrent_orders": 10
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/categoria": {
      "post": {
        "tags": [
          "Categorias"
        ],
        "summary": "Cadastrar categoria",
        "operationId": "postV1Categoria",
        "description": "Cadastra uma nova categoria na loja. Caso esteja criando uma subcategoria, enviar o ID da categoria pai.\n\nO único campo requerido é o **nome**.\n\nO campo **id_externo** é usado para passar um ID que já exista em seu sistema para esta categoria. Assim, poderá fazer GET e PUT usando o seu ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id_externo": {
                    "type": "null"
                  },
                  "nome": {
                    "type": "string",
                    "example": "Camisetas"
                  },
                  "descricao": {
                    "type": "string",
                    "example": "Camisetas"
                  },
                  "categoria_pai": {
                    "type": "null"
                  }
                }
              },
              "example": {
                "id_externo": null,
                "nome": "Camisetas",
                "descricao": "Camisetas",
                "categoria_pai": null
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categoria_pai": {
                      "type": "null"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "Camisetas"
                    },
                    "id": {
                      "type": "integer",
                      "example": 18852471
                    },
                    "id_externo": {
                      "type": "null"
                    },
                    "nome": {
                      "type": "string",
                      "example": "Camisetas"
                    },
                    "resource_uri": {
                      "type": "string",
                      "example": "/api/v1/categoria/18852471"
                    },
                    "seo": {
                      "type": "string",
                      "example": "/api/v1/seo/88218118"
                    },
                    "url": {
                      "type": "string",
                      "example": "http://www.testeli.tk/categoria/camisetas.html"
                    }
                  }
                },
                "example": {
                  "categoria_pai": null,
                  "descricao": "Camisetas",
                  "id": 18852471,
                  "id_externo": null,
                  "nome": "Camisetas",
                  "resource_uri": "/api/v1/categoria/18852471",
                  "seo": "/api/v1/seo/88218118",
                  "url": "http://www.testeli.tk/categoria/camisetas.html"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Categorias"
        ],
        "summary": "Listar todas as categorias",
        "operationId": "getV1Categoria",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 20
                        },
                        "next": {
                          "type": "string",
                          "example": "/api/v1/categoria?limit=20&offset=20"
                        },
                        "offset": {
                          "type": "integer",
                          "example": 0
                        },
                        "previous": {
                          "type": "null"
                        },
                        "total_count": {
                          "type": "integer",
                          "example": 55
                        }
                      }
                    },
                    "objects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "categoria_pai": {
                            "type": "null"
                          },
                          "descricao": {
                            "type": "string",
                            "example": "Looks para mulheres modernas."
                          },
                          "id": {
                            "type": "integer",
                            "example": 7645875
                          },
                          "id_externo": {
                            "type": "null"
                          },
                          "nome": {
                            "type": "string",
                            "example": "Feminino"
                          },
                          "resource_uri": {
                            "type": "string",
                            "example": "/api/v1/categoria/7645875"
                          },
                          "seo": {
                            "type": "string",
[...]
