{
  "openapi": "3.0.3",
  "info": {
    "title": "Pagar.me Stone Payment Gateway API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack pagarme.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pagar.me/core/v5"
    }
  ],
  "paths": {
    "/core/v5/recipients/{recipient_id}/bulk_anticipations": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/recipients/{recipient_id}/bulk_anticipations",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/core/v5/recipients/{recipient_id}/bulk_anticipations/limits": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/recipients/{recipient_id}/bulk_anticipations/limits",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/antecipa": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /antecipa",
        "description": "Endpoint derivado da referência oficial (antecipa).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md#antecipa`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md#antecipa"
      }
    },
    "/5-core-v5-recipients-recipient_id-bulk_anticipations-simulate-mudan-a-no-m-todo-de-get-para": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /5-core-v5-recipients-recipient_id-bulk_anticipations-simulate-mudan-a-no-m-todo-de-get-para",
        "description": "Endpoint extraído do índice de navegação (5. /core/v5/recipients/{recipient_id}/bulk_anticipations/simulate — Mudança no método de GET para).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipationsRemo": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipationsRemo",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipationsOs": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipationsOs",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipations/limitsRemo": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipations/limitsRemo",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipations/limitsObjetominimumdeixar": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipations/limitsObjetominimumdeixar",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipations/simulateMudan": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipations/simulateMudan",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipations": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipations",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipations/limits": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipations/limits",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipations/simulate": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipations/simulate",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipations/simulate.": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipations/simulate.",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_antecipa_C3_A7_C3_B5es_410f184d.md"
      }
    },
    "/core/v5/apple-pay/certificates": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /core/v5/apple-pay/certificates",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md"
      },
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/apple-pay/certificates",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md"
      }
    },
    "/core/v5/apple-pay/key-pairs": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /core/v5/apple-pay/key-pairs",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md"
      }
    },
    "/core/v5/apple-pay/certificates/{externalId}": {
      "delete": {
        "tags": [
          "Pagarme"
        ],
        "summary": "DELETE /core/v5/apple-pay/certificates/{externalId}",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md`)",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md"
      }
    },
    "/apple-pay-gest": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /apple-pay-gest",
        "description": "Endpoint derivado da referência oficial (apple-pay-gest).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md#apple-pay-gest`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md#apple-pay-gest"
      }
    },
    "/v5/apple-pay/key-pairs": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/apple-pay/key-pairs",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md"
      }
    },
    "/v5/apple-pay/certificates": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/apple-pay/certificates",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md"
      }
    },
    "/v5/apple-pay/certificates/{externalId}": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/apple-pay/certificates/{externalId}",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md`)",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md"
      }
    },
    "/v5/apple-pay": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/apple-pay",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_apple-pay-gest_C3_A3o-de-certificados_ddda60fc.md"
      }
    },
    "/paymentlinks": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /paymentlinks",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_checkout_pagarme_skill_order_19a5b49d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_checkout_pagarme_skill_order_19a5b49d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_checkout_pagarme_skill_order_19a5b49d.md"
      }
    },
    "/checkout-pagarme-skill-order": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /checkout-pagarme-skill-order",
        "description": "Endpoint derivado da referência oficial (checkout_pagarme_skill_order).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_checkout_pagarme_skill_order_19a5b49d.md#checkout_pagarme_skill_order`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_checkout_pagarme_skill_order_19a5b49d.md#checkout_pagarme_skill_order"
      }
    },
    "/plans": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /plans",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_checkout_pagarme_skill_subscription_4198ec15.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_checkout_pagarme_skill_subscription_4198ec15.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_checkout_pagarme_skill_subscription_4198ec15.md"
      }
    },
    "/checkout-pagarme-skill-subscription": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /checkout-pagarme-skill-subscription",
        "description": "Endpoint derivado da referência oficial (checkout_pagarme_skill_subscription).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_checkout_pagarme_skill_subscription_4198ec15.md#checkout_pagarme_skill_subscription`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_checkout_pagarme_skill_subscription_4198ec15.md#checkout_pagarme_skill_subscription"
      }
    },
    "/core/v5/payables": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/payables",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/core/v5/balance/operationspara": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/balance/operationspara",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/core/v5/payables/{payable_id}": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/payables/{payable_id}",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [
          {
            "name": "payable_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/core/v5/balance/operations": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/balance/operations",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/core/v5/payables.transferGET": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/payables.transferGET",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/core/v5/balance/operations/{balance_operation_id}": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/balance/operations/{balance_operation_id}",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [
          {
            "name": "balance_operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/core/v5/balance/operations.": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/balance/operations.",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/core/v5/balance/operations/{id}": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/balance/operations/{id}",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/core/v5/settlements": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/settlements",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/financeiro": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /financeiro",
        "description": "Endpoint derivado da referência oficial (financeiro).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_financeiro_04db57a0.md#financeiro`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md#financeiro"
      }
    },
    "/v5/payablesHist": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payablesHist",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payablesPagina": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payablesPagina",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payablesRemo": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payablesRemo",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payablesCamposliquidation_arrangement_id": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payablesCamposliquidation_arrangement_id",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payablesAdi": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payablesAdi",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payables/{payable_id}Endpoint": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payables/{payable_id}Endpoint",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [
          {
            "name": "payable_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/balance/operationsEndpoint": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/balance/operationsEndpoint",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/balance/operations/{balance_operation_id}Endpoint": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/balance/operations/{balance_operation_id}Endpoint",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [
          {
            "name": "balance_operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payables": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payables",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/settlements": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/settlements",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/balance/operationspara": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/balance/operationspara",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payables/{payable_id}": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payables/{payable_id}",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [
          {
            "name": "payable_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payablesaplicando": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payablesaplicando",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/balance/operations": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/balance/operations",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payablessettlementGET": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payablessettlementGET",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/settlementsfee_collectionEntidade": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/settlementsfee_collectionEntidade",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payables.": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payables.",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/payables.transferGET": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/payables.transferGET",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/transfers": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/transfers",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/balance/operations/{balance_operation_id}": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/balance/operations/{balance_operation_id}",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [
          {
            "name": "balance_operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/balance/operations.": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/balance/operations.",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/v5/balance/operations/{id}": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/balance/operations/{id}",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_financeiro_04db57a0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_financeiro_04db57a0.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_financeiro_04db57a0.md"
      }
    },
    "/guia-de-migracao-3ds-diferencas-entre-versoes": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /guia-de-migracao-3ds-diferencas-entre-versoes",
        "description": "Endpoint derivado da referência oficial (guia-de-migracao-3ds-diferencas-entre-versoes).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_guia-de-migracao-3ds-diferencas-entre-versoes_0c870c44.md#guia-de-migracao-3ds-diferencas-entre-versoes`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_guia-de-migracao-3ds-diferencas-entre-versoes_0c870c44.md#guia-de-migracao-3ds-diferencas-entre-versoes"
      }
    },
    "/core/v5/recipients/{recipient_id}/balance": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/recipients/{recipient_id}/balance",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md"
      }
    },
    "/core/v5/recipients/:recipientId/settlementseGET": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /core/v5/recipients/:recipientId/settlementseGET",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md"
      }
    },
    "/liquida": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /liquida",
        "description": "Endpoint derivado da referência oficial (liquida).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md#liquida`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md#liquida"
      }
    },
    "/v5/recipients/{recipient_id}/balanceCampostransferred_amount": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/balanceCampostransferred_amount",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md"
      }
    },
    "/v5/recipients/{recipient_id}/balance": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/balance",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md"
      }
    },
    "/v5/recipients/:recipientId/settlementseGET": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/:recipientId/settlementseGET",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md"
      }
    },
    "/v5/settlements/{settlement_id}.": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/settlements/{settlement_id}.",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md`)",
        "parameters": [
          {
            "name": "settlement_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md"
      }
    },
    "/v5/recipients/:recipientId/settlements": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/:recipientId/settlements",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md"
      }
    },
    "/v5/recipients/:recipient_id/receivable-units": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/:recipient_id/receivable-units",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md"
      }
    },
    "/v5/settlements/{settlement_id}": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/settlements/{settlement_id}",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md`)",
        "parameters": [
          {
            "name": "settlement_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_liquida_C3_A7_C3_A3o-transfer_C3_AAncias-e-recebedores_ad6fa847.md"
      }
    },
    "/llms": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /llms",
        "description": "Endpoint derivado da referência oficial (llms).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_llms_b84a4e7e.md#llms`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_llms_b84a4e7e.md#llms"
      }
    },
    "/manual-de-integracao-3ds-handler-old": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /manual-de-integracao-3ds-handler-old",
        "description": "Endpoint derivado da referência oficial (manual-de-integracao-3ds-handler-old).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_manual-de-integracao-3ds-handler-old_4d118dcc.md#manual-de-integracao-3ds-handler-old`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_manual-de-integracao-3ds-handler-old_4d118dcc.md#manual-de-integracao-3ds-handler-old"
      }
    },
    "/manual-de-integracao-3ds": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /manual-de-integracao-3ds",
        "description": "Endpoint derivado da referência oficial (manual-de-integracao-3ds).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_manual-de-integracao-3ds_65a5ff50.md#manual-de-integracao-3ds`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_manual-de-integracao-3ds_65a5ff50.md#manual-de-integracao-3ds"
      }
    },
    "/manual-de-integra": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /manual-de-integra",
        "description": "Endpoint derivado da referência oficial (manual-de-integra).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_manual-de-integra_C3_A7_C3_A3o-3ds-no-hub_3e7fef15.md#manual-de-integra`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_manual-de-integra_C3_A7_C3_A3o-3ds-no-hub_3e7fef15.md#manual-de-integra"
      }
    },
    "/v2/management/tds-token": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v2/management/tds-token",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_manual-de-integra_C3_A7_C3_A3o-3ds-no-hub_3e7fef15.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_manual-de-integra_C3_A7_C3_A3o-3ds-no-hub_3e7fef15.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_manual-de-integra_C3_A7_C3_A3o-3ds-no-hub_3e7fef15.md"
      }
    },
    "/manual-integracao-3ds": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /manual-integracao-3ds",
        "description": "Endpoint derivado da referência oficial (manual-integracao-3ds).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_manual-integracao-3ds_713419a8.md#manual-integracao-3ds`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_manual-integracao-3ds_713419a8.md#manual-integracao-3ds"
      }
    },
    "/v2/3ds2.min.jsProdu": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v2/3ds2.min.jsProdu",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_manual-integracao-3ds_713419a8.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_manual-integracao-3ds_713419a8.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_manual-integracao-3ds_713419a8.md"
      }
    },
    "/mudan": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /mudan",
        "description": "Endpoint derivado da referência oficial (mudan).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md#mudan`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md#mudan"
      }
    },
    "/v5/orders": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/orders",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md"
      }
    },
    "/v5/que": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/que",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md"
      }
    },
    "/v5/recipients/{recipient_id}/bulk_anticipations/simulate.O": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{recipient_id}/bulk_anticipations/simulate.O",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md`)",
        "parameters": [
          {
            "name": "recipient_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_mudan_as-de-apis_5ca6f779.md"
      }
    },
    "/core/v5/orders": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /core/v5/orders",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_pagamentos_112fda00.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_docs_pagamentos_112fda00.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_docs_pagamentos_112fda00.md"
      }
    },
    "/pagamentos": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /pagamentos",
        "description": "Endpoint derivado da referência oficial (pagamentos).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_docs_pagamentos_112fda00.md#pagamentos`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_docs_pagamentos_112fda00.md#pagamentos"
      }
    },
    "/v5/ordersacquirer_return_codepassa": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/ordersacquirer_return_codepassa",
        "description": "Endpoint extraído da documentação (docs_pagar_me_docs_pagamentos_112fda00.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_docs_pagamentos_112fda00.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_docs_pagamentos_112fda00.md"
      }
    },
    "/v1/kycs-mock/qr-code": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v1/kycs-mock/qr-code",
        "description": "Endpoint extraído da documentação (docs_pagar_me_page_ambiente-de-teste-para-prova-de-vida_ad66bedd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_page_ambiente-de-teste-para-prova-de-vida_ad66bedd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_page_ambiente-de-teste-para-prova-de-vida_ad66bedd.md"
      }
    },
    "/v1/kycs-mock/create-payment-bank-account": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v1/kycs-mock/create-payment-bank-account",
        "description": "Endpoint extraído da documentação (docs_pagar_me_page_ambiente-de-teste-para-prova-de-vida_ad66bedd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_page_ambiente-de-teste-para-prova-de-vida_ad66bedd.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_page_ambiente-de-teste-para-prova-de-vida_ad66bedd.md"
      }
    },
    "/v5/recipients/{id}/kyc_link": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /v5/recipients/{id}/kyc_link",
        "description": "Endpoint extraído da documentação (docs_pagar_me_page_api-v5-adi_C3_A7_C3_A3o-do-fluxo-de-prova-de-vida_ac214df9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_pagar_me_page_api-v5-adi_C3_A7_C3_A3o-do-fluxo-de-prova-de-vida_ac214df9.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_pagar_me_page_api-v5-adi_C3_A7_C3_A3o-do-fluxo-de-prova-de-vida_ac214df9.md"
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /orders",
        "description": "Endpoint extraído da documentação (docs_pagar_me_page_chargeback-novo-status-na-cobran_C3_A7a_a139e8eb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_page_chargeback-novo-status-na-cobran_C3_A7a_a139e8eb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_page_chargeback-novo-status-na-cobran_C3_A7a_a139e8eb.md"
      }
    },
    "/charges": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /charges",
        "description": "Endpoint extraído da documentação (docs_pagar_me_page_chargeback-novo-status-na-cobran_C3_A7a_a139e8eb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_page_chargeback-novo-status-na-cobran_C3_A7a_a139e8eb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_page_chargeback-novo-status-na-cobran_C3_A7a_a139e8eb.md"
      }
    },
    "/order": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /order",
        "description": "Endpoint extraído da documentação (docs_pagar_me_page_chargeback-novo-status-na-cobran_C3_A7a_a139e8eb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_pagar_me_page_chargeback-novo-status-na-cobran_C3_A7a_a139e8eb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_pagar_me_page_chargeback-novo-status-na-cobran_C3_A7a_a139e8eb.md"
      }
    },
    "/ativar-faturamento-manual-1": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /ativar-faturamento-manual-1",
        "description": "Endpoint derivado da referência oficial (ativar-faturamento-manual-1).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md#ativar-faturamento-manual-1`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md#ativar-faturamento-manual-1"
      }
    },
    "/criar-cliente": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /criar-cliente",
        "description": "Endpoint extraído do índice de navegação (Criar cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/obter-cliente": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /obter-cliente",
        "description": "Endpoint extraído do índice de navegação (Obter cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/editar-cliente": {
      "put": {
        "tags": [
          "Pagarme"
        ],
        "summary": "PUT /editar-cliente",
        "description": "Endpoint extraído do índice de navegação (Editar cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/listar-clientes": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /listar-clientes",
        "description": "Endpoint extraído do índice de navegação (Listar clientes).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/criar-cart-o": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /criar-cart-o",
        "description": "Endpoint extraído do índice de navegação (Criar cartão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/obter-cart-o": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /obter-cart-o",
        "description": "Endpoint extraído do índice de navegação (Obter cartão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/listar-cart-o": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /listar-cart-o",
        "description": "Endpoint extraído do índice de navegação (Listar cartão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/editar-cart-o": {
      "put": {
        "tags": [
          "Pagarme"
        ],
        "summary": "PUT /editar-cart-o",
        "description": "Endpoint extraído do índice de navegação (Editar cartão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/excluir-cart-o": {
      "delete": {
        "tags": [
          "Pagarme"
        ],
        "summary": "DELETE /excluir-cart-o",
        "description": "Endpoint extraído do índice de navegação (Excluir cartão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/renovar-cart-o": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /renovar-cart-o",
        "description": "Endpoint extraído do índice de navegação (Renovar cartão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/criar-token-cart-o": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /criar-token-cart-o",
        "description": "Endpoint extraído do índice de navegação (Criar Token cartão).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/criar-endere-o": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /criar-endere-o",
        "description": "Endpoint extraído do índice de navegação (Criar endereço).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/obter-endere-o": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /obter-endere-o",
        "description": "Endpoint extraído do índice de navegação (Obter endereço).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/editar-endere-o": {
      "put": {
        "tags": [
          "Pagarme"
        ],
        "summary": "PUT /editar-endere-o",
        "description": "Endpoint extraído do índice de navegação (Editar endereço).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/listar-endere-os": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /listar-endere-os",
        "description": "Endpoint extraído do índice de navegação (Listar endereços).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/excluir-endere-o": {
      "delete": {
        "tags": [
          "Pagarme"
        ],
        "summary": "DELETE /excluir-endere-o",
        "description": "Endpoint extraído do índice de navegação (Excluir endereço).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/obter-informa-es-do-bin": {
      "get": {
        "tags": [
          "Pagarme"
        ],
        "summary": "GET /obter-informa-es-do-bin",
        "description": "Endpoint extraído do índice de navegação (Obter informações do BIN).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/criar-pedido": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /criar-pedido",
        "description": "Endpoint extraído do índice de navegação (Criar pedido).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md"
      }
    },
    "/incluir-cobran-a-no-pedido": {
      "post": {
        "tags": [
          "Pagarme"
        ],
        "summary": "POST /incluir-cobran-a-no-pedido",
        "description": "Endpoint extraído do índice de navegação (Incluir cobrança no pedido).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docs_pagar_me_reference_ativar-faturamento-manual-1_0edfee67.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
[...]
