{
  "openapi": "3.0.3",
  "info": {
    "title": "WooCommerce REST API v3",
    "description": "Especificação OpenAPI 3.0 sintetizada via tratamento local em texto para developer.woocommerce.com.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://seusite.com.br/wp-json/wc/v3"
    }
  ],
  "paths": {
    "/wp-json/wc/store/v1/products": {
      "get": {
        "summary": "GET /wp-json/wc/store/v1/products",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/wp-json/wc/store/v1/cart": {
      "get": {
        "summary": "GET /wp-json/wc/store/v1/cart",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/cart/coupons": {
      "get": {
        "summary": "GET /cart/coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      },
      "post": {
        "summary": "POST /cart/coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      },
      "delete": {
        "summary": "DELETE /cart/coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/cart/coupons/:code": {
      "get": {
        "summary": "GET /cart/coupons/:code",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      },
      "delete": {
        "summary": "DELETE /cart/coupons/:code",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/wp-json/wc/store/v1/cart/coupons": {
      "post": {
        "summary": "POST /wp-json/wc/store/v1/cart/coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      },
      "delete": {
        "summary": "DELETE /wp-json/wc/store/v1/cart/coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/wp-json/wc/store/v1/cart/coupons/20off": {
      "delete": {
        "summary": "DELETE /wp-json/wc/store/v1/cart/coupons/20off",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/remove": {
      "delete": {
        "summary": "DELETE /remove",
        "description": "Extraído de documentação interativa.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/wc/store/v1/checkout": {
      "get": {
        "summary": "GET /wc/store/v1/checkout",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      },
      "put": {
        "summary": "PUT /wc/store/v1/checkout",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      },
      "post": {
        "summary": "POST /wc/store/v1/checkout",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/wp-json/wc/store/v1/checkout": {
      "get": {
        "summary": "GET /wp-json/wc/store/v1/checkout",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      },
      "put": {
        "summary": "PUT /wp-json/wc/store/v1/checkout",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      },
      "post": {
        "summary": "POST /wp-json/wc/store/v1/checkout",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/products/collection-data": {
      "get": {
        "summary": "GET /products/collection-data",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developer_woocommerce_com_402f9f56.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developer_woocommerce_com_402f9f56.json"
      }
    },
    "/apis": {
      "get": {
        "tags": [
          "Woocommerce"
        ],
        "summary": "GET /apis",
        "description": "Endpoint derivado da referência oficial (apis).\n\n---\n📍 **Origem:** Página de Referência Técnica (`developer_woocommerce_com_docs_apis_81fd4270.md#apis`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "developer_woocommerce_com_docs_apis_81fd4270.md#apis"
      }
    },
    "/v1/products": {
      "get": {
        "tags": [
          "Woocommerce"
        ],
        "summary": "GET /v1/products",
        "description": "Endpoint extraído da documentação (developer_woocommerce_com_docs_apis_store-api_8cb49ce5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_woocommerce_com_docs_apis_store-api_8cb49ce5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_woocommerce_com_docs_apis_store-api_8cb49ce5.md"
      }
    },
    "/v1/cart": {
      "get": {
        "tags": [
          "Woocommerce"
        ],
        "summary": "GET /v1/cart",
        "description": "Endpoint extraído da documentação (developer_woocommerce_com_docs_apis_store-api_8cb49ce5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_woocommerce_com_docs_apis_store-api_8cb49ce5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_woocommerce_com_docs_apis_store-api_8cb49ce5.md"
      }
    },
    "/v1/cart/add-item": {
      "get": {
        "tags": [
          "Woocommerce"
        ],
        "summary": "GET /v1/cart/add-item",
        "description": "Endpoint extraído da documentação (developer_woocommerce_com_docs_apis_store-api_guiding-principles_b60d913d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_woocommerce_com_docs_apis_store-api_guiding-principles_b60d913d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_woocommerce_com_docs_apis_store-api_guiding-principles_b60d913d.md"
      }
    },
    "/v1/cart/coupons": {
      "get": {
        "tags": [
          "Woocommerce"
        ],
        "summary": "GET /v1/cart/coupons",
        "description": "Endpoint extraído da documentação (developer_woocommerce_com_docs_apis_store-api_resources-endpoints_cart-coupons_c26d8aa1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_woocommerce_com_docs_apis_store-api_resources-endpoints_cart-coupons_c26d8aa1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_woocommerce_com_docs_apis_store-api_resources-endpoints_cart-coupons_c26d8aa1.md"
      }
    },
    "/v1/cart/coupons/20off": {
      "get": {
        "tags": [
          "Woocommerce"
        ],
        "summary": "GET /v1/cart/coupons/20off",
        "description": "Endpoint extraído da documentação (developer_woocommerce_com_docs_apis_store-api_resources-endpoints_cart-coupons_c26d8aa1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_woocommerce_com_docs_apis_store-api_resources-endpoints_cart-coupons_c26d8aa1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_woocommerce_com_docs_apis_store-api_resources-endpoints_cart-coupons_c26d8aa1.md"
      }
    },
    "/v1/checkout": {
      "get": {
        "tags": [
          "Woocommerce"
        ],
        "summary": "GET /v1/checkout",
        "description": "Endpoint extraído da documentação (developer_woocommerce_com_docs_apis_store-api_resources-endpoints_checkout_4a15499f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_woocommerce_com_docs_apis_store-api_resources-endpoints_checkout_4a15499f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_woocommerce_com_docs_apis_store-api_resources-endpoints_checkout_4a15499f.md"
      }
    },
    "/v1/products/collection-data": {
      "get": {
        "tags": [
          "Woocommerce"
        ],
        "summary": "GET /v1/products/collection-data",
        "description": "Endpoint extraído da documentação (developer_woocommerce_com_docs_apis_store-api_resources-endpoints_product-collec_35795b7b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_woocommerce_com_docs_apis_store-api_resources-endpoints_product-collec_35795b7b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_woocommerce_com_docs_apis_store-api_resources-endpoints_product-collec_35795b7b.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}