{
  "openapi": "3.0.3",
  "info": {
    "title": "Mercado Livre Marketplace API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack mercadolivre.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mercadolibre.com"
    }
  ],
  "paths": {
    "/items": {
      "post": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "POST /items",
        "description": "Endpoint extraído da documentação (developers_mercadolivre_com_br_pt_br_automovel-gerenciamento-de-pacotes_f5f8928c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_mercadolivre_com_br_pt_br_automovel-gerenciamento-de-pacotes_f5f8928c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_automovel-gerenciamento-de-pacotes_f5f8928c.md"
      }
    },
    "/items/{item_id}/listing_type": {
      "post": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "POST /items/{item_id}/listing_type",
        "description": "Endpoint extraído da documentação (developers_mercadolivre_com_br_pt_br_automovel-gerenciamento-de-pacotes_f5f8928c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_mercadolivre_com_br_pt_br_automovel-gerenciamento-de-pacotes_f5f8928c.md`)",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_automovel-gerenciamento-de-pacotes_f5f8928c.md"
      }
    },
    "/seller-promotions/items": {
      "get": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "GET /seller-promotions/items",
        "description": "Endpoint extraído da documentação (developers_mercadolivre_com_br_pt_br_campanhas-tradicionais_1acb9434.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_mercadolivre_com_br_pt_br_campanhas-tradicionais_1acb9434.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_campanhas-tradicionais_1acb9434.md"
      }
    },
    "/seller-promotions/promotions": {
      "get": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "GET /seller-promotions/promotions",
        "description": "Endpoint extraído da documentação (developers_mercadolivre_com_br_pt_br_campanhas-tradicionais_1acb9434.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_mercadolivre_com_br_pt_br_campanhas-tradicionais_1acb9434.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_campanhas-tradicionais_1acb9434.md"
      }
    },
    "/catalog_domains/DOMAIN_ID/categories": {
      "get": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "GET /catalog_domains/DOMAIN_ID/categories",
        "description": "Endpoint extraído da documentação (developers_mercadolivre_com_br_pt_br_categorizacao-de-produtos_2987747d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_mercadolivre_com_br_pt_br_categorizacao-de-produtos_2987747d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_categorizacao-de-produtos_2987747d.md"
      }
    },
    "/catalog_domains/MLA-CELLPHONES/categories": {
      "get": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "GET /catalog_domains/MLA-CELLPHONES/categories",
        "description": "Endpoint extraído da documentação (developers_mercadolivre_com_br_pt_br_categorizacao-de-produtos_2987747d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_mercadolivre_com_br_pt_br_categorizacao-de-produtos_2987747d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_categorizacao-de-produtos_2987747d.md"
      }
    },
    "/orders/:id": {
      "get": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "GET /orders/:id",
        "description": "Endpoint extraído da documentação (developers_mercadolivre_com_br_pt_br_gerenciamento-de-vendas_cce6b640.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_mercadolivre_com_br_pt_br_gerenciamento-de-vendas_cce6b640.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_gerenciamento-de-vendas_cce6b640.md"
      }
    },
    "/shipments/:shipping_id": {
      "get": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "GET /shipments/:shipping_id",
        "description": "Endpoint extraído da documentação (developers_mercadolivre_com_br_pt_br_gerenciamento-de-vendas_cce6b640.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_mercadolivre_com_br_pt_br_gerenciamento-de-vendas_cce6b640.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_gerenciamento-de-vendas_cce6b640.md"
      }
    },
    "/v1/payments/{id}": {
      "get": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "GET /v1/payments/{id}",
        "description": "Endpoint extraído da documentação (developers_mercadolivre_com_br_pt_br_gestao-packs_1654fa19.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_mercadolivre_com_br_pt_br_gestao-packs_1654fa19.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_gestao-packs_1654fa19.md"
      }
    },
    "/exemplo-do": {
      "post": {
        "tags": [
          "Mercadolivre"
        ],
        "summary": "POST /exemplo-do",
        "description": "Endpoint extraído do índice de navegação (exemplo do).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_mercadolivre_com_br_pt_br_publicacao-de-automoveis_c7feaeb6.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_mercadolivre_com_br_pt_br_publicacao-de-automoveis_c7feaeb6.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Autenticação via token Bearer no cabeçalho Authorization."
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "Autenticação padrão OAuth 2.0 (Authorization Code / Client Credentials).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dominio.com/oauth/authorize",
            "tokenUrl": "https://api.dominio.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "webhooks": {
    "date_approved": {
      "description": "Notificação de webhook disparada no evento 'date_approved'.",
      "post": {
        "summary": "Evento de Webhook: date_approved",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "date_approved"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "date_created": {
      "description": "Notificação de webhook disparada no evento 'date_created'.",
      "post": {
        "summary": "Evento de Webhook: date_created",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "date_created"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "date_last_updated": {
      "description": "Notificação de webhook disparada no evento 'date_last_updated'.",
      "post": {
        "summary": "Evento de Webhook: date_last_updated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "date_last_updated"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "last_updated": {
      "description": "Notificação de webhook disparada no evento 'last_updated'.",
      "post": {
        "summary": "Evento de Webhook: last_updated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "last_updated"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "not_paid": {
      "description": "Notificação de webhook disparada no evento 'not_paid'.",
      "post": {
        "summary": "Evento de Webhook: not_paid",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "not_paid"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  },
  "x-webhooks": {
    "date_approved": {
      "description": "Notificação de webhook disparada no evento 'date_approved'.",
      "post": {
        "summary": "Evento de Webhook: date_approved",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "date_approved"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "date_created": {
      "description": "Notificação de webhook disparada no evento 'date_created'.",
      "post": {
        "summary": "Evento de Webhook: date_created",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "date_created"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "date_last_updated": {
      "description": "Notificação de webhook disparada no evento 'date_last_updated'.",
      "post": {
        "summary": "Evento de Webhook: date_last_updated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "date_last_updated"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "last_updated": {
      "description": "Notificação de webhook disparada no evento 'last_updated'.",
      "post": {
        "summary": "Evento de Webhook: last_updated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "last_updated"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "not_paid": {
      "description": "Notificação de webhook disparada no evento 'not_paid'.",
      "post": {
        "summary": "Evento de Webhook: not_paid",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "not_paid"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  }
}