{
  "openapi": "3.0.3",
  "info": {
    "description": "API para gerenciamento de anÃºncios no iCarros",
    "version": "2.0.0",
    "title": "iCarros (Itaú) Anúncios Automotivos API",
    "contact": {
      "email": "api@icarros.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.icarros.com.br"
    }
  ],
  "paths": {
    "/automakerservice/automaker/{regionalGroupId}/inventory": {
      "get": {
        "tags": [
          "automakerservice"
        ],
        "summary": "Lista o estoque atual do grupo regional",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealerStockAutoMaker",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "regionalGroupId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Deal"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "gruporegional"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      },
      "post": {
        "tags": [
          "automakerservice"
        ],
        "summary": "Cria um novo anúncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "updateDeal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "regionalGroupId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Deal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "gruporegional"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/automakerservice/automaker/{regionalGroupId}/inventory/{dealId}": {
      "put": {
        "tags": [
          "automakerservice"
        ],
        "summary": "Atualiza o anúncio com os dados enviados",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "updateDealAutoMaker",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "regionalGroupId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Deal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "gruporegional"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      },
      "delete": {
        "tags": [
          "automakerservice"
        ],
        "summary": "Remover um anúncio do estoque",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "removeDeal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "regionalGroupId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "gruporegional"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/automakerservice/automakerlist": {
      "get": {
        "tags": [
          "automakerservice"
        ],
        "summary": "Lista de grupos regionais do usuário autenticado",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getGruposRegionais",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListRegionalGroup"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "gruporegional"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/cache/city/{cityId}": {
      "put": {
        "tags": [
          "databaseservice"
        ],
        "operationId": "updateCidadeCache",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/databaseservice/cache/ddds": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "operationId": "getAllDdds",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/databaseservice/category/{segmento}": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna as categorias de veiculos",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getCategorias",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "segmento",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Categoria"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/colors": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna a codificação para o campo colors (cor) para ser utilizada na inclusão do anúncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getColors",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListItem"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/deal/numberImages": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "operationId": "getQtdeImagensAnuncio",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/databaseservice/equipments/{segmento}": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna a codificação para o campo equipments (opcionais do veículo) para ser utilizada na inclusão do anúncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getEquipments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "segmento",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Opcional"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/fueltypes": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna a codificação para o campo fuel (combustível) para ser utilizada na inclusão do anúncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getFuelTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListItem"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/makes/{segmento}": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna a lista de marcas e sua codificação no iCarros",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getMakes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "segmento",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Marca"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/model/{modelId}/qbbt": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna uma lista de modelos relacionadas a busca de um modelo especifico.",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getModelsQBBT",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Modelo"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/models/launch/{segmento}": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna a lista de modelos recém lançados e sua codificação no iCarros. A marca está associada pelo id.",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getModelsLaunch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "segmento",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Modelo"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/models/{segmento}": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna a lista de modelos e sua codificação no iCarros. A marca está associada pelo id.",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getModels",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "segmento",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "makeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "inLine",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Modelo"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/pricestats/{ufId}/{trimId}/{year}/{km}": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Devolve o preço mínimo, médio e máximo anunciado para o veículo no iCarros (Brasil e se possível, no estado) juntamente com o preço Fipe.",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getPriceStats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ufId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "trimId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "km",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Cotacoes"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/transmissions": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna a codificação para o campo transmission (câmbio) para ser utilizada na inclusão do anúncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getTransmissions",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListItem"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/trim/{trimId}/images": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna todos os IDs de imagens relacionados a uma versao",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getTrimImagesId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "trimId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/databaseservice/trims/{segmento}": {
      "get": {
        "tags": [
          "databaseservice"
        ],
        "summary": "Retorna a lista de versões e sua codificação no iCarros. As versões são uma especialização do modelo e está associada a este pelo id.",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getTrims",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "segmento",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "makeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "modelId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "modelYear",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fipeId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "molicarId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "alldata",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "inLine",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Versao"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/1.0/dealer": {
      "get": {
        "tags": [
          "dealerservice1.0"
        ],
        "summary": "Lista dos Dealers aos quais esse login tem acesso",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealersLogin",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dealer"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/1.0/dealer/minimal": {
      "get": {
        "tags": [
          "dealerservice1.0"
        ],
        "summary": "Lista dos Dealers aos quais esse login tem acesso",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getMinimalDealers",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RetornoAnuncianteMinimal"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/1.0/dealer/{dealerId}": {
      "get": {
        "tags": [
          "dealerservice1.0"
        ],
        "summary": "Lista as informaÃ§Ãµes do Dealer",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealersIntegrator",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Dealer"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/config/version/{trimId}": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Recupera informaÃ§Ãµes sobre a versÃ£o",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getVersionInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "trimId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/deal/refresh": {
      "put": {
        "tags": [
          "dealerservice"
        ],
        "operationId": "refresh",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RefreshAnuncioIdxDTO"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/dealerservice/deal/refreshRemovedDeal/{zeroKm}": {
      "put": {
        "tags": [
          "dealerservice"
        ],
        "operationId": "refreshRemovedDeal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "zeroKm",
            "in": "path",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RefreshAnuncioIdxDTO"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/dealerservice/dealer": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Lista dos Dealers aos quais esse login tem acesso",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealers",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dealer"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/leads/check/{lastTimeChecked}": {
      "post": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Checa quais dos ID's de anunciantes enviados receberam leads depois de um perÃ­odo especÃ­fico.",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealersThatReceivedLeadsAfter",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lastTimeChecked",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/plans/pj/{dealerId}/{zeroKm}": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Lista todos os planos do dealer para ms-anuncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getPlansServiceAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "zeroKm",
            "in": "path",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/plans/{dealerId}/{zeroKm}": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Lista todos os planos do dealer",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getPlans",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "zeroKm",
            "in": "path",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "segmento",
            "in": "query",
            "description": "Carro, Moto ou Caminhao.",
            "required": false,
            "type": "string",
            "default": "Carro"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/calls": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Busca as ligaÃ§Ãµes recebidas pelo anunciante.",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealerCallsByDate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "lastupdate",
            "in": "header",
            "description": "Pode ser enviado um header lastupdate com uma data no formato era UNIX (segundos desde 1970) para mudar a data default de 90 dias para 10 dias atrÃ¡s por exemplo.",
            "required": false,
            "type": "string",
            "x-example": "20160501000000"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LeadUniqueUser"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/dealerstats": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "operationId": "getDealerStats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ListDealerStats"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/dealerservice/dealer/{dealerId}/emdia": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "operationId": "getDealerIsEmDia",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/dealerservice/dealer/{dealerId}/inventory": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Lista o estoque atual do dealer",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealerStock",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Deal"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/inventory/new": {
      "post": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Cria um novo anÃºncio",
        "description": "Retorna um JSON com o httpStatus, mensagem e o anuncioId(se o anuncio foi inserido). \n\n Ex: {\"httpStatus\": 200,\n \"mensagem\": \"Anuncio salvo com sucesso\", \"anuncioId\": 12345678}\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "updateDealInventory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "description": "Id do Revendedor",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Deal"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/inventory/update/{dealId}": {
      "put": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Atualiza o anÃºncio com os dados enviados",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "updateDealWithStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Deal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetornoStatusAnuncio"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/inventory/{dealId}": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Retorna os dados atuais do anuncio solicitado",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Deal"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      },
      "put": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Atualiza o anÃºncio com os dados enviados",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "updateDealDealerService",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Deal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      },
      "delete": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Apaga um anÃºncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "removeDealDealerService",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/inventory/{dealId}/image": {
      "post": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Cria uma nova imagem para o anuncio informado. Pode ser feito o upload via URL ou Array de byte",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "uploadImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ImgData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "deprecated": true,
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/inventory/{dealId}/image/{imageId}": {
      "delete": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Remove uma imagem do anÃºncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "removeImage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/inventory/{dealId}/image/{imageId}/remove": {
      "delete": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Remove uma imagem do anÃºncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "removeImageNew",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/inventory/{dealId}/orderimages/{imageIdsDelimitedByUnderline}": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Reordena as imagens do anÃºncio na ordem enviada (ids das imagens separados por underline. Ex: 123_432_9832)",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "orderImages",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "imageIdsDelimitedByUnderline",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/leads": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Retorna todas as leads de email e financiamento (agrupadas por usuÃ¡rio) dos ultimos 31 dias.",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealerLeads",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "lastupdate",
            "in": "header",
            "description": "Pode ser enviado um header lastupdate com uma data no formato era UNIX (segundos desde 1970) para mudar a data default de 31 dias para 10 dias atrÃ¡s por exemplo.",
            "required": false,
            "type": "string",
            "x-example": "1462060800"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LeadUniqueUser"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/leads/{initialDate}": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Busca as leads de email e financiamento (agrupadas por usuÃ¡rio) desde a data solicitada",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealerLeadsByDate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "initialDate",
            "in": "path",
            "description": "Data inicial no formato yyyyMMddHHmmss",
            "required": true,
            "type": "string",
            "x-example": "20160501000000"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LeadUniqueUser"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/dealer/{dealerId}/{anuncioId}/{spotLight}": {
      "put": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Atualiza o Spotlight de um anÃºncio",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "updateSpotlight",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "anuncioId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "spotLight",
            "in": "path",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/leads/check/{lastTimeChecked}": {
      "post": {
        "tags": [
          "dealerservice"
        ],
        "summary": "Checa quais dos ID's de anunciantes enviados receberam leads depois de um perÃ­odo especÃ­fico.",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDealersThatReceivedLeadsAfterByDealersId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lastTimeChecked",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/dealerservice/products": {
      "get": {
        "tags": [
          "dealerservice"
        ],
        "operationId": "getAllProducts",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/gestordelead/registerintegrator": {
      "post": {
        "tags": [
          "gestordelead"
        ],
        "operationId": "registerIntegratorDealler",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/GestorLeadDealler"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/historicolead": {
      "post": {
        "tags": [
          "historicolead"
        ],
        "summary": "Atualiza historico de leads",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "criaOuAtualizaHistoricoLead",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HistoricoLeadDTO"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/imageservice/upload/deal/{dealId}": {
      "post": {
        "tags": [
          "imageservice"
        ],
        "summary": "Upload da imagem para o anúncio. Tamanho máximo da Imagem de 3MB. Enviar os dados da foto via Base64 ou URL",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "uploadImageDeal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ImgData"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "icarros_accesscode": [
              "anunciantepj"
            ]
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/multilead/multimatchmail": {
      "post": {
        "tags": [
          "multilead"
        ],
        "summary": "Envio de multileads agrupados(multimatch)",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "sendMultileadMail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Multilead"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    },
    "/pf/cobranca": {
      "post": {
        "tags": [
          "pf"
        ],
        "operationId": "cobranca",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PFFinancialData"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      },
      "put": {
        "tags": [
          "pf"
        ],
        "operationId": "cobrancaAtualizaStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PFFinancialData"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/pf/intencao": {
      "post": {
        "tags": [
          "pf"
        ],
        "operationId": "intencao",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PFIntent"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/pf/km": {
      "get": {
        "tags": [
          "pf"
        ],
        "operationId": "getKmPf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/pf/landingPage": {
      "get": {
        "tags": [
          "pf"
        ],
        "operationId": "getConfigLandingPage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/pf/refresh": {
      "put": {
        "tags": [
          "pf"
        ],
        "operationId": "refresh",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RefreshAnuncioIdxDTO"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)"
      }
    },
    "/pjconfig/desligamento/onda1": {
      "get": {
        "tags": [
          "pjconfig"
        ],
        "summary": "Verifica se o desligamento da operaÃ§Ã£o PJ para a onda 1 estÃ¡ ativo",
        "description": "📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json`)",
        "operationId": "getDesligamentoPjAtivoOnda1",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "native_openapi_spec_www_icarros_com_br_rest_swagger_json_bc38fb41.json"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}