{
  "openapi": "3.0.3",
  "info": {
    "title": "Vnda E-Commerce Open API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack vnda.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vnda.com.br/api/v2"
    }
  ],
  "paths": {
    "/carts": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /carts",
        "description": "Endpoint derivado da referência oficial (carts).\n\n---\n📍 **Origem:** Página de Referência Técnica (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md#carts`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md#carts"
      }
    },
    "/integra-o-algolia-para": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /integra-o-algolia-para",
        "description": "Endpoint extraído do índice de navegação (Integração Algolia para).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/user-authorize": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /user-authorize",
        "description": "Endpoint extraído do índice de navegação (User authorize).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/faz-o-login-do-usu-rio": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /faz-o-login-do-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Faz o login do usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/faz-o-logout-do-usu-rio": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /faz-o-logout-do-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Faz o logout do usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/user": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /user",
        "description": "Endpoint extraído do índice de navegação (User).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-usu-rio": {
      "put": {
        "tags": [
          "Vnda"
        ],
        "summary": "PUT /atualiza-um-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Atualiza um usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-os-cupons-do-usu-rio": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-os-cupons-do-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Retorna os cupons do usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/ativar": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /ativar",
        "description": "Endpoint extraído do índice de navegação (Ativar).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/desativar": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /desativar",
        "description": "Endpoint extraído do índice de navegação (Desativar).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-usu-rios": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-usu-rios",
        "description": "Endpoint extraído do índice de navegação (Lista os usuários).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-usu-rio": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Cria um usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-as-tags-dos-usu-rios-a-partir-das-fun-es": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-as-tags-dos-usu-rios-a-partir-das-fun-es",
        "description": "Endpoint extraído do índice de navegação (Lista as tags dos usuários a partir das funções).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/solicita-renova-o-da-senha": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /solicita-renova-o-da-senha",
        "description": "Endpoint extraído do índice de navegação (Solicita renovação da senha).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cadastra-a-nova-senha": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /cadastra-a-nova-senha",
        "description": "Endpoint extraído do índice de navegação (Cadastra a nova senha).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-receb-veis-do-usu-rio": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-receb-veis-do-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Lista os recebíveis do usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-as-vers-es-da-regra-de-b-nus": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-as-vers-es-da-regra-de-b-nus",
        "description": "Endpoint extraído do índice de navegação (Lista as versões da regra de bônus).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/regras-de-b-nus": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /regras-de-b-nus",
        "description": "Endpoint extraído do índice de navegação (Regras de bônus).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-a-regras-de-b-nus": {
      "put": {
        "tags": [
          "Vnda"
        ],
        "summary": "PUT /atualiza-a-regras-de-b-nus",
        "description": "Endpoint extraído do índice de navegação (Atualiza a regras de bônus).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-as-regras-de-b-nus": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-as-regras-de-b-nus",
        "description": "Endpoint extraído do índice de navegação (Remove as regras de bônus).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-itens-do-kit": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-itens-do-kit",
        "description": "Endpoint extraído do índice de navegação (Lista os itens do kit).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/adiciona-produto-ao-kit": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /adiciona-produto-ao-kit",
        "description": "Endpoint extraído do índice de navegação (Adiciona produto ao kit).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-item-do-kit": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-item-do-kit",
        "description": "Endpoint extraído do índice de navegação (Remove item do kit).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-item-do-kit": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-item-do-kit",
        "description": "Endpoint extraído do índice de navegação (Atualiza item do kit).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-produtos": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-produtos",
        "description": "Endpoint extraído do índice de navegação (Lista os produtos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-produto": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-produto",
        "description": "Endpoint extraído do índice de navegação (Cria um produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-um-produto": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-um-produto",
        "description": "Endpoint extraído do índice de navegação (Retorna um produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-um-produto": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-um-produto",
        "description": "Endpoint extraído do índice de navegação (Remove um produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-produto": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-produto",
        "description": "Endpoint extraído do índice de navegação (Atualiza um produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-produto-pela-refer-ncia": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-produto-pela-refer-ncia",
        "description": "Endpoint extraído do índice de navegação (Atualiza um produto pela referência).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/avalia-um-produto": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /avalia-um-produto",
        "description": "Endpoint extraído do índice de navegação (Avalia um produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/busca-os-produtos": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /busca-os-produtos",
        "description": "Endpoint extraído do índice de navegação (Busca os produtos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-pre-os-do-produto": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-pre-os-do-produto",
        "description": "Endpoint extraído do índice de navegação (Lista os preços do produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-as-imagens-do-produto": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-as-imagens-do-produto",
        "description": "Endpoint extraído do índice de navegação (Lista as imagens do produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-uma-imagem-do-produto": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-uma-imagem-do-produto",
        "description": "Endpoint extraído do índice de navegação (Cria uma imagem do produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/deleta-uma-imagem-do-produto": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /deleta-uma-imagem-do-produto",
        "description": "Endpoint extraído do índice de navegação (Deleta uma imagem do produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/reordena-imagens-do-produto": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /reordena-imagens-do-produto",
        "description": "Endpoint extraído do índice de navegação (Reordena imagens do produto).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/associa-imagem-com-variante": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /associa-imagem-com-variante",
        "description": "Endpoint extraído do índice de navegação (Associa imagem com variante).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/desassocia-imagem-da-variante": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /desassocia-imagem-da-variante",
        "description": "Endpoint extraído do índice de navegação (Desassocia imagem da variante).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-as-variantes": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-as-variantes",
        "description": "Endpoint extraído do índice de navegação (Lista as variantes).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-uma-variante": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-uma-variante",
        "description": "Endpoint extraído do índice de navegação (Cria uma variante).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-uma-variante": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-uma-variante",
        "description": "Endpoint extraído do índice de navegação (Remove uma variante).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-uma-variante": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-uma-variante",
        "description": "Endpoint extraído do índice de navegação (Atualiza uma variante).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/reordena-as-variantes": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /reordena-as-variantes",
        "description": "Endpoint extraído do índice de navegação (Reordena as variantes).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-uma-variante": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-uma-variante",
        "description": "Endpoint extraído do índice de navegação (Retorna uma variante).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-as-imagens-da-variante-com-sku-na-url": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-as-imagens-da-variante-com-sku-na-url",
        "description": "Endpoint extraído do índice de navegação (Lista as imagens da variante com SKU na URL).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-as-imagens-da-variante-com-sku-nos-par-metros": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-as-imagens-da-variante-com-sku-nos-par-metros",
        "description": "Endpoint extraído do índice de navegação (Lista as imagens da variante com SKU nos parâmetros).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/calcula-frete": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /calcula-frete",
        "description": "Endpoint extraído do índice de navegação (Calcula frete).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-em-lote": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /atualiza-em-lote",
        "description": "Endpoint extraído do índice de navegação (Atualiza em lote).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /atualiza",
        "description": "Endpoint extraído do índice de navegação (Atualiza).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-local": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-local",
        "description": "Endpoint extraído do índice de navegação (Atualiza um local).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-as-tags": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-as-tags",
        "description": "Endpoint extraído do índice de navegação (Lista as tags).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-uma-tag": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-uma-tag",
        "description": "Endpoint extraído do índice de navegação (Cria uma tag).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-tipos-de-tags": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-tipos-de-tags",
        "description": "Endpoint extraído do índice de navegação (Lista os tipos de tags).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-uma-tag": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-uma-tag",
        "description": "Endpoint extraído do índice de navegação (Retorna uma tag).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-uma-tag": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-uma-tag",
        "description": "Endpoint extraído do índice de navegação (Remove uma tag).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-uma-tag": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-uma-tag",
        "description": "Endpoint extraído do índice de navegação (Atualiza uma tag).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-ou-atualiza-uma-tag": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-ou-atualiza-uma-tag",
        "description": "Endpoint extraído do índice de navegação (Cria ou atualiza uma tag).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-ou-atualiza-um-template": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-ou-atualiza-um-template",
        "description": "Endpoint extraído do índice de navegação (Cria ou atualiza um template).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-um-template": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-um-template",
        "description": "Endpoint extraído do índice de navegação (Retorna um template).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-um-template": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-um-template",
        "description": "Endpoint extraído do índice de navegação (Remove um template).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-template": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-template",
        "description": "Endpoint extraído do índice de navegação (Atualiza um template).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-templates": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-templates",
        "description": "Endpoint extraído do índice de navegação (Lista os templates).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-template": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-template",
        "description": "Endpoint extraído do índice de navegação (Cria um template).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-ou-atualiza-um-asset": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-ou-atualiza-um-asset",
        "description": "Endpoint extraído do índice de navegação (Cria ou atualiza um asset).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-um-asset": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-um-asset",
        "description": "Endpoint extraído do índice de navegação (Retorna um asset).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-um-asset": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-um-asset",
        "description": "Endpoint extraído do índice de navegação (Remove um asset).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-asset": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-asset",
        "description": "Endpoint extraído do índice de navegação (Atualiza um asset).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-assets": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-assets",
        "description": "Endpoint extraído do índice de navegação (Lista os assets).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-asset": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-asset",
        "description": "Endpoint extraído do índice de navegação (Cria um asset).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-carrinhos": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-carrinhos",
        "description": "Endpoint extraído do índice de navegação (Lista os carrinhos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-um-carrinho": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-um-carrinho",
        "description": "Endpoint extraído do índice de navegação (Retorna um carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-carrinho": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-carrinho",
        "description": "Endpoint extraído do índice de navegação (Cria um carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/exclui-um-carrinho": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /exclui-um-carrinho",
        "description": "Endpoint extraído do índice de navegação (Exclui um carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-carrinho": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-carrinho",
        "description": "Endpoint extraído do índice de navegação (Atualiza um carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-as-parcelas-do-total-de-um-carrinho": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-as-parcelas-do-total-de-um-carrinho",
        "description": "Endpoint extraído do índice de navegação (Retorna as parcelas do total de um carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/adiciona-itens-ao-carrinho": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /adiciona-itens-ao-carrinho",
        "description": "Endpoint extraído do índice de navegação (Adiciona itens ao carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-as-personaliza-es-do-item-do-carrinho": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-as-personaliza-es-do-item-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Lista as personalizações do item do carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-uma-personaliza-o-do-item-do-carrinho": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-uma-personaliza-o-do-item-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Remove uma personalização do item do carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/c-lculo-de-frete-internacional": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /c-lculo-de-frete-internacional",
        "description": "Endpoint extraído do índice de navegação (Cálculo de frete internacional).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-as-amostras": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-as-amostras",
        "description": "Endpoint extraído do índice de navegação (Lista as amostras).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/endere-o-de-entrega": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /endere-o-de-entrega",
        "description": "Endpoint extraído do índice de navegação (Endereço de entrega).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/associa-c-digo-de-cupom-ao-carrinho": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /associa-c-digo-de-cupom-ao-carrinho",
        "description": "Endpoint extraído do índice de navegação (Associa código de cupom ao carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-itens-de-um-carrinho": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-itens-de-um-carrinho",
        "description": "Endpoint extraído do índice de navegação (Lista os itens de um carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-item-do-carrinho": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-item-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Cria um item do carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-um-item-do-carrinho": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-um-item-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Remove um item do carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-item-do-carrinho": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-item-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Atualiza um item do carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-locais": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-locais",
        "description": "Endpoint extraído do índice de navegação (Lista os locais).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-local": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-local",
        "description": "Endpoint extraído do índice de navegação (Cria um local).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-um-local": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-um-local",
        "description": "Endpoint extraído do índice de navegação (Remove um local).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-recebedores": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-recebedores",
        "description": "Endpoint extraído do índice de navegação (Lista os recebedores).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-recebedor": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-recebedor",
        "description": "Endpoint extraído do índice de navegação (Cria um recebedor).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-um-recebedor": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-um-recebedor",
        "description": "Endpoint extraído do índice de navegação (Retorna um recebedor).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-um-recebedor": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-um-recebedor",
        "description": "Endpoint extraído do índice de navegação (Remove um recebedor).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-recebedor": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-recebedor",
        "description": "Endpoint extraído do índice de navegação (Atualiza um recebedor).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-pedido-no-paypal": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-pedido-no-paypal",
        "description": "Endpoint extraído do índice de navegação (Cria um pedido no Paypal).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/faz-o-pagamento-do-carrinho": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /faz-o-pagamento-do-carrinho",
        "description": "Endpoint extraído do índice de navegação (Faz o pagamento do carrinho).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-os-membros-da-audi-ncia": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-os-membros-da-audi-ncia",
        "description": "Endpoint extraído do índice de navegação (Retorna os membros da audiência).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-uma-membro-da-audi-ncia": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-uma-membro-da-audi-ncia",
        "description": "Endpoint extraído do índice de navegação (Cria uma membro da audiência).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-um-membro-da-audi-ncia": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-um-membro-da-audi-ncia",
        "description": "Endpoint extraído do índice de navegação (Remove um membro da audiência).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/altera-um-membro-da-audi-ncia": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /altera-um-membro-da-audi-ncia",
        "description": "Endpoint extraído do índice de navegação (Altera um membro da audiência).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-clientes": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-clientes",
        "description": "Endpoint extraído do índice de navegação (Lista os clientes).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-cliente": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-cliente",
        "description": "Endpoint extraído do índice de navegação (Cria um cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/retorna-um-cliente": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /retorna-um-cliente",
        "description": "Endpoint extraído do índice de navegação (Retorna um cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/remove-um-cliente": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /remove-um-cliente",
        "description": "Endpoint extraído do índice de navegação (Remove um cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-cliente": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-cliente",
        "description": "Endpoint extraído do índice de navegação (Atualiza um cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-pedidos": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-pedidos",
        "description": "Endpoint extraído do índice de navegação (Lista os pedidos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-endere-os": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-endere-os",
        "description": "Endpoint extraído do índice de navegação (Lista os endereços).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/lista-os-endere-os-cadastrados-pelo-cliente": {
      "get": {
        "tags": [
          "Vnda"
        ],
        "summary": "GET /lista-os-endere-os-cadastrados-pelo-cliente",
        "description": "Endpoint extraído do índice de navegação (Lista os endereços cadastrados pelo cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/cria-um-endere-o-do-cliente": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /cria-um-endere-o-do-cliente",
        "description": "Endpoint extraído do índice de navegação (Cria um endereço do cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/deleta-o-endere-o-cadastrados-pelo-cliente": {
      "delete": {
        "tags": [
          "Vnda"
        ],
        "summary": "DELETE /deleta-o-endere-o-cadastrados-pelo-cliente",
        "description": "Endpoint extraído do índice de navegação (Deleta o endereço cadastrados pelo cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/atualiza-um-endere-o-do-cliente": {
      "patch": {
        "tags": [
          "Vnda"
        ],
        "summary": "PATCH /atualiza-um-endere-o-do-cliente",
        "description": "Endpoint extraído do índice de navegação (Atualiza um endereço do cliente).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md"
      }
    },
    "/reseta-a-senha": {
      "post": {
        "tags": [
          "Vnda"
        ],
        "summary": "POST /reseta-a-senha",
        "description": "Endpoint extraído do índice de navegação (Reseta a senha).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developers_vnda_com_br_api_carts_operations_delete-api-v2-carts-cart_id-items-id_a88a5e0c.md`)",
[...]
