{
  "openapi": "3.0.3",
  "info": {
    "title": "Yampi Checkout & E-Commerce API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack yampi.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dooki.com.br/v2"
    }
  ],
  "paths": {
    "/auth/me": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /auth/me",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/brands": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/brands",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/brands",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/brands/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/brands/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/brands/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/brands/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/categories": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/categories",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/categories",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/categories/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/categories/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/categories/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/categories/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/categories/{id}/products": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/categories/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/categories/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/categories/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/categories/{id}/banners": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/categories/{id}/banners",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/categories/{id}/copy-products": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/categories/{id}/copy-products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/collections": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/collections",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/collections",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/collections/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/collections/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/collections/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/collections/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/collections/{id}/products": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/collections/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/collections/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/collections/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/comments": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/comments",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/comments",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/comments/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/comments/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/comments/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/comments/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/customizations": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/customizations",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/customizations",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/customizations/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/customizations/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/customizations/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/customizations/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/feeds": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/feeds",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/feeds",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/feeds/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/feeds/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/feeds/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/feeds/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/filters/{filterId}/values": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/filters/{filterId}/values",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/filters/{filterId}/values",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/filters/{filterId}/values/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/filters/{filterId}/values/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/filters/{filterId}/values/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/filters/{filterId}/values/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/filters": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/filters",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/filters",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/filters/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/filters/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/filters/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/filters/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/flags": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/flags",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/flags",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/flags/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/flags/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/flags/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/flags/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/flags/{id}/products": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/flags/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/flags/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/flags/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/variations/{variationId}/values": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/variations/{variationId}/values",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/variations/{variationId}/values",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/variations/{variationId}/values/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/variations/{variationId}/values/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/variations/{variationId}/values/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/variations/{variationId}/values/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/variations": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/variations",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/variations",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/variations/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/variations/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/variations/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/variations/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/groups": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/groups",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/groups",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/groups/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/groups/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/groups/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/groups/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/groups/{id}/products": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/groups/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/groups/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/groups/{id}/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/looks": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/looks",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/looks",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/looks/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/looks/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/looks/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/looks/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/products",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}": {
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/products/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/products/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/skus": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/skus",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/skus/order": {
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/products/{id}/skus/order",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/combos": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/combos",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/flags": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/flags",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/groups": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/groups",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/comments": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/comments",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/reviews": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/reviews",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/collections": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/collections",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/promotions": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/promotions",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/recommendations": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/recommendations",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/stocks": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/stocks",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/duplicate": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/products/{id}/duplicate",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/skus/batch-update-skus": {
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/products/{id}/skus/batch-update-skus",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{product}/skus/batch-update-skus-progress": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{product}/skus/batch-update-skus-progress",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{product}/skus/batch-delete-skus-progress": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{product}/skus/batch-delete-skus-progress",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/similars": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/products/{id}/similars",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Yampi"
        ],
        "summary": "PUT /{alias}/catalog/products/{id}/similars",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/products/{id}/similars",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/similars/batch": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/products/similars/batch",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/products/{id}/stocks/sync": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/products/{id}/stocks/sync",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/reviews": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/reviews",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/reviews",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/reviews/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/reviews/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Yampi"
        ],
        "summary": "PATCH /{alias}/catalog/reviews/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/skus/{skuId}/images": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/skus/{skuId}/images",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/catalog/skus/{skuId}/images",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{alias}/catalog/skus/{skuId}/images/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /{alias}/catalog/skus/{skuId}/images/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Yampi"
        ],
        "summary": "DELETE /{alias}/catalog/skus/{skuId}/images/{id}",
        "description": "Endpoint extraído da documentação (api-reference_api-collection.md).",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
[...]
