{
  "openapi": "3.0.3",
  "info": {
    "title": "Moskit CRM Gestão de Vendas & Oportunidades API v2",
    "description": "Documentação Rest da API V2 do Ollow",
    "termsOfService": "https://www.ollow.com.br/termos/",
    "version": "v2",
    "contact": {
      "name": "Lucas Teixeira",
      "url": "https://www.ollow.com.br",
      "email": "lucas@ollow.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.ms.prod.ollow.services/v2"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/activityTypes": {
      "get": {
        "summary": "Lista de tipos de atividades",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityType.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-activityTypes",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Busca todos os tipos de atividades cadastrados no sistema\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Tipo de atividade"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "parameters": [],
      "post": {
        "summary": "Cria um tipo de atividade",
        "operationId": "post-activityTypes",
        "tags": [
          "Tipo de atividade"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityType.v2"
                }
              }
            }
          }
        },
        "description": "Criação de novo tipo de atividade.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityType.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/activityTypes/search": {
      "post": {
        "summary": "Pesquisa nos tipos de atividades",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityType.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "post-activityTypes-search",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Pesquisa com condições nos tipo de atividades\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Tipo de atividade"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "get": {
        "summary": "Campos de tipos de atividades",
        "operationId": "get-activityTypes-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchField.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Lista os campos buscáveis na entidade\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Tipo de atividade"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/activityTypes/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "id do tipo de atividade"
        }
      ],
      "get": {
        "summary": "Busca tipo de atividade pelo ID",
        "tags": [
          "Tipo de atividade"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityType.v2"
                }
              }
            }
          }
        },
        "operationId": "get-activityTypes-id",
        "description": "Busca um tipo de atividade pelo seu ID\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "put": {
        "summary": "Atualiza um tipo de atividade",
        "operationId": "put-activityTypes-id",
        "tags": [
          "Tipo de atividade"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityType.v2"
                }
              }
            }
          }
        },
        "description": "Atualização do tipo de atividade.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityType.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "delete": {
        "summary": "Deleta um tipo de atividade",
        "operationId": "delete-activityTypes-id",
        "tags": [
          "Tipo de atividade"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Remove o tipo de atividade.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/lostReasons": {
      "get": {
        "summary": "Lista de motivos de perda",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LostReason.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-lostReasons",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Busca todos os motivos de perda cadastrados no sistema\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Negócio - Motivo de perda"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "post": {
        "summary": "Cria um motivo de perda",
        "operationId": "post-lostReasons",
        "tags": [
          "Negócio - Motivo de perda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LostReason.v2"
                }
              }
            }
          }
        },
        "description": "Criação de novo motivo de perda de negócio.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LostReason.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/lostReasons/search": {
      "post": {
        "summary": "Pesquisa nos motivos de perda",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LostReason.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "post-lostReasons-search",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Pesquisa com condições nos motivos de perda\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Negócio - Motivo de perda"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "get": {
        "summary": "Campos de motivos de perda",
        "operationId": "get-lostReasons-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchField.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Lista os campos buscáveis na entidade\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Negócio - Motivo de perda"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/lostReasons/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "id do motivo de perda"
        }
      ],
      "get": {
        "summary": "Busca motivo de perda pelo ID",
        "tags": [
          "Negócio - Motivo de perda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LostReason.v2"
                }
              }
            }
          }
        },
        "operationId": "get-lostReasons-id",
        "description": "Busca um motivo de perda pelo seu ID\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "put": {
        "summary": "Atualiza um motivo de perda",
        "operationId": "put-lostReasons-id",
        "tags": [
          "Negócio - Motivo de perda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LostReason.v2"
                }
              }
            }
          }
        },
        "description": "Atualização de motivo de perda de negócio.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LostReason.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "delete": {
        "summary": "Deleta um motivo de perda",
        "operationId": "delete-lostReasons-id",
        "tags": [
          "Negócio - Motivo de perda"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Remove o motivo de perda de negócio.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/boards": {
      "get": {
        "summary": "Lista de painéis dos projetos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Board.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-boards",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Busca todos os painéis dos projetos cadastrados no sistema\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Projeto - Painel"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "post": {
        "summary": "Cria um painel",
        "operationId": "post-boards",
        "tags": [
          "Projeto - Painel"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board.v2"
                }
              }
            }
          }
        },
        "description": "Criação de um novo painel.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Board.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/boards/search": {
      "post": {
        "summary": "Pesquisa nos painéis dos projetos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Board.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "post-boards-search",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Pesquisa com condições nos painéis dos projetos\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Projeto - Painel"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "get": {
        "summary": "Campos de painéis dos projetos",
        "operationId": "get-boards-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchField.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Lista os campos buscáveis na entidade\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Projeto - Painel"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/boards/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "id do painel do projeto"
        }
      ],
      "get": {
        "summary": "Busca painel do projeto pelo ID",
        "tags": [
          "Projeto - Painel"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board.v2"
                }
              }
            }
          }
        },
        "operationId": "get-boards-id",
        "description": "Busca um painel do projeto pelo seu ID\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "put": {
        "summary": "Atualiza um painel",
        "operationId": "put-boards-id",
        "tags": [
          "Projeto - Painel"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board.v2"
                }
              }
            }
          }
        },
        "description": "Atualização do painel.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Board.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "delete": {
        "summary": "Deleta um painel",
        "operationId": "delete-boards-id",
        "tags": [
          "Projeto - Painel"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Remove o painel.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/teams": {
      "get": {
        "summary": "Lista de equipes de usuários",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-teams",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Busca todos as equipes de usuários cadastrados no sistema\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Equipe de usuário"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "post": {
        "summary": "Cria uma equipe",
        "operationId": "post-teams",
        "tags": [
          "Equipe de usuário"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team.v2"
                }
              }
            }
          }
        },
        "description": "Criação de uma nova equipe.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Team.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/teams/search": {
      "post": {
        "summary": "Pesquisa nas equipes de usuários",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "post-teams-search",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Pesquisa com condições nas equipes de usuários\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Equipe de usuário"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "get": {
        "summary": "Campos de equipes de usuários",
        "operationId": "get-teams-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchField.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Lista os campos buscáveis na entidade\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Equipe de usuário"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/teams/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "id da equipe"
        }
      ],
      "get": {
        "summary": "Busca equipe de usuário pelo ID",
        "tags": [
          "Equipe de usuário"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team.v2"
                }
              }
            }
          }
        },
        "operationId": "get-teams-id",
        "description": "Busca uma equipe de usuário pelo seu ID\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "put": {
        "summary": "Atualiza uma equipe",
        "operationId": "put-teams-id",
        "tags": [
          "Equipe de usuário"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team.v2"
                }
              }
            }
          }
        },
        "description": "Atualização da equipe.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Team.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "delete": {
        "summary": "Deleta uma equipe",
        "operationId": "delete-teams-id",
        "tags": [
          "Equipe de usuário"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Remove uma equipe.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/products": {
      "get": {
        "summary": "Lista de produtos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-products",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Busca todos os produtos cadastrados no sistema\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Produto"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "post": {
        "summary": "Cria um produto",
        "operationId": "post-products",
        "tags": [
          "Produto"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product.v2"
                }
              }
            }
          }
        },
        "description": "Criação de novo produto.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/products/search": {
      "post": {
        "summary": "Pesquisa nos produtos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "post-products-search",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Pesquisa com condições nos produtos\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Produto"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "get": {
        "summary": "Campos de produtos",
        "operationId": "get-products-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchField.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Lista os campos buscáveis na entidade\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Produto"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/products/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "id do produto"
        }
      ],
      "get": {
        "summary": "Busca produto pelo ID",
        "tags": [
          "Produto"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product.v2"
                }
              }
            }
          }
        },
        "operationId": "get-products-id",
        "description": "Busca um produto pelo seu ID\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "put": {
        "summary": "Atualiza um produto",
        "operationId": "put-products-id",
        "tags": [
          "Produto"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product.v2"
                }
              }
            }
          }
        },
        "description": "Atualização do produto.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/pipelines": {
      "get": {
        "summary": "Lista de funis dos negócios",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pipeline.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-pipelines",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Busca todos os funis dos negócios cadastrados no sistema\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Negócio - Funil"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "post": {
        "summary": "Cria um funil",
        "operationId": "post-pipelines",
        "tags": [
          "Negócio - Funil"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline.v2"
                }
              }
            }
          }
        },
        "description": "Criação de um novo funil.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pipeline.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/pipelines/search": {
      "post": {
        "summary": "Pesquisa nos funis dos negócios",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pipeline.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "post-pipelines-search",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Pesquisa com condições nos funis dos negócios\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Negócio - Funil"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "get": {
        "summary": "Campos de funis dos negócios",
        "operationId": "get-pipelines-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchField.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Lista os campos buscáveis na entidade\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Negócio - Funil"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/pipelines/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "id do funil do negócio"
        }
      ],
      "get": {
        "summary": "Busca funil do negócio pelo ID",
        "tags": [
          "Negócio - Funil"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline.v2"
                }
              }
            }
          }
        },
        "operationId": "get-pipelines-id",
        "description": "Busca um funil do negócio pelo seu ID\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "put": {
        "summary": "Atualiza um funil",
        "operationId": "put-pipelines-id",
        "tags": [
          "Negócio - Funil"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline.v2"
                }
              }
            }
          }
        },
        "description": "Atualização do funil.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pipeline.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "delete": {
        "summary": "Deleta um funil",
        "operationId": "delete-pipelines-id",
        "tags": [
          "Negócio - Funil"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Remove o funil.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/stages": {
      "get": {
        "summary": "Lista de fases dos negócios",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stage.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-stages",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Busca todos as fases dos negócios cadastrados no sistema\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Negócio - Fase"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "post": {
        "summary": "Cria uma fase",
        "operationId": "post-stages",
        "tags": [
          "Negócio - Fase"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stage.v2"
                }
              }
            }
          }
        },
        "description": "Criação de nova fase de negócio.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Stage.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/stages/search": {
      "post": {
        "summary": "Pesquisa nos fases dos negócios",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stage.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "post-stages-search",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Pesquisa com condições nas fases dos negócios\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Negócio - Fase"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "get": {
        "summary": "Campos de fases dos negócios",
        "operationId": "get-stages-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchField.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Lista os campos buscáveis na entidade\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Negócio - Fase"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/stages/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "id da fase do negócio"
        }
      ],
      "get": {
        "summary": "Busca fase do negócio pelo ID",
        "tags": [
          "Negócio - Fase"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stage.v2"
                }
              }
            }
          }
        },
        "operationId": "get-stages-id",
        "description": "Busca uma fase do negócio pelo seu ID\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "put": {
        "summary": "Atualiza um fase",
        "operationId": "put-stages-id",
        "tags": [
          "Negócio - Fase"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stage.v2"
                }
              }
            }
          }
        },
        "description": "Atualização de fase de negócio.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Stage.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "delete": {
        "summary": "Deleta uma fase",
        "operationId": "delete-stages-id",
        "tags": [
          "Negócio - Fase"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Remove o negócio.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/steps": {
      "get": {
        "summary": "Lista de etapas dos projetos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Step.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-steps",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Busca todos as etapas dos projetos cadastrados no sistema\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Projeto - Etapa"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "post": {
        "summary": "Cria uma etapa",
        "operationId": "post-steps",
        "tags": [
          "Projeto - Etapa"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step.v2"
                }
              }
            }
          }
        },
        "description": "Criação de nova etapa de projeto.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Step.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/steps/search": {
      "post": {
        "summary": "Pesquisa nos etapas dos projetos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Step.v2"
                  }
                }
              }
            }
          }
        },
        "operationId": "post-steps-search",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "start",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "nextPageToken",
            "description": "Token da próxima página recebido do header `X-Ollow-Listing-Next-Page-Token` da busca anterior (leia seção Paginação e ordenação)"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "description": "Quantidade de resultados para trazer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Campo para ordenar"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          }
        ],
        "description": "Pesquisa com condições nas etapas dos projetos\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Projeto - Etapa"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "get": {
        "summary": "Campos de etapas dos projetos",
        "operationId": "get-steps-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchField.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Lista os campos buscáveis na entidade\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Projeto - Etapa"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/steps/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "id da etapa do projeto"
        }
      ],
      "get": {
        "summary": "Busca etapa do projeto pelo ID",
        "tags": [
          "Projeto - Etapa"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step.v2"
                }
              }
            }
          }
        },
        "operationId": "get-steps-id",
        "description": "Busca uma etapa do projeto pelo seu ID\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "put": {
        "summary": "Atualiza uma etapa",
        "operationId": "put-steps-id",
        "tags": [
          "Projeto - Etapa"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step.v2"
                }
              }
            }
          }
        },
        "description": "Atualização de etapa de projeto.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Step.v2"
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "delete": {
        "summary": "Deleta uma etapa",
        "operationId": "delete-steps-id",
        "tags": [
          "Projeto - Etapa"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Remove a etapa de projeto.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/activities": {
      "get": {
        "summary": "Lista de atividades",
        "tags": [
          "Atividade"
        ],
        "operationId": "get-activities",
        "description": "Busca todas as atividades cadastradas no sistema\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "order",
            "description": "Direção da ordenação"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": "Quantidade de resultados para trazer",
            "name": "quantity"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Campo para ordenar",
            "name": "sort"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)",
            "name": "start"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity.v2"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "parameters": [],
      "post": {
        "summary": "Cria uma atividade",
        "operationId": "post-activities",
        "description": "Criação de nova atividade.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Atividade"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "API V2",
              "example": "MINHA_INTEGRACAO"
            },
            "in": "header",
            "name": "X-Ollow-Origin",
            "description": "Origem do cadastro"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Activity.v2"
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity.v2"
                }
              }
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/activities/search": {
      "post": {
        "summary": "Pesquisa nas atividades",
        "operationId": "post-activities-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Pesquisa com condições nas atividades\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Atividade"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ]
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Direção da ordenação",
            "name": "order"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": "Quantidade de resultados para trazer",
            "name": "quantity"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Campo para ordenar",
            "name": "sort"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": "A partir de que valor buscar, não pode ser usado junto com o `nextPageToken` (leia seção Paginação e ordenação)",
            "name": "start"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Condition.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "get": {
        "summary": "Campos de atividades",
        "operationId": "get-activities-search",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchField.v2"
                  }
                }
              }
            }
          }
        },
        "description": "Lista os campos buscáveis na entidade\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Atividade"
        ],
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      }
    },
    "/activities/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "id da atividade"
        }
      ],
      "get": {
        "summary": "Busca atividade pelo ID",
        "tags": [
          "Atividade"
        ],
        "operationId": "get-activities-id",
        "description": "Busca uma atividade pelo seu ID\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity.v2"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json"
      },
      "put": {
        "summary": "Atualiza uma atividade",
        "operationId": "put-activities-id",
        "description": "Atualização de atividade.\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`stoplight_io_api_v1_projects_moskit_api-v2_nodes_reference_openapi_yaml_deref_op_38781928.json`)",
        "tags": [
          "Atividade"
        ],
        "security": [
[...]
