{
  "openapi": "3.0.3",
  "info": {
    "title": "TOTVS Corporativo (Protheus, Fluig, Datasul) API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack totvs.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.totvs.com.br"
    }
  ],
  "paths": {
    "/api/apireference/v1/HomePageCards": {
      "get": {
        "tags": [
          "Totvs"
        ],
        "summary": "GET /api/apireference/v1/HomePageCards",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json"
      }
    },
    "/api/apireference/v1/Search": {
      "get": {
        "tags": [
          "Totvs"
        ],
        "summary": "GET /api/apireference/v1/Search",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json"
      }
    },
    "/api/apireference/v1/search/refreshindex": {
      "get": {
        "tags": [
          "Totvs"
        ],
        "summary": "GET /api/apireference/v1/search/refreshindex",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json"
      }
    },
    "/v1/HomePageCards": {
      "get": {
        "tags": [
          "Totvs"
        ],
        "summary": "GET /v1/HomePageCards",
        "description": "Endpoint extraído da documentação (bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json"
      }
    },
    "/v1/Search": {
      "get": {
        "tags": [
          "Totvs"
        ],
        "summary": "GET /v1/Search",
        "description": "Endpoint extraído da documentação (bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json"
      }
    },
    "/v1/search/refreshindex": {
      "get": {
        "tags": [
          "Totvs"
        ],
        "summary": "GET /v1/search/refreshindex",
        "description": "Endpoint extraído da documentação (bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "bundle_routes_api_totvs_com_br_main-es2015_b38cc2233f6817429cc4_js_3c262bc2.json"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}