{
  "openapi": "3.0.3",
  "info": {
    "title": "Asaas Payment Gateway API v3",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack asaas.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.asaas.com/v3"
    }
  ],
  "paths": {
    "/v3/pix/qrCodes/decode": {
      "post": {
        "tags": [
          "Asaas"
        ],
        "summary": "POST /v3/pix/qrCodes/decode",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/v3/pix/transactions/id": {
      "get": {
        "tags": [
          "Asaas"
        ],
        "summary": "GET /v3/pix/transactions/id",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/api/v3/invoices/{id}": {
      "get": {
        "tags": [
          "Asaas"
        ],
        "summary": "GET /api/v3/invoices/{id}",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/v3/installments/{id}": {
      "delete": {
        "tags": [
          "Asaas"
        ],
        "summary": "DELETE /v3/installments/{id}",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/v3/invoicesPOST": {
      "get": {
        "tags": [
          "Asaas"
        ],
        "summary": "GET /v3/invoicesPOST",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/v3/subscriptions": {
      "get": {
        "tags": [
          "Asaas"
        ],
        "summary": "GET /v3/subscriptions",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/v3/invoices/{id}GET": {
      "get": {
        "tags": [
          "Asaas"
        ],
        "summary": "GET /v3/invoices/{id}GET",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/v3/invoicese/v3/subscriptions": {
      "get": {
        "tags": [
          "Asaas"
        ],
        "summary": "GET /v3/invoicese/v3/subscriptions",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/v3/subscriptions/{id}/invoiceSettingsouPUTem/v3/invoices/{id}JSON": {
      "get": {
        "tags": [
          "Asaas"
        ],
        "summary": "GET /v3/subscriptions/{id}/invoiceSettingsouPUTem/v3/invoices/{id}JSON",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/v3/invoices/{id}": {
      "get": {
        "tags": [
          "Asaas"
        ],
        "summary": "GET /v3/invoices/{id}",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    },
    "/api/v3/invoices/{id}JSON": {
      "get": {
        "tags": [
          "Asaas"
        ],
        "summary": "GET /api/v3/invoices/{id}JSON",
        "description": "Endpoint extraído da documentação (docs_asaas_com_page_breaking-changes_dfcaaa7d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_asaas_com_page_breaking-changes_dfcaaa7d.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_asaas_com_page_breaking-changes_dfcaaa7d.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}