{
  "openapi": "3.0.3",
  "info": {
    "title": "TikTok Shop Open API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack tiktokshop.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://open-api.tiktokglobalshop.com"
    }
  ],
  "paths": {
    "/api/bso/v1/widget/resource_url/search": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/bso/v1/widget/resource_url/search",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/account/basic_info": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/account/basic_info",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/account/business_certification/create": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/account/business_certification/create",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/account/business_certification/license/ocr": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/account/business_certification/license/ocr",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/account/business_certification/update": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/account/business_certification/update",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/account/certification_info": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/account/certification_info",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/account/verify_seller/email": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/account/verify_seller/email",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/account/verify_seller/send_email": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/account/verify_seller/send_email",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/account/verify_seller/send_sms": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/account/verify_seller/send_sms",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/account/verify_seller/sms": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/account/verify_seller/sms",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/api/category/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/api/category/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/category/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/category/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/create": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/create",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/detail": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/detail",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/exist": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/exist",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/review/detail": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/review/detail",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/review/submit": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/review/submit",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/secret/create": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/secret/create",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/secret/get": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/secret/get",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/secret/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/secret/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/app/secret/revoke": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/app/secret/revoke",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/cfg/homepage": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/cfg/homepage",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/document/api_external/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/document/api_external/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/document/api_meta": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/document/api_meta",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/document/apis": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/document/apis",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/document/category_api_mapping/options": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/document/category_api_mapping/options",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/document/detail": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/document/detail",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/document/details": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/document/details",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/document/search": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/document/search",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/document/tree": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/document/tree",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/file/imagex/token": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/file/imagex/token",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/file/resource/token": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/file/resource/token",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/file/resource/url": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/file/resource/url",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/file/save": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/file/save",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/ai/answer/generate": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/ai/answer/generate",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/ai/answer/get": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/ai/answer/get",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/ai/answer/stream": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/ai/answer/stream",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/ai/messages/update": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/ai/messages/update",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/ai/ticket/generate": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/ai/ticket/generate",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/api_log/api/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/api_log/api/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/api_log/detail": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/api_log/detail",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/api_log/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/api_log/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/api_log/list_region": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/api_log/list_region",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/app/detail": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/app/detail",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/app/ip_allow_list/get": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/app/ip_allow_list/get",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/app/ip_allow_list/save": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/app/ip_allow_list/save",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/app/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/app/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/app/update": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/app/update",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/authorization/auth_pkg/apply": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/authorization/auth_pkg/apply",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/authorization/auth_pkg/search": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/authorization/auth_pkg/search",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/authorization/auth_pkg/switch/change": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/authorization/auth_pkg/switch/change",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/authorization/open_api/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/authorization/open_api/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/creator/developer_creator/add": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/creator/developer_creator/add",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/creator/developer_creator/cdk_check": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/creator/developer_creator/cdk_check",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/a_loc/statistic": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/a_loc/statistic",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/api/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/api/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/api/statistic": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/api/statistic",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/api/statistic/v2": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/api/statistic/v2",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/catalog/lsr/stats": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/catalog/lsr/stats",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/catalog/quality/detail": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/catalog/quality/detail",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/catalog/quality/stats": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/catalog/quality/stats",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/catalog/upgrade/detail": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/catalog/upgrade/detail",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/catalog/upgrade/stats": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/catalog/upgrade/stats",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/incident/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/incident/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/incident/statistic": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/incident/statistic",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/user/statistic": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/user/statistic",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/widget/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/widget/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/dashboard/widget/statistic": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/dashboard/widget/statistic",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/partner/developer_creator/cdk": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/partner/developer_creator/cdk",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/partner/developer_creator/cdk_check": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/partner/developer_creator/cdk_check",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/partner/developer_creator/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/partner/developer_creator/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/partner/developer_creator/partner_market": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/partner/developer_creator/partner_market",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/partner/developer_creator/remove": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/partner/developer_creator/remove",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/scopes/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/scopes/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/sdks": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/sdks",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/sdks/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/sdks/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/sdks/updates": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/sdks/updates",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/sdks/updates/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/sdks/updates/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/case/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/case/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/order_parse": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/order_parse",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/platform_shop": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/platform_shop",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/report/get": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/report/get",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/report/isv_update": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/report/isv_update",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/show": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/show",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/del": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/del",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/list": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/list",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/order_scenario/create": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/order_scenario/create",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/order_scenario/detail": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/order_scenario/detail",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/order_scenario/trail_detail": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/order_scenario/trail_detail",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/order_scenario/update": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/order_scenario/update",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/run": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/run",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/stop": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/stop",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/trail_end": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/trail_end",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_lf16-scmcdn_oecstatic_com_obj_oec-magellan-sg_i18n_ecom_partner_center_doc_norma_c3529a93.json"
      }
    },
    "/api/v1/open/stress_test/task/trail_run": {
      "get": {
        "tags": [
          "Tiktokshop"
        ],
        "summary": "GET /api/v1/open/stress_test/task/trail_run",
[...]
