{
  "openapi": "3.0.3",
  "info": {
    "title": "Hotmart Developers & Webhooks API v1",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack hotmart.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://developers.hotmart.com/payments/api/v1"
    }
  ],
  "paths": {
    "/webhook/order-fulfillment-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/order-fulfillment-webhook",
        "description": "Endpoint extraído da documentação (docs_pt-BR_2_0_0_webhook_order-fulfillment-webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/purchase-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/purchase-webhook",
        "description": "Endpoint extraído da documentação (docs_pt-BR_2_0_0_webhook_purchase-webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/perfil-do-usu-rio": {
      "get": {
        "tags": [
          "Perfil Do Usuário"
        ],
        "summary": "Consultar Perfil Do Usuário",
        "description": "Recurso identificado na documentação (docs_pt-BR_tos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Perfil Do Usuário"
        ],
        "summary": "Criar/Atualizar Perfil Do Usuário",
        "description": "Operação de mutação para Perfil Do Usuário.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ofertas-de-produtos": {
      "get": {
        "tags": [
          "Ofertas De Produtos"
        ],
        "summary": "Consultar Ofertas De Produtos",
        "description": "Recurso identificado na documentação (docs_pt-BR_tos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Ofertas De Produtos"
        ],
        "summary": "Criar/Atualizar Ofertas De Produtos",
        "description": "Operação de mutação para Ofertas De Produtos.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/listagem-de-planos-de-produto": {
      "get": {
        "tags": [
          "Listagem De Planos De Produto"
        ],
        "summary": "Consultar Listagem De Planos De Produto",
        "description": "Recurso identificado na documentação (docs_pt-BR_tos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Listagem De Planos De Produto"
        ],
        "summary": "Criar/Atualizar Listagem De Planos De Produto",
        "description": "Operação de mutação para Listagem De Planos De Produto.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/listagem-de-produtos": {
      "get": {
        "tags": [
          "Listagem De Produtos"
        ],
        "summary": "Consultar Listagem De Produtos",
        "description": "Recurso identificado na documentação (docs_pt-BR_tos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Listagem De Produtos"
        ],
        "summary": "Criar/Atualizar Listagem De Produtos",
        "description": "Operação de mutação para Listagem De Produtos.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/sales-billet": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-billet",
        "description": "Endpoint extraído da documentação (docs_pt-BR_v1_sales_sales-billet.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/get-user-me": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/user/get-user-me",
        "description": "Endpoint extraído da documentação (docs_pt-BR_v1_user_get-user-me.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/history": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/history",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/sales-summary": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-summary",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/sales-price-details": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-price-details",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/get-subscribers": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/get-subscribers",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/get-subscription-purchases": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/get-subscription-purchases",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/reactivate-subscription": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/reactivate-subscription",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/reactivate-subscriptions": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/reactivate-subscriptions",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/cart-abandonment-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/cart-abandonment-webhook",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/sales-users": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-users",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/auth": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/auth",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/sales-history": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-history",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/update-subscription-charge-date": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/update-subscription-charge-date",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/switch-plan-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/switch-plan-webhook",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/cancel-subscription-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/cancel-subscription-webhook",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/get-subscription-summary": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/get-subscription-summary",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/coupon-post-coupon": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/coupon-post-coupon",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/coupon-get-coupon": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/coupon-get-coupon",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/coupon-delete-coupon": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/coupon-delete-coupon",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tickets/get-participants-tickets": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/tickets/get-participants-tickets",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tickets/get-info-tickets": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/tickets/get-info-tickets",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/product/product-list": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/product/product-list",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/club-first-access": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/club-first-access",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/club-module-completed": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/club-module-completed",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/product/product-offers": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/product/product-offers",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/product/product-plans": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/product/product-plans",
        "description": "Endpoint extraído da documentação (network_json_10_docs_page-data_pt-BR_changelog_page-data_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/about-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/about-webhook",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/http-response-codes-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/http-response-codes-webhook",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/using-webhook": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/using-webhook",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-modules-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-modules-club",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/get-account-info": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/account/get-account-info",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/about-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/about-club",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-lessons-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-lessons-club",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-pages-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-pages-club",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/about-coupon": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/about-coupon",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-users-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-users-club",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/negotiate/about-negotiation": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/negotiate/about-negotiation",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/negotiate/generate-negotiation": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/negotiate/generate-negotiation",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/about-pl": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/about-pl",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/charge-by-offer": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/charge-by-offer",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/before-starting": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/before-starting",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/charge-by-value": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/charge-by-value",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/create-additional-plan": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-additional-plan",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/create-pl": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-pl",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/create-additional-offer": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-additional-offer",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/get-pl": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/get-pl",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-credential-create": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-create",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-about": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-about",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-credential-delete": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-delete",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-product-create": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-product-create",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-product-sales-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-product-sales-update",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-credential-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-update",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-webhook-create": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-webhook-create",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-product-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-product-update",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-webhook-delete": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-webhook-delete",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-product-variants-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-product-variants-update",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-webhook-update": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-webhook-update",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/sp-about": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/sp-about",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/sp-shipment-status": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/sp-shipment-status",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/product/product-configuration": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/product/product-configuration",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/sp-shipment-tracking": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/sp-shipment-tracking",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/about-sales": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/about-sales",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/sales-commissions": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-commissions",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/sales-refund": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/sales/sales-refund",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/about-subscription": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/about-subscription",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/cancel-subscriptions": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/cancel-subscriptions",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/cancel-subscription": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/cancel-subscription",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/change-due-day": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/change-due-day",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/switch-plan-get-plans": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/switch-plan-get-plans",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/switch-plan": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/switch-plan",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tickets/about-tickets": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/tickets/about-tickets",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/get-subscription-transactions": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/subscription/get-subscription-transactions",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/club/get-pages-club": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v2/club/get-pages-club",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/physical-product/pp-product-create": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v2/physical-product/pp-product-create",
        "description": "Endpoint extraído da documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/listado-de-productos": {
      "get": {
        "tags": [
          "Listado De Productos"
        ],
        "summary": "Consultar Listado De Productos",
        "description": "Recurso identificado na documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Listado De Productos"
        ],
        "summary": "Criar/Atualizar Listado De Productos",
        "description": "Operação de mutação para Listado De Productos.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ofertas-de-producto": {
      "get": {
        "tags": [
          "Ofertas De Producto"
        ],
        "summary": "Consultar Ofertas De Producto",
        "description": "Recurso identificado na documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Ofertas De Producto"
        ],
        "summary": "Criar/Atualizar Ofertas De Producto",
        "description": "Operação de mutação para Ofertas De Producto.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/listado-de-planes-de-producto": {
      "get": {
        "tags": [
          "Listado De Planes De Producto"
        ],
        "summary": "Consultar Listado De Planes De Producto",
        "description": "Recurso identificado na documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Listado De Planes De Producto"
        ],
        "summary": "Criar/Atualizar Listado De Planes De Producto",
        "description": "Operação de mutação para Listado De Planes De Producto.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/perfil-del-usuario": {
      "get": {
        "tags": [
          "Perfil Del Usuario"
        ],
        "summary": "Consultar Perfil Del Usuario",
        "description": "Recurso identificado na documentação (network_json_1_docs_page-data_sq_d_3996864857_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Perfil Del Usuario"
        ],
        "summary": "Criar/Atualizar Perfil Del Usuario",
        "description": "Operação de mutação para Perfil Del Usuario.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/app/index.php": {
      "post": {
        "tags": [
          "Hotmart"
        ],
        "summary": "POST /app/index.php",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /oauth/token",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subscriptions/:subscriber_code/cancel": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/subscriptions/:subscriber_code/cancel",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subscriptions": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/subscriptions",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subscriptions/:subscriber_code/purchases": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/subscriptions/:subscriber_code/purchases",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sales/users": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/sales/users",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/users",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/link": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/link",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/cancel-subscription-webhook.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/cancel-subscription-webhook.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/cart-abandonment-webhook.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/cart-abandonment-webhook.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/switch-plan-webhook.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/switch-plan-webhook.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/cancel-subscription-webhook-v2.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/cancel-subscription-webhook-v2.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/cart-abandonment-webhook-v2.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/cart-abandonment-webhook-v2.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/club-first-access-webhook-v2.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/club-first-access-webhook-v2.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/club-module-completed-webhook-v2.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/club-module-completed-webhook-v2.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/order-fulfillment-webhook-v2.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/order-fulfillment-webhook-v2.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/purchase-webhook-v2.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/purchase-webhook-v2.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/A0ACBEDA916F322FAB94E7DA5B29D0185204000053039865802BR5910EBANX": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v2/A0ACBEDA916F322FAB94E7DA5B29D0185204000053039865802BR5910EBANX",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/switch-plan-webhook-v2.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/switch-plan-webhook-v2.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/update-subscription-charge-date-webhook-v2.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /webhook/update-subscription-charge-date-webhook-v2.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/post-get-account-info-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/account/post-get-account-info-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/post-get-account-info.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/account/post-get-account-info.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/info": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/info",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-club-lessons-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-club-lessons-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{user_id}/lessons": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/users/{user_id}/lessons",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-club-lessons-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-club-lessons-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-club-modules-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-club-modules-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/modules": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/modules",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-club-modules-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-club-modules-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-club-pages-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-club-pages-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/modules/{module_id}/pages": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/modules/{module_id}/pages",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [
          {
            "name": "module_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-club-pages-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-club-pages-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-club-users-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-club-users-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/club/get-club-users-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/club/get-club-users-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/delete-coupon-delete-coupon-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/delete-coupon-delete-coupon-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/delete-coupon-delete-coupon.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/delete-coupon-delete-coupon.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/coupon/:coupon_id": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/coupon/:coupon_id",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/get-coupon-get-coupon-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/get-coupon-get-coupon-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/get-coupon-get-coupon.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/get-coupon-get-coupon.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/coupon/product/:product_id": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/coupon/product/:product_id",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/post-coupon-post-coupon-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/post-coupon-post-coupon-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coupon/post-coupon-post-coupon.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/coupon/post-coupon-post-coupon.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/product/:product_id/coupon": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/product/:product_id/coupon",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/negotiate/post-negotiate-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/negotiate/post-negotiate-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ACA4311F88661BC0D48200487EF1BCD95204000053039865802BR5910FAKEPIX": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v2/ACA4311F88661BC0D48200487EF1BCD95204000053039865802BR5910FAKEPIX",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/negotiate/post-negotiate.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/negotiate/post-negotiate.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/installments/negotiate": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/installments/negotiate",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/charge-by-offer-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/charge-by-offer-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/link/token/charge/offer": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/link/token/charge/offer",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/charge-by-value-or-offer-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/charge-by-value-or-offer-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/charge-by-value-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/charge-by-value-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/link/token/charge/value": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/link/token/charge/value",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/create-pl-additional-offer-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-pl-additional-offer-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/link/:payment_link_ucode/offer": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/link/:payment_link_ucode/offer",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/create-pl-additional-offer-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-pl-additional-offer-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/create-pl-additional-plan-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-pl-additional-plan-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/link/:payment_link_ucode/plan": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/link/:payment_link_ucode/plan",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/create-pl-additional-plan-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-pl-additional-plan-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/create-pl-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-pl-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/create-pl-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/create-pl-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/event-pl-token.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/event-pl-token.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/event-pl-approved.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/event-pl-approved.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/get-pl-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/get-pl-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/get-pl-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/get-pl-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-link/invalid-pl-error-message.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/payment-link/invalid-pl-error-message.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-credential-create-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-create-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/credentials": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/credentials",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-credential-create-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-create-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-credential-delete-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-delete-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/credentials/:client_id": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /api/v1/credentials/:client_id",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-credential-update-request.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-update-request.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-credential-delete-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-delete-response.md",
        "description": "Endpoint extraído da documentação (network_json_4_docs_page-data_sq_d_4285555676_json.json).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/physical-product/pp-credential-update-response.md": {
      "get": {
        "tags": [
          "Hotmart"
        ],
        "summary": "GET /v1/physical-product/pp-credential-update-response.md",
[...]
