{
  "openapi": "3.0.3",
  "info": {
    "title": "Efí Bank (Gerencianet) PIX & Boleto Open Finance API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack efi.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pix.sejaefi.com.br"
    }
  ],
  "paths": {
    "/v1/conta-simplificadaRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/conta-simplificadaRequer",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_cadastro-simplificado.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conta-simplificada/:idContaSimplificada/credenciaisRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/conta-simplificada/:idContaSimplificada/credenciaisRequer",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_cadastro-simplificado.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conta-simplificada/:idContaSimplificada/certificadoRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/conta-simplificada/:idContaSimplificada/certificadoRequer",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_cadastro-simplificado.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cadastro": {
      "get": {
        "tags": [
          "Cadastro"
        ],
        "summary": "Consultar Cadastro",
        "description": "Recurso identificado na documentação (docs_api-abertura-de-contas_cadastro-simplificado.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cadastro"
        ],
        "summary": "Criar/Atualizar Cadastro",
        "description": "Operação de mutação para Cadastro.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/oauth/tokene": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/oauth/tokene",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/oauth/token": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/oauth/token",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/abertura-de-contas": {
      "get": {
        "tags": [
          "Abertura De Contas"
        ],
        "summary": "Consultar Abertura De Contas",
        "description": "Recurso identificado na documentação (docs_api-abertura-de-contas_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Abertura De Contas"
        ],
        "summary": "Criar/Atualizar Abertura De Contas",
        "description": "Operação de mutação para Abertura De Contas.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/data.json": {
      "post": {
        "tags": [
          "Efi"
        ],
        "summary": "POST /data.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/var/www/webhook/index.php": {
      "post": {
        "tags": [
          "Efi"
        ],
        "summary": "POST /var/www/webhook/index.php",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/dados.json": {
      "post": {
        "tags": [
          "Efi"
        ],
        "summary": "POST /dados.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/certificate-chain-prod.crtHomologa": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /webhooks/certificate-chain-prod.crtHomologa",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/certificate-chain-homolog.crt": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /webhooks/certificate-chain-homolog.crt",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /webhook/pix",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/index.php": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /webhook/index.php",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhookRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/webhookRequer",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook/:identificadorWebhookRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/webhook/:identificadorWebhookRequer",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooksRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/webhooksRequer",
        "description": "Endpoint extraído da documentação (docs_api-abertura-de-contas_webhook.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/planRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/planRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plansRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plansRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plan/:idRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plan/:idRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plan/:id/subscription/one-step": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plan/:id/subscription/one-step",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plan/:id/subscription/one-stepAtributos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plan/:id/subscription/one-stepAtributos",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plan/:id/subscription": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plan/:id/subscription",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plan/:id/subscriptionRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plan/:id/subscriptionRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/:id/pay": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/subscription/:id/pay",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/:id/payRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/subscription/:id/payRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/retryRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/retryRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/:idRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/subscription/:idRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charges.": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charges.",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chargesRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/chargesRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/f8f5ff18cbdf4ede844189941892238d5214000053039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/f8f5ff18cbdf4ede844189941892238d5214000053039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/431a57a6c31d41b2b17fb3f06861d89e1204000053039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/431a57a6c31d41b2b17fb3f06861d89e1204000053039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/1134216cf0864df5baa11a303afa868c225204000053039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/1134216cf0864df5baa11a303afa868c225204000053039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plan/:id/subscription/one-step/link.Estrutura": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plan/:id/subscription/one-step/link.Estrutura",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plan/:id/subscription/one-step/link": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plan/:id/subscription/one-step/link",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plan/:id/subscription/one-step/linkAtributos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plan/:id/subscription/one-step/linkAtributos",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/metadata": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/metadata",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/:id/metadataRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/subscription/:id/metadataRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/:idcom": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/subscription/:idcom",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/:id/cancelda": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/subscription/:id/cancelda",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/:id/cancelRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/subscription/:id/cancelRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/:id/history.": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/subscription/:id/history.",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscription/:id/historyRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/subscription/:id/historyRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/subscription/resend.POST/v1/charge/:id/subscription/resendRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/subscription/resend.POST/v1/charge/:id/subscription/resendRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_assinatura.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/one-stepRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/one-stepRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/0000000000000000000000000000GERENCIANET": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/0000000000000000000000000000GERENCIANET",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge.Estrutura": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge.Estrutura",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chargeRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/chargeRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/pay.Estrutura": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/pay.Estrutura",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/payRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/payRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id.GET/v1/charge/:idRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id.GET/v1/charge/:idRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/46796ab467b84cab3619437c11d0b0f5204000053039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/46796ab467b84cab3619437c11d0b0f5204000053039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/3dc71188a0343a1b5d279287040da2b5204000053039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/3dc71188a0343a1b5d279287040da2b5204000053039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/1771126b4703408db94f2115495d0ffb5204000053039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/1771126b4703408db94f2115495d0ffb5204000053039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/metadata.Casos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/metadata.Casos",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/metadataRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/metadataRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/billet.Importante": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/billet.Importante",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/billetRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/billetRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/cancel.PUT/v1/charge/:id/cancelRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/cancel.PUT/v1/charge/:id/cancelRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/billet/resend.POST/v1/charge/:id/billet/resendRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/billet/resend.POST/v1/charge/:id/billet/resendRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/history.POST/v1/charge/:id/historyRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/history.POST/v1/charge/:id/historyRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/balance-sheet.NOTA": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/balance-sheet.NOTA",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/balance-sheetRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/balance-sheetRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/settle.PUT/v1/charge/:id/settleRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/settle.PUT/v1/charge/:id/settleRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_boleto.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnetcom": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnetcom",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnetRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnetRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id.GET/v1/carnet/:idRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id.GET/v1/carnet/:idRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/188815a85a354826832b0635d9a82fb8520410053039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/188815a85a354826832b0635d9a82fb8520410053039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/c0af53aa36604a6f821c8e334c2a47755204000053039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/c0af53aa36604a6f821c8e334c2a47755204000053039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/c54b102ae9764eeeacfdcba16b0222865204000453039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/c54b102ae9764eeeacfdcba16b0222865204000453039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/metadata.Casos": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/metadata.Casos",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/metadataRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/metadataRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/parcel/:parcelonde:id": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/parcel/:parcelonde:id",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/parcel/:parcelRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/parcel/:parcelRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/parcelsonde:id": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/parcelsonde:id",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/parcelsRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/parcelsRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/cancel.PUT/v1/carnet/:id/cancelRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/cancel.PUT/v1/carnet/:id/cancelRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/parcel/:parcel/cancel": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/parcel/:parcel/cancel",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/parcel/:parcel/cancelRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/parcel/:parcel/cancelRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/resend.POST/v1/carnet/:id/resendRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/resend.POST/v1/carnet/:id/resendRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/resend.": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/resend.",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/parcel/:parcel/resendRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/parcel/:parcel/resendRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/history.POST/v1/carnet/:id/historyRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/history.POST/v1/carnet/:id/historyRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/settle.Aten": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/settle.Aten",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/settleRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/settleRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/parcel/:parcel/settle": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/parcel/:parcel/settle",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet/:id/parcel/:parcel/settleRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet/:id/parcel/:parcel/settleRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_carne.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/pay": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/pay",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_cartao.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/card/:id/refundRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/card/:id/refundRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_cartao.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_cartao.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:idRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:idRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_cartao.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/cancel": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/cancel",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_cartao.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge:id/cancelRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge:id/cancelRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_cartao.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/historyRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/historyRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_cartao.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/installmentsRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/installmentsRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_cartao.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/authorize": {
      "post": {
        "tags": [
          "Efi"
        ],
        "summary": "POST /v1/authorize",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/authorize",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/authorizee": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/authorizee",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cobran-as": {
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Consultar Cobranças",
        "description": "Recurso identificado na documentação (docs_api-cobrancas_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Criar/Atualizar Cobranças",
        "description": "Operação de mutação para Cobranças.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/one-step15.000POST/v1/charge15.000GET/v1/charges15.000GET/v1/charge/:id15.000PUT/v1/charge/:id/metadata15.000PUT/v1/charge/:id/billet15.000PUT/v1/charge/:id/cancel15.000POST/v1/charge/:id/pay15.000POST/v1/charge/:id/billet/resend15.000POST/v1/charge/:id/history15.000POST/v1/charge/:id/link15.000PUT/v1/charge/:id/link15.000POST/v1/charge/:id/balance-sheet15.000PUT/v1/charge/:id/settle15.000GET/v1/installments15.000": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/one-step15.000POST/v1/charge15.000GET/v1/charges15.000GET/v1/charge/:id15.000PUT/v1/charge/:id/metadata15.000PUT/v1/charge/:id/billet15.000PUT/v1/charge/:id/cancel15.000POST/v1/charge/:id/pay15.000POST/v1/charge/:id/billet/resend15.000POST/v1/charge/:id/history15.000POST/v1/charge/:id/link15.000PUT/v1/charge/:id/link15.000POST/v1/charge/:id/balance-sheet15.000PUT/v1/charge/:id/settle15.000GET/v1/installments15.000",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_limites-de-consumo.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carnet15.000GET/v1/carnet/:id15.000PUT/v1/carnet/:id/metadata15.000PUT/v1/carnet/:id/parcel/:parcel15.000PUT/v1/carnet/:id/cancel15.000PUT/v1/carnet/:id/parcel/:parcel/cancel15.000POST/v1/carnet/:id/resend15.000POST/v1/carnet/:id/parcel/:parcel/resend15.000POST/v1/carnet/:id/history15.000PUT/v1/carnet/:id/parcel/:parcel/settle15.000PUT/v1/carnet/:id/settle15.000": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/carnet15.000GET/v1/carnet/:id15.000PUT/v1/carnet/:id/metadata15.000PUT/v1/carnet/:id/parcel/:parcel15.000PUT/v1/carnet/:id/cancel15.000PUT/v1/carnet/:id/parcel/:parcel/cancel15.000POST/v1/carnet/:id/resend15.000POST/v1/carnet/:id/parcel/:parcel/resend15.000POST/v1/carnet/:id/history15.000PUT/v1/carnet/:id/parcel/:parcel/settle15.000PUT/v1/carnet/:id/settle15.000",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_limites-de-consumo.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plan15.000GET/v1/plans15.000PUT/v1/plan/:id15.000DELETE/v1/plan/:id15.000POST/v1/plan/:id/subscription/one-step15.000POST/v1/plan/:id/subscription/one-step/link15.000POST/v1/plan/:id/subscription15.000GET/v1/subscription/:id15.000PUT/v1/subscription/:id/cancel15.000PUT/v1/subscription/:id/metadata15.000POST/v1/subscription/:id/pay15.000POST/v1/subscription/:id/history15.000": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/plan15.000GET/v1/plans15.000PUT/v1/plan/:id15.000DELETE/v1/plan/:id15.000POST/v1/plan/:id/subscription/one-step15.000POST/v1/plan/:id/subscription/one-step/link15.000POST/v1/plan/:id/subscription15.000GET/v1/subscription/:id15.000PUT/v1/subscription/:id/cancel15.000PUT/v1/subscription/:id/metadata15.000POST/v1/subscription/:id/pay15.000POST/v1/subscription/:id/history15.000",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_limites-de-consumo.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notification/:token30.000": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/notification/:token30.000",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_limites-de-consumo.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/one-step/link": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/one-step/link",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_link-de-pagamento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_link-de-pagamento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/linkpara": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/linkpara",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_link-de-pagamento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/link": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/link",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_link-de-pagamento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/linkImportante": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/linkImportante",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_link-de-pagamento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/linkRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/linkRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_link-de-pagamento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/link/resend.POST/v1/charge/:id/link/resendRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/link/resend.POST/v1/charge/:id/link/resendRequer",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_link-de-pagamento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/notification/:token": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /notification/:token",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_notificacoes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/../../vendor/autoload.php": {
      "post": {
        "tags": [
          "Efi"
        ],
        "summary": "POST /../../vendor/autoload.php",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_api-cobrancas_notificacoes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charge/:id/metadata.": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/charge/:id/metadata.",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_notificacoes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notification/:tokenRetorna": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/notification/:tokenRetorna",
        "description": "Endpoint extraído da documentação (docs_api-cobrancas_notificacoes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/url-de-notifica-o": {
      "get": {
        "tags": [
          "Url De Notificação"
        ],
        "summary": "Consultar Url De Notificação",
        "description": "Recurso identificado na documentação (docs_api-cobrancas_notificacoes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Url De Notificação"
        ],
        "summary": "Criar/Atualizar Url De Notificação",
        "description": "Operação de mutação para Url De Notificação.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/configRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/configRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_configuracoes-de-aplicacao.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-agendados/pixRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-agendados/pixRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-agendados.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-agendados/pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-agendados/pix",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-agendados.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-agendados/pix/:identificadorPagamento/cancelarRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-agendados/pix/:identificadorPagamento/cancelarRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-agendados.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-agendados/pix/:identificadorPagamento/devolverRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-agendados/pix/:identificadorPagamento/devolverRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-agendados.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-automaticos/adesaoRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-automaticos/adesaoRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-automaticos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-automaticos/adesao": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-automaticos/adesao",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-automaticos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-automaticos/pixRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-automaticos/pixRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-automaticos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos/pixRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos/pixRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-imediatos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos/pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos/pix",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-imediatos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos/pix/:identificadorPagamento/devolverRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos/pix/:identificadorPagamento/devolverRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-imediatos.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-biometria/vinculosRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-biometria/vinculosRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-por-biometria.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-biometria/pixRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-biometria/pixRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-por-biometria.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-biometria/pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-biometria/pix",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-por-biometria.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-recorrentes/pixRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-recorrentes/pixRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-recorrentes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-recorrentes/pix": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-recorrentes/pix",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-recorrentes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-recorrentes/pix/:identificadorPagamento/cancelarRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-recorrentes/pix/:identificadorPagamento/cancelarRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-recorrentes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-recorrentes/pix/:identificadorPagamento/devolverRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-recorrentes/pix/:identificadorPagamento/devolverRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-recorrentes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pagamentos-recorrentes/pix/:identificadorPagamento/substituir/:endToEndIdRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/pagamentos-recorrentes/pix/:identificadorPagamento/substituir/:endToEndIdRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_pagamentos-recorrentes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/participantesRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v1/participantesRequer",
        "description": "Endpoint extraído da documentação (docs_api-open-finance_participantes.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/:txidRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/:txidRequer",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/c24c8d65fd024836bc7bac75d5c4002f5204000053039865802BR5905EFISA6008SAOPAULO62070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/c24c8d65fd024836bc7bac75d5c4002f5204000053039865802BR5905EFISA6008SAOPAULO62070503",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/error/CobVOperacaoInvalida": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /api/v2/error/CobVOperacaoInvalida",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/error/AcessoNegado": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /api/v2/error/AcessoNegado",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/error/NaoEncontrado": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /api/v2/error/NaoEncontrado",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/error/ServicoIndisponivel": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /api/v2/error/ServicoIndisponivel",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/:txid": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/:txid",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Efi"
        ],
        "summary": "PUT /v2/cobv/:txid",
        "description": "Endpoint extraído da documentação (docs_api-pix_pix-automatico.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobvRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobvRequer",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/ba942520ab0746cfae2858d9afe485fd0": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/ba942520ab0746cfae2858d9afe485fd0",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobv/68ae6f11868040ce980d6803ff6d904d": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobv/68ae6f11868040ce980d6803ff6d904d",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-com-vencimento.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cobRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cobRequer",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-imediatas.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/9d36b84fc70b478fb95c12729b90ca25": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/9d36b84fc70b478fb95c12729b90ca25",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-imediatas.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/41e0badf811a4ce6ad8a80b306821fce5204000053000065802BR5905EFISA6008SAOPAULO60070503": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/41e0badf811a4ce6ad8a80b306821fce5204000053000065802BR5905EFISA6008SAOPAULO60070503",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-imediatas.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cob/:txidRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cob/:txidRequer",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-imediatas.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cob/:txid": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cob/:txid",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-imediatas.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Efi"
        ],
        "summary": "PUT /v2/cob/:txid",
        "description": "Endpoint extraído da documentação (docs_api-pix_pix-automatico.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cob": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/cob",
        "description": "Endpoint extraído da documentação (docs_api-pix_cobrancas-imediatas.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Efi"
        ],
        "summary": "POST /v2/cob",
        "description": "Endpoint extraído da documentação (docs_api-pix_pix-automatico.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": [
          "Efi"
        ],
        "summary": "POST /oauth/token",
        "description": "Endpoint extraído da documentação (docs_api-pix_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /oauth/token",
        "description": "Endpoint extraído da documentação (docs_api-pix_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/tokene": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /oauth/tokene",
        "description": "Endpoint extraído da documentação (docs_api-pix_credenciais.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/gn/evpRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/gn/evpRequer",
        "description": "Endpoint extraído da documentação (docs_api-pix_endpoints-exclusivos-efi.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/gn/evp/:chaveRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/gn/evp/:chaveRequer",
        "description": "Endpoint extraído da documentação (docs_api-pix_endpoints-exclusivos-efi.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/gn/saldo/Requer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/gn/saldo/Requer",
        "description": "Endpoint extraído da documentação (docs_api-pix_endpoints-exclusivos-efi.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/gn/saldo": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/gn/saldo",
        "description": "Endpoint extraído da documentação (docs_api-pix_endpoints-exclusivos-efi.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/gn/configRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/gn/configRequer",
        "description": "Endpoint extraído da documentação (docs_api-pix_endpoints-exclusivos-efi.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/gn/pix/comprovantesRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/gn/pix/comprovantesRequer",
        "description": "Endpoint extraído da documentação (docs_api-pix_endpoints-exclusivos-efi.md).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/gn/chaves/baldeRequer": {
      "get": {
        "tags": [
          "Efi"
        ],
        "summary": "GET /v2/gn/chaves/baldeRequer",
[...]
