{
  "openapi": "3.0.3",
  "info": {
    "title": "Iugu Meios de Pagamento & Cobrança Recorrente API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack iugu.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.iugu.com/v1"
    }
  ],
  "paths": {
    "/v1/customers": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/customers",
        "description": "Endpoint extraído da documentação (dev_iugu_com_changelog_370ad409.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dev_iugu_com_changelog_370ad409.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dev_iugu_com_changelog_370ad409.md"
      }
    },
    "/v1/subscriptions": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/subscriptions",
        "description": "Endpoint extraído da documentação (dev_iugu_com_changelog_370ad409.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dev_iugu_com_changelog_370ad409.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dev_iugu_com_changelog_370ad409.md"
      }
    },
    "/agendar-nova-cobranca-com-pix-automatico-via-api": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /agendar-nova-cobranca-com-pix-automatico-via-api",
        "description": "Endpoint derivado da referência oficial (agendar-nova-cobranca-com-pix-automatico-via-api).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_agendar-nova-cobranca-com-pix-automatico-via-api_e256db53.md#agendar-nova-cobranca-com-pix-automatico-via-api`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_agendar-nova-cobranca-com-pix-automatico-via-api_e256db53.md#agendar-nova-cobranca-com-pix-automatico-via-api"
      }
    },
    "/v1/invoices": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/invoices",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_agendar-nova-cobranca-com-pix-automatico-via-api_e256db53.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_agendar-nova-cobranca-com-pix-automatico-via-api_e256db53.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_agendar-nova-cobranca-com-pix-automatico-via-api_e256db53.md"
      }
    },
    "/alterar-assinatura-1": {
      "put": {
        "tags": [
          "Iugu"
        ],
        "summary": "PUT /alterar-assinatura-1",
        "description": "Endpoint derivado da referência oficial (alterar-assinatura-1).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_alterar-assinatura-1_28ab160b.md#alterar-assinatura-1`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_alterar-assinatura-1_28ab160b.md#alterar-assinatura-1"
      }
    },
    "/v1/subscriptions/{id}": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/subscriptions/{id}",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_alterar-assinatura-1_28ab160b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_alterar-assinatura-1_28ab160b.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_alterar-assinatura-1_28ab160b.md"
      }
    },
    "/v1/subscriptions/{{subscription_id}}": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/subscriptions/{{subscription_id}}",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_alterar-assinatura-1_28ab160b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_alterar-assinatura-1_28ab160b.md`)",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_alterar-assinatura-1_28ab160b.md"
      }
    },
    "/alterar-m": {
      "put": {
        "tags": [
          "Iugu"
        ],
        "summary": "PUT /alterar-m",
        "description": "Endpoint derivado da referência oficial (alterar-m).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_alterar-m_C3_A9todo-de-pagamento-de-uma-assinatura_2116333b.md#alterar-m`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_alterar-m_C3_A9todo-de-pagamento-de-uma-assinatura_2116333b.md#alterar-m"
      }
    },
    "/bb-configuracoes-extras": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /bb-configuracoes-extras",
        "description": "Endpoint derivado da referência oficial (bb-configuracoes-extras).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_bb-configuracoes-extras_ac0352b3.md#bb-configuracoes-extras`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_bb-configuracoes-extras_ac0352b3.md#bb-configuracoes-extras"
      }
    },
    "/v1/accounts/configuration:": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/accounts/configuration:",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_bb-configuracoes-extras_ac0352b3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_bb-configuracoes-extras_ac0352b3.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_bb-configuracoes-extras_ac0352b3.md"
      }
    },
    "/campos-de-boleto-bancario": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /campos-de-boleto-bancario",
        "description": "Endpoint derivado da referência oficial (campos-de-boleto-bancario).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_campos-de-boleto-bancario_6df3e28c.md#campos-de-boleto-bancario`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_campos-de-boleto-bancario_6df3e28c.md#campos-de-boleto-bancario"
      }
    },
    "/cashback-como-desconto": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /cashback-como-desconto",
        "description": "Endpoint derivado da referência oficial (cashback-como-desconto).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_cashback-como-desconto_f6871f85.md#cashback-como-desconto`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_cashback-como-desconto_f6871f85.md#cashback-como-desconto"
      }
    },
    "/v1/transfers.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/transfers.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cashback-como-desconto_f6871f85.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cashback-como-desconto_f6871f85.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cashback-como-desconto_f6871f85.md"
      }
    },
    "/v1/transfers": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/transfers",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cashback-como-desconto_f6871f85.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cashback-como-desconto_f6871f85.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cashback-como-desconto_f6871f85.md"
      }
    },
    "/cashback": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /cashback",
        "description": "Endpoint derivado da referência oficial (cashback).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_cashback_3c5442b4.md#cashback`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_cashback_3c5442b4.md#cashback"
      }
    },
    "/cdu-faturas": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /cdu-faturas",
        "description": "Endpoint derivado da referência oficial (cdu-faturas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_cdu-faturas_b7771eac.md#cdu-faturas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_cdu-faturas_b7771eac.md#cdu-faturas"
      }
    },
    "/v2/B894097671074A29A8CA966CC12A799252040000530398654041.005802BR5925IUGU": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v2/B894097671074A29A8CA966CC12A799252040000530398654041.005802BR5925IUGU",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cdu-faturas_b7771eac.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cdu-faturas_b7771eac.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cdu-faturas_b7771eac.md"
      }
    },
    "/chave-de-idempot": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /chave-de-idempot",
        "description": "Endpoint derivado da referência oficial (chave-de-idempot).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_chave-de-idempot_C3_AAncia-1_28e687b5.md#chave-de-idempot`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_chave-de-idempot_C3_AAncia-1_28e687b5.md#chave-de-idempot"
      }
    },
    "/checkout-copy": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /checkout-copy",
        "description": "Endpoint derivado da referência oficial (checkout-copy).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_checkout-copy_9261f596.md#checkout-copy`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_checkout-copy_9261f596.md#checkout-copy"
      }
    },
    "/v1/charge": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/charge",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_checkout-copy_9261f596.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_checkout-copy_9261f596.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_checkout-copy_9261f596.md"
      }
    },
    "/checkout": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /checkout",
        "description": "Endpoint derivado da referência oficial (checkout).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_checkout_caeef9b4.md#checkout`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_checkout_caeef9b4.md#checkout"
      }
    },
    "/cobranca-com-2-cartoes": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /cobranca-com-2-cartoes",
        "description": "Endpoint derivado da referência oficial (cobranca-com-2-cartoes).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md#cobranca-com-2-cartoes`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md#cobranca-com-2-cartoes"
      }
    },
    "/v1/accounts/configuratione": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/accounts/configuratione",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md"
      }
    },
    "/v1/payment_token": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/payment_token",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md"
      }
    },
    "/v1/invoices.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/invoices.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md"
      },
      "post": {
        "tags": [
          "Iugu"
        ],
        "summary": "POST /v1/invoices.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_reference_pix-automatico-jornada-2_71a89463.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dev_iugu_com_reference_pix-automatico-jornada-2_71a89463.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dev_iugu_com_reference_pix-automatico-jornada-2_71a89463.md"
      }
    },
    "/v1/public/invoice/12345678-1234-1234-1234-123456789012-b601/barcode": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/public/invoice/12345678-1234-1234-1234-123456789012-b601/barcode",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md"
      }
    },
    "/v1/public/invoice/12345678-1234-1234-1234-123456789012-b601/bank_slip": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/public/invoice/12345678-1234-1234-1234-123456789012-b601/bank_slip",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md"
      }
    },
    "/v2/cobv/1234567890ABCDEF1234567890ABCDEF52040000530398654044.005802BR5925Fict": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v2/cobv/1234567890ABCDEF1234567890ABCDEF52040000530398654044.005802BR5925Fict",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md"
      }
    },
    "/v1/charge_two_credit_cards.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/charge_two_credit_cards.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md"
      }
    },
    "/v1/charge_two_credit_cards": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/charge_two_credit_cards",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobranca-com-2-cartoes_e0197abb.md"
      }
    },
    "/cobran": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /cobran",
        "description": "Endpoint derivado da referência oficial (cobran).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_cobran_a-direta-1_2f67796c.md#cobran`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_a-direta-1_2f67796c.md#cobran"
      }
    },
    "/v1/web_hooks": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/web_hooks",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_a-em-duas-etapas_9133dd31.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobran_a-em-duas-etapas_9133dd31.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_a-em-duas-etapas_9133dd31.md"
      }
    },
    "/v1/invoices/{{invoice_id}}/capture": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/invoices/{{invoice_id}}/capture",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_a-em-duas-etapas_9133dd31.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobran_a-em-duas-etapas_9133dd31.md`)",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_a-em-duas-etapas_9133dd31.md"
      }
    },
    "/v1/invoices/{{invoice_id}}/cancel": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/invoices/{{invoice_id}}/cancel",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_a-em-duas-etapas_9133dd31.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobran_a-em-duas-etapas_9133dd31.md`)",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_a-em-duas-etapas_9133dd31.md"
      }
    },
    "/v1/plans.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/plans.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md"
      }
    },
    "/v1/plans": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/plans",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md"
      }
    },
    "/v1/subscriptions.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/subscriptions.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md"
      }
    },
    "/v1/subscriptions/13D9CB0C2DA4427A8D0DAA76F10F4248/change_plan/premium_plan": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/subscriptions/13D9CB0C2DA4427A8D0DAA76F10F4248/change_plan/premium_plan",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_a-recorrente-assinaturas_bb6b7065.md"
      }
    },
    "/v1/payments/pix": {
      "post": {
        "tags": [
          "Iugu"
        ],
        "summary": "POST /v1/payments/pix",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_as-recorrentes-por-api-pix-autom_tico_2b039317.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dev_iugu_com_docs_cobran_as-recorrentes-por-api-pix-autom_tico_2b039317.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_as-recorrentes-por-api-pix-autom_tico_2b039317.md"
      },
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/payments/pix",
        "description": "Endpoint extraído da documentação (dev_iugu_com_reference_ativar-e-configurar-metodos-de-pagamento_e77cc94c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_reference_ativar-e-configurar-metodos-de-pagamento_e77cc94c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_reference_ativar-e-configurar-metodos-de-pagamento_e77cc94c.md"
      }
    },
    "/v1/invoices/:id/reschedule_automatic_pix_payment": {
      "post": {
        "tags": [
          "Iugu"
        ],
        "summary": "POST /v1/invoices/:id/reschedule_automatic_pix_payment",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_as-recorrentes-por-api-pix-autom_tico_2b039317.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`dev_iugu_com_docs_cobran_as-recorrentes-por-api-pix-autom_tico_2b039317.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_as-recorrentes-por-api-pix-autom_tico_2b039317.md"
      }
    },
    "/v1/subscriptions/{id}.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/subscriptions/{id}.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobran_as-recorrentes-por-api-pix-autom_tico_2b039317.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobran_as-recorrentes-por-api-pix-autom_tico_2b039317.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobran_as-recorrentes-por-api-pix-autom_tico_2b039317.md"
      }
    },
    "/cobrar-com-pix-automatico-por-api": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /cobrar-com-pix-automatico-por-api",
        "description": "Endpoint derivado da referência oficial (cobrar-com-pix-automatico-por-api).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_cobrar-com-pix-automatico-por-api_cf6e9f40.md#cobrar-com-pix-automatico-por-api`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_cobrar-com-pix-automatico-por-api_cf6e9f40.md#cobrar-com-pix-automatico-por-api"
      }
    },
    "/v2/A41E01B916BE4F738668C4C62EE4DD8152040000530398654041.005802BR5925IUGU": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v2/A41E01B916BE4F738668C4C62EE4DD8152040000530398654041.005802BR5925IUGU",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobrar-com-pix-automatico-por-api_cf6e9f40.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobrar-com-pix-automatico-por-api_cf6e9f40.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobrar-com-pix-automatico-por-api_cf6e9f40.md"
      }
    },
    "/v2/rec/C2A6C349068B400E9EDABF3EEB5AE13F63041111": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v2/rec/C2A6C349068B400E9EDABF3EEB5AE13F63041111",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobrar-com-pix-automatico-por-api_cf6e9f40.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobrar-com-pix-automatico-por-api_cf6e9f40.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobrar-com-pix-automatico-por-api_cf6e9f40.md"
      }
    },
    "/cobrar-tarifa-de-saque-da-subconta": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /cobrar-tarifa-de-saque-da-subconta",
        "description": "Endpoint derivado da referência oficial (cobrar-tarifa-de-saque-da-subconta).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_cobrar-tarifa-de-saque-da-subconta_ab99e950.md#cobrar-tarifa-de-saque-da-subconta`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_cobrar-tarifa-de-saque-da-subconta_ab99e950.md#cobrar-tarifa-de-saque-da-subconta"
      }
    },
    "/v1/accounts/{{id_da_subconta}}": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/accounts/{{id_da_subconta}}",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_cobrar-tarifa-de-saque-da-subconta_ab99e950.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_cobrar-tarifa-de-saque-da-subconta_ab99e950.md`)",
        "parameters": [
          {
            "name": "id_da_subconta",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_cobrar-tarifa-de-saque-da-subconta_ab99e950.md"
      }
    },
    "/comece-por-aqui": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /comece-por-aqui",
        "description": "Endpoint derivado da referência oficial (comece-por-aqui).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_comece-por-aqui_1255f7d5.md#comece-por-aqui`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_comece-por-aqui_1255f7d5.md#comece-por-aqui"
      }
    },
    "/v1/{account_id}/api_tokens.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/{account_id}/api_tokens.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_comece-por-aqui_1255f7d5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_comece-por-aqui_1255f7d5.md`)",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_comece-por-aqui_1255f7d5.md"
      }
    },
    "/v1/27016E1AD888499A98994E781B6C3762/api_tokens": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/27016E1AD888499A98994E781B6C3762/api_tokens",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_comece-por-aqui_1255f7d5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_comece-por-aqui_1255f7d5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_comece-por-aqui_1255f7d5.md"
      }
    },
    "/compartilhar-forma-de-pagamento": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /compartilhar-forma-de-pagamento",
        "description": "Endpoint derivado da referência oficial (compartilhar-forma-de-pagamento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md#compartilhar-forma-de-pagamento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md#compartilhar-forma-de-pagamento"
      }
    },
    "/v1/customers/{{customer_id}}/payment_methods": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/customers/{{customer_id}}/payment_methods",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md`)",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md"
      }
    },
    "/v1/customers/{{customer_id}}": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/customers/{{customer_id}}",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md`)",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md"
      }
    },
    "/v1/customers/94D77F4FA21E4A009398E32CA2231042": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/customers/94D77F4FA21E4A009398E32CA2231042",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_compartilhar-forma-de-pagamento_6d9f8c0f.md"
      }
    },
    "/configurar-subconta-por-api-copy": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /configurar-subconta-por-api-copy",
        "description": "Endpoint derivado da referência oficial (configurar-subconta-por-api-copy).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_configurar-subconta-por-api-copy_b2ab9a23.md#configurar-subconta-por-api-copy`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_configurar-subconta-por-api-copy_b2ab9a23.md#configurar-subconta-por-api-copy"
      }
    },
    "/v1/marketplace/create_account": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/marketplace/create_account",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_configurar-subconta-por-api-copy_b2ab9a23.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_configurar-subconta-por-api-copy_b2ab9a23.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_configurar-subconta-por-api-copy_b2ab9a23.md"
      }
    },
    "/v1/accounts/account_id/request_verification": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/accounts/account_id/request_verification",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_configurar-subconta-por-api-copy_b2ab9a23.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_configurar-subconta-por-api-copy_b2ab9a23.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_configurar-subconta-por-api-copy_b2ab9a23.md"
      }
    },
    "/configurar-subconta-por-api": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /configurar-subconta-por-api",
        "description": "Endpoint derivado da referência oficial (configurar-subconta-por-api).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_configurar-subconta-por-api_9e818b93.md#configurar-subconta-por-api`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_configurar-subconta-por-api_9e818b93.md#configurar-subconta-por-api"
      }
    },
    "/consultar-fatura-duplicada": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /consultar-fatura-duplicada",
        "description": "Endpoint derivado da referência oficial (consultar-fatura-duplicada).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_consultar-fatura-duplicada_8de87d7f.md#consultar-fatura-duplicada`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_consultar-fatura-duplicada_8de87d7f.md#consultar-fatura-duplicada"
      }
    },
    "/criar-cashback": {
      "post": {
        "tags": [
          "Iugu"
        ],
        "summary": "POST /criar-cashback",
        "description": "Endpoint derivado da referência oficial (criar-cashback).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_criar-cashback_951973b4.md#criar-cashback`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_criar-cashback_951973b4.md#criar-cashback"
      }
    },
    "/criar-verificar-e-configurar-subconta": {
      "post": {
        "tags": [
          "Iugu"
        ],
        "summary": "POST /criar-verificar-e-configurar-subconta",
        "description": "Endpoint derivado da referência oficial (criar-verificar-e-configurar-subconta).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md#criar-verificar-e-configurar-subconta`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md#criar-verificar-e-configurar-subconta"
      }
    },
    "/v1/marketplace/create_account.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/marketplace/create_account.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md"
      }
    },
    "/v1/accounts/{account_id}/request_verification.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/accounts/{account_id}/request_verification.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md`)",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md"
      }
    },
    "/v1/bank_verification.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/bank_verification.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md"
      }
    },
    "/v1/accounts/configuration": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/accounts/configuration",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md"
      }
    },
    "/v1/payments/pix:Shell": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/payments/pix:Shell",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md"
      }
    },
    "/v1/marketplace/deactivate.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/marketplace/deactivate.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md"
      }
    },
    "/v1/marketplace/deactivate": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/marketplace/deactivate",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_criar-verificar-e-configurar-subconta_a8553940.md"
      }
    },
    "/diferen": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /diferen",
        "description": "Endpoint derivado da referência oficial (diferen).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_diferen_a-entre-cobran_a-direta-e-fatura_7c9e1f3b.md#diferen`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_diferen_a-entre-cobran_a-direta-e-fatura_7c9e1f3b.md#diferen"
      }
    },
    "/e-mails-transacionais": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /e-mails-transacionais",
        "description": "Endpoint derivado da referência oficial (e-mails-transacionais).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_e-mails-transacionais_36f91a46.md#e-mails-transacionais`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_e-mails-transacionais_36f91a46.md#e-mails-transacionais"
      }
    },
    "/v1/emails/supported_emailspara": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/emails/supported_emailspara",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_e-mails-transacionais_36f91a46.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_e-mails-transacionais_36f91a46.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_e-mails-transacionais_36f91a46.md"
      }
    },
    "/v1/emails.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/emails.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_e-mails-transacionais_36f91a46.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_e-mails-transacionais_36f91a46.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_e-mails-transacionais_36f91a46.md"
      }
    },
    "/v1/emails": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/emails",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_e-mails-transacionais_36f91a46.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_e-mails-transacionais_36f91a46.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_e-mails-transacionais_36f91a46.md"
      }
    },
    "/v1/emails/{id}.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/emails/{id}.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_e-mails-transacionais_36f91a46.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_e-mails-transacionais_36f91a46.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_e-mails-transacionais_36f91a46.md"
      }
    },
    "/v1/emails/AB96E518FD9F48439D65B07A12E8D594": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/emails/AB96E518FD9F48439D65B07A12E8D594",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_e-mails-transacionais_36f91a46.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_e-mails-transacionais_36f91a46.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_e-mails-transacionais_36f91a46.md"
      }
    },
    "/faturas-1": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /faturas-1",
        "description": "Endpoint derivado da referência oficial (faturas-1).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_faturas-1_5a98b161.md#faturas-1`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_faturas-1_5a98b161.md#faturas-1"
      }
    },
    "/v1/public/invoice/c34c8435-ce0a-4f79-bfe5-020c9a7be2f3-5153/barcode": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/public/invoice/c34c8435-ce0a-4f79-bfe5-020c9a7be2f3-5153/barcode",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_faturas-1_5a98b161.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_faturas-1_5a98b161.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_faturas-1_5a98b161.md"
      }
    },
    "/v1/public/invoice/c34c8435-ce0a-4f79-bfe5-020c9a7be2f3-5153/bank_slip": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/public/invoice/c34c8435-ce0a-4f79-bfe5-020c9a7be2f3-5153/bank_slip",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_faturas-1_5a98b161.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_faturas-1_5a98b161.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_faturas-1_5a98b161.md"
      }
    },
    "/v2/C34C8435CE0A4F79BFE5020C9A7BE2F3520400005303986540530.005802BR5924KARTHEN": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v2/C34C8435CE0A4F79BFE5020C9A7BE2F3520400005303986540530.005802BR5924KARTHEN",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_faturas-1_5a98b161.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_faturas-1_5a98b161.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_faturas-1_5a98b161.md"
      }
    },
    "/v1/invoices/{id}Retorna": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/invoices/{id}Retorna",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_faturas-1_5a98b161.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_faturas-1_5a98b161.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_faturas-1_5a98b161.md"
      }
    },
    "/v1/public/invoice/16f7aa3d-2e0b-41e9-987b-1dc95b957456-d7a2/barcode": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/public/invoice/16f7aa3d-2e0b-41e9-987b-1dc95b957456-d7a2/barcode",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_faturas-1_5a98b161.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_faturas-1_5a98b161.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_faturas-1_5a98b161.md"
      }
    },
    "/v1/public/invoice/16f7aa3d-2e0b-41e9-987b-1dc95b957456-d7a2/bank_slip": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/public/invoice/16f7aa3d-2e0b-41e9-987b-1dc95b957456-d7a2/bank_slip",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_faturas-1_5a98b161.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_faturas-1_5a98b161.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_faturas-1_5a98b161.md"
      }
    },
    "/v2/16F7AA3D2E0B41E9987B1DC95B957456520400005303986540530.005802BR5925IUGU": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v2/16F7AA3D2E0B41E9987B1DC95B957456520400005303986540530.005802BR5925IUGU",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_faturas-1_5a98b161.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_faturas-1_5a98b161.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_faturas-1_5a98b161.md"
      }
    },
    "/gatilhos-antecipacao": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /gatilhos-antecipacao",
        "description": "Endpoint derivado da referência oficial (gatilhos-antecipacao).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_gatilhos-antecipacao_b0adef9c.md#gatilhos-antecipacao`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_gatilhos-antecipacao_b0adef9c.md#gatilhos-antecipacao"
      }
    },
    "/gatilhos-da-iugu": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /gatilhos-da-iugu",
        "description": "Endpoint derivado da referência oficial (gatilhos-da-iugu).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_gatilhos-da-iugu_db4df388.md#gatilhos-da-iugu`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_gatilhos-da-iugu_db4df388.md#gatilhos-da-iugu"
      }
    },
    "/v1/web_hooks.": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/web_hooks.",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_gatilhos-da-iugu_db4df388.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_gatilhos-da-iugu_db4df388.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_gatilhos-da-iugu_db4df388.md"
      }
    },
    "/listar-receb": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /listar-receb",
        "description": "Endpoint derivado da referência oficial (listar-receb).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_listar-receb_C3_ADveis_0652b33f.md#listar-receb`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_listar-receb_C3_ADveis_0652b33f.md#listar-receb"
      }
    },
    "/v1/financial_transaction_requests": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/financial_transaction_requests",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_listar-receb_C3_ADveis_0652b33f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_listar-receb_C3_ADveis_0652b33f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_listar-receb_C3_ADveis_0652b33f.md"
      }
    },
    "/marketplace": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /marketplace",
        "description": "Endpoint derivado da referência oficial (marketplace).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_marketplace_dbe8b693.md#marketplace`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_marketplace_dbe8b693.md#marketplace"
      }
    },
    "/multa-em-valor-fixo": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /multa-em-valor-fixo",
        "description": "Endpoint derivado da referência oficial (multa-em-valor-fixo).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_multa-em-valor-fixo_aa9ebdc3.md#multa-em-valor-fixo`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_multa-em-valor-fixo_aa9ebdc3.md#multa-em-valor-fixo"
      }
    },
    "/notifica": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /notifica",
        "description": "Endpoint derivado da referência oficial (notifica).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_notifica_es_14e7feba.md#notifica`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_notifica_es_14e7feba.md#notifica"
      }
    },
    "/v1/web_hook_logs/{{web_hook_log_id}}": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/web_hook_logs/{{web_hook_log_id}}",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_notifica_es_14e7feba.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_notifica_es_14e7feba.md`)",
        "parameters": [
          {
            "name": "web_hook_log_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_notifica_es_14e7feba.md"
      }
    },
    "/v1/web_hook_logs/{{web_hook_log_id}}/retry": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/web_hook_logs/{{web_hook_log_id}}/retry",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_notifica_es_14e7feba.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_notifica_es_14e7feba.md`)",
        "parameters": [
          {
            "name": "web_hook_log_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_notifica_es_14e7feba.md"
      }
    },
    "/v1/web_hooks/resend": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/web_hooks/resend",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_notifica_es_14e7feba.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_notifica_es_14e7feba.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_notifica_es_14e7feba.md"
      }
    },
    "/pagamento-de-conta-via-api": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /pagamento-de-conta-via-api",
        "description": "Endpoint derivado da referência oficial (pagamento-de-conta-via-api).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_pagamento-de-conta-via-api_f1a6e55f.md#pagamento-de-conta-via-api`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_pagamento-de-conta-via-api_f1a6e55f.md#pagamento-de-conta-via-api"
      }
    },
    "/v1/payment_requests": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/payment_requests",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_pagamento-de-conta-via-api_f1a6e55f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_pagamento-de-conta-via-api_f1a6e55f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_pagamento-de-conta-via-api_f1a6e55f.md"
      }
    },
    "/parceiro-e-commerce": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /parceiro-e-commerce",
        "description": "Endpoint derivado da referência oficial (parceiro-e-commerce).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_parceiro-e-commerce_e8f4f999.md#parceiro-e-commerce`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_parceiro-e-commerce_e8f4f999.md#parceiro-e-commerce"
      }
    },
    "/realizar-antecipa": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /realizar-antecipa",
        "description": "Endpoint derivado da referência oficial (realizar-antecipa).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_realizar-antecipa_C3_A7_C3_A3o-de-parcelas-via-api_cb3f4991.md#realizar-antecipa`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-antecipa_C3_A7_C3_A3o-de-parcelas-via-api_cb3f4991.md#realizar-antecipa"
      }
    },
    "/v1/financial_transaction_requests/advance_simulation": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/financial_transaction_requests/advance_simulation",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_realizar-antecipa_C3_A7_C3_A3o-de-parcelas-via-api_cb3f4991.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_realizar-antecipa_C3_A7_C3_A3o-de-parcelas-via-api_cb3f4991.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-antecipa_C3_A7_C3_A3o-de-parcelas-via-api_cb3f4991.md"
      }
    },
    "/v1/financial_transaction_requests/advance": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/financial_transaction_requests/advance",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_realizar-antecipa_C3_A7_C3_A3o-de-parcelas-via-api_cb3f4991.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_realizar-antecipa_C3_A7_C3_A3o-de-parcelas-via-api_cb3f4991.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-antecipa_C3_A7_C3_A3o-de-parcelas-via-api_cb3f4991.md"
      }
    },
    "/realizar-cobran": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /realizar-cobran",
        "description": "Endpoint derivado da referência oficial (realizar-cobran).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_realizar-cobran_a-com-pix-por-api_da3ce9bb.md#realizar-cobran`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-cobran_a-com-pix-por-api_da3ce9bb.md#realizar-cobran"
      }
    },
    "/v1/customers/7112C74C949A4195805265251C76ACF6/payment_methods": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/customers/7112C74C949A4195805265251C76ACF6/payment_methods",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_realizar-cobran_as-recorrentes-por-api_2e1e89de.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_realizar-cobran_as-recorrentes-por-api_2e1e89de.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-cobran_as-recorrentes-por-api_2e1e89de.md"
      }
    },
    "/realizar-o-reembolso-de-faturas-estorno-por-api": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /realizar-o-reembolso-de-faturas-estorno-por-api",
        "description": "Endpoint derivado da referência oficial (realizar-o-reembolso-de-faturas-estorno-por-api).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_realizar-o-reembolso-de-faturas-estorno-por-api_fd20929e.md#realizar-o-reembolso-de-faturas-estorno-por-api`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-o-reembolso-de-faturas-estorno-por-api_fd20929e.md#realizar-o-reembolso-de-faturas-estorno-por-api"
      }
    },
    "/v1/invoices/{{invoice_id}}/refund": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/invoices/{{invoice_id}}/refund",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_realizar-o-reembolso-de-faturas-estorno-por-api_fd20929e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_realizar-o-reembolso-de-faturas-estorno-por-api_fd20929e.md`)",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-o-reembolso-de-faturas-estorno-por-api_fd20929e.md"
      }
    },
    "/v1/invoices/id/refund": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/invoices/id/refund",
        "description": "Endpoint extraído da documentação (dev_iugu_com_docs_realizar-o-reembolso-de-faturas-estorno-por-api_fd20929e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`dev_iugu_com_docs_realizar-o-reembolso-de-faturas-estorno-por-api_fd20929e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-o-reembolso-de-faturas-estorno-por-api_fd20929e.md"
      }
    },
    "/realizar-uma-cobran": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /realizar-uma-cobran",
        "description": "Endpoint derivado da referência oficial (realizar-uma-cobran).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_realizar-uma-cobran_a-simples-no-cart_o-de-cr_dito-por-api_d8805c60.md#realizar-uma-cobran`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-uma-cobran_a-simples-no-cart_o-de-cr_dito-por-api_d8805c60.md#realizar-uma-cobran"
      }
    },
    "/realizar-upgrade-de-plano-sem-cobrar-pro-rata-e-permitir-parcelamento": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /realizar-upgrade-de-plano-sem-cobrar-pro-rata-e-permitir-parcelamento",
        "description": "Endpoint derivado da referência oficial (realizar-upgrade-de-plano-sem-cobrar-pro-rata-e-permitir-parcelamento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_realizar-upgrade-de-plano-sem-cobrar-pro-rata-e-permitir-parce_3d38a4a4.md#realizar-upgrade-de-plano-sem-cobrar-pro-rata-e-permitir-parcelamento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_realizar-upgrade-de-plano-sem-cobrar-pro-rata-e-permitir-parce_3d38a4a4.md#realizar-upgrade-de-plano-sem-cobrar-pro-rata-e-permitir-parcelamento"
      }
    },
    "/recorrencia": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /recorrencia",
        "description": "Endpoint derivado da referência oficial (recorrencia).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_recorrencia_317fcf13.md#recorrencia`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_recorrencia_317fcf13.md#recorrencia"
      }
    },
    "/recursos-extras-cobran": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /recursos-extras-cobran",
        "description": "Endpoint derivado da referência oficial (recursos-extras-cobran).\n\n---\n📍 **Origem:** Página de Referência Técnica (`dev_iugu_com_docs_recursos-extras-cobran_a-recorrente-assinaturas_d078dd02.md#recursos-extras-cobran`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "dev_iugu_com_docs_recursos-extras-cobran_a-recorrente-assinaturas_d078dd02.md#recursos-extras-cobran"
      }
    },
    "/v1/subscriptions/B3F2FE4AA10A433ABB5A1B11C5882C00": {
      "get": {
        "tags": [
          "Iugu"
        ],
        "summary": "GET /v1/subscriptions/B3F2FE4AA10A433ABB5A1B11C5882C00",
[...]
