{
  "openapi": "3.0.3",
  "info": {
    "title": "DocuSign eSignature Enterprise REST API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack docusign.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.docusign.net/restapi/v2.1"
    }
  ],
  "paths": {
    "/v3/graphql": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /v3/graphql",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_7dcc77f5-ed823aada6dd46f42db5_js_0954ecdf.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_7dcc77f5-ed823aada6dd46f42db5_js_0954ecdf.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_7dcc77f5-ed823aada6dd46f42db5_js_0954ecdf.json"
      }
    },
    "/developers.do": {
      "post": {
        "tags": [
          "Docusign"
        ],
        "summary": "POST //developers.do",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (bundle_routes_developers_docusign_com_7dcc77f5-ed823aada6dd46f42db5_js_0954ecdf.json).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`bundle_routes_developers_docusign_com_7dcc77f5-ed823aada6dd46f42db5_js_0954ecdf.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_7dcc77f5-ed823aada6dd46f42db5_js_0954ecdf.json"
      }
    },
    "/api/access-token": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/access-token",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/api-explorer": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/api-explorer",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/applications": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/applications",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/bingsearch": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/bingsearch",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/blog-posts": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/blog-posts",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/client-otel-metrics": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/client-otel-metrics",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/codeload": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/codeload",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/eloqua": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/eloqua",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/keys": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/keys",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/opensource-manifest": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/opensource-manifest",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/opensource-repositories": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/opensource-repositories",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/responses": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/responses",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/search-result-click": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/search-result-click",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/secrets": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/secrets",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/signal": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/signal",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/user": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/user",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/user/settings": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/user/settings",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/api/v1/TelemetryWrapper": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /api/v1/TelemetryWrapper",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/swaggerfile": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /swaggerfile",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    },
    "/v1/TelemetryWrapper": {
      "get": {
        "tags": [
          "Docusign"
        ],
        "summary": "GET /v1/TelemetryWrapper",
        "description": "Endpoint extraído da documentação (bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "bundle_routes_developers_docusign_com_app-a515856527b52e79757e_js_478114af.json"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}