{
  "openapi": "3.0.3",
  "info": {
    "title": "Monday.com Work OS & Project Management GraphQL API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack monday.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.monday.com/v2"
    }
  ],
  "paths": {
    "/v2/file": {
      "get": {
        "tags": [
          "Monday"
        ],
        "summary": "GET /v2/file",
        "description": "Endpoint extraído da documentação (developer-community_monday_com_general-3_sort_views_960fca92.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer-community_monday_com_general-3_sort_views_960fca92.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer-community_monday_com_general-3_sort_views_960fca92.md"
      }
    },
    "/v2": {
      "post": {
        "tags": [
          "Monday"
        ],
        "summary": "POST /v2",
        "description": "Endpoint extraído da documentação (developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md"
      }
    },
    "/signup-logic/agent-captcha/challenge/v1": {
      "post": {
        "tags": [
          "Monday"
        ],
        "summary": "POST /signup-logic/agent-captcha/challenge/v1",
        "description": "Endpoint extraído da documentação (developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md"
      }
    },
    "/signup-logic/agent-captcha/verify/v1": {
      "post": {
        "tags": [
          "Monday"
        ],
        "summary": "POST /signup-logic/agent-captcha/verify/v1",
        "description": "Endpoint extraído da documentação (developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md"
      }
    },
    "/signup-logic/agent-signup/account/v1": {
      "post": {
        "tags": [
          "Monday"
        ],
        "summary": "POST /signup-logic/agent-signup/account/v1",
        "description": "Endpoint extraído da documentação (developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md"
      }
    },
    "/data-mo": {
      "delete": {
        "tags": [
          "Monday"
        ],
        "summary": "DELETE /data-mo",
        "description": "Endpoint extraído do índice de navegação (Data mo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md"
      }
    },
    "/security-mo": {
      "delete": {
        "tags": [
          "Monday"
        ],
        "summary": "DELETE /security-mo",
        "description": "Endpoint extraído do índice de navegação (Security mo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md"
      }
    },
    "/mcp": {
      "get": {
        "tags": [
          "Monday"
        ],
        "summary": "GET /mcp",
        "description": "Endpoint extraído por declaração de rota (developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "developer_monday_com_api-reference_docs_build-on-monday-with-ai_92493fa1.md"
      }
    },
    "/monday": {
      "get": {
        "tags": [
          "Monday"
        ],
        "summary": "GET /monday",
        "description": "Endpoint extraído do índice de navegação (monday.).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`developer_monday_com_apps_docs_oauth_ccbfc76c.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "developer_monday_com_apps_docs_oauth_ccbfc76c.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "ApiKey_token": {
        "type": "apiKey",
        "in": "header",
        "name": "token",
        "description": "Chave de API enviada no cabeçalho token."
      },
      "ApiKey_Token": {
        "type": "apiKey",
        "in": "header",
        "name": "Token",
        "description": "Chave de API enviada no cabeçalho Token."
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "Autenticação padrão OAuth 2.0 (Authorization Code / Client Credentials).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dominio.com/oauth/authorize",
            "tokenUrl": "https://api.dominio.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKey_token": []
    }
  ],
  "webhooks": {
    "item_deleted": {
      "description": "Notificação de webhook disparada no evento 'item_deleted'. Validação via cabeçalho HMAC (SIGNING_SECRET).",
      "post": {
        "summary": "Evento de Webhook: item_deleted",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "item_deleted"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "subitem_deleted": {
      "description": "Notificação de webhook disparada no evento 'subitem_deleted'. Validação via cabeçalho HMAC (SIGNING_SECRET).",
      "post": {
        "summary": "Evento de Webhook: subitem_deleted",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "subitem_deleted"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  },
  "x-webhooks": {
    "item_deleted": {
      "description": "Notificação de webhook disparada no evento 'item_deleted'. Validação via cabeçalho HMAC (SIGNING_SECRET).",
      "post": {
        "summary": "Evento de Webhook: item_deleted",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "item_deleted"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    },
    "subitem_deleted": {
      "description": "Notificação de webhook disparada no evento 'subitem_deleted'. Validação via cabeçalho HMAC (SIGNING_SECRET).",
      "post": {
        "summary": "Evento de Webhook: subitem_deleted",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "subitem_deleted"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  },
  "x-ratelimit": {
    "quotas": [],
    "headers": [
      "Retry-After"
    ],
    "status_code": 429,
    "description": "Taxa de requisições limitada. Quotas documentadas: Consulte os headers. Em caso de excesso, a API retorna HTTP 429."
  },
  "x-idempotency": {
    "supported": true,
    "headers": [
      "x-request-id",
      "X-Request-Id"
    ]
  },
  "x-retry-policy": {
    "exponential_backoff": true,
    "retryable_status_codes": [
      429,
      500,
      502,
      503,
      504
    ]
  }
}