{
  "openapi": "3.0.3",
  "info": {
    "title": "Twilio Communications (SMS, Voz, WhatsApp) API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack twilio.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.twilio.com/2010-04-01"
    }
  ],
  "paths": {
    "/2010-04-01/Accounts/{AccountSid}/Messages.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Messages.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Messages.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md"
      }
    },
    "/ai": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /ai",
        "description": "Endpoint derivado da referência oficial (ai).\n\n---\n📍 **Origem:** Página de Referência Técnica (`www_twilio_com_docs_ai_e78135c8.md#ai`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "www_twilio_com_docs_ai_e78135c8.md#ai"
      }
    },
    "/Messages.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /Messages.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_ai_e78135c8.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_ai_e78135c8.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_ai_e78135c8.md"
      }
    },
    "/api": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /api",
        "description": "Endpoint derivado da referência oficial (api).\n\n---\n📍 **Origem:** Página de Referência Técnica (`www_twilio_com_docs_api_errors_fe4488d6.md#api`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "www_twilio_com_docs_api_errors_fe4488d6.md#api"
      }
    },
    "/api/errors": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /api/errors",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_api_errors_fe4488d6.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_api_errors_fe4488d6.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_api_errors_fe4488d6.md"
      }
    },
    "/v3/ControlPlane/Operators": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /v3/ControlPlane/Operators",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_conversations_intelligence_b6fe416f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_conversations_intelligence_b6fe416f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_conversations_intelligence_b6fe416f.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /v3/ControlPlane/Operators",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_conversations_intelligence_b6fe416f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_conversations_intelligence_b6fe416f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_conversations_intelligence_b6fe416f.md"
      }
    },
    "/conversations": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /conversations",
        "description": "Endpoint derivado da referência oficial (conversations).\n\n---\n📍 **Origem:** Página de Referência Técnica (`www_twilio_com_docs_conversations_intelligence_b6fe416f.md#conversations`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "www_twilio_com_docs_conversations_intelligence_b6fe416f.md#conversations"
      }
    },
    "/data-mo": {
      "delete": {
        "tags": [
          "Twilio"
        ],
        "summary": "DELETE /data-mo",
        "description": "Endpoint extraído do índice de navegação (Data mo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`www_twilio_com_docs_conversations_intelligence_b6fe416f.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "www_twilio_com_docs_conversations_intelligence_b6fe416f.md"
      }
    },
    "/v2/Conversations": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /v2/Conversations",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_conversations_orchestrator_b27a376e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_conversations_orchestrator_b27a376e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_conversations_orchestrator_b27a376e.md"
      }
    },
    "/email": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /email",
        "description": "Endpoint derivado da referência oficial (email).\n\n---\n📍 **Origem:** Página de Referência Técnica (`www_twilio_com_docs_email_b637776e.md#email`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "www_twilio_com_docs_email_b637776e.md#email"
      }
    },
    "/v1/Emails": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /v1/Emails",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_email_b637776e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_email_b637776e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_email_b637776e.md"
      }
    },
    "/glossary": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /glossary",
        "description": "Endpoint derivado da referência oficial (glossary).\n\n---\n📍 **Origem:** Página de Referência Técnica (`www_twilio_com_docs_glossary_74fe5886.md#glossary`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "www_twilio_com_docs_glossary_74fe5886.md#glossary"
      }
    },
    "/v1/Keys": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /v1/Keys",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /v1/Keys",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md"
      }
    },
    "/v1/Keys/{Sid}": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /v1/Keys/{Sid}",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md`)",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md"
      },
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /v1/Keys/{Sid}",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md`)",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md"
      },
      "delete": {
        "tags": [
          "Twilio"
        ],
        "summary": "DELETE /v1/Keys/{Sid}",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md`)",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md"
      }
    },
    "/iam": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /iam",
        "description": "Endpoint derivado da referência oficial (iam).\n\n---\n📍 **Origem:** Página de Referência Técnica (`www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md#iam`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v1_ca10a724.md#iam"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Keys.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Keys.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/{AccountSid}/Keys.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md`)",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Keys/{Sid}.json": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/{AccountSid}/Keys/{Sid}.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md`)",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md"
      },
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/{AccountSid}/Keys/{Sid}.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md`)",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md"
      },
      "delete": {
        "tags": [
          "Twilio"
        ],
        "summary": "DELETE /2010-04-01/Accounts/{AccountSid}/Keys/{Sid}.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md`)",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md"
      }
    },
    "/Keys.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /Keys.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api-keys_key-resource-v2010_23ccc374.md"
      }
    },
    "/2010-04-01/Accounts.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{Sid}.json": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/{Sid}.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      },
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/{Sid}.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [
          {
            "name": "Sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AvailablePhoneNumbers.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md`)",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Conferences.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Conferences.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/IncomingPhoneNumbers.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/{AccountSid}/IncomingPhoneNumbers.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_phone-numbers_api_incomingphonenumber-resource_4541fd1f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_phone-numbers_api_incomingphonenumber-resource_4541fd1f.md`)",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_incomingphonenumber-resource_4541fd1f.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/{AccountSid}/IncomingPhoneNumbers.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_phone-numbers_api_incomingphonenumber-resource_4541fd1f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_phone-numbers_api_incomingphonenumber-resource_4541fd1f.md`)",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_incomingphonenumber-resource_4541fd1f.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Notifications.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Notifications.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/OutgoingCallerIds.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/OutgoingCallerIds.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Recordings.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Recordings.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Transcriptions.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Transcriptions.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Addresses.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACbC8dB063DcfAe78a6D0cfEb09e0c7c7a/Addresses.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/ACbC8dB063DcfAe78a6D0cfEb09e0c7c7a/Addresses.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/SigningKeys.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SigningKeys.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/ConnectApps.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/ConnectApps.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/SIP.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SIP.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AuthorizedConnectApps.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Usage.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Usage.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Applications.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Applications.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/SMS/ShortCodes.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SMS/ShortCodes.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Queues.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Queues.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Balance.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Balance.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (dom_state_www_twilio_com_docs_iam_api_account_08c0100b.json).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`dom_state_www_twilio_com_docs_iam_api_account_08c0100b.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "dom_state_www_twilio_com_docs_iam_api_account_08c0100b.json"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/ACF5ce8F97eb3E0270a856d8539e61DAE5.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md"
      }
    },
    "/api/account": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /api/account",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_account_08c0100b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_iam_api_account_08c0100b.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_account_08c0100b.md"
      }
    },
    "/v1/AuthTokens/Promote": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /v1/AuthTokens/Promote",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_authtoken_8877f0f5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api_authtoken_8877f0f5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_authtoken_8877f0f5.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /v1/AuthTokens/Promote",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_authtoken_8877f0f5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_iam_api_authtoken_8877f0f5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_authtoken_8877f0f5.md"
      }
    },
    "/api/authtoken": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /api/authtoken",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_authtoken_8877f0f5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_iam_api_authtoken_8877f0f5.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_authtoken_8877f0f5.md"
      }
    },
    "/v1/AuthTokens/Secondary": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /v1/AuthTokens/Secondary",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md"
      },
      "delete": {
        "tags": [
          "Twilio"
        ],
        "summary": "DELETE /v1/AuthTokens/Secondary",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md"
      },
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /v1/AuthTokens/Secondary",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md"
      }
    },
    "/api/secondary_authtoken": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /api/secondary_authtoken",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_secondary_authtoken_fcc17ae2.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Notifications.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Notifications.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Recordings.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Recordings.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Payments.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Payments.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Events.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Events.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Siprec.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Siprec.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Streams.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Streams.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Transcriptions.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Transcriptions.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/UserDefinedMessageSubscriptions.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/UserDefinedMessageSubscriptions.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/UserDefinedMessages.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/UserDefinedMessages.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Messages/SMaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Media.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Messages/SMaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Media.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Messages/SMaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Messages/SMaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Notifications.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Notifications.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Recordings.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Recordings.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Payments.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Payments.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Events.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Events.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Siprec.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Siprec.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Streams.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Streams.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Transcriptions.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/Transcriptions.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/UserDefinedMessageSubscriptions.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/UserDefinedMessageSubscriptions.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/UserDefinedMessages.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0/UserDefinedMessages.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls/CAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa0.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/IncomingPhoneNumbers/PNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/AC00000000000000000000000000000002/IncomingPhoneNumbers/PNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/api/subaccounts": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /api/subaccounts",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/message": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /message",
        "description": "Endpoint extraído por declaração de rota (www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "www_twilio_com_docs_iam_api_subaccounts_2c8aa110.md"
      }
    },
    "/2010-04-01/Accounts/{TestAccountSid}/IncomingPhoneNumbers": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/{TestAccountSid}/IncomingPhoneNumbers",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_test-credentials_8870c4f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_test-credentials_8870c4f1.md`)",
        "parameters": [
          {
            "name": "TestAccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_test-credentials_8870c4f1.md"
      }
    },
    "/2010-04-01/Accounts/{TestAccountSid}/Messages": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/{TestAccountSid}/Messages",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_test-credentials_8870c4f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_test-credentials_8870c4f1.md`)",
        "parameters": [
          {
            "name": "TestAccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_test-credentials_8870c4f1.md"
      }
    },
    "/2010-04-01/Accounts/{TestAccountSid}/Calls": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/{TestAccountSid}/Calls",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_test-credentials_8870c4f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_test-credentials_8870c4f1.md`)",
        "parameters": [
          {
            "name": "TestAccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_test-credentials_8870c4f1.md"
      }
    },
    "/v2/PhoneNumbers/{PhoneNumber}": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /v2/PhoneNumbers/{PhoneNumber}",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_iam_test-credentials_8870c4f1.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_iam_test-credentials_8870c4f1.md`)",
        "parameters": [
          {
            "name": "PhoneNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_iam_test-credentials_8870c4f1.md"
      }
    },
    "/magic-in": {
      "put": {
        "tags": [
          "Twilio"
        ],
        "summary": "PUT /magic-in",
        "description": "Endpoint extraído do índice de navegação (Magic in).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`www_twilio_com_docs_iam_test-credentials_8870c4f1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "www_twilio_com_docs_iam_test-credentials_8870c4f1.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/IncomingPhoneNumbers/PNaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/IncomingPhoneNumbers/PNaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_iam_test-credentials_8870c4f1.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_iam_test-credentials_8870c4f1.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_iam_test-credentials_8870c4f1.md"
      }
    },
    "/v2/PhoneNumbers": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /v2/PhoneNumbers",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_lookup_quickstart_4d35cade.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_lookup_quickstart_4d35cade.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_lookup_quickstart_4d35cade.md"
      }
    },
    "/lookup": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /lookup",
        "description": "Endpoint derivado da referência oficial (lookup).\n\n---\n📍 **Origem:** Página de Referência Técnica (`www_twilio_com_docs_lookup_quickstart_4d35cade.md#lookup`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "www_twilio_com_docs_lookup_quickstart_4d35cade.md#lookup"
      }
    },
    "/openapi": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /openapi",
        "description": "Endpoint derivado da referência oficial (openapi).\n\n---\n📍 **Origem:** Página de Referência Técnica (`www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md#openapi`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md#openapi"
      }
    },
    "/twilio/twilio-oai/main/spec/json/twilio_api_v2010.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /twilio/twilio-oai/main/spec/json/twilio_api_v2010.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md"
      }
    },
    "/2010-04-01/Accounts/MockSID/Messages.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/MockSID/Messages.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_openapi_mock-api-generation-with-twilio-openapi-spec_43428ec0.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Mobile.json": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Mobile.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md`)",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md"
      }
    },
    "/phone-numbers": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /phone-numbers",
        "description": "Endpoint derivado da referência oficial (phone-numbers).\n\n---\n📍 **Origem:** Página de Referência Técnica (`www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md#phone-numbers`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md#phone-numbers"
      }
    },
    "/Mobile.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /Mobile.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md"
      }
    },
    "/api/availablephonenumber-mobile-resource": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /api/availablephonenumber-mobile-resource",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_availablephonenumber-mobile-resource_e0a39875.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json": {
      "get": {
        "tags": [
          "Twilio"
        ],
        "summary": "GET /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json",
        "description": "Endpoint extraído da documentação (www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md`)",
        "parameters": [
          {
            "name": "AccountSid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/US/Local.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AvailablePhoneNumbers/US/Local.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/US/TollFree.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AvailablePhoneNumbers/US/TollFree.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md"
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/US.json": {
      "post": {
        "tags": [
          "Twilio"
        ],
        "summary": "POST /2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AvailablePhoneNumbers/US.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`www_twilio_com_docs_phone-numbers_api_availablephonenumber-resource_cdb008ef.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
[...]
