{
  "openapi": "3.0.3",
  "info": {
    "title": "Magalu Marketplace Open API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack magalu.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.magalu.com"
    }
  ],
  "paths": {
    "/v1/orders": {
      "get": {
        "tags": [
          "Magalu"
        ],
        "summary": "GET /v1/orders",
        "description": "Endpoint extraído da documentação (developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md"
      }
    },
    "/foo/bar": {
      "get": {
        "tags": [
          "Magalu"
        ],
        "summary": "GET /foo/bar",
        "description": "Endpoint extraído da documentação (developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md"
      }
    },
    "/development-guide": {
      "get": {
        "tags": [
          "Magalu"
        ],
        "summary": "GET /development-guide",
        "description": "Endpoint derivado da referência oficial (development-guide).\n\n---\n📍 **Origem:** Página de Referência Técnica (`developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md#development-guide`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md#development-guide"
      }
    },
    "/v1/financial-analysis/transactions": {
      "get": {
        "tags": [
          "Magalu"
        ],
        "summary": "GET /v1/financial-analysis/transactions",
        "description": "Endpoint extraído da documentação (developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_magalu_com_docs_development-guide_pagination-filtering-sorting_378d0b56.md"
      }
    },
    "/v0/orders": {
      "get": {
        "tags": [
          "Magalu"
        ],
        "summary": "GET /v0/orders",
        "description": "Endpoint extraído da documentação (developers_magalu_com_docs_development-guide_request-identifier-x-request-id_a3f27432.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_magalu_com_docs_development-guide_request-identifier-x-request-id_a3f27432.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_magalu_com_docs_development-guide_request-identifier-x-request-id_a3f27432.md"
      }
    },
    "/v0/onboarding/signup": {
      "put": {
        "tags": [
          "Magalu"
        ],
        "summary": "PUT /v0/onboarding/signup",
        "description": "Endpoint extraído da documentação (developers_magalu_com_docs_development-guide_webhooks_4590e87e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_magalu_com_docs_development-guide_webhooks_4590e87e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_magalu_com_docs_development-guide_webhooks_4590e87e.md"
      }
    },
    "/v1/onboarding/signup": {
      "put": {
        "tags": [
          "Magalu"
        ],
        "summary": "PUT /v1/onboarding/signup",
        "description": "Endpoint extraído da documentação (developers_magalu_com_docs_development-guide_webhooks_4590e87e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developers_magalu_com_docs_development-guide_webhooks_4590e87e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developers_magalu_com_docs_development-guide_webhooks_4590e87e.md"
      }
    },
    "/v0/tickets/{uuid}": {
      "get": {
        "tags": [
          "Magalu"
        ],
        "summary": "GET /v0/tickets/debde69a-2dbb-427b-b478-6cffd7930ecf",
        "description": "Endpoint extraído da documentação (developers_magalu_com_docs_development-guide_webhooks_4590e87e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_magalu_com_docs_development-guide_webhooks_4590e87e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_magalu_com_docs_development-guide_webhooks_4590e87e.md"
      }
    },
    "/first-steps": {
      "get": {
        "tags": [
          "Magalu"
        ],
        "summary": "GET /first-steps",
        "description": "Endpoint derivado da referência oficial (first-steps).\n\n---\n📍 **Origem:** Página de Referência Técnica (`developers_magalu_com_docs_first-steps_create-an-application_authentication-auth_08b75d31.md#first-steps`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "developers_magalu_com_docs_first-steps_create-an-application_authentication-auth_08b75d31.md#first-steps"
      }
    },
    "/oauth/token": {
      "get": {
        "tags": [
          "Magalu"
        ],
        "summary": "GET /oauth/token",
        "description": "Endpoint extraído da documentação (developers_magalu_com_docs_first-steps_create-an-application_authentication-auth_08b75d31.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_magalu_com_docs_first-steps_create-an-application_authentication-auth_08b75d31.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_magalu_com_docs_first-steps_create-an-application_authentication-auth_08b75d31.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "ApiKey_token": {
        "type": "apiKey",
        "in": "header",
        "name": "token",
        "description": "Chave de API enviada no cabeçalho token."
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "Autenticação padrão OAuth 2.0 (Authorization Code / Client Credentials).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dominio.com/oauth/authorize",
            "tokenUrl": "https://api.dominio.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKey_token": []
    }
  ],
  "x-idempotency": {
    "supported": true,
    "headers": [
      "x-request-id",
      "X-Request-ID",
      "X-Request-Id"
    ]
  },
  "x-retry-policy": {
    "exponential_backoff": false,
    "retryable_status_codes": [
      429,
      500,
      502,
      503,
      504
    ]
  }
}