{
  "openapi": "3.0.3",
  "info": {
    "title": "D4Sign Assinatura Digital & Biometria Facial API v1",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack d4sign.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://secure.d4sign.com.br/api/v1"
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /api/v1",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_6a196955.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docapi_d4sign_com_br_6a196955.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docapi_d4sign_com_br_6a196955.md"
      }
    },
    "/cadastrar-webhook-em-um-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /cadastrar-webhook-em-um-documento",
        "description": "Endpoint derivado da referência oficial (cadastrar-webhook-em-um-documento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_cadastrar-webhook-em-um-documento_55d32362.md#cadastrar-webhook-em-um-documento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_cadastrar-webhook-em-um-documento_55d32362.md#cadastrar-webhook-em-um-documento"
      }
    },
    "/api/v1/safes": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /api/v1/safes",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_cadastrar-webhook-em-um-documento_55d32362.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docapi_d4sign_com_br_docs_cadastrar-webhook-em-um-documento_55d32362.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_cadastrar-webhook-em-um-documento_55d32362.md"
      }
    },
    "/webhooks/v2": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /webhooks/v2",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_cadastrar-webhook-em-um-documento_55d32362.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docapi_d4sign_com_br_docs_cadastrar-webhook-em-um-documento_55d32362.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_cadastrar-webhook-em-um-documento_55d32362.md"
      }
    },
    "/como-realizar-implementa": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /como-realizar-implementa",
        "description": "Endpoint derivado da referência oficial (como-realizar-implementa).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_como-realizar-implementa_C3_A7_C3_A3o-na-d4sign_3b01c658.md#como-realizar-implementa`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_como-realizar-implementa_C3_A7_C3_A3o-na-d4sign_3b01c658.md#como-realizar-implementa"
      }
    },
    "/ws/{id}/05/identity/claims/emailaddress": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /ws/{id}/05/identity/claims/emailaddress",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_como-realizar-implementa_C3_A7_C3_A3o-na-d4sign_3b01c658.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docapi_d4sign_com_br_docs_como-realizar-implementa_C3_A7_C3_A3o-na-d4sign_3b01c658.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_como-realizar-implementa_C3_A7_C3_A3o-na-d4sign_3b01c658.md"
      }
    },
    "/ws/{id}/06/identity/claims/groups": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /ws/{id}/06/identity/claims/groups",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_como-realizar-implementa_C3_A7_C3_A3o-na-d4sign_3b01c658.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docapi_d4sign_com_br_docs_como-realizar-implementa_C3_A7_C3_A3o-na-d4sign_3b01c658.md`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_como-realizar-implementa_C3_A7_C3_A3o-na-d4sign_3b01c658.md"
      }
    },
    "/documents/{UUID-DOCUMENT}/list": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /documents/{UUID-DOCUMENT}/list",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-1_5517635d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-1_5517635d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-1_5517635d.md"
      }
    },
    "/groups/{UUID-SAFE}": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /groups/{UUID-SAFE}",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-1_5517635d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-1_5517635d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-1_5517635d.md"
      }
    },
    "/endpoints-1": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /endpoints-1",
        "description": "Endpoint derivado da referência oficial (endpoints-1).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_endpoints-1_5517635d.md#endpoints-1`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-1_5517635d.md#endpoints-1"
      }
    },
    "/templates/upload": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /templates/upload",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-2_015b374d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-2_015b374d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-2_015b374d.md"
      }
    },
    "/documents/{UUID-DOCUMENT}": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /documents/{UUID-DOCUMENT}",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-2_015b374d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-2_015b374d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-2_015b374d.md"
      }
    },
    "/documents/{UUID-DOCUMENT}/dimensions": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /documents/{UUID-DOCUMENT}/dimensions",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-2_015b374d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-2_015b374d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-2_015b374d.md"
      }
    },
    "/documents/{ID-FASE}/status": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /documents/{ID-FASE}/status",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-2_015b374d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-2_015b374d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-2_015b374d.md"
      }
    },
    "/documents/{UUID-SAFE}/upload": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /documents/{UUID-SAFE}/upload",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-2_015b374d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-2_015b374d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-2_015b374d.md"
      }
    },
    "/documents/{UUID-SAFE}/uploadbigfile": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /documents/{UUID-SAFE}/uploadbigfile",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-2_015b374d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-2_015b374d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-2_015b374d.md"
      }
    },
    "/documents/{uuid_documento}/powerformresponses": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /documents/{uuid_documento}/powerformresponses",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-2_015b374d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-2_015b374d.md`)",
        "parameters": [
          {
            "name": "uuid_documento",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-2_015b374d.md"
      }
    },
    "/endpoints-2": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /endpoints-2",
        "description": "Endpoint derivado da referência oficial (endpoints-2).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_endpoints-2_015b374d.md#endpoints-2`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-2_015b374d.md#endpoints-2"
      }
    },
    "/tags/{UUID-DOCUMENTO}": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /tags/{UUID-DOCUMENTO}",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-3_a416068a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints-3_a416068a.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-3_a416068a.md"
      }
    },
    "/endpoints-3": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /endpoints-3",
        "description": "Endpoint derivado da referência oficial (endpoints-3).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_endpoints-3_a416068a.md#endpoints-3`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-3_a416068a.md#endpoints-3"
      }
    },
    "/api/v1/users/list": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /api/v1/users/list",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints-3_a416068a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docapi_d4sign_com_br_docs_endpoints-3_a416068a.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-3_a416068a.md"
      }
    },
    "/endpoints-4": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /endpoints-4",
        "description": "Endpoint derivado da referência oficial (endpoints-4).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_endpoints-4_750090ea.md#endpoints-4`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-4_750090ea.md#endpoints-4"
      }
    },
    "/endpoints-5": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /endpoints-5",
        "description": "Endpoint derivado da referência oficial (endpoints-5).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_endpoints-5_da542e9f.md#endpoints-5`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints-5_da542e9f.md#endpoints-5"
      }
    },
    "/safes": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /safes",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md"
      }
    },
    "/documents/{UUID-SAFE}/safe": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /documents/{UUID-SAFE}/safe",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md"
      }
    },
    "/folders/{UUID-SAFE}/find": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /folders/{UUID-SAFE}/find",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md"
      }
    },
    "/endpoints": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /endpoints",
        "description": "Endpoint derivado da referência oficial (endpoints).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md#endpoints`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md#endpoints"
      }
    },
    "/api/v1/documents": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /api/v1/documents",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_endpoints_b0d5a4bf.md"
      }
    },
    "/introdu": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /introdu",
        "description": "Endpoint derivado da referência oficial (introdu).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_introdu_C3_A7_C3_A3o-a-api_63cbbea4.md#introdu`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_introdu_C3_A7_C3_A3o-a-api_63cbbea4.md#introdu"
      }
    },
    "/listar-webhook-de-um-documento": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-webhook-de-um-documento",
        "description": "Endpoint derivado da referência oficial (listar-webhook-de-um-documento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_listar-webhook-de-um-documento_4cb3a6c2.md#listar-webhook-de-um-documento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_listar-webhook-de-um-documento_4cb3a6c2.md#listar-webhook-de-um-documento"
      }
    },
    "/webhooks/v2/{type}": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /webhooks/v2/{type}",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_listar-webhook-de-um-documento_4cb3a6c2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docapi_d4sign_com_br_docs_listar-webhook-de-um-documento_4cb3a6c2.md`)",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_listar-webhook-de-um-documento_4cb3a6c2.md"
      }
    },
    "/users/list": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /users/list",
        "description": "Endpoint extraído da documentação (docapi_d4sign_com_br_docs_usu_C3_A1rios_5fd2d606.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docapi_d4sign_com_br_docs_usu_C3_A1rios_5fd2d606.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_usu_C3_A1rios_5fd2d606.md"
      }
    },
    "/usu": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /usu",
        "description": "Endpoint derivado da referência oficial (usu).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_usu_C3_A1rios_5fd2d606.md#usu`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_usu_C3_A1rios_5fd2d606.md#usu"
      }
    },
    "/webhook-postback": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /webhook-postback",
        "description": "Endpoint derivado da referência oficial (webhook-postback).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_docs_webhook-postback_af72bbb3.md#webhook-postback`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_docs_webhook-postback_af72bbb3.md#webhook-postback"
      }
    },
    "/listar-cofres": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-cofres",
        "description": "Endpoint extraído do índice de navegação (Listar Cofres).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-todos-os-documentos-de-um-cofre-ou-pasta": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-todos-os-documentos-de-um-cofre-ou-pasta",
        "description": "Endpoint extraído do índice de navegação (Listar todos os documentos de um cofre ou pasta).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-pastas-do-cofre": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-pastas-do-cofre",
        "description": "Endpoint extraído do índice de navegação (Listar pastas do cofre).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/criar-pasta-no-cofre": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /criar-pasta-no-cofre",
        "description": "Endpoint extraído do índice de navegação (Criar pasta no cofre).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/renomear-pasta-do-cofre": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /renomear-pasta-do-cofre",
        "description": "Endpoint extraído do índice de navegação (Renomear pasta do cofre).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /renomear-pasta-do-cofre",
        "description": "Endpoint derivado da referência oficial (renomear-pasta-do-cofre).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_renomear-pasta-do-cofre_6860fad8.md#renomear-pasta-do-cofre`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_renomear-pasta-do-cofre_6860fad8.md#renomear-pasta-do-cofre"
      }
    },
    "/criar-lote": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /criar-lote",
        "description": "Endpoint extraído do índice de navegação (Criar Lote).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/exibir-saldo-da-conta": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /exibir-saldo-da-conta",
        "description": "Endpoint extraído do índice de navegação (Exibir saldo da conta).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-todos-os-documentos": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-todos-os-documentos",
        "description": "Endpoint extraído do índice de navegação (Listar todos os documentos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-um-documento-espec-fico": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-um-documento-espec-fico",
        "description": "Endpoint extraído do índice de navegação (Listar um documento específico).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-todos-os-documentos-de-uma-fase": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-todos-os-documentos-de-uma-fase",
        "description": "Endpoint extraído do índice de navegação (Listar todos os documentos de uma fase).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/upload-de-um-documento-principal": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /upload-de-um-documento-principal",
        "description": "Endpoint extraído do índice de navegação (UPLOAD de um documento principal).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/upload-de-um-documento-anexo-ao-principal": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /upload-de-um-documento-anexo-ao-principal",
        "description": "Endpoint extraído do índice de navegação (UPLOAD de um documento anexo ao principal).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/upload-de-um-documento-principal-bin-rio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /upload-de-um-documento-principal-bin-rio",
        "description": "Endpoint extraído do índice de navegação (UPLOAD de um documento principal Binário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/upload-de-um-documento-anexo-ao-principal-bin-rio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /upload-de-um-documento-anexo-ao-principal-bin-rio",
        "description": "Endpoint extraído do índice de navegação (UPLOAD de um documento anexo ao principal (Binário)).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/upload-de-um-hash-de-documento-hash": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /upload-de-um-hash-de-documento-hash",
        "description": "Endpoint extraído do índice de navegação (UPLOAD de um hash de documento (HASH)).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/visualizar-documentos-e-anexos": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /visualizar-documentos-e-anexos",
        "description": "Endpoint extraído do índice de navegação (Visualizar documentos e anexos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /visualizar-documentos-e-anexos",
        "description": "Endpoint derivado da referência oficial (visualizar-documentos-e-anexos).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_visualizar-documentos-e-anexos_8a61e818.md#visualizar-documentos-e-anexos`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_visualizar-documentos-e-anexos_8a61e818.md#visualizar-documentos-e-anexos"
      }
    },
    "/destacar-cl-usulas": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /destacar-cl-usulas",
        "description": "Endpoint extraído do índice de navegação (Destacar cláusulas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/enviar-documento-para-assinatura": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /enviar-documento-para-assinatura",
        "description": "Endpoint extraído do índice de navegação (Enviar documento para assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/cancelar-um-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /cancelar-um-documento",
        "description": "Endpoint extraído do índice de navegação (Cancelar um documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "delete": {
        "tags": [
          "D4sign"
        ],
        "summary": "DELETE /cancelar-um-documento",
        "description": "Endpoint derivado da referência oficial (cancelar-um-documento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_cancelar-um-documento_15bfcf84.md#cancelar-um-documento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_cancelar-um-documento_15bfcf84.md#cancelar-um-documento"
      }
    },
    "/download-de-um-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /download-de-um-documento",
        "description": "Endpoint extraído do índice de navegação (DOWNLOAD de um documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /download-de-um-documento",
        "description": "Endpoint derivado da referência oficial (download-de-um-documento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_download-de-um-documento_fd97af18.md#download-de-um-documento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_download-de-um-documento_fd97af18.md#download-de-um-documento"
      }
    },
    "/reenviar-link-de-assinatura": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /reenviar-link-de-assinatura",
        "description": "Endpoint extraído do índice de navegação (Reenviar link de assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /reenviar-link-de-assinatura",
        "description": "Endpoint derivado da referência oficial (reenviar-link-de-assinatura).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_reenviar-link-de-assinatura_d9c42af9.md#reenviar-link-de-assinatura`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_reenviar-link-de-assinatura_d9c42af9.md#reenviar-link-de-assinatura"
      }
    },
    "/listar-templates": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /listar-templates",
        "description": "Endpoint extraído do índice de navegação (Listar templates).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-templates",
        "description": "Endpoint derivado da referência oficial (listar-templates).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_listar-templates_a0ba1ced.md#listar-templates`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_listar-templates_a0ba1ced.md#listar-templates"
      }
    },
    "/upload-de-template-word": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /upload-de-template-word",
        "description": "Endpoint extraído do índice de navegação (Upload de Template Word).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/documento-a-partir-do-template-html": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /documento-a-partir-do-template-html",
        "description": "Endpoint extraído do índice de navegação (Documento a partir do template HTML).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /documento-a-partir-do-template-html",
        "description": "Endpoint derivado da referência oficial (documento-a-partir-do-template-html).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_documento-a-partir-do-template-html_caeb59ec.md#documento-a-partir-do-template-html`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_documento-a-partir-do-template-html_caeb59ec.md#documento-a-partir-do-template-html"
      }
    },
    "/documento-a-partir-do-template-word": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /documento-a-partir-do-template-word",
        "description": "Endpoint extraído do índice de navegação (Documento a partir do template WORD).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /documento-a-partir-do-template-word",
        "description": "Endpoint derivado da referência oficial (documento-a-partir-do-template-word).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_documento-a-partir-do-template-word_e0e39811.md#documento-a-partir-do-template-word`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_documento-a-partir-do-template-word_e0e39811.md#documento-a-partir-do-template-word"
      }
    },
    "/listar-anexos": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-anexos",
        "description": "Endpoint extraído do índice de navegação (Listar anexos).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/download-documentos-e-certificados-desmembrados": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /download-documentos-e-certificados-desmembrados",
        "description": "Endpoint extraído do índice de navegação (Download Documentos e Certificados Desmembrados).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /download-documentos-e-certificados-desmembrados",
        "description": "Endpoint derivado da referência oficial (download-documentos-e-certificados-desmembrados).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_download-documentos-e-certificados-desmembrados_a58c7fd6.md#download-documentos-e-certificados-desmembrados`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_download-documentos-e-certificados-desmembrados_a58c7fd6.md#download-documentos-e-certificados-desmembrados"
      }
    },
    "/posicionamento-xy-de-rubricas": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /posicionamento-xy-de-rubricas",
        "description": "Endpoint extraído do índice de navegação (Posicionamento XY de Rubricas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /posicionamento-xy-de-rubricas",
        "description": "Endpoint derivado da referência oficial (posicionamento-xy-de-rubricas).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_posicionamento-xy-de-rubricas_a106f034.md#posicionamento-xy-de-rubricas`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_posicionamento-xy-de-rubricas_a106f034.md#posicionamento-xy-de-rubricas"
      }
    },
    "/upload-de-big-files": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /upload-de-big-files",
        "description": "Endpoint extraído do índice de navegação (Upload de Big Files).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/documento-a-partir-do-template-word-com-mais-de-um-preenchedor": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /documento-a-partir-do-template-word-com-mais-de-um-preenchedor",
        "description": "Endpoint extraído do índice de navegação (Documento a partir do template WORD com mais de um preenchedor).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/agendamento-de-envio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /agendamento-de-envio",
        "description": "Endpoint extraído do índice de navegação (Agendamento de envio).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /agendamento-de-envio",
        "description": "Endpoint derivado da referência oficial (agendamento-de-envio).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_agendamento-de-envio_44a9e9d1.md#agendamento-de-envio`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_agendamento-de-envio_44a9e9d1.md#agendamento-de-envio"
      }
    },
    "/listar-respostas-do-novo-power-form": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-respostas-do-novo-power-form",
        "description": "Endpoint extraído do índice de navegação (Listar Respostas do Novo Power Form).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-signatarios-de-um-documento": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-signatarios-de-um-documento",
        "description": "Endpoint extraído do índice de navegação (Listar signatarios de um documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-grupos-de-assinaturas": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-grupos-de-assinaturas",
        "description": "Endpoint extraído do índice de navegação (Listar Grupos de Assinaturas).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/detalhes-de-grupo-de-assinatura": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /detalhes-de-grupo-de-assinatura",
        "description": "Endpoint extraído do índice de navegação (Detalhes de Grupo de assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/cadastrar-signat-rios": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /cadastrar-signat-rios",
        "description": "Endpoint extraído do índice de navegação (Cadastrar signatários).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/alterar-signat-rio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /alterar-signat-rio",
        "description": "Endpoint extraído do índice de navegação (Alterar signatário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/alterar-n-mero-do-sms": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /alterar-n-mero-do-sms",
        "description": "Endpoint extraído do índice de navegação (Alterar número do SMS).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/alterar-c-digo-de-acesso-do-signat-rio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /alterar-c-digo-de-acesso-do-signat-rio",
        "description": "Endpoint extraído do índice de navegação (Alterar código de acesso do signatário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/remover-signat-rio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /remover-signat-rio",
        "description": "Endpoint extraído do índice de navegação (Remover signatário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/cadastrar-informa-es-do-signat-rio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /cadastrar-informa-es-do-signat-rio",
        "description": "Endpoint extraído do índice de navegação (Cadastrar informações do signatário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/cria-o-de-nomenclatura-em-assinar-como": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /cria-o-de-nomenclatura-em-assinar-como",
        "description": "Endpoint extraído do índice de navegação (Criação de Nomenclatura em Assinar Como).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/copiar-link-assinatura": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /copiar-link-assinatura",
        "description": "Endpoint extraído do índice de navegação (Copiar Link Assinatura).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/posicionar-assinatura-com-rubrica-em-documento-principal-ou-anexo": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /posicionar-assinatura-com-rubrica-em-documento-principal-ou-anexo",
        "description": "Endpoint extraído do índice de navegação (Posicionar assinatura com rubrica em documento principal ou anexo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/replicar-posi-o-de-assinatura-no-documento-e-anexo": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /replicar-posi-o-de-assinatura-no-documento-e-anexo",
        "description": "Endpoint extraído do índice de navegação (Replicar posição de assinatura no documento e anexo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/remover-posi-es-de-assinatura-replicadas-no-documento-e-anexo": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /remover-posi-es-de-assinatura-replicadas-no-documento-e-anexo",
        "description": "Endpoint extraído do índice de navegação (Remover posições de assinatura replicadas no documento e anexo).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-todos-os-usuarios": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-todos-os-usuarios",
        "description": "Endpoint extraído do índice de navegação (Listar todos os usuarios).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/verificar-usu-rio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /verificar-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Verificar Usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/bloquear-usu-rio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /bloquear-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Bloquear usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/desbloquear-usu-rio": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /desbloquear-usu-rio",
        "description": "Endpoint extraído do índice de navegação (Desbloquear usuário).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-as-tags-do-documento": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-as-tags-do-documento",
        "description": "Endpoint extraído do índice de navegação (Listar as TAGs do documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/adicionar-tags-no-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /adicionar-tags-no-documento",
        "description": "Endpoint extraído do índice de navegação (Adicionar TAGs no documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /adicionar-tags-no-documento",
        "description": "Endpoint derivado da referência oficial (adicionar-tags-no-documento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_adicionar-tags-no-documento_14906f8f.md#adicionar-tags-no-documento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_adicionar-tags-no-documento_14906f8f.md#adicionar-tags-no-documento"
      }
    },
    "/remover-tags-do-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /remover-tags-do-documento",
        "description": "Endpoint extraído do índice de navegação (Remover TAGs do documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "delete": {
        "tags": [
          "D4sign"
        ],
        "summary": "DELETE /remover-tags-do-documento",
        "description": "Endpoint derivado da referência oficial (remover-tags-do-documento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_remover-tags-do-documento_9b00e78e.md#remover-tags-do-documento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_remover-tags-do-documento_9b00e78e.md#remover-tags-do-documento"
      }
    },
    "/remover-todas-as-tags-do-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /remover-todas-as-tags-do-documento",
        "description": "Endpoint extraído do índice de navegação (Remover TODAS as TAGs do documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "delete": {
        "tags": [
          "D4sign"
        ],
        "summary": "DELETE /remover-todas-as-tags-do-documento",
        "description": "Endpoint derivado da referência oficial (remover-todas-as-tags-do-documento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_remover-todas-as-tags-do-documento_316eeac5.md#remover-todas-as-tags-do-documento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_remover-todas-as-tags-do-documento_316eeac5.md#remover-todas-as-tags-do-documento"
      }
    },
    "/adicionar-tag-urgente-ao-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /adicionar-tag-urgente-ao-documento",
        "description": "Endpoint extraído do índice de navegação (Adicionar TAG URGENTE ao documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/remover-tag-urgente-do-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /remover-tag-urgente-do-documento",
        "description": "Endpoint extraído do índice de navegação (Remover TAG URGENTE do documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/listar-certificado-definido": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /listar-certificado-definido",
        "description": "Endpoint extraído do índice de navegação (Listar certificado definido).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-certificado-definido",
        "description": "Endpoint derivado da referência oficial (listar-certificado-definido).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_listar-certificado-definido_47bd7b4d.md#listar-certificado-definido`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_listar-certificado-definido_47bd7b4d.md#listar-certificado-definido"
      }
    },
    "/definir-certificado": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /definir-certificado",
        "description": "Endpoint extraído do índice de navegação (Definir certificado).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /definir-certificado",
        "description": "Endpoint derivado da referência oficial (definir-certificado).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_definir-certificado_1c6cc0e7.md#definir-certificado`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_definir-certificado_1c6cc0e7.md#definir-certificado"
      }
    },
    "/listar-observadores-do-documento": {
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /listar-observadores-do-documento",
        "description": "Endpoint extraído do índice de navegação (Listar observadores do documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      }
    },
    "/adicionar-observador-no-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /adicionar-observador-no-documento",
        "description": "Endpoint extraído do índice de navegação (Adicionar observador no documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "get": {
        "tags": [
          "D4sign"
        ],
        "summary": "GET /adicionar-observador-no-documento",
        "description": "Endpoint derivado da referência oficial (adicionar-observador-no-documento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_adicionar-observador-no-documento_37b80fc7.md#adicionar-observador-no-documento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference_adicionar-observador-no-documento_37b80fc7.md#adicionar-observador-no-documento"
      }
    },
    "/remover-observador-do-documento": {
      "post": {
        "tags": [
          "D4sign"
        ],
        "summary": "POST /remover-observador-do-documento",
        "description": "Endpoint extraído do índice de navegação (Remover observador do documento).\n\n---\n📍 **Origem:** Índice de Navegação / Menu (`docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Índice de Navegação / Menu",
        "x-daemind-source-file": "docapi_d4sign_com_br_reference-link_adicionar-observador-no-documento_10744aec.md"
      },
      "delete": {
        "tags": [
          "D4sign"
        ],
        "summary": "DELETE /remover-observador-do-documento",
        "description": "Endpoint derivado da referência oficial (remover-observador-do-documento).\n\n---\n📍 **Origem:** Página de Referência Técnica (`docapi_d4sign_com_br_reference_remover-observador-do-documento_acdf43f7.md#remover-observador-do-documento`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Página de Referência Técnica",
[...]
