{
  "openapi": "3.0.3",
  "info": {
    "title": "Tray E-Commerce Open API (Locaweb)",
    "description": "Especificação OpenAPI 3.0 sintetizada via tratamento local em texto para developers.tray.com.br.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tray.com.br"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "summary": "POST /auth",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/products": {
      "get": {
        "summary": "GET /products",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "post": {
        "summary": "POST /products",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/products/:id": {
      "get": {
        "summary": "GET /products/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "put": {
        "summary": "PUT /products/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /products/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/products/product_parent_id": {
      "delete": {
        "summary": "DELETE /products/product_parent_id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/multicd/stock/detailed/product/id": {
      "get": {
        "summary": "GET /multicd/stock/detailed/product/id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/multicd/stock/detailed/variant/id": {
      "get": {
        "summary": "GET /multicd/stock/detailed/variant/id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/products_solds/:id": {
      "get": {
        "summary": "GET /products_solds/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/orders": {
      "get": {
        "summary": "GET /orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "post": {
        "summary": "POST /orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/orders/:id": {
      "get": {
        "summary": "GET /orders/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "put": {
        "summary": "PUT /orders/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/orders/:id/complete": {
      "get": {
        "summary": "GET /orders/:id/complete",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/orders/cancel/:id": {
      "put": {
        "summary": "PUT /orders/cancel/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/orders/includeProduct/{order_id}": {
      "post": {
        "summary": "POST /orders/includeProduct/{order_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/orders/excludeProduct/:order_id/:product_id": {
      "delete": {
        "summary": "DELETE /orders/excludeProduct/:order_id/:product_id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/shippings/cotation": {
      "get": {
        "summary": "GET /shippings/cotation",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/shippings": {
      "get": {
        "summary": "GET /shippings",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/shippings/method/gateway": {
      "post": {
        "summary": "POST /shippings/method/gateway",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/shippings/method/gateway/:id": {
      "put": {
        "summary": "PUT /shippings/method/gateway/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /shippings/method/gateway/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/shippings/method/zipcode_table": {
      "post": {
        "summary": "POST /shippings/method/zipcode_table",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/shippings/method/zipcode_table/:id": {
      "put": {
        "summary": "PUT /shippings/method/zipcode_table/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /shippings/method/zipcode_table/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/shipping_labels": {
      "post": {
        "summary": "POST /shipping_labels",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/orders/{:id}/shipping_label": {
      "post": {
        "summary": "POST /orders/{:id}/shipping_label",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /orders/{:id}/shipping_label",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/meli/tracking_labels": {
      "get": {
        "summary": "GET /meli/tracking_labels",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/hub/orders-labels-batches": {
      "post": {
        "summary": "POST /hub/orders-labels-batches",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/orders-labels-batches/{{batch_id}": {
      "get": {
        "summary": "GET /orders-labels-batches/{{batch_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/external_scripts": {
      "get": {
        "summary": "GET /external_scripts",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "post": {
        "summary": "POST /external_scripts",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/external_scripts/:id": {
      "put": {
        "summary": "PUT /external_scripts/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /external_scripts/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/customers": {
      "get": {
        "summary": "GET /customers",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "post": {
        "summary": "POST /customers",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/customers/:id": {
      "get": {
        "summary": "GET /customers/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "put": {
        "summary": "PUT /customers/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /customers/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/customers/addresses": {
      "get": {
        "summary": "GET /customers/addresses",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "post": {
        "summary": "POST /customers/addresses",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/customers/addresses/:id": {
      "get": {
        "summary": "GET /customers/addresses/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /customers/addresses/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/customers/profiles": {
      "get": {
        "summary": "GET /customers/profiles",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "post": {
        "summary": "POST /customers/profiles",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/customers/profiles/:id": {
      "put": {
        "summary": "PUT /customers/profiles/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /customers/profiles/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/customers/profiles/relation": {
      "post": {
        "summary": "POST /customers/profiles/relation",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/customers/profiles/relation_delete": {
      "post": {
        "summary": "POST /customers/profiles/relation_delete",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons": {
      "get": {
        "summary": "GET /discount_coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "post": {
        "summary": "POST /discount_coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons/:id": {
      "get": {
        "summary": "GET /discount_coupons/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /discount_coupons/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons/customer_relationship/:id": {
      "get": {
        "summary": "GET /discount_coupons/customer_relationship/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons/product_relationship/:id": {
      "get": {
        "summary": "GET /discount_coupons/product_relationship/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons/category_relationship/:id": {
      "get": {
        "summary": "GET /discount_coupons/category_relationship/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons/brand_relationship/:id": {
      "get": {
        "summary": "GET /discount_coupons/brand_relationship/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons/shipping_relationship/:id": {
      "get": {
        "summary": "GET /discount_coupons/shipping_relationship/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons/gift_relationship/:id": {
      "get": {
        "summary": "GET /discount_coupons/gift_relationship/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons/create_relationship/:id": {
      "post": {
        "summary": "POST /discount_coupons/create_relationship/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/discount_coupons/delete_relationship/:id": {
      "delete": {
        "summary": "DELETE /discount_coupons/delete_relationship/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/delete_relationship/:id": {
      "delete": {
        "summary": "DELETE /delete_relationship/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/products/properties": {
      "get": {
        "summary": "GET /products/properties",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/products/:id/properties": {
      "post": {
        "summary": "POST /products/:id/properties",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/properties": {
      "post": {
        "summary": "POST /properties",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/properties/:id": {
      "delete": {
        "summary": "DELETE /properties/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/categories/tree/:id": {
      "get": {
        "summary": "GET /categories/tree/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/categories": {
      "get": {
        "summary": "GET /categories",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "post": {
        "summary": "POST /categories",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/categories/:id": {
      "get": {
        "summary": "GET /categories/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "put": {
        "summary": "PUT /categories/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      },
      "delete": {
        "summary": "DELETE /categories/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/categories/update_order": {
      "put": {
        "summary": "PUT /categories/update_order",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/products/variants": {
      "get": {
        "summary": "GET /products/variants",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/products/variants/:id": {
      "get": {
        "summary": "GET /products/variants/:id",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_developers_tray_com_br_fc5b897d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_developers_tray_com_br_fc5b897d.json"
      }
    },
    "/auth.php": {
      "post": {
        "tags": [
          "Tray"
        ],
        "summary": "POST /auth.php",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (developers_tray_com_br_8e7018f0.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`developers_tray_com_br_8e7018f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "developers_tray_com_br_8e7018f0.md"
      },
      "get": {
        "tags": [
          "Tray"
        ],
        "summary": "GET /auth.php",
        "description": "Endpoint extraído por declaração de rota (developers_tray_com_br_8e7018f0.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`developers_tray_com_br_8e7018f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "developers_tray_com_br_8e7018f0.md"
      }
    },
    "/Request2.php": {
      "post": {
        "tags": [
          "Tray"
        ],
        "summary": "POST /Request2.php",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (developers_tray_com_br_8e7018f0.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`developers_tray_com_br_8e7018f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "developers_tray_com_br_8e7018f0.md"
      }
    },
    "/loja/retorno_pagamento.php": {
      "post": {
        "tags": [
          "Tray"
        ],
        "summary": "POST /loja/retorno_pagamento.php",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (developers_tray_com_br_8e7018f0.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`developers_tray_com_br_8e7018f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "developers_tray_com_br_8e7018f0.md"
      }
    },
    "/loja/pagamento.php": {
      "post": {
        "tags": [
          "Tray"
        ],
        "summary": "POST /loja/pagamento.php",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (developers_tray_com_br_8e7018f0.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`developers_tray_com_br_8e7018f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "developers_tray_com_br_8e7018f0.md"
      }
    },
    "/php53.do": {
      "post": {
        "tags": [
          "Tray"
        ],
        "summary": "POST //php53.do",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (developers_tray_com_br_8e7018f0.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`developers_tray_com_br_8e7018f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "developers_tray_com_br_8e7018f0.md"
      }
    },
    "/api/distribution-centers": {
      "get": {
        "tags": [
          "Tray"
        ],
        "summary": "GET /api/distribution-centers",
        "description": "Endpoint extraído da documentação (developers_tray_com_br_8e7018f0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_tray_com_br_8e7018f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_tray_com_br_8e7018f0.md"
      }
    },
    "/api/shipments-labels/{id}": {
      "get": {
        "tags": [
          "Tray"
        ],
        "summary": "GET /api/shipments-labels/yyyyyyyyyyyyyyyyyyyyyy",
        "description": "Endpoint extraído da documentação (developers_tray_com_br_8e7018f0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developers_tray_com_br_8e7018f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developers_tray_com_br_8e7018f0.md"
      }
    },
    "/tray/callback/auth": {
      "get": {
        "tags": [
          "Tray"
        ],
        "summary": "GET /tray/callback/auth",
        "description": "Endpoint extraído por declaração de rota (developers_tray_com_br_8e7018f0.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`developers_tray_com_br_8e7018f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "developers_tray_com_br_8e7018f0.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "Autenticação padrão OAuth 2.0 (Authorization Code / Client Credentials).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dominio.com/oauth/authorize",
            "tokenUrl": "https://api.dominio.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "x-ratelimit": {
    "quotas": [
      "180 requisições por minuto"
    ],
    "headers": [],
    "status_code": 429,
    "description": "Taxa de requisições limitada. Quotas documentadas: 180 requisições por minuto. Em caso de excesso, a API retorna HTTP 429."
  },
  "x-idempotency": {
    "supported": false,
    "headers": []
  },
  "x-retry-policy": {
    "exponential_backoff": true,
    "retryable_status_codes": [
      429,
      500,
      502,
      503,
      504
    ]
  }
}