{
  "openapi": "3.0.3",
  "info": {
    "title": "Yampi Checkout & E-Commerce API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack yampi.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dooki.com.br/v2"
    }
  ],
  "paths": {
    "/catalog/brands": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /catalog/brands",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_api-collection_md_25042a53.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_api-collection_md_25042a53.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_api-collection_md_25042a53.md"
      }
    },
    "/scl/fi/jyt27ik1ahkce21hyarlo/CollectionApiYampiCredenciais.json": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /scl/fi/jyt27ik1ahkce21hyarlo/CollectionApiYampiCredenciais.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_yampi_com_br_api-reference_api-collection_md_25042a53.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`docs_yampi_com_br_api-reference_api-collection_md_25042a53.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_api-collection_md_25042a53.md"
      }
    },
    "/scl/fi/aweiogfpwl1h9adn9ysyb/CollectionApiYampiOAuth.json": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /scl/fi/aweiogfpwl1h9adn9ysyb/CollectionApiYampiOAuth.json",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_yampi_com_br_api-reference_api-collection_md_25042a53.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`docs_yampi_com_br_api-reference_api-collection_md_25042a53.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_api-collection_md_25042a53.md"
      }
    },
    "/api.do": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST //api.do",
        "description": "Endpoint RPC/REST detectado nos exemplos da API (docs_yampi_com_br_api-reference_busca_692e4216.md).\n\n---\n📍 **Origem:** Exemplos de Código / Scripts (`docs_yampi_com_br_api-reference_busca_692e4216.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Exemplos de Código / Scripts",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_busca_692e4216.md"
      }
    },
    "/v2/{alias}/search/global": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/search/global",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_busca_692e4216.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_busca_692e4216.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_busca_692e4216.md"
      }
    },
    "/v2/{alias}/search/orders": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/search/orders",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_busca_pedidos_listar-pedidos-retornados-pela-bus_bb507375.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_busca_pedidos_listar-pedidos-retornados-pela-bus_bb507375.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_busca_pedidos_listar-pedidos-retornados-pela-bus_bb507375.md"
      }
    },
    "/v2/{alias}/search/products": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/search/products",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_busca_produtos_listar-produtos-retornados-pela-b_8cc123de.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_busca_produtos_listar-produtos-retornados-pela-b_8cc123de.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_busca_produtos_listar-produtos-retornados-pela-b_8cc123de.md"
      }
    },
    "/v2/{alias}/pricing/cashbacks/rules": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/cashbacks/rules",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_cashback_acdcb53d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_cashback_acdcb53d.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_cashback_acdcb53d.md"
      }
    },
    "/v2/{alias}/pricing/cashbacks/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/cashbacks/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_cashback_atualizar-cashbacks_fa88b213.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_cashback_atualizar-cashbacks_fa88b213.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_cashback_atualizar-cashbacks_fa88b213.md"
      }
    },
    "/v2/{alias}/pricing/cashbacks": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/cashbacks",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_cashback_criar-cashbacks_5aa172eb.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_cashback_criar-cashbacks_5aa172eb.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_cashback_criar-cashbacks_5aa172eb.md"
      }
    },
    "/{alias}/pricing/cashbacks/rules": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/pricing/cashbacks/rules",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_cashback_rules_criar-regras-cashback_md_84c1292e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_cashback_rules_criar-regras-cashback_md_84c1292e.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_cashback_rules_criar-regras-cashback_md_84c1292e.md"
      }
    },
    "/v2": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2",
        "description": "Endpoint extraído por declaração de rota (docs_yampi_com_br_api-reference_cashback_rules_criar-regras-cashback_md_84c1292e.md).\n\n---\n📍 **Origem:** Declaração Explícita de Rota (`docs_yampi_com_br_api-reference_cashback_rules_criar-regras-cashback_md_84c1292e.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Declaração Explícita de Rota",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_cashback_rules_criar-regras-cashback_md_84c1292e.md"
      }
    },
    "/v2/{alias}/customers": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/customers",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_clientes_cliente_listar-clientes_217373f3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_clientes_cliente_listar-clientes_217373f3.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_clientes_cliente_listar-clientes_217373f3.md"
      }
    },
    "/v2/{alias}/customers/{customerId}/addresses/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/customers/{customerId}/addresses/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_clientes_enderecos_excluir-endereco-do-cliente_d2ad289b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_clientes_enderecos_excluir-endereco-do-cliente_d2ad289b.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_clientes_enderecos_excluir-endereco-do-cliente_d2ad289b.md"
      }
    },
    "/v2/{alias}/content/redirects/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/content/redirects/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_conteudo_redirecionamentos_atualizar-redireciona_d9f7d124.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_conteudo_redirecionamentos_atualizar-redireciona_d9f7d124.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_conteudo_redirecionamentos_atualizar-redireciona_d9f7d124.md"
      }
    },
    "/v2/{alias}/content/redirects/batch": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/content/redirects/batch",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_conteudo_redirecionamentos_criar-redirecionament_06f42c1b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_conteudo_redirecionamentos_criar-redirecionament_06f42c1b.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_conteudo_redirecionamentos_criar-redirecionament_06f42c1b.md"
      }
    },
    "/v2/{alias}/content/redirects": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/content/redirects",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_conteudo_redirecionamentos_criar-redirecionament_c5e2b231.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_conteudo_redirecionamentos_criar-redirecionament_c5e2b231.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_conteudo_redirecionamentos_criar-redirecionament_c5e2b231.md"
      }
    },
    "/v2/{alias}/discounts/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/discounts/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_descontos_atualizar-um-desconto-da-loja_dbbaaeab.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_descontos_atualizar-um-desconto-da-loja_dbbaaeab.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_descontos_atualizar-um-desconto-da-loja_dbbaaeab.md"
      }
    },
    "/v2/{alias}/discounts": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/discounts",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_descontos_criar-um-desconto-da-loja_a6eb65a2.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_descontos_criar-um-desconto-da-loja_a6eb65a2.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_descontos_criar-um-desconto-da-loja_a6eb65a2.md"
      }
    },
    "/v2/{alias}/discounts/batch-delete": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/discounts/batch-delete",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_descontos_excluir-todos-os-descontos-da-loja-em-_c3a6c49b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_descontos_excluir-todos-os-descontos-da-loja-em-_c3a6c49b.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_descontos_excluir-todos-os-descontos-da-loja-em-_c3a6c49b.md"
      }
    },
    "/v2/{alias}/discounts/filters": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/discounts/filters",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_descontos_listar-filtros-de-busca-de-descontos_46f73a29.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_descontos_listar-filtros-de-busca-de-descontos_46f73a29.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_descontos_listar-filtros-de-busca-de-descontos_46f73a29.md"
      }
    },
    "/v2/{merchantAlias}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{merchantAlias}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_introduction_7dc81846.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_introduction_7dc81846.md`)",
        "parameters": [
          {
            "name": "merchantAlias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_introduction_7dc81846.md"
      }
    },
    "/v2/{merchantAlias}/foo": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{merchantAlias}/foo",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_introduction_7dc81846.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_introduction_7dc81846.md`)",
        "parameters": [
          {
            "name": "merchantAlias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_introduction_7dc81846.md"
      }
    },
    "/v2/{alias}/catalog/products": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/catalog/products",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_introduction_7dc81846.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_introduction_7dc81846.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_introduction_7dc81846.md"
      }
    },
    "/v2/{merchantAlias}/catalog/products": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{merchantAlias}/catalog/products",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_introduction_7dc81846.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_introduction_7dc81846.md`)",
        "parameters": [
          {
            "name": "merchantAlias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_introduction_7dc81846.md"
      }
    },
    "/oauth/authorize.Voc": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /oauth/authorize.Voc",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_oauth_07e57b13.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_oauth_07e57b13.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_oauth_07e57b13.md"
      }
    },
    "/oauth/authorize": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /oauth/authorize",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_oauth_07e57b13.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_oauth_07e57b13.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_oauth_07e57b13.md"
      }
    },
    "/oauth/token": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /oauth/token",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_oauth_07e57b13.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_oauth_07e57b13.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_oauth_07e57b13.md"
      },
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /oauth/token",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_oauth_md_51625858.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_oauth_md_51625858.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_oauth_md_51625858.md"
      }
    },
    "/v2/{alias}/some-route": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/some-route",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_oauth_07e57b13.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_oauth_07e57b13.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_oauth_07e57b13.md"
      }
    },
    "/api/v2/{alias}/orders": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /api/v2/{alias}/orders",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pagination_introduction_b3a954b4.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pagination_introduction_b3a954b4.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pagination_introduction_b3a954b4.md"
      }
    },
    "/v2/{alias}/orders/{orderId}/emails/{messageId}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/{orderId}/emails/{messageId}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_emails_visualizar-e-mail_fffa6c16.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_emails_visualizar-e-mail_fffa6c16.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_emails_visualizar-e-mail_fffa6c16.md"
      }
    },
    "/v2/{alias}/orders/{id}/tags": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/{id}/tags",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_adicionar-tags-a-um-pedido_7bf1bd57.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_adicionar-tags-a-um-pedido_7bf1bd57.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_adicionar-tags-a-um-pedido_7bf1bd57.md"
      }
    },
    "/v2/{alias}/orders/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_atualizar-pedido_038443e5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_atualizar-pedido_038443e5.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_atualizar-pedido_038443e5.md"
      }
    },
    "/v2/{alias}/orders": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_criar-pedido_1fc8c0b7.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_criar-pedido_1fc8c0b7.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_criar-pedido_1fc8c0b7.md"
      }
    },
    "/{alias}/orders": {
      "post": {
        "tags": [
          "Yampi"
        ],
        "summary": "POST /{alias}/orders",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_criar-pedido_md_c5c7ca35.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_pedidos_pedido_criar-pedido_md_c5c7ca35.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_criar-pedido_md_c5c7ca35.md"
      }
    },
    "/v2/{alias}/orders/export/{service}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/export/{service}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_exportar-pedidos-para-um-determin_1d8a97f3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_exportar-pedidos-para-um-determin_1d8a97f3.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_exportar-pedidos-para-um-determin_1d8a97f3.md"
      }
    },
    "/v2/{alias}/orders/export": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/export",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_exportar-pedidos_3b600d54.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_exportar-pedidos_3b600d54.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_exportar-pedidos_3b600d54.md"
      }
    },
    "/v2/{alias}/html/orders/{id}/content-statement/{token}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/html/orders/{id}/content-statement/{token}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_gerar-declaracao-de-conteudo-de-u_1b966558.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_gerar-declaracao-de-conteudo-de-u_1b966558.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_gerar-declaracao-de-conteudo-de-u_1b966558.md"
      }
    },
    "/v2/{alias}/pricing/combos": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/combos",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md"
      }
    },
    "/v2/{alias}/pricing/combos/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/combos/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md"
      }
    },
    "/v2/{alias}/pricing/promotions": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/promotions",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md"
      }
    },
    "/v2/{alias}/pricing/promotions/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/promotions/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md"
      }
    },
    "/v2/{alias}/pricing/upsells": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/upsells",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md"
      }
    },
    "/v2/{alias}/pricing/promocodes": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/promocodes",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md"
      }
    },
    "/v2/{alias}/pricing/promocodes/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/promocodes/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_introduction_7c0bebee.md"
      }
    },
    "/v2/{alias}/orders/{id}/boxes": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/{id}/boxes",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_listar-embalagens-de-um-pedido_89800561.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_listar-embalagens-de-um-pedido_89800561.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_listar-embalagens-de-um-pedido_89800561.md"
      }
    },
    "/v2/{alias}/orders/filters": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/filters",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_listar-filtros-de-busca-de-pedido_b4aa21a7.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_listar-filtros-de-busca-de-pedido_b4aa21a7.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_listar-filtros-de-busca-de-pedido_b4aa21a7.md"
      }
    },
    "/v2/{alias}/orders/{id}/statuses": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/{id}/statuses",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_listar-historico-de-status-de-um-_4acdfa37.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_listar-historico-de-status-de-um-_4acdfa37.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_listar-historico-de-status-de-um-_4acdfa37.md"
      }
    },
    "/v2/{alias}/orders/{id}/items": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/{id}/items",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_listar-produtos-de-um-pedido_d2a984f3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_listar-produtos-de-um-pedido_d2a984f3.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_listar-produtos-de-um-pedido_d2a984f3.md"
      }
    },
    "/v2/{alias}/orders/{id}/transactions": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/orders/{id}/transactions",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_pedidos_pedido_listar-transacoes-de-um-pedido_f4b69dc9.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_pedidos_pedido_listar-transacoes-de-um-pedido_f4b69dc9.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_pedidos_pedido_listar-transacoes-de-um-pedido_f4b69dc9.md"
      }
    },
    "/v2/{alias}/pricing/progressive-discounts": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/progressive-discounts",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_promocoes_desconto-progressivo_criar-desconto-pr_c1f13087.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_promocoes_desconto-progressivo_criar-desconto-pr_c1f13087.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_promocoes_desconto-progressivo_criar-desconto-pr_c1f13087.md"
      }
    },
    "/v2/{alias}/pricing/order-bumps": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/order-bumps",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_promocoes_orderbump_083d4f30.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_promocoes_orderbump_083d4f30.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_promocoes_orderbump_083d4f30.md"
      }
    },
    "/v2/{alias}/pricing/order-bumps/order": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/order-bumps/order",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_promocoes_orderbump_atualizar-ordenacao-de-order_18b6f5b5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_promocoes_orderbump_atualizar-ordenacao-de-order_18b6f5b5.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_promocoes_orderbump_atualizar-ordenacao-de-order_18b6f5b5.md"
      }
    },
    "/v2/{alias}/pricing/order-bumps/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/order-bumps/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_promocoes_orderbump_atualizar-order-bump_0c33468c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_promocoes_orderbump_atualizar-order-bump_0c33468c.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_promocoes_orderbump_atualizar-order-bump_0c33468c.md"
      }
    },
    "/v2/{alias}/pricing/order-bumps/batch-delete": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/order-bumps/batch-delete",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_promocoes_orderbump_deletar-todos-os-order-bumps_ae6624bd.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_promocoes_orderbump_deletar-todos-os-order-bumps_ae6624bd.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_promocoes_orderbump_deletar-todos-os-order-bumps_ae6624bd.md"
      }
    },
    "/v2/{alias}/pricing/promotions/{id}/products": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/promotions/{id}/products",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_promocoes_produtos_listar-produtos-da-promocao_913b305e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_promocoes_produtos_listar-produtos-da-promocao_913b305e.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_promocoes_produtos_listar-produtos-da-promocao_913b305e.md"
      }
    },
    "/v2/{alias}/pricing/upsells/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/pricing/upsells/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_promocoes_upsells_atualizar-um-upsell_6d009c7b.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_promocoes_upsells_atualizar-um-upsell_6d009c7b.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_promocoes_upsells_atualizar-um-upsell_6d009c7b.md"
      }
    },
    "/v2/{alias}/public/search/products/count": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/search/products/count",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_busca_exibir-paginacao-de-produtos-da-lo_a8ddfc38.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_busca_exibir-paginacao-de-produtos-da-lo_a8ddfc38.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_busca_exibir-paginacao-de-produtos-da-lo_a8ddfc38.md"
      }
    },
    "/v2/{alias}/public/catalog/products/reviews": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/reviews",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-as-avaliacoes-dos-produt_5e06973f.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-as-avaliacoes-dos-produt_5e06973f.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-as-avaliacoes-dos-produt_5e06973f.md"
      }
    },
    "/v2/{alias}/public/catalog/products/reviews/ratings": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/reviews/ratings",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-as-notas-de-avaliacoes-d_543a3366.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-as-notas-de-avaliacoes-d_543a3366.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-as-notas-de-avaliacoes-d_543a3366.md"
      }
    },
    "/v2/{alias}/public/catalog/freebies": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/freebies",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-brindes-ativos-da-loja_fa0b759d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-brindes-ativos-da-loja_fa0b759d.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-brindes-ativos-da-loja_fa0b759d.md"
      }
    },
    "/v2/{alias}/public/catalog/categories{": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/categories{",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-categorias-de-uma-loja_da69e224.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-categorias-de-uma-loja_da69e224.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-categorias-de-uma-loja_da69e224.md"
      }
    },
    "/v2/{alias}/public/catalog/collections/active": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/collections/active",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-colecoes-ativas-de-uma-l_311fb9a5.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-colecoes-ativas-de-uma-l_311fb9a5.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-colecoes-ativas-de-uma-l_311fb9a5.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{productId}/collections": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{productId}/collections",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-colecoes-de-uma-loja-por_5e725833.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-colecoes-de-uma-loja-por_5e725833.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-colecoes-de-uma-loja-por_5e725833.md"
      }
    },
    "/v2/{alias}/public/catalog/collections{": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/collections{",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-colecoes-de-uma-loja_391a1179.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-colecoes-de-uma-loja_391a1179.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-colecoes-de-uma-loja_391a1179.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{productId}/discounts": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{productId}/discounts",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-descontos-ativos-de-um-p_54a94f98.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-descontos-ativos-de-um-p_54a94f98.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-descontos-ativos-de-um-p_54a94f98.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{productId}/bundles": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{productId}/bundles",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-kits-associados-ao-produ_8a1c1c3c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-kits-associados-ao-produ_8a1c1c3c.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-kits-associados-ao-produ_8a1c1c3c.md"
      }
    },
    "/v2/{alias}/public/catalog/brands": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/brands",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_listar-marcas-da-loja_32a29c1a.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_listar-marcas-da-loja_32a29c1a.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_listar-marcas-da-loja_32a29c1a.md"
      }
    },
    "/v2/{alias}/public/catalog/products/comments": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/comments",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-das-duvi_4108b888.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-das-duvi_4108b888.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-das-duvi_4108b888.md"
      }
    },
    "/v2/{alias}/public/catalog/banners": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/banners",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-de-banne_084fcf98.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-de-banne_084fcf98.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-de-banne_084fcf98.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{id}/combos": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{id}/combos",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-de-compr_0df3a562.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-de-compr_0df3a562.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-de-compr_0df3a562.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{id}/filters": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{id}/filters",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-filt_f2e7528d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-filt_f2e7528d.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-filt_f2e7528d.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{id}/groups": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{id}/groups",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-grup_27e313a3.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-grup_27e313a3.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-grup_27e313a3.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{id}/installments": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{id}/installments",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-parc_0bf77efa.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-parc_0bf77efa.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-parc_0bf77efa.md"
      }
    },
    "/v2/{alias}/public/catalog/pixels": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/pixels",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-pixe_cbed3229.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-pixe_cbed3229.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-pixe_cbed3229.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{id}/pixels": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{id}/pixels",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-pixe_d64b0697.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-pixe_d64b0697.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-pixe_d64b0697.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{id}/flags": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{id}/flags",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-selo_7656124e.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-selo_7656124e.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-dos-selo_7656124e.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{slug}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{slug}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-publicas_30f7405c.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-publicas_30f7405c.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-informacoes-publicas_30f7405c.md"
      }
    },
    "/v2/{alias}/public/catalog/products/{id}/similars": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/public/catalog/products/{id}/similars",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_publico_catalogo_visualizar-produtos-relacionado_76196d62.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_publico_catalogo_visualizar-produtos-relacionado_76196d62.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_publico_catalogo_visualizar-produtos-relacionado_76196d62.md"
      }
    },
    "/webhooks/introduction": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /webhooks/introduction",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_rate-limit_boas-praticas_md_8f8661ee.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_rate-limit_boas-praticas_md_8f8661ee.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_rate-limit_boas-praticas_md_8f8661ee.md"
      }
    },
    "/webhooks/atualizar-um-webhook": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /webhooks/atualizar-um-webhook",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_webhooks_atualizar-um-webhook_27aefaa8.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_webhooks_atualizar-um-webhook_27aefaa8.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_webhooks_atualizar-um-webhook_27aefaa8.md"
      }
    },
    "/v2/{alias}/webhooks/{id}": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /v2/{alias}/webhooks/{id}",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_webhooks_atualizar-um-webhook_27aefaa8.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_webhooks_atualizar-um-webhook_27aefaa8.md`)",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_webhooks_atualizar-um-webhook_27aefaa8.md"
      }
    },
    "/api/webhooks": {
      "get": {
        "tags": [
          "Yampi"
        ],
        "summary": "GET /api/webhooks",
        "description": "Endpoint extraído da documentação (docs_yampi_com_br_api-reference_webhooks_atualizar-um-webhook_27aefaa8.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`docs_yampi_com_br_api-reference_webhooks_atualizar-um-webhook_27aefaa8.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "docs_yampi_com_br_api-reference_webhooks_atualizar-um-webhook_27aefaa8.md"
      }
    },
    "/webhooks/criar-um-webhook": {
      "get": {
        "tags": [
[...]
