{
  "openapi": "3.0.3",
  "tags": [
    {
      "name": "discounts"
    },
    {
      "name": "promotions"
    }
  ],
  "servers": [
    {
      "url": "https://api.nuvemshop.com.br/v1"
    }
  ],
  "info": {
    "version": "1.0",
    "title": "Nuvemshop / Tiendanube REST API",
    "description": "Manage the creation of promotions and discounts"
  },
  "components": {
    "schemas": {
      "commandCreateOrUpdate": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "create_or_update_discount"
            ],
            "description": "Command identifier",
            "example": "create_or_update_discount"
          },
          "specs": {
            "type": "object",
            "properties": {
              "promotion_id": {
                "type": "string",
                "description": "Promotion identifier",
                "example": "449039b3-3c35-4860-8fde-668428ced5f3"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 code for the currency",
                "example": "ARS"
              },
              "display_text": {
                "type": "object",
                "description": "Object where each attribute is a translation (optional)",
                "properties": {
                  "es-ar": {
                    "type": "string",
                    "description": "The key is the language language identifier and the value the display text",
                    "example": "50% off in the second unit"
                  }
                }
              },
              "discount_specs": {
                "type": "object",
                "description": "Is required only if the allocation type of the promotion is \"cross_items\"",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "fixed",
                      "percentage"
                    ],
                    "description": "Method used to calculate the discount",
                    "example": "fixed"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Discount modifier. Must have two decimals separated by dot (\".\").",
                    "example": "20.00"
                  }
                }
              }
            }
          }
        }
      },
      "commandCreateOrUpdateLineItem": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "create_or_update_discount"
            ],
            "description": "Command identifier",
            "example": "create_or_update_discount"
          },
          "specs": {
            "type": "object",
            "properties": {
              "promotion_id": {
                "type": "string",
                "description": "Promotion identifier",
                "example": "c78c3a59-70a9-4d8a-a224-fdd3f925cc72"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 code for the currency",
                "example": "ARS"
              },
              "display_text": {
                "type": "object",
                "description": "Object where each attribute is a translation (optional)",
                "properties": {
                  "es-ar": {
                    "type": "string",
                    "description": "The key is the language language identifier and the value the display text",
                    "example": "50% off in the second unit"
                  }
                }
              },
              "line_items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "line_item": {
                      "type": "string",
                      "description": "Product to apply the promotion.",
                      "example": "717394929"
                    },
                    "discount_specs": {
                      "type": "object",
                      "description": "Is required only if the allocation type of the promotion is \"cross_items\"",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "fixed",
                            "percentage"
                          ],
                          "description": "Method used to calculate the discount",
                          "example": "fixed"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Discount modifier. Must have two decimals separated by dot (\".\").",
                          "example": "250.00"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "commandRemove": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "remove_discount"
            ],
            "description": "Command identifier",
            "example": "remove_discount"
          },
          "scope": {
            "type": "string",
            "enum": [
              "cart"
            ],
            "description": "Scope identifier",
            "example": "cart"
          },
          "promotion_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Promotion identifier",
              "example": "449039b3-3c35-4860-8fde-668428ced5f3"
            }
          }
        }
      },
      "commandRemoveLineItem": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string",
            "enum": [
              "remove_discount"
            ],
            "description": "Command identifier",
            "example": "remove_discount"
          },
          "scope": {
            "type": "string",
            "enum": [
              "line_item"
            ],
            "description": "Scope identifier",
            "example": "line_item"
          },
          "promotion_id": {
            "type": "string",
            "description": "Promotion identifier",
            "example": "c78c3a59-70a9-4d8a-a224-fdd3f925cc72"
          },
          "line_items": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Line item identifier",
              "example": "717394929"
            }
          }
        }
      },
      "promotionI18n": {
        "type": "object",
        "properties": {
          "lang": {
            "type": "string",
            "description": "language identifier",
            "example": "es-ar"
          },
          "name": {
            "type": "string",
            "description": "Promotion name",
            "example": "50% off in the second unit"
          },
          "description": {
            "type": "string",
            "description": "Describe the promotion to the consumer",
            "example": "Taking two pay 50 percent on the second unit"
          },
          "disclaimer": {
            "type": "string",
            "description": "Describe the terms and conditions of the promotion",
            "example": "Deal only valid for Buenos Aires city"
          }
        },
        "required": [
          "lang",
          "name"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "responses": {
      "forbiddenError": {
        "description": "The __store__/__app__ provided does not belong to promotion",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "ForbiddenException"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Forbidden resource"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Autenticação via token Bearer no cabeçalho Authorization."
      },
      "ApiKey_token": {
        "type": "apiKey",
        "in": "header",
        "name": "token",
        "description": "Chave de API enviada no cabeçalho token."
      },
      "ApiKey_api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key",
        "description": "Chave de API enviada no cabeçalho api_key."
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Autenticação básica HTTP com usuário e senha ou token Base64."
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "Autenticação padrão OAuth 2.0 (Authorization Code / Client Credentials).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dominio.com/oauth/authorize",
            "tokenUrl": "https://api.dominio.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "paths": {
    "/dinamicUrl": {
      "post": {
        "summary": "Evaluate cart",
        "description": "The owner of this endpoint is the discount application. It could be any URL of your choice.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json`)",
        "tags": [
          "callbacks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "cart_id": {
                    "type": "string",
                    "description": "Cart identifier",
                    "example": "397256730"
                  },
                  "store_id": {
                    "type": "string",
                    "description": "Store identifier",
                    "example": "92760"
                  },
                  "execution_tier": {
                    "type": "string",
                    "description": "Tier identifier",
                    "example": "cross_items"
                  },
                  "customer": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Customer identifier",
                        "example": null
                      }
                    }
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 code for the currency",
                    "example": "ARS"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language identifier",
                    "example": "es"
                  },
                  "shipping": {
                    "type": "object",
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "Country code",
                        "example": null
                      },
                      "city": {
                        "type": "string",
                        "description": "City name",
                        "example": null
                      },
                      "postalcode": {
                        "type": "string",
                        "description": "Postal code",
                        "example": null
                      },
                      "cost": {
                        "type": "string",
                        "description": "Shipping cost",
                        "example": "0.00"
                      }
                    }
                  },
                  "package": {
                    "type": "object",
                    "properties": {
                      "weight": {
                        "type": "string",
                        "description": "Pacakge weight",
                        "example": "0.600"
                      }
                    }
                  },
                  "payment": {
                    "type": "object",
                    "properties": {
                      "credit_card_company": {
                        "type": "string",
                        "description": "Credit card company",
                        "example": null
                      },
                      "method": {
                        "type": "string",
                        "description": "Payment method",
                        "example": null
                      },
                      "installments": {
                        "type": "string",
                        "description": "Number of installments",
                        "example": 1
                      }
                    }
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "Line item identifier",
                          "example": 467422732
                        },
                        "price": {
                          "type": "string",
                          "description": "Product price",
                          "example": "12.00"
                        },
                        "compare_at_price": {
                          "type": "string",
                          "description": "Product original price",
                          "example": "20.00"
                        },
                        "product_id": {
                          "type": "number",
                          "description": "Product identifier",
                          "example": 17310718
                        },
                        "quantity": {
                          "type": "number",
                          "description": "Quantity of product in cart",
                          "example": 4
                        },
                        "free_shipping": {
                          "type": "boolean",
                          "description": "Free shipping included",
                          "example": false
                        },
                        "variant_id": {
                          "type": "number",
                          "description": "Variant identifier",
                          "example": 33739098
                        },
                        "variant_values": {
                          "type": "array",
                          "description": "Variant values",
                          "items": {
                            "type": "string",
                            "example": "S"
                          }
                        },
                        "catalog_kit_id": {
                          "type": "number",
                          "nullable": true,
                          "description": "Catalog kit id when this line item is a kit component, otherwise null",
                          "example": 17310718
                        },
                        "order_kit_id": {
                          "type": "number",
                          "nullable": true,
                          "description": "Id of the kit instance (combination) in the cart this line item belongs to, otherwise null",
                          "example": 99
                        },
                        "kit_quantity": {
                          "type": "number",
                          "nullable": true,
                          "description": "Number of units of the kit in the cart, otherwise null",
                          "example": 2
                        },
                        "quantity_per_kit": {
                          "type": "number",
                          "nullable": true,
                          "description": "Quantity of this product per single kit unit (quantity / kit_quantity), otherwise null",
                          "example": 2
                        },
                        "categories": {
                          "type": "array",
                          "description": "Product categories",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number",
                                "description": "Category identifier",
                                "example": 11353744
                              },
                              "parent": {
                                "type": "number",
                                "description": "Parent category identifier",
                                "example": null
                              },
                              "subcategories": {
                                "type": "array",
                                "description": "Subcategory identifiers",
                                "items": {
                                  "type": "string",
                                  "example": 11353746
                                }
                              }
                            }
                          }
                        },
                        "properties": {
                          "type": "object",
                          "description": "Custom properties",
                          "properties": {
                            "key": {
                              "type": "string",
                              "description": "Custom property",
                              "example": "value"
                            }
                          }
                        }
                      }
                    }
                  },
                  "totals": {
                    "type": "object",
                    "properties": {
                      "subtotal": {
                        "type": "string",
                        "description": "Cart subtotal price",
                        "example": "30000.00"
                      },
                      "total_discount": {
                        "type": "string",
                        "description": "Cart discount amount",
                        "example": "10300.00"
                      },
                      "total": {
                        "type": "string",
                        "description": "Cart total price",
                        "example": "19700.00"
                      }
                    }
                  },
                  "promotions": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Promotion identifier",
                        "example": "231bbfe4-31bc-11ec-8d3d-0242ac130003"
                      },
                      "line_items": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "description": "Line item identifier",
                          "example": "467422732"
                        }
                      }
                    }
                  },
                  "coupons": {
                    "type": "array",
                    "description": "A list of valid coupons applied to the cart",
                    "example": [
                      "coupon-15"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "utm": {
                    "type": "array",
                    "description": "A list of utm registered in the cart",
                    "items": {
                      "type": "object",
                      "properties": {
                        "utm_source": {
                          "type": "string",
                          "description": "UTM source",
                          "example": "instagram"
                        },
                        "utm_medium": {
                          "type": "string",
                          "description": "UTM medium",
                          "example": "email"
                        },
                        "utm_campaign": {
                          "type": "string",
                          "description": "UTM campaign",
                          "example": "hot+sale"
                        },
                        "utm_term": {
                          "type": "string",
                          "description": "UTM term",
                          "example": "keyword"
                        },
                        "utm_content": {
                          "type": "string",
                          "description": "UTM content",
                          "example": "first+cta+button"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Timestamp of UTM registration",
                          "example": 1693599736
                        }
                      }
                    }
                  },
                  "sold_by": {
                    "type": "string",
                    "nullable": true,
                    "description": "Identifier of the user (seller) who initiated the sale. Null when the sale has no assigned seller.",
                    "example": "1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The callback has detected one or more commands to execute",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "commands": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/commandCreateOrUpdate"
                          },
                          {
                            "$ref": "#/components/schemas/commandCreateOrUpdateLineItem"
                          },
                          {
                            "$ref": "#/components/schemas/commandRemove"
                          },
                          {
                            "$ref": "#/components/schemas/commandRemoveLineItem"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "The callback has not detected any commands to execute"
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json"
      }
    },
    "/carts/{id}/discounts": {
      "get": {
        "summary": "Return the cart discounts by order",
        "description": "Returns all the promotions applied to a cart by app.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json`)",
        "tags": [
          "discounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Current cart identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The discounts associated with the cart and app have been returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "promotion_id": {
                            "type": "string",
                            "description": "Promotion identifier",
                            "example": "e855b201-be35-496c-8aed-28c6f1de840d"
                          },
                          "line_items": {
                            "type": "array",
                            "description": "Is filled only if the allocation type of the promotion is \"line_item\"",
                            "items": {
                              "type": "string",
                              "description": "Product to apply the promotion.",
                              "example": "67890"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json"
      }
    },
    "/discounts/callbacks": {
      "put": {
        "summary": "Register a callback",
        "description": "Create or Update a callback\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json`)",
        "tags": [
          "discounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Valid URL with protocol",
                    "example": "https://www.callback.com"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The callback has been created or updated"
          },
          "400": {
            "description": "Unable to process the request sent",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "example": 400
                        },
                        "code": {
                          "type": "string",
                          "example": "BadRequestException"
                        },
                        "detail": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json"
      }
    },
    "/promotions": {
      "get": {
        "summary": "List promotions",
        "description": "Returns all non-deleted promotions created by the current app for the current store\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json`)",
        "tags": [
          "promotions"
        ],
        "operationId": "list-promotions",
        "responses": {
          "200": {
            "description": "The promotions have been returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Promotion identifier",
                            "example": "e855b201-be35-496c-8aed-28c6f1de840d"
                          },
                          "name": {
                            "type": "string",
                            "description": "Promotion name",
                            "example": "50% off in the second unit"
                          },
                          "allocation_type": {
                            "type": "string",
                            "enum": [
                              "cross_items",
                              "line_item",
                              "shipping_line"
                            ],
                            "description": "Type of concept in which the promotion is applied",
                            "example": "line_item"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Promotion status",
                            "example": true
                          },
                          "combines_with_quantity_discounts": {
                            "type": "boolean",
                            "description": "Indicates if the promotion combines with quantity discounts",
                            "example": true
                          },
                          "combines_with_free_shipping": {
                            "type": "boolean",
                            "description": "Indicates if the promotion combines with free shipping discounts",
                            "example": true
                          },
                          "combines_with_cart_amount_discounts": {
                            "type": "boolean",
                            "description": "Indicates if the promotion combines with cart amount discounts",
                            "example": true
                          },
                          "combines_with_app_discounts": {
                            "type": "boolean",
                            "description": "Indicates if the promotion combines with app discounts",
                            "example": true
                          },
                          "combines_with_price_discounts": {
                            "type": "boolean",
                            "description": "Indicates if the promotion combines with price discounts",
                            "example": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/forbiddenError"
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json"
      },
      "post": {
        "summary": "Register a promotion",
        "description": "Create a promotion for the current store\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json`)",
        "tags": [
          "promotions"
        ],
        "operationId": "create-promotion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Promotion Name",
                    "example": "50% off in the second unit"
                  },
                  "description": {
                    "type": "string",
                    "description": "Describe the promotion to the consumer",
                    "example": "Taking two pay 50 percent on the second unit"
                  },
                  "disclaimer": {
                    "type": "string",
                    "description": "Describe the terms and conditions of the promotion",
                    "example": "Deal only valid for Buenos Aires city"
                  },
                  "allocation_type": {
                    "type": "string",
                    "enum": [
                      "cross_items",
                      "line_item"
                    ],
                    "description": "Type of concept in which the promotion will be applied",
                    "example": "line_item"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Initial status",
                    "example": true
                  },
                  "combines_with_other_discounts": {
                    "type": "boolean",
                    "deprecated": true,
                    "description": "Deprecated legacy combination field. Send this field alone to propagate its value to all combines_with_* granular fields. Do not send together with granular fields.",
                    "example": true
                  },
                  "combines_with_quantity_discounts": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with quantity discounts (NxM and progressive discounts). Do not send together with combines_with_other_discounts.",
                    "example": true
                  },
                  "combines_with_free_shipping": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with free shipping discounts (free shipping configurations and free shipping coupons). Do not send together with combines_with_other_discounts.",
                    "example": true
                  },
                  "combines_with_cart_amount_discounts": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with cart amount discounts (coupons). Do not send together with combines_with_other_discounts.",
                    "example": true
                  },
                  "combines_with_app_discounts": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with app discounts (discounts created by the Discounts API). Do not send together with combines_with_other_discounts.",
                    "example": true
                  },
                  "combines_with_price_discounts": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with price discounts (promotional price, discount on price, and cross selling promotions). Do not send together with combines_with_other_discounts.",
                    "example": true
                  },
                  "translations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/promotionI18n"
                    }
                  }
                },
                "oneOf": [
                  {
                    "required": [
                      "combines_with_other_discounts"
                    ],
                    "not": {
                      "anyOf": [
                        {
                          "required": [
                            "combines_with_quantity_discounts"
                          ]
                        },
                        {
                          "required": [
                            "combines_with_free_shipping"
                          ]
                        },
                        {
                          "required": [
                            "combines_with_cart_amount_discounts"
                          ]
                        },
                        {
                          "required": [
                            "combines_with_app_discounts"
                          ]
                        },
                        {
                          "required": [
                            "combines_with_price_discounts"
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "not": {
                      "required": [
                        "combines_with_other_discounts"
                      ]
                    }
                  }
                ],
                "required": [
                  "name",
                  "allocation_type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The promotion has been created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Promotion identifier",
                          "example": "e855b201-be35-496c-8aed-28c6f1de840d"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unable to process the request sent",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "example": 400
                        },
                        "code": {
                          "type": "string",
                          "example": "BadRequestException"
                        },
                        "detail": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "name must be a string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json"
      }
    },
    "/promotions/{promotion_id}": {
      "delete": {
        "summary": "Delete promotion",
        "description": "Delete a promotion created by the current app for the current store\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json`)",
        "tags": [
          "promotions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "promotion_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Promotion identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "The promotion has been deleted"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenError"
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json"
      },
      "patch": {
        "summary": "Modify promotion",
        "description": "Modify a promotion created by the current app for the current store\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json`)",
        "tags": [
          "promotions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "promotion_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Promotion identifier"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "active": {
                    "type": "boolean",
                    "description": "Promotion status",
                    "example": true
                  },
                  "combines_with_other_discounts": {
                    "type": "boolean",
                    "deprecated": true,
                    "description": "Deprecated legacy combination field. Send this field alone to propagate its value to all combines_with_* granular fields. Do not send together with granular fields.",
                    "example": true
                  },
                  "combines_with_quantity_discounts": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with quantity discounts (NxM and progressive discounts). Do not send together with combines_with_other_discounts.",
                    "example": true
                  },
                  "combines_with_free_shipping": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with free shipping discounts (free shipping configurations and free shipping coupons). Do not send together with combines_with_other_discounts.",
                    "example": true
                  },
                  "combines_with_cart_amount_discounts": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with cart amount discounts (coupons). Do not send together with combines_with_other_discounts.",
                    "example": true
                  },
                  "combines_with_app_discounts": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with app discounts (discounts created by the Discounts API). Do not send together with combines_with_other_discounts.",
                    "example": true
                  },
                  "combines_with_price_discounts": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates if the promotion combines with price discounts (promotional price, discount on price, and cross selling promotions). Do not send together with combines_with_other_discounts.",
                    "example": true
                  }
                },
                "oneOf": [
                  {
                    "required": [
                      "combines_with_other_discounts"
                    ],
                    "not": {
                      "anyOf": [
                        {
                          "required": [
                            "combines_with_quantity_discounts"
                          ]
                        },
                        {
                          "required": [
                            "combines_with_free_shipping"
                          ]
                        },
                        {
                          "required": [
                            "combines_with_cart_amount_discounts"
                          ]
                        },
                        {
                          "required": [
                            "combines_with_app_discounts"
                          ]
                        },
                        {
                          "required": [
                            "combines_with_price_discounts"
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "not": {
                      "required": [
                        "combines_with_other_discounts"
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The promotion has been modified"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenError"
          },
          "404": {
            "description": "The promotion does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "number",
                          "example": 404
                        },
                        "code": {
                          "type": "string",
                          "example": "NotFoundException"
                        },
                        "detail": {
                          "type": "string",
                          "example": "The promotion id does not exist"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "native_openapi_spec_tiendanube_github_io_api-documentation_assets_files_openapi-46ba7abce9ff3fd7dc13_9ec1b670.json"
      }
    },
    "/orders/{id}/fulfillments": {
      "post": {
        "summary": "POST /orders/{id}/fulfillments",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/orders/{id}/fulfillment-orders/{id}/tracking-events": {
      "post": {
        "summary": "POST /orders/{id}/fulfillment-orders/{id}/tracking-events",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/orders": {
      "post": {
        "summary": "POST /orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "tags": [
          "LGPD"
        ],
        "summary": "customers/data_request",
        "description": "Endpoint GET /orders\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`network_json_1_tiendanube_github_io_api-documentation_assets_files_lgpd_webhooks_test-1d77e6861_eeb9e8e6.json`)",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_ids",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "network_json_1_tiendanube_github_io_api-documentation_assets_files_lgpd_webhooks_test-1d77e6861_eeb9e8e6.json"
      },
      "put": {
        "summary": "PUT /orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "delete": {
        "summary": "DELETE /orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/orders/{id}/pack": {
      "post": {
        "tags": [
          "Nuvemshop"
        ],
        "summary": "POST /orders/871310835/pack",
        "description": "Endpoint extraído da documentação (tiendanube_github_io_api-documentation_v1_resources_order-multi-inventory_cf69c628.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`tiendanube_github_io_api-documentation_v1_resources_order-multi-inventory_cf69c628.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "tiendanube_github_io_api-documentation_v1_resources_order-multi-inventory_cf69c628.md"
      }
    },
    "/orders/{id}/fulfill": {
      "post": {
        "tags": [
          "Nuvemshop"
        ],
        "summary": "POST /orders/871310835/fulfill",
        "description": "Endpoint extraído da documentação (tiendanube_github_io_api-documentation_v1_resources_order-multi-inventory_cf69c628.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`tiendanube_github_io_api-documentation_v1_resources_order-multi-inventory_cf69c628.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "tiendanube_github_io_api-documentation_v1_resources_order-multi-inventory_cf69c628.md"
      }
    },
    "/orders/{id}/fulfillments/{id}": {
      "get": {
        "summary": "GET /orders/{id}/fulfillments/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "delete": {
        "summary": "DELETE /orders/{id}/fulfillments/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/carts/{{cart_id}}/shipping/quotations": {
      "get": {
        "summary": "GET /carts/{{cart_id}}/shipping/quotations",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/apps/authorize/token": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get Store ID and Access Token from a store",
        "description": "Endpoint POST /apps/authorize/token\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`network_json_1_tiendanube_github_io_api-documentation_assets_files_lgpd_webhooks_test-1d77e6861_eeb9e8e6.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "client_id": "0000",
                "client_secret": "xxxxxxxx",
                "grant_type": "authorization_code",
                "code": "xxxxxxxx"
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "network_json_1_tiendanube_github_io_api-documentation_assets_files_lgpd_webhooks_test-1d77e6861_eeb9e8e6.json"
      }
    },
    "/products": {
      "get": {
        "summary": "GET /products",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "post": {
        "summary": "POST /products",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "put": {
        "summary": "PUT /products",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "patch": {
        "summary": "PATCH /products",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/products/{id}:": {
      "put": {
        "summary": "PUT /products/{id}:",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/products/{product_id}/variants/{id}": {
      "put": {
        "summary": "PUT /products/{product_id}/variants/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /products/{product_id}/variants/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "delete": {
        "summary": "DELETE /products/{product_id}/variants/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/orders/{order_id}/transactions/{transaction_id}/events": {
      "post": {
        "summary": "POST /orders/{order_id}/transactions/{transaction_id}/events",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/kits/{id}": {
      "get": {
        "tags": [
          "Nuvemshop"
        ],
        "summary": "GET /kits/123456789",
        "description": "Endpoint extraído da documentação (tiendanube_github_io_api-documentation_next_resources_kit_7de250ae.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`tiendanube_github_io_api-documentation_next_resources_kit_7de250ae.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "tiendanube_github_io_api-documentation_next_resources_kit_7de250ae.md"
      }
    },
    "/blogs": {
      "get": {
        "summary": "GET /blogs",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/orders:": {
      "get": {
        "summary": "GET /orders:",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/fulfillment-orders": {
      "get": {
        "summary": "GET /fulfillment-orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/v1/{store_id}/orders/{order_id}/fulfillment-orders/{fulfillment_order_id}/tracking-events": {
      "post": {
        "summary": "POST /v1/{store_id}/orders/{order_id}/fulfillment-orders/{fulfillment_order_id}/tracking-events",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "put": {
        "summary": "PUT /v1/{store_id}/orders/{order_id}/fulfillment-orders/{fulfillment_order_id}/tracking-events",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/scripts": {
      "post": {
        "summary": "POST /scripts",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /scripts",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/scripts/{id}": {
      "put": {
        "summary": "PUT /scripts/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "delete": {
        "summary": "DELETE /scripts/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /scripts/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/coupons": {
      "post": {
        "summary": "POST /coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "put": {
        "summary": "PUT /coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/coupons/{id}": {
      "put": {
        "tags": [
          "Nuvemshop"
        ],
        "summary": "PUT /coupons/32967",
        "description": "Endpoint extraído da documentação (tiendanube_github_io_api-documentation_next_resources_coupon_fc8df8f0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`tiendanube_github_io_api-documentation_next_resources_coupon_fc8df8f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "tiendanube_github_io_api-documentation_next_resources_coupon_fc8df8f0.md"
      },
      "get": {
        "tags": [
          "Nuvemshop"
        ],
        "summary": "GET /coupons/32964",
        "description": "Endpoint extraído da documentação (tiendanube_github_io_api-documentation_next_resources_coupon_fc8df8f0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`tiendanube_github_io_api-documentation_next_resources_coupon_fc8df8f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "tiendanube_github_io_api-documentation_next_resources_coupon_fc8df8f0.md"
      },
      "delete": {
        "tags": [
          "Nuvemshop"
        ],
        "summary": "DELETE /coupons/32967",
        "description": "Endpoint extraído da documentação (tiendanube_github_io_api-documentation_next_resources_coupon_fc8df8f0.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`tiendanube_github_io_api-documentation_next_resources_coupon_fc8df8f0.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "tiendanube_github_io_api-documentation_next_resources_coupon_fc8df8f0.md"
      }
    },
    "/your_callback_url": {
      "post": {
        "summary": "POST /your_callback_url",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/fulfillment-orders/{fulfillment_order_id}": {
      "get": {
        "summary": "GET /fulfillment-orders/{fulfillment_order_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "delete": {
        "summary": "DELETE /fulfillment-orders/{fulfillment_order_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "patch": {
        "summary": "PATCH /fulfillment-orders/{fulfillment_order_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/fulfillment-orders/{fulfillment_order_id}/tracking-events": {
      "post": {
        "summary": "POST /fulfillment-orders/{fulfillment_order_id}/tracking-events",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/fulfillment-orders/{fulfillment_order_id}/tracking-events/{fulfillment_order_tracking_event_id}": {
      "put": {
        "summary": "PUT /fulfillment-orders/{fulfillment_order_id}/tracking-events/{fulfillment_order_tracking_event_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/products/stock-price": {
      "patch": {
        "summary": "PATCH /products/stock-price",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/categories": {
      "post": {
        "summary": "POST /categories",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /categories",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/v1/{store_id}/orders/{order_id}/fulfillment-orders/{fulfillment_order_id}": {
      "patch": {
        "summary": "PATCH /v1/{store_id}/orders/{order_id}/fulfillment-orders/{fulfillment_order_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /v1/{store_id}/orders/{order_id}/fulfillment-orders/{fulfillment_order_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/v1/{store_id}/orders/{order_id}/fulfillment-orders/{fulfillment_order_id}/tracking-events/{tracking_event_id}": {
      "put": {
        "summary": "PUT /v1/{store_id}/orders/{order_id}/fulfillment-orders/{fulfillment_order_id}/tracking-events/{tracking_event_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/draft_orders": {
      "post": {
        "summary": "POST /draft_orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /draft_orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/draft-orders": {
      "post": {
        "summary": "POST /draft-orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/orders.": {
      "get": {
        "summary": "GET /orders.",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "post": {
        "summary": "POST /orders.",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/orders/{order_id}/transactions": {
      "post": {
        "summary": "POST /orders/{order_id}/transactions",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /orders/{order_id}/transactions",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/checkouts/{cart_id}/coupon": {
      "post": {
        "summary": "POST /checkouts/{cart_id}/coupon",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/checkouts/{cart_id}/coupons": {
      "post": {
        "summary": "POST /checkouts/{cart_id}/coupons",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/products/1234": {
      "get": {
        "summary": "GET /products/1234",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/products/5123": {
      "put": {
        "summary": "PUT /products/5123",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/products/{id}": {
      "put": {
        "summary": "PUT /products/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /products/{id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/products/{product_id}/images/{image_id}": {
      "get": {
        "summary": "GET /products/{product_id}/images/{image_id}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      }
    },
    "/shipping_carriers/{carrier_id}/options": {
      "post": {
        "summary": "POST /shipping_carriers/{carrier_id}/options",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "GitHub (Repositório / Spec Canônica)",
        "x-daemind-source-file": "fase2_synthesized_tiendanube_github_io_a461bc9f.json"
      },
      "get": {
        "summary": "GET /shipping_carriers/{carrier_id}/options",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** GitHub (Repositório / Spec Canônica) (`fase2_synthesized_tiendanube_github_io_a461bc9f.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
[...]
