{
  "openapi": "3.0.3",
  "info": {
    "version": "3.14.1",
    "title": "Senior Sistemas ERP & Plataforma XPlatform API",
    "description": "Chão de fábrica - Apontamentos",
    "x-senior-domain": "Gestão industrial",
    "x-senior-domain-path": "erp_man",
    "x-senior-service-path": "appointment",
    "contact": {
      "name": "Senior X Platform",
      "url": "https://dev.senior.com.br",
      "email": "seniorx-dev@senior.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.xplatform.com.br"
    }
  ],
  "paths": {
    "/pointOutUnlabelledConsumption": {
      "post": {
        "description": "Realiza um apontamento de consumo sem necessidade de gerar uma etiqueta antecipadamente\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json`)",
        "x-senior-event": false,
        "deprecated": false,
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/clientId"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "amount"
              ],
              "properties": {
                "productionOrderId": {
                  "type": "integer",
                  "description": "Identificador único da ordem de produção"
                },
                "orderProductionStageId": {
                  "type": "integer",
                  "description": "Identificador único do estágio da OP"
                },
                "productionOrderStageCode": {
                  "type": "string",
                  "description": "Códigio do estágio da ordem de produção"
                },
                "skuCode": {
                  "type": "string",
                  "description": "Código do SKU para encontrar o consumo do estágio"
                },
                "skuId": {
                  "type": "integer",
                  "description": "Identificador único do SKU para encontrar o consumo do estágio"
                },
                "orderProductionStageConsumptionId": {
                  "type": "integer",
                  "description": "Identificador único do consumo do estágio da OP"
                },
                "operatorId": {
                  "type": "integer",
                  "description": "Identificador único do operador"
                },
                "operatorCode": {
                  "type": "integer",
                  "description": "Código do operador"
                },
                "currentDateTime": {
                  "type": "string",
                  "description": "Opcional - Data e hora do apontamento (caso não informado assume data e hora atual)"
                },
                "amount": {
                  "type": "string",
                  "description": "Quantidade que está sendo apontada"
                },
                "batchCode": {
                  "type": "string",
                  "description": "Opcional - Código do Lote que está sendo consumido"
                },
                "seriesCode": {
                  "type": "string",
                  "description": "Opcional - Código da Série que está sendo consumida"
                },
                "skuConsumptionEquivalentId": {
                  "type": "integer",
                  "description": "Opcional - Identificador único do sku equivalente"
                },
                "skuConsumptionEquivalentCode": {
                  "type": "string",
                  "description": "Opcional - Código do sku equivalente"
                },
                "unforeseenConsumption": {
                  "type": "boolean",
                  "description": "Opcional - Consumo não previsto na Ordem de Produção"
                },
                "e205depId": {
                  "type": "string",
                  "description": "Identificador único do depósito"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "required": [
                "appointment"
              ],
              "properties": {
                "appointment": {
                  "$ref": "#/definitions/recAppointmentComplete"
                }
              }
            }
          },
          "403": {
            "description": "Permissão negada"
          },
          "401": {
            "description": "Usuário ou senha inválido"
          },
          "404": {
            "description": "Entidade não encontrada"
          },
          "400": {
            "description": "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/genericError"
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json"
      }
    },
    "/point": {
      "post": {
        "description": "Realizar os apontamentos de tempos e/ou produção do estágio/ordem de produção&#10;### Resources&#10;- res://senior.com.br/erp_man/pcp_programacaocontrole/apontamentos - Processar\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json`)",
        "x-senior-event": false,
        "deprecated": false,
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/clientId"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "productionOrderId": {
                  "type": "integer",
                  "description": "Identificador único da ordem de produção"
                },
                "productionOrderCode": {
                  "type": "string",
                  "description": "Código da ordem de produção, necessário informar o identificador único ou o código da ordem de produção, para o sistema conseguir encontrar a ordem"
                },
                "productionOrderStageId": {
                  "type": "integer",
                  "description": "Identificador único do estágio na ordem de produção"
                },
                "productionOrderStageCode": {
                  "type": "string",
                  "description": "Código do estágio da ordem de produção, se não for informado o identificador único ou código, o sistema irá tentar encontrar o estágio automáticamente"
                },
                "operatorId": {
                  "type": "integer",
                  "description": "Identificador únido do operador que está realizando o apontamento"
                },
                "operatorCode": {
                  "type": "integer",
                  "description": "Código do operador que está realizando o apontamento, se não for informado o identificador único ou código, o sistema irá tentar encontrar o operador automáticamente"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "Data e hora de inicio do apontamento, necessário informar somente para apontamento em estágios com as situações Liberado, Pausado e parado (caso não for informado, será assumido a data e hora local)"
                },
                "endDateTime": {
                  "type": "string",
                  "description": "Data e hora de fim do apontamento, necessário informar somente quando deseja finalizar o período de apontamento ou finalizar o estágio"
                },
                "amountProduced": {
                  "type": "string",
                  "description": "Quantidade produzida, ao informar essa quantidade, será gerado um apontamento de produção"
                },
                "typeAppointment": {
                  "$ref": "#/definitions/enumAppointmentTypeTime"
                },
                "amountScrap": {
                  "type": "string",
                  "description": "Quantidade de refugo realizada, ao informar esta quantidade um apontamento de refugo será realizado"
                },
                "byProducts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/recByProduct"
                  },
                  "description": "Opcional - Lista de subprodutos a serem apontados"
                },
                "batchSerie": {
                  "$ref": "#/definitions/recBatchSerie"
                },
                "resourceId": {
                  "type": "integer",
                  "description": "Opcional - Identificador do Recurso utilizado na produção"
                },
                "e205depId": {
                  "type": "string",
                  "description": "Identificador único do depósito"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "required": [
                "appointment"
              ],
              "properties": {
                "appointment": {
                  "$ref": "#/definitions/recAppointment"
                }
              }
            }
          },
          "403": {
            "description": "Permissão negada"
          },
          "401": {
            "description": "Usuário ou senha inválido"
          },
          "404": {
            "description": "Entidade não encontrada"
          },
          "400": {
            "description": "Requisição inválida, parâmetros obrigatórios não informados ou campo informado incorretamente"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/genericError"
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json"
      }
    },
    "/orderReceiptPendingConferenceWMSInternal": {
      "post": {
        "description": "Evento que indica a pendência de conferência de uma ordem de recebimento - Apontamento de produção\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json`)",
        "x-senior-event": true,
        "deprecated": false,
        "tags": [
          "Events"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/clientId"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "orderReceiptId",
                "branch",
                "document",
                "items"
              ],
              "properties": {
                "orderReceiptId": {
                  "type": "string",
                  "description": "Id da ordem de recebimento"
                },
                "branch": {
                  "$ref": "#/definitions/recPerson"
                },
                "document": {
                  "$ref": "#/definitions/recDocumentWMS"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/recItemWMS"
                  },
                  "description": "Itens"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/genericError"
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json"
      }
    },
    "/orderReceiptConferenceWMSSuccessInternal": {
      "post": {
        "description": "Evento que indica a conclusão da conferência de uma ordem de recebimento do WMS\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json`)",
        "x-senior-event": true,
        "deprecated": false,
        "tags": [
          "Events"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/clientId"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "ticket",
                "externalId"
              ],
              "properties": {
                "ticket": {
                  "type": "string",
                  "description": "Ticket retornado pela api de conferencia"
                },
                "externalId": {
                  "type": "string",
                  "description": "ID da ordem de recebimento"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/genericError"
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json"
      }
    },
    "/orderReceiptConferenceWMSErrorInternal": {
      "post": {
        "description": "Evento que indica erro na conferência de uma ordem de recebimento do WMS\n\n---\n📍 **Origem:** OpenAPI / Swagger Oficial Nativo (`s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json`)",
        "x-senior-event": true,
        "deprecated": false,
        "tags": [
          "Events"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/clientId"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "ticket",
                "externalId",
                "errorMessage"
              ],
              "properties": {
                "ticket": {
                  "type": "string",
                  "description": "Ticket retornado pela api de conferencia"
                },
                "externalId": {
                  "type": "string",
                  "description": "id da ordem de recebimento"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Mensagem de erro"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/genericError"
            }
          }
        },
        "x-daemind-source": "OpenAPI / Swagger Oficial Nativo",
        "x-daemind-source-file": "s3_amazonaws_com_br-com-senior-ecossistema-public-api_swagger_erp_man_appointmen_3b019cb0.json"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    }
  }
}