{
  "openapi": "3.0.3",
  "info": {
    "title": "Dafiti (Seller Center / GFG) Marketplace API",
    "description": "Especificação OpenAPI 3.0 sintetizada via tratamento local em texto para api.sellercenter.com.br.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sellercenter.com.br"
    }
  ],
  "paths": {
    "/oauth/client-credentials": {
      "get": {
        "summary": "GET /oauth/client-credentials",
        "description": "Extraído de tabela/cabeçalho de documentação.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/import/product-update": {
      "post": {
        "summary": "POST /v2/import/product-update",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/import/product-creation": {
      "post": {
        "summary": "POST /v2/import/product-creation",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/import/product-creation-xml-import": {
      "post": {
        "summary": "POST /v2/import/product-creation-xml-import",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/import/product-update-xml-import": {
      "post": {
        "summary": "POST /v2/import/product-update-xml-import",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/import/product-removal": {
      "post": {
        "summary": "POST /v2/import/product-removal",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/import/stock-update": {
      "post": {
        "summary": "POST /v2/import/stock-update",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/import/product-stock-update-xml": {
      "post": {
        "summary": "POST /v2/import/product-stock-update-xml",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/import/image-update": {
      "post": {
        "summary": "POST /v2/import/image-update",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/users/import/api_keys/removal": {
      "post": {
        "summary": "POST /v2/users/import/api_keys/removal",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/users/import/seller_access": {
      "post": {
        "summary": "POST /v2/users/import/seller_access",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/users/import/status": {
      "post": {
        "summary": "POST /v2/users/import/status",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/orders": {
      "get": {
        "summary": "GET /v2/orders",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/orders/anonymize": {
      "post": {
        "summary": "POST /v2/orders/anonymize",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/orders/{orderId}": {
      "get": {
        "summary": "GET /v2/orders/{orderId}",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/orders/search": {
      "get": {
        "summary": "GET /v2/orders/search",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/v2/orders-counters": {
      "get": {
        "summary": "GET /v2/orders-counters",
        "description": "Extraído automaticamente do texto técnico.\n\n---\n📍 **Origem:** Especificação Técnica Oficial (`fase3_synthesized_api_sellercenter_com_br_90e800e5.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Especificação Técnica Oficial",
        "x-daemind-source-file": "fase3_synthesized_api_sellercenter_com_br_90e800e5.json"
      }
    },
    "/oauth/...": {
      "get": {
        "tags": [
          "Dafiti"
        ],
        "summary": "GET /oauth/...",
        "description": "Endpoint extraído da documentação (api_sellercenter_com_br_doc_authorization_0d8b9b11.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`api_sellercenter_com_br_doc_authorization_0d8b9b11.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "api_sellercenter_com_br_doc_authorization_0d8b9b11.md"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "ApiKey_token": {
        "type": "apiKey",
        "in": "header",
        "name": "token",
        "description": "Chave de API enviada no cabeçalho token."
      },
      "ApiKey_access_token": {
        "type": "apiKey",
        "in": "header",
        "name": "access_token",
        "description": "Chave de API enviada no cabeçalho access_token."
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Autenticação básica HTTP com usuário e senha ou token Base64."
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "Autenticação padrão OAuth 2.0 (Authorization Code / Client Credentials).",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.dominio.com/oauth/authorize",
            "tokenUrl": "https://api.dominio.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKey_token": []
    }
  ],
  "webhooks": {
    "status_canceled": {
      "description": "Notificação de webhook disparada no evento 'status_canceled'.",
      "post": {
        "summary": "Evento de Webhook: status_canceled",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "status_canceled"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  },
  "x-webhooks": {
    "status_canceled": {
      "description": "Notificação de webhook disparada no evento 'status_canceled'.",
      "post": {
        "summary": "Evento de Webhook: status_canceled",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "status_canceled"
                  },
                  "data": {
                    "type": "object",
                    "description": "Payload do recurso associado ao evento."
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2026-09-01T20:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmação de recebimento do webhook pelo cliente."
          }
        }
      }
    }
  }
}