{
  "openapi": "3.0.3",
  "info": {
    "title": "Único Check Biometria Facial & Validação Cadastral API",
    "description": "Especificação OpenAPI 3.0 consolidada para a stack unico.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.unicocheck.com.br"
    }
  ],
  "paths": {
    "/processes/v1": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /processes/v1",
        "description": "Endpoint extraído da documentação (developer_unico_io_ar_developers_api-reference_47831962.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_unico_io_ar_developers_api-reference_47831962.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_unico_io_ar_developers_api-reference_47831962.md"
      }
    },
    "/v1/processPOST": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /v1/processPOST",
        "description": "Endpoint extraído da documentação (developer_unico_io_ar_developers_api-reference_47831962.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_unico_io_ar_developers_api-reference_47831962.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_unico_io_ar_developers_api-reference_47831962.md"
      }
    },
    "/v1/process": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /v1/process",
        "description": "Endpoint extraído da documentação (developer_unico_io_ar_developers_api-reference_47831962.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_unico_io_ar_developers_api-reference_47831962.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_unico_io_ar_developers_api-reference_47831962.md"
      }
    },
    "/credit/transaction": {
      "post": {
        "tags": [
          "Unico"
        ],
        "summary": "POST /credit/transaction",
        "description": "Endpoint extraído da documentação (developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md"
      }
    },
    "/credit/transactions/{transaction_id}": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /credit/transactions/{transaction_id}",
        "description": "Endpoint extraído da documentação (developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md`)",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md"
      }
    },
    "/credit/transactions/{transaction_id}/probative": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /credit/transactions/{transaction_id}/probative",
        "description": "Endpoint extraído da documentação (developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md`)",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md"
      }
    },
    "/credit/transactions/{transaction_id}/notify": {
      "post": {
        "tags": [
          "Unico"
        ],
        "summary": "POST /credit/transactions/{transaction_id}/notify",
        "description": "Endpoint extraído da documentação (developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md`)",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md"
      }
    },
    "/api/public/v1": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /api/public/v1",
        "description": "Endpoint extraído da documentação (developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_unico_io_developers_regional-solutions_card-not-present-verification_i_590c118d.md"
      }
    },
    "/walletid/transaction": {
      "post": {
        "tags": [
          "Unico"
        ],
        "summary": "POST /walletid/transaction",
        "description": "Endpoint extraído da documentação (developer_unico_io_developers_regional-solutions_card-not-present-verification_i_b78f3c78.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_unico_io_developers_regional-solutions_card-not-present-verification_i_b78f3c78.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_unico_io_developers_regional-solutions_card-not-present-verification_i_b78f3c78.md"
      }
    },
    "/walletid/transactions/{transaction_id}": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /walletid/transactions/{transaction_id}",
        "description": "Endpoint extraído da documentação (developer_unico_io_developers_regional-solutions_card-not-present-verification_i_b78f3c78.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_unico_io_developers_regional-solutions_card-not-present-verification_i_b78f3c78.md`)",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_unico_io_developers_regional-solutions_card-not-present-verification_i_b78f3c78.md"
      }
    },
    "/api/public/v1Important": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /api/public/v1Important",
        "description": "Endpoint extraído da documentação (developer_unico_io_developers_regional-solutions_card-not-present-verification_i_b78f3c78.md).\n\n---\n📍 **Origem:** Documentação Técnica (Webservice/REST) (`developer_unico_io_developers_regional-solutions_card-not-present-verification_i_b78f3c78.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Webservice/REST)",
        "x-daemind-source-file": "developer_unico_io_developers_regional-solutions_card-not-present-verification_i_b78f3c78.md"
      }
    },
    "/client/v1/process": {
      "post": {
        "tags": [
          "Unico"
        ],
        "summary": "POST /client/v1/process",
        "description": "Endpoint extraído da documentação (developer_unico_io_developers_sdks-and-tools_overview_3ab260f4.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_unico_io_developers_sdks-and-tools_overview_3ab260f4.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_unico_io_developers_sdks-and-tools_overview_3ab260f4.md"
      }
    },
    "/v2/history/request": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /v2/history/request",
        "description": "Endpoint extraído da documentação (developer_unico_io_pt-BR_developers_api-reference_68709219.md).\n\n---\n📍 **Origem:** Documentação Técnica (Método Explícito) (`developer_unico_io_pt-BR_developers_api-reference_68709219.md`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Documentação Técnica (Método Explícito)",
        "x-daemind-source-file": "developer_unico_io_pt-BR_developers_api-reference_68709219.md"
      }
    },
    "/api/unico-api": {
      "get": {
        "tags": [
          "Unico"
        ],
        "summary": "GET /api/unico-api",
        "description": "Endpoint descoberto via análise estática do bundle JS (bundle_routes_developer_unico_io_assets_js_main_1568d4dd_js_0688482d.json).\n\n---\n📍 **Origem:** Bundle JS (Análise Estática) (`bundle_routes_developer_unico_io_assets_js_main_1568d4dd_js_0688482d.json`)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-daemind-source": "Bundle JS (Análise Estática)",
        "x-daemind-source-file": "bundle_routes_developer_unico_io_assets_js_main_1568d4dd_js_0688482d.json"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Estrutura padronizada de resposta de erro (RFC 7807 / RFC 9457).",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://api.dominio.com/errors/invalid-request"
          },
          "title": {
            "type": "string",
            "example": "Erro na requisição"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "Parâmetro obrigatório não informado ou inválido."
          },
          "instance": {
            "type": "string",
            "example": "/api/v1/orders/123"
          },
          "code": {
            "type": "string",
            "example": "INVALID_PARAMS"
          }
        },
        "required": [
          "status",
          "detail"
        ]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Autenticação via token Bearer no cabeçalho Authorization."
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Autenticação básica HTTP com usuário e senha ou token Base64."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "x-idempotency": {
    "supported": false,
    "headers": []
  },
  "x-retry-policy": {
    "exponential_backoff": true,
    "retryable_status_codes": [
      429,
      500,
      502,
      503,
      504
    ]
  }
}